agente-inmo---cancelar-visitar-nm3Nd2zVO6KamqyP.json
{"createdAt":"2025-04-07T23:05:00.621Z","updatedAt":"2025-05-09T12:00:56.367Z","id":"nm3Nd2zVO6KamqyP","name":"AGENTE INMO - Cancelar visitar","active":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"129b7df3-4cbb-407a-8213-dafd57a4cfa8","leftValue":"={{ $json.Evento }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-40,20],"id":"e63c6574-7c5d-4fd6-a474-c30f794e4fa2","name":"If"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"qeva.ai.solutions@gmail.com","mode":"list","cachedResultName":"qeva.ai.solutions@gmail.com"},"eventId":"={{ $json.Evento }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[260,-80],"id":"e5dea28f-5f24-4586-955c-8421bca1f469","name":"Cancela el evento","alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"248CSUaxOr8MEWUN","name":"Google Calendar account"}},"onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"Evento"},{"name":"session_id"},{"name":"url_evo"},{"name":"instance"},{"name":"apikey"},{"name":"numero_telefono"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-340,20],"id":"7c258b16-a2b0-47b9-9851-94476738ee54","name":"Calendario"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0bc66c9b-cab7-405a-a3a9-17c5f649992d","leftValue":"={{ $json.error }}","rightValue":"Your request is invalid or could not be processed by the service","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,-80],"id":"9a3c4323-51b6-42c8-9a17-8afd8aa01572","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"02411e3d-4543-4e23-859a-1f2685f024ef","name":"response","value":"=Por el momento no veo ninguna fecha pendiente de cancelar. Quizás ya se canceló y estás usando una lista de cancelación antigua.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,-160],"id":"f58df391-fe11-41d6-9960-c29b37c14ec1","name":"No existe correo"},{"parameters":{"assignments":{"assignments":[{"id":"02411e3d-4543-4e23-859a-1f2685f024ef","name":"response","value":"=Listo, la visita quedó cancelada. ¿Necesitás que te ayude con algo más?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,20],"id":"20322c7d-1c96-4487-996e-c974fd1e52e8","name":"Existe visita"}],"connections":{"If":{"main":[[{"node":"Cancela el evento","type":"main","index":0}]]},"Cancela el evento":{"main":[[{"node":"If1","type":"main","index":0}]]},"Calendario":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"No existe correo","type":"main","index":0}],[{"node":"Existe visita","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Calendario":[{"json":{"Evento":"56qmulju65fvgi3o0egha2gadk","session_id":"efbf76fe-b4bd-4786-8903-221b1218e221","url_evo":"https://evo.innovasoftpro.dev","instance":"tester","apikey":"89EBC4C29BD1-4035-982B-DDF76B7D0A5F","numero_telefono":"5492254423359"}}]},"versionId":"7475bf7b-8167-468a-9645-f905b7e503aa","triggerCount":0,"tags":[]}