despensa---nombre-real-MuBTjZBk3QgLNPG5.json
{"createdAt":"2025-02-12T09:17:12.046Z","updatedAt":"2025-05-01T11:11:00.714Z","id":"MuBTjZBk3QgLNPG5","name":"DESPENSA - Nombre real","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"nombre"},{"name":"telefono"},{"name":"Id"},{"name":"correo"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"Workflow Input Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-120,340]},{"parameters":{"assignments":{"assignments":[{"id":"d8f5eb25-6872-41cc-94ae-80275636cfbc","name":"nombre_real","value":"={{ $json.query.nombre }}","type":"string"},{"id":"1363eefb-3557-4dbb-92c2-cd61a4d90524","name":"telefono","value":"={{ $json.telefono }}","type":"string"},{"id":"127a43ca-3f67-4283-8625-bf483e0f3329","name":"Id","value":"={{ $json.Id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,340],"id":"619c84cc-c7b5-4dd7-bef5-6745114a5dfa","name":"Variables"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4488a487-cf78-43cf-83eb-0e7ae9aa4d2e","leftValue":"={{ $json.telefono }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[740,340],"id":"2dadb23e-ff55-450f-9661-11a0c503fca5","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"17b74d7c-6c80-46b9-a37e-4ddf79b94508","name":"response","value":"=campo actualizado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,180],"id":"ad1c1376-e4fe-4626-954b-57b6bf552057","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"17b74d7c-6c80-46b9-a37e-4ddf79b94508","name":"response","value":"no se actualizo ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,460],"id":"5056b35a-9615-40df-83cc-a20168752be2","name":"noResponse"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pc1g3m0ih934pz9","table":"mtxmanzpy3a6oz8","returnAll":true,"options":{"where":"=(Telefono,eq,{{ $json.telefono }})"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[420,340],"id":"daaa00f6-c6b7-4bbb-9dd2-36f70dcec60d","name":"NocoDB","alwaysOutputData":true,"credentials":{"nocoDbApiToken":{"id":"CawnXo6TfhLoivTw","name":"NocoDB Token account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"PATCH","url":"https://db.innovasoftpro.dev/api/v2/tables/mtxmanzpy3a6oz8/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"Nombre","value":"string"},{"name":"Telefono","value":"string"},{"name":"idMensaje","value":"string"},{"name":"nombre_real","value":"string"},{"name":"Correo","value":"string"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,700],"id":"f586bd75-f68c-4469-bc7c-29f7eac8dbc1","name":"HTTP Request"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"pc1g3m0ih934pz9","table":"mtxmanzpy3a6oz8","fieldsUi":{"fieldValues":[{"fieldName":"Id","fieldValue":"={{ $json?.Id || ''}}"},{"fieldName":"nombre_real","fieldValue":"={{ $('Workflow Input Trigger').first().json.nombre }}"},{"fieldName":"Correo","fieldValue":"={{ $('Workflow Input Trigger').first().json.correo }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[1000,180],"id":"3ed02514-5136-48a6-a031-c54b88f5928b","name":"NocoDB1","alwaysOutputData":true,"credentials":{"nocoDbApiToken":{"id":"CawnXo6TfhLoivTw","name":"NocoDB Token account"}},"onError":"continueRegularOutput"}],"connections":{"Workflow Input Trigger":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Variables":{"main":[[{"node":"NocoDB","type":"main","index":0}]]},"If":{"main":[[{"node":"NocoDB1","type":"main","index":0}],[{"node":"noResponse","type":"main","index":0}]]},"NocoDB":{"main":[[{"node":"If","type":"main","index":0}]]},"NocoDB1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2kOn0Oz7c2uvczPK"},"staticData":null,"meta":{"templateId":"VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls=","templateCredsSetupCompleted":true},"pinData":{"Workflow Input Trigger":[{"json":{"nombre":"Fernando","telefono":"5492254423359","Id":null,"correo":"fercassera@gmail.com"}}]},"versionId":"397e8820-ae15-492f-8780-923d50643608","triggerCount":0,"tags":[]}