despensa---qr-tdm8dLqaR7idL6Hm.json
{"createdAt":"2025-02-11T18:11:55.112Z","updatedAt":"2025-04-22T19:45:36.064Z","id":"tdm8dLqaR7idL6Hm","name":"DESPENSA - QR","active":false,"nodes":[{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pc1g3m0ih934pz9","table":"mt1tw4xiofy81ii","returnAll":true,"options":{"where":"=(QR,like,{{ $json.text }}%) "}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[500,160],"id":"871caa1b-cdd4-4ee0-8f65-e8d1930aa770","name":"NocoDB","credentials":{"nocoDbApiToken":{"id":"CawnXo6TfhLoivTw","name":"NocoDB Token account"}}},{"parameters":{"method":"POST","url":"=https://evo.innovasoftpro.dev/message/sendMedia/pocho","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=084938B823FE-4BA9-974E-8C8951DB4277"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Execute Workflow trigger').item.json.telefono }}\",\n    \"mediatype\": \"image\",\n    \"mimetype\": \"image/png\",\n    \"caption\": \"{{ $('NocoDB').item.json.QR }}\",\n    \"media\": \"{{ $json.LINK }}\", \n    \"fileName\": \"\"\n  \n} ","options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file"}}}},"id":"1da6e8dc-0dfd-416f-b2c4-1f1376d57d4f","name":"Responde texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,360],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"promptType":"define","text":"={{ $json.query }}","messages":{"messageValues":[{"message":"=debes detectar lo que el usuario quiere poner y separalo en el banco correcto  \n\nModo, Cuenta DNI, Frances, Nacion\n\nla salida debe ser unicamente el banco elegido"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[0,160],"id":"f608d679-c7c1-471b-90f7-3e10c99c524d","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-120,520],"id":"93a51cd4-cd12-4f8b-a4e3-92cc2b49b885","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"UfA35dBDzEebw8zR","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ba919371-b6ce-430b-83a5-f792d53746af","name":"LINK","value":"=https://db.innovasoftpro.dev/{{ $json.Imagenes[0].path }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[820,160],"id":"9a28b2b1-fc90-46ea-8ef0-79a1bb45ea33","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"ba5f33e0-eff3-46ee-9fc0-8a202bb47b2c","name":"response","value":"=QR enviado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,160],"id":"67affd40-5a36-4128-8f56-6481d5082ca5","name":"Edit Fields1"},{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"Execute Workflow trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-380,60]},{"parameters":{"method":"POST","url":"https://gate.whapi.cloud/messages/image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"Bearer Qo7qoYEVIKvRppohj25MEaHl1dPwskEv"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Execute Workflow trigger').item.json.telefono }}"},{"name":"media","value":"={{ $json.LINK }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,160],"id":"0a3f4095-f037-478b-a10b-91843b3052d4","name":"Envio de QR"}],"connections":{"NocoDB":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"NocoDB","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Envio de QR","type":"main","index":0}]]},"Responde texto":{"main":[[]]},"Execute Workflow trigger":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Envio de QR":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2kOn0Oz7c2uvczPK"},"staticData":null,"meta":{"templateId":"VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls=","templateCredsSetupCompleted":true},"pinData":{"Execute Workflow trigger":[{"json":{"query":{"banco":"Modo"},"telefono":"5492254423359@s.whatsapp.net","":""}}]},"versionId":"3b668ff2-6bae-4332-8ca8-737ae9b7cd29","triggerCount":0,"tags":[{"createdAt":"2025-01-19T21:20:51.336Z","updatedAt":"2025-01-19T21:20:51.336Z","id":"dgrS6et84MZNe4W0","name":"POCHO"}]}