envio-de-mensajes-automaticos-ufpOjhV3YHDHpcvC.json
{"createdAt":"2025-02-27T23:27:49.350Z","updatedAt":"2025-02-28T02:37:03.366Z","id":"ufpOjhV3YHDHpcvC","name":"Envio de mensajes automaticos","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9,"triggerAtMinute":33}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-200,-20],"id":"927c2d66-0700-41e4-b289-a97eabf45640","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"=https://evo.innovasoftpro.dev/message/sendText/Fer","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=BD52FEC4A06A-4685-BC2E-116DBE26638B"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5492254423359@s.whatsapp.net"},{"name":"text","value":"=Hola Anto, cómo andás? Te cuento que el bot está funcionando a full y cumple con todo lo acordado. Con esta solución, te ahorrás el laburo de contestar WhatsApp, ya que facilita consultas de precios, horarios, promociones y métodos de pago (incluso QR de todas las billeteras), sin tener que contratar a nadie.\n\nSe solucionaron las dudas con los pedidos: una vez generado y confirmado el pedido, se envía el mail de confirmación y el bot manda un mensaje personalizado al cliente, indicándole que te mande el comprobante con el código del pedido, para que vos tengas todo el control y no se arme lío. Recordá que el bot no recibe fotos, solo audios y texto; en el futuro se irán implementando mejoras adicionales.\n\nTambién te recuerdo que, tal como acordamos, a partir de abril se cobrará la primera cuota de mantenimiento de 200 dólares para cubrir servidores, aplicaciones y APIs.\n\nCuando tengas un ratito, empezá a cargar la info a si voy viendo si tenes dificultad o necesitas que te ayude nuevamente. Si preferís, podemos hacer una llamada para repasar las dudas y ayudarte con la herramienta para gestionar el bot.\n\nDado que todo está funcionando y se entrego en tiempo y forma, te pido que, por favor, procedas con el pago del saldo pendiente de $750. \n\nMuchas gracias por la confianza. Estoy seguro que está solución te va a facilitar un montón la gestión y te libera para dedicarte a lo que realmente importa."}]},"options":{"redirect":{"redirect":{}}}},"id":"8d01ec43-5521-4d3e-8e29-55ed3de413bc","name":"Responde texto2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,-20],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"=https://evo.innovasoftpro.dev/message/sendReaction/Fer","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=BD52FEC4A06A-4685-BC2E-116DBE26638B"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={   \n    \"key\": {\n        \"remoteJid\": \"{{ $json.key.remoteJid }}\",\n        \"fromMe\":{{ $json.key.fromMe }} ,\n        \"id\": \"{{ $json.key.id }}\"\n    },\n    \"reaction\": \"✅\"\n} ","options":{}},"id":"8f368a30-9ca6-4538-a5d2-949a44069fd2","name":"MESSAGE3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,-20]},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[400,-20],"id":"79c0754d-bc1c-4286-9eea-b8db17c6101b","name":"Wait1","webhookId":"c5753ffd-3ac8-4fe0-a888-9999f106031b"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Responde texto2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"MESSAGE3","type":"main","index":0}]]},"Responde texto2":{"main":[[{"node":"Wait1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"2kOn0Oz7c2uvczPK"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"132f015b-ddf3-4970-9e4a-b1731793feeb","triggerCount":1,"tags":[]}