envio-de-deuda---q!-EzOZ9JSQCmwja8CT.json
{"createdAt":"2025-06-28T03:56:03.551Z","updatedAt":"2025-06-28T04:19:04.741Z","id":"EzOZ9JSQCmwja8CT","name":"ENVIO DE DEUDA - Q!","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":"={{ 1 }}"}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1320,-225],"id":"666a29ce-dee5-4771-98c5-ca839ca11988"},{"parameters":{"assignments":{"assignments":[{"id":"72e698bf-381c-484e-99b6-81cdf2403225","name":"server","value":"https://db.innovasoftpro.dev","type":"string"},{"id":"4ea2aac5-0b31-476a-b653-ba00ddf92f76","name":"server_evolution","value":"https://n8n-evolution-api.ea1y7g.easypanel.host","type":"string"},{"id":"a7218a96-d39f-4435-b052-37719ddb5f2e","name":"apikey","value":"FEFC629ADE3D-4720-A67F-6B927CFEC8CA","type":"string"},{"id":"a94bf000-0bbb-4ee0-a8c5-5132cc7d7a61","name":"token","value":"VQxKsHdwHJUyOV4dL6blf-Gvr2Dt2FqFv9nR6GCA","type":"string"},{"id":"7c7e09da-80d8-4960-b2d3-287033e4bc93","name":"table","value":"m65c7l442blgwqt","type":"string"},{"id":"e5bcc5a9-1932-4b5c-9583-b6338dedfa67","name":"timestamp","value":"={{ DateTime.fromISO($json.timestamp).toFormat(\"yyyy-MM-dd'T'HH:mm\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1100,-220],"id":"65ba08aa-aae3-4f7d-9cbf-1a7826d4c2dc","name":"Configuraci贸n"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pgzahexmtqessds","table":"m65c7l442blgwqt","returnAll":true,"options":{"fields":[],"where":"=(fecha_pago,eq,{{ $json.timestamp_ajustado }})"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-660,-220],"id":"144b504b-8c58-4da1-8d4a-f531a798e1b7","name":"Obtener Citas Para Recordatorios","credentials":{"nocoDbApiToken":{"id":"CawnXo6TfhLoivTw","name":"NocoDB Token account"}}},{"parameters":{"options":{"reset":"={{ $('Loop Over Items1').context.done}}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[440,-225],"id":"1b5e2ddf-41ce-4899-bd91-43bc77326e77","name":"Loop Over Items1"},{"parameters":{"jsCode":"// Obtener el timestamp actual como string (formato: \"2025-04-30T15:11\")\nconst timestampStr = $input.first().json.timestamp;\n// Separar la fecha y la hora\nconst [fecha, hora] = timestampStr.split('T');\nlet [horas, minutos] = hora.split(':').map(num => parseInt(num, 10));\n\n// Sumar 1 hora al timestamp original (seg煤n el comentario)\nhoras = (horas + 1) % 24;\nconst horasStr = String(horas).padStart(2, '0');\nconst minutosStr = String(minutos).padStart(2, '0');\nconst timestampAjustado = `${fecha}T${horasStr}:${minutosStr}`;\n\n// Calcular horas y minutos para +5 minutos (partiendo de la hora ya ajustada)\nlet horasPlus = horas;\nlet minutosPlus = minutos + 5;\nif (minutosPlus >= 60) {\n  minutosPlus = minutosPlus - 60;\n  horasPlus = (horasPlus + 1) % 24;\n}\n\n// Calcular horas y minutos para -5 minutos (partiendo de la hora ya ajustada)\nlet horasMinus = horas;\nlet minutosMinus = minutos - 5;\nif (minutosMinus < 0) {\n  minutosMinus = minutosMinus + 60;\n  horasMinus = (horasMinus - 1 + 24) % 24;\n}\n\n// Formatear de vuelta a strings\nconst horasPlus_str = String(horasPlus).padStart(2, '0');\nconst minutosPlus_str = String(minutosPlus).padStart(2, '0');\nconst timestamp_plus5 = `${fecha}T${horasPlus_str}:${minutosPlus_str}`;\n\nconst horasMinus_str = String(horasMinus).padStart(2, '0');\nconst minutosMinus_str = String(minutosMinus).padStart(2, '0');\nconst timestamp_minus5 = `${fecha}T${horasMinus_str}:${minutosMinus_str}`;\n\n// Devolver los resultados\nreturn {\n  json: {\n    ...($input.first().json),\n    timestamp_original: timestampStr,\n    timestamp_ajustado: timestampAjustado,  // Nueva propiedad con +1h\n    timestamp_minus5: timestamp_minus5,     // -5m desde la hora ajustada\n    timestamp_plus5: timestamp_plus5        // +5m desde la hora ajustada\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-225],"id":"9a1618d2-596b-4f43-93c1-47a4da079789","name":"Code1"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"p311nqyjsnx0fqq","table":"={{ $node[\"Configuraci贸n\"].json.table }}","fieldsUi":{"fieldValues":[{"fieldName":"Id","fieldValue":"={{ $('Obtener Citas Para Recordatorios').item.json.Id }}"},{"fieldName":"=recordatorio_24h","fieldValue":"enviado"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[1560,-260],"id":"a1915077-0246-4085-9730-5f014dfbd25b","name":"Obtener Citas Para Recordatorios1","credentials":{"nocoDbApiToken":{"id":"CawnXo6TfhLoivTw","name":"NocoDB Token account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[660,-300],"id":"84a1fb70-a4da-4b9a-953d-61f9570cc403","name":"Wait","webhookId":"597bb0a1-341b-41fa-bf9d-17fd75a03ee6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09891ed6-0d0b-41c5-b3b2-187d854f3dde","leftValue":"={{ $json.recordatorio_24h }}","rightValue":"enviado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,-300],"id":"8fbdfdb7-00b8-4a8b-a2b9-7f887ed43d93","name":"If1"},{"parameters":{"batchSize":"=1","options":{}},"id":"c4d89b6e-11a9-4b8b-900e-063167ce83cd","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,-225]},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1100,-300],"id":"5fd588d2-e492-416b-bc80-c87c9a0cc8c9","name":"Wait1","webhookId":"597bb0a1-341b-41fa-bf9d-17fd75a03ee6"},{"parameters":{"method":"POST","url":"={{ $('Code1').first().json.server_evolution }}/message/sendText/tester","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Configuraci贸n').first().json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"delay\": 1600,\n  \"number\": \"{{ $json.Telefono }}\",\n  \"text\": \"{{ $json.text.replace(/\\n/g,'\\\\n').replace(/\\\"/g,'\\'') }}\"  \n}\n","options":{}},"id":"7d4f6197-58be-4006-8dc8-d67cd0769df5","name":"MESSAGE10","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,-540]},{"parameters":{"authentication":"nocoDbApiToken","projectId":"pgzahexmtqessds","table":"mpg9mfycr0pp0x5","id":"={{ $json.Clientes.Id }}"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-440,-225],"id":"18545a9e-4ddb-442d-827e-f6c61e558468","name":"NocoDB","credentials":{"nocoDbApiToken":{"id":"CawnXo6TfhLoivTw","name":"NocoDB Token account"}}},{"parameters":{"jsCode":"// Complete JavaScript code for the POCHO BOT notification message\nlet mensaje = `隆Hola ! $('NocoDB').first().json.pushname\\n\\n`;\nmensaje += \"锔 *AVISO IMPORTANTE - POCHO BOT* 锔\\n\\n\";\nmensaje += \" Queremos recordarte que tienes un pago pendiente por el servicio de POCHO BOT.\\n\\n\";\nmensaje += ` *Monto pendiente: $('Obtener Citas Para Recordatorios').first().json.monto_pendiente*\\n\\n`;\n\n// Line 9: Correctly define fechaLimite first, then set the formatted version\nlet fechaLimite = $('Obtener Citas Para Recordatorios').first().json.fecha_limite;\nlet fechaLimiteFormateada = fechaLimite;\n\n// Now you can check fechaLimite in your conditional\nif (fechaLimite && fechaLimite.includes(\"T\")) {\n  const fecha = new Date(fechaLimite);\n  fechaLimiteFormateada = `${fecha.getDate().toString().padStart(2, '0')}/${(fecha.getMonth()+1).toString().padStart(2, '0')}/${fecha.getFullYear()}`;\n}\nmensaje += ` *Fecha l铆mite: ${fechaLimiteFormateada}*\\n\\n`;\n\n// Define fechaUltimoPago first, then set the formatted version\nlet fechaUltimoPago = $('Obtener Citas Para Recordatorios').first().json.fecha_ultimo_pago;\nlet fechaUltimoPagoFormateada = fechaUltimoPago;\n\n// Now check fechaUltimoPago in your conditional\nif (fechaUltimoPago && fechaUltimoPago.includes(\"T\")) {\n  const fecha = new Date(fechaUltimoPago);\n  fechaUltimoPagoFormateada = `${fecha.getDate().toString().padStart(2, '0')}/${(fecha.getMonth()+1).toString().padStart(2, '0')}/${fecha.getFullYear()} ${fecha.getHours().toString().padStart(2, '0')}:${fecha.getMinutes().toString().padStart(2, '0')}`;\n}\nmensaje += ` ltimo pago registrado: ${fechaUltimoPagoFormateada}\\n\\n`;\n\nmensaje += \"锔 *IMPORTANTE: Si el pago no se realiza antes de ma帽ana, el servicio se desactivar谩 autom谩ticamente.* 锔\\n\\n\";\nmensaje += \" POCHO BOT ha estado trabajando arduamente para ti, 隆y necesita recargarse para seguir funcionando! \\n\\n\";\nmensaje += \" Puedes realizar tu pago mediante transferencia bancaria o contactarnos para coordinar otro m茅todo de pago.\\n\\n\";\nmensaje += \" Una vez realizado el pago, por favor env铆anos el comprobante para mantener el servicio activo sin interrupciones.\\n\\n\";\nmensaje += \"Si tienes alguna duda o necesitas una extensi贸n, cont谩ctanos lo antes posible.\\n\\n\";\nmensaje += \"隆Gracias por tu comprensi贸n y apoyo! \\n\\n\";\nmensaje += \"Equipo Qeva AI \";\n\n// Return an array of objects as required by n8n\nreturn [{\n  mensaje: mensaje,\n  telefono: $('NocoDB').first().json.Telefono,\n  nombre: $('NocoDB').first().json.pushname\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,-300],"id":"87d921af-e0e0-473b-86ab-d8a3a521a7f3","name":"Mensaje automatizado","retryOnFail":false,"executeOnce":false},{"parameters":{"method":"POST","url":"={{ $('Configuraci贸n').item.json.server }}/message/sendText/qeva","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"apikey","value":"={{ $('Configuraci贸n').item.json.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('NocoDB').item.json.Telefono }}"},{"name":"text","value":"={{ $('Mensaje automatizado').item.json.mensaje }}"}]},"options":{}},"name":"FERNANDO1","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[880,-300],"id":"e76c8027-9d13-4999-a736-63bb8451b303","credentials":{"httpBasicAuth":{"id":"OpgdvMlLy6Zxc6ii","name":"NOCODB"}}},{"parameters":{"method":"POST","url":"={{ $node['Webhook'].json.body.server_url }}/message/sendReaction/{{ $node['Webhook'].json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $node['Webhook'].json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={   \n    \"key\": {\n        \"remoteJid\": \"{{ $json.key.remoteJid }}\",\n        \"fromMe\":{{ $json.key.fromMe }} ,\n        \"id\": \"{{ $json.key.id }}\"\n    },\n    \"reaction\": \"\"\n} ","options":{}},"id":"78097d97-b731-4042-9a62-8af33ba702aa","name":"MESSAGE2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,-280]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Configuraci贸n","type":"main","index":0}]]},"Configuraci贸n":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Obtener Citas Para Recordatorios":{"main":[[{"node":"NocoDB","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Obtener Citas Para Recordatorios","type":"main","index":0}]]},"Obtener Citas Para Recordatorios1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"FERNANDO1","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Mensaje automatizado","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"If1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"MESSAGE2","type":"main","index":0}]]},"MESSAGE10":{"main":[[]]},"NocoDB":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Mensaje automatizado":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"FERNANDO1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"MESSAGE2":{"main":[[{"node":"Obtener Citas Para Recordatorios1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"2kOn0Oz7c2uvczPK"},"staticData":null,"meta":null,"pinData":null,"versionId":"6f0379d9-9cd5-48f8-8c9e-654d8c19cfaf","triggerCount":0,"tags":[]}