error-workflows-EBMwLGTBawYqkZM1.json
{"createdAt":"2025-06-28T03:55:34.043Z","updatedAt":"2025-06-28T04:09:43.094Z","id":"EBMwLGTBawYqkZM1","name":"Error Workflows","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"d231c973-555a-44b5-a3b2-707a8bf32887","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","position":[-140,320],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"675931d9-b4c8-43e0-b78c-24e1cda7dfb3","name":"n8n","type":"n8n-nodes-base.n8n","position":[320,-20],"typeVersion":1,"credentials":{"n8nApi":{"id":"Ki5wPNytwpKrHGnQ","name":"WorkFlows"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"requestOptions":{}},"id":"d17a71e7-0077-45e4-a5f8-f20357e75759","name":"get error handler","type":"n8n-nodes-base.n8n","position":[80,-20],"typeVersion":1,"credentials":{"n8nApi":{"id":"Ki5wPNytwpKrHGnQ","name":"WorkFlows"}}},{"parameters":{"operation":"update","workflowId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"workflowObject":"={{ JSON.stringify($json) }}","requestOptions":{}},"id":"0d0c6e51-e741-4795-a2cd-5951dfc12803","name":"n8n | update","type":"n8n-nodes-base.n8n","position":[920,-60],"typeVersion":1,"credentials":{"n8nApi":{"id":"Ki5wPNytwpKrHGnQ","name":"WorkFlows"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json\n\ndata.settings.errorWorkflow = $('get error handler').item.json.id ;\ndelete data.settings.callerPolicy;\n\nreturn {\n  id: data.id,\n  name: data.name,\n  nodes: data.nodes,\n  connections: data.connections,\n  settings: data.settings\n}"},"id":"7be2ff2b-7db6-4599-9e01-51043104747e","name":"set fields","type":"n8n-nodes-base.code","position":[720,-60],"typeVersion":2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"290fd302-4e2d-44d6-8a8a-14a0b8f2c360","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.settings.errorWorkflow }}","rightValue":"=Default Error Handler"},{"id":"2a5799e9-2030-4281-bf11-e7f9777906c5","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.id }}","rightValue":"={{ $('get error handler').item.json.id }}"},{"id":"8bc4c2a0-e094-4426-8ae6-71b6e4fa9842","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.active }}","rightValue":""}]},"options":{}},"id":"03cf4714-93ef-4dd9-957b-26f334a9d256","name":"active && no error handler set && not this  handler workflow","type":"n8n-nodes-base.if","position":[520,-20],"typeVersion":2},{"parameters":{"content":"## Default Error Handler\n\nUpdate this to your preferred notification mechanism","height":308.64949804469416,"width":483.4744075807993},"id":"21e651b9-1c73-48c2-a725-7910d240d91e","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-200,200],"typeVersion":1},{"parameters":{"content":"get ID of self","height":216.67545344104974,"width":232.91556831986873},"id":"14f16eed-471f-4304-bb20-0a614f204f70","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[240,-80],"typeVersion":1},{"parameters":{"rule":{"interval":[{}]}},"id":"9f09a895-b686-41e8-b68f-f6a0be608bce","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","position":[-140,-20],"typeVersion":1.2},{"parameters":{"content":"Runs every day at midnight to update new workflows","height":219.7116384468202,"width":214.6984582852457},"id":"b95949ff-5ef3-466b-9a34-4b545a1d93d3","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-200,-80],"typeVersion":1},{"parameters":{"chatId":"164729397","text":"=🟥 **ALERTA CRÍTICA**\n\n📂 `{{$json.workflow.name}}`  \n💢 Nodo: `{{$json.execution.lastNodeExecuted}}`  \n🆔 ID: {{$json.execution.id}}  \n🕒 {{$now.format(\"dd-MM-yyyy HH:mm\")}}\n\n💬 `{{ $json.execution.error.message }}`\n\n🔗 {{ $json.execution.url }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[100,320],"id":"bc6ee710-0f89-41b0-be53-dbab0c63e8b3","name":"Telegram","webhookId":"c276d752-0918-477a-847a-cbbf808219fb","credentials":{"telegramApi":{"id":"Uk3tgb6s53LxEXnG","name":"Debuger"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"n8n":{"main":[[{"node":"active && no error handler set && not this  handler workflow","type":"main","index":0}]]},"get error handler":{"main":[[{"node":"n8n","type":"main","index":0}]]},"set fields":{"main":[[{"node":"n8n | update","type":"main","index":0}]]},"active && no error handler set && not this  handler workflow":{"main":[[{"node":"set fields","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"get error handler","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"a968cdbc-0eaf-4642-a74d-b76c7952c90a","triggerCount":0,"tags":[]}