inmobiliaria---carga-de-propiedades-rag-e3U2rpOZeglz0LsA.json
{"createdAt":"2025-01-31T01:37:14.226Z","updatedAt":"2025-01-31T02:06:41.767Z","id":"e3U2rpOZeglz0LsA","name":"INMOBILIARIA - Carga de propiedades RAG","active":false,"nodes":[{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"Producto,P. Venta,Existencia","options":{}},"id":"c4526a98-a2b8-4e54-9d20-b784bb8eb12f","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1540,480]},{"parameters":{"operation":"pdf","options":{}},"id":"f462eaf9-a938-4d3e-8826-ef7e5021542f","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1400,140]},{"parameters":{"operation":"xlsx","options":{}},"id":"52c919b5-2340-4311-becc-81444aef36d4","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1400,480]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $('Definir ID1').item.json.file_id }}*"},"id":"9bfdecb3-0db6-4d9f-99c0-6dc59f29f75c","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[620,1240],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"quG8yZzF5N2vl0rR","name":"Supabase account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Definir ID1').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"f147417c-7d75-4df8-80c9-e0edfcf73242","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1560,1400],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"Ky3mtQHlUuVFINq2","name":"Qeva Solutions"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"928b5cae-77cd-48a2-81ef-2f76dc441b0a","leftValue":"={{ $('File Updated').item.json.mimeType }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6368b5ad-32b0-491d-a27d-5cc3ad5c2a11","leftValue":"={{ ((Date.now() - Date.parse($('File Updated').item.json.createdTime)) / 1000) }}","rightValue":60,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,1240],"id":"205fd58c-f75c-4842-8a75-c4d006da64f0","name":"If","onError":"continueRegularOutput"},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Definir ID').item.json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1600,660],"id":"d3a2e3b3-ef79-4a9e-b369-ae4af9dccbf8","name":"Delete File","credentials":{"googleDriveOAuth2Api":{"id":"Ky3mtQHlUuVFINq2","name":"Qeva Solutions"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1ETig2X4Um6Wb8_kYUtqSruH5Otvid1L2xvlwbKr8Fpc","mode":"list","cachedResultName":"Stock_exported_1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ETig2X4Um6Wb8_kYUtqSruH5Otvid1L2xvlwbKr8Fpc/edit?usp=drivesdk"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"ea7c9ff7-7c3b-4b3e-9135-ed3c969d8ae4","name":"Download File1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[600,600],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"Ky3mtQHlUuVFINq2","name":"Qeva Solutions"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"0fe71b73-89c3-4950-895e-2cada98fcffd","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2320,1340]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"9811b2b4-19dd-46bc-b97a-e5830ccefccf","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[2520,1340]},{"parameters":{"operation":"pdf","options":{}},"id":"7765c1b8-ff77-4006-9db0-9ee7d90c3165","name":"Extract PDF Text1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2120,1000]},{"parameters":{"operation":"xlsx","options":{}},"id":"5d6c8569-0ea4-4fab-96ab-94718c08bf0a","name":"Extract from Excel1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2120,1340]},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{ $('Definir ID1').item.json.file_id }}/copy","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Definir ID1').item.json.name }}"},{"name":"mimeType","value":"application/vnd.google-apps.document"}]},"options":{}},"id":"8cef53e3-4231-4b37-8dfe-a813d9492ee5","name":"Convert to Google Doc2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2120,1540],"credentials":{"googleDriveOAuth2Api":{"id":"Ky3mtQHlUuVFINq2","name":"Qeva Solutions"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Definir ID1').item.json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2320,1540],"id":"93b58764-0f9a-4a4d-8372-1f9a2239519c","name":"Delete File1","credentials":{"googleDriveOAuth2Api":{"id":"Ky3mtQHlUuVFINq2","name":"Qeva Solutions"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[2020,460],"id":"6fab18e5-f1ba-4baa-a50a-509fd2a5322d","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"UfA35dBDzEebw8zR","name":"OpenAi account"}}},{"parameters":{"chunkSize":2000,"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[3100,1460],"id":"58056396-a115-4d93-b8ea-beb178ec06e0","name":"Recursive Character Text Splitter1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[2840,1320],"id":"55af9f1a-2310-432e-bfef-9c020abbbbe2","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"UfA35dBDzEebw8zR","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[440,440],"id":"9968bdcc-1e96-495b-8134-a74394f2b34d","name":"Loop Over Items"},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Definir ID').item.json.file_id }}"},{"name":"=version","value":"v1"},{"name":"=creator","value":"={{ $('File Created').item.json.owners[0].displayName }}"},{"name":"=created_at","value":"={{ $('File Created').item.json.createdTime }}"},{"name":"last_modified","value":"={{ $('File Created').item.json.modifiedTime }}"},{"name":"folder_path","value":"projects"},{"name":"file_name","value":"={{ $('File Created').item.json.name }}"},{"name":"file_extension","value":"={{ $('File Created').item.json.mimeType }}"},{"name":"Producto","value":"={{ $('Aggregate1').item.json.data }}"}]}}},"id":"836f54d6-d25e-403c-9e5b-300e765de82f","name":"Enhanced Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2240,380]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Definir ID1').item.json.file_id }}"},{"name":"=version","value":"={{ $('Definir Versión').item.json.message.content.version }}"},{"name":"=creator","value":"={{ $('File Updated').item.json.owners[0].displayName }}"},{"name":"=created_at","value":"={{ $('File Updated').item.json.createdTime }}"},{"name":"=last_modified","value":"={{ $('File Updated').item.json.modifiedTime }}"},{"name":"=folder_path","value":"projects"},{"name":"=file_name","value":"={{ $('File Updated').item.json.name }}"},{"name":"=file_extension","value":"={{ $('File Updated').item.json.mimeType }}"}]}}},"id":"1a47de97-25a6-461d-be8b-ef3b8a547185","name":"Enhanced Default Data Loader2","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[3020,1240]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFile","fileToWatch":{"__rl":true,"value":"1jZBoQG3R6vujTjlRBAoaySaZDSRpigjfSaTVNYxzHR4","mode":"list","cachedResultName":"Stock_exported_1 (1)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jZBoQG3R6vujTjlRBAoaySaZDSRpigjfSaTVNYxzHR4/edit?usp=drivesdk"}},"id":"c5cd1f98-20e1-42a9-b062-1ce592350dac","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[20,440],"credentials":{"googleDriveOAuth2Api":{"id":"Ky3mtQHlUuVFINq2","name":"Qeva Solutions"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1rEaYpFwY_3--sgmP8A4QpmHj0i9tj1MO","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1rEaYpFwY_3--sgmP8A4QpmHj0i9tj1MO"},"event":"fileUpdated","options":{}},"id":"49cb61fb-3056-418e-b911-7b94c640c5e5","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[60,1240],"credentials":{"googleDriveOAuth2Api":{"id":"Ky3mtQHlUuVFINq2","name":"Qeva Solutions"}},"disabled":true},{"parameters":{"operation":"text","options":{}},"id":"22b3180c-5af5-4ea1-b10d-71423434c741","name":"Extract from Text File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1400,300],"alwaysOutputData":true},{"parameters":{"operation":"text","options":{}},"id":"5552f7c1-5c6c-4a68-82c0-3da4591d7816","name":"Extract from Text File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2120,1160],"alwaysOutputData":true},{"parameters":{},"id":"4290fd66-cfbf-4959-bf4b-16baa5f68263","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[780,1240]},{"parameters":{"content":"# Disparador de Monitoreo (Drive) - Archivos Creados\n## Archivos creados en una carpeta específica -> Verificar el tipo de archivo y realizar conversión, si es necesario -> Extraer el texto -> Añadir al Vector Store\n\n\n\n","height":809.1109659268125,"width":2497.217992355588,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"c0faea2c-f384-482f-bcf0-c1b87b975f7a","name":"Sticky Note12"},{"parameters":{"content":"# Disparador de Monitoreo (Drive) - Archivos Actualizados\n\n## Archivos actualizados en una carpeta específica -> Verificar el tipo de archivo y realizar conversión, si es necesario -> Extraer el texto -> Añadir al Vector Store\nDrive/Backoffice/Backoffice_Contracts\n\n","height":888.3491772897637,"width":3306.7699150920453,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-20,860],"typeVersion":1,"id":"73fe5d15-e3a5-4084-9ca5-092b011af71d","name":"Sticky Note13"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1400,1240],"id":"57825c4f-7f53-4558-9a0f-faf4565072f9","name":"Loop Over Items2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Definir ID1').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Definir ID1').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text File"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Definir ID1').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7ddfa924-1c26-4ee3-9890-5c9d2b96717a","leftValue":"={{ $('Definir ID1').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(1)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0","leftValue":"={{ $('Definir ID1').item.json.file_type }}","rightValue":"application/msword","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(2)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cd9ca627-d00d-4c30-903a-41f603c8e36f","leftValue":"={{ $('Definir ID1').item.json.file_type }}","rightValue":"application/vnd.ms-word","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(3)"}]},"options":{"fallbackOutput":2}},"id":"77799efa-51a3-4d16-aa01-1153eb36a2cd","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1820,1220]},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{ $('Definir ID').item.json.file_id }}/copy","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Definir ID').item.json.name }}"},{"name":"mimeType","value":"application/vnd.google-apps.document"}]},"options":{}},"id":"5428613f-7616-499f-86bd-0cdf859568c5","name":"Converte para o Google Docs","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1400,660],"credentials":{"googleDriveOAuth2Api":{"id":"Ky3mtQHlUuVFINq2","name":"Qeva Solutions"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $('File Created').item.json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $('File Created').item.json.mimeType }}","type":"string"}]},"options":{}},"id":"7ec253be-90f8-43f8-b072-731786c2ff31","name":"Definir ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,440]},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $('File Updated').item.json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $('File Updated').item.json.mimeType }}","type":"string"}]},"options":{}},"id":"988a3c30-eae5-47dc-9352-67a6e091d614","name":"Definir ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,1240]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"id"},"options":{"queryName":"match_documents"}},"id":"a0f5adfe-cae8-4fdb-97be-d68e813f9c64","name":"Inserir na Supabase Vectorstore1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2800,1000],"credentials":{"supabaseApi":{"id":"quG8yZzF5N2vl0rR","name":"Supabase account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{"skipEmptySplitFields":false}},"id":"9e2cca9a-8f3b-421d-afd6-27f363458388","name":"Summarize2","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1700,480]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Definir ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Definir ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text File"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Definir ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7ddfa924-1c26-4ee3-9890-5c9d2b96717a","leftValue":"={{ $('Definir ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(1)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0","leftValue":"={{ $('Definir ID').item.json.file_type }}","rightValue":"application/msword","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(2)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cd9ca627-d00d-4c30-903a-41f603c8e36f","leftValue":"={{ $('Definir ID').item.json.file_type }}","rightValue":"application/vnd.ms-word","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(3)"}]},"options":{"fallbackOutput":2}},"id":"e3008390-9862-4cb1-afa4-923eed2ffab1","name":"Switch3","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1000,360]},{"parameters":{"options":{"splitCode":"markdown"}},"id":"998ae522-1ea5-493c-8682-67b709edd9ee","name":"Recursive Character Text Splitter2","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[2180,580],"disabled":true},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"id":"a1f91d95-2634-4e39-9410-885fc39ea4fd","name":"Insertar Supabase Vector store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2000,140],"credentials":{"supabaseApi":{"id":"quG8yZzF5N2vl0rR","name":"Supabase account"}}},{"parameters":{"separator":"=},{","chunkSize":50},"id":"f72e5d51-a272-42a3-bb2e-68d4d9489920","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[2360,540]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"Tu objetivo es tomar el número de versión recibido y agregarle 1.\n\n[Ejemplos]\nEntrada: v1\nSalida: v2\n\nEntrada: v2\nSalida: v3\n\nEntrada: v4\nSalida: v5\n\nEl campo de salida siempre debe llamarse \"version\".","role":"system"},{"content":"=número da version recibida: {{ $json.metadata.version }}"}]},"jsonOutput":true,"options":{}},"id":"0ae024d4-9eb8-4c74-b78b-6c39d484e5bc","name":"Definir Versión","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1000,1240],"credentials":{"openAiApi":{"id":"UfA35dBDzEebw8zR","name":"OpenAi account"}}}],"connections":{"Aggregate1":{"main":[[{"node":"Summarize2","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insertar Supabase Vector store","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"Download File1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Inserir na Supabase Vectorstore1","type":"main","index":0}]]},"Extract PDF Text1":{"main":[[{"node":"Inserir na Supabase Vectorstore1","type":"main","index":0}]]},"Extract from Excel1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Convert to Google Doc2":{"main":[[{"node":"Delete File1","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insertar Supabase Vector store","type":"ai_embedding","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Enhanced Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Inserir na Supabase Vectorstore1","type":"ai_embedding","index":0}]]},"Loop Over Items":{"main":[[{"node":"Switch3","type":"main","index":0}],[{"node":"Download File1","type":"main","index":0}]]},"Enhanced Default Data Loader1":{"ai_document":[[{"node":"Insertar Supabase Vector store","type":"ai_document","index":0}]]},"Enhanced Default Data Loader2":{"ai_document":[[{"node":"Inserir na Supabase Vectorstore1","type":"ai_document","index":0}]]},"File Created":{"main":[[{"node":"Definir ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Definir ID1","type":"main","index":0}]]},"Extract from Text File":{"main":[[{"node":"Insertar Supabase Vector store","type":"main","index":0}]]},"Extract from Text File1":{"main":[[{"node":"Inserir na Supabase Vectorstore1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Definir Versión","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Download File","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Extract PDF Text1","type":"main","index":0}],[{"node":"Extract from Text File1","type":"main","index":0}],[{"node":"Extract from Excel1","type":"main","index":0}],[{"node":"Convert to Google Doc2","type":"main","index":0}],[{"node":"Convert to Google Doc2","type":"main","index":0}],[{"node":"Convert to Google Doc2","type":"main","index":0}]]},"Converte para o Google Docs":{"main":[[{"node":"Delete File","type":"main","index":0}]]},"Definir ID":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Definir ID1":{"main":[[{"node":"If","type":"main","index":0}]]},"Summarize2":{"main":[[{"node":"Insertar Supabase Vector store","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Text File","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Converte para o Google Docs","type":"main","index":0}],[{"node":"Converte para o Google Docs","type":"main","index":0}],[{"node":"Converte para o Google Docs","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Enhanced Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Definir Versión":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"56d650cb-b356-4f56-9e43-eaf437811c0a","triggerCount":0,"tags":[{"createdAt":"2024-11-13T18:17:03.104Z","updatedAt":"2024-11-13T18:17:03.104Z","id":"YrHhxlrwgYNlhWHU","name":"Inmobiliaria"}]}