my-workflow-6-ekDgrV2DGCMxuOyT.json
{"createdAt":"2025-01-07T00:41:14.684Z","updatedAt":"2025-01-07T00:41:14.684Z","id":"ekDgrV2DGCMxuOyT","name":"My workflow 6","active":false,"nodes":[{"parameters":{},"id":"bab63adc-0a40-4fa4-af82-f9fe42fdab9e","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-980,760],"typeVersion":1},{"parameters":{"url":"https://www.google.com/maps/search/inmobiliarias+pinamar/@-37.1248048,-56.8964247,14z?hl=es&entry=ttu&g_ep=EgoyMDI1MDEwMS4wIKXMDSoASAFQAw%3D%3D","options":{}},"id":"77d0bd0d-2114-4630-adac-a5a435c013d8","name":"Fetch essay list","type":"n8n-nodes-base.httpRequest","position":[-760,760],"typeVersion":4.1},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"=data","extractionValues":{"values":[{"key":"essay","cssSelector":"table table a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"id":"00837f7a-996d-4b66-b38d-e80cd8796c6b","name":"Extract essay names","type":"n8n-nodes-base.html","position":[-540,760],"typeVersion":1},{"parameters":{"url":"=http://www.paulgraham.com/{{ $json.essay }}","options":{}},"id":"5d949a61-c08f-4880-a048-359185811662","name":"Fetch essay texts","type":"n8n-nodes-base.httpRequest","position":[120,760],"typeVersion":4.1},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"title","cssSelector":"title"}]},"options":{}},"id":"4fe71780-721a-4b97-8588-ce30e1896b0a","name":"Extract title","type":"n8n-nodes-base.html","position":[460,460],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"title","stringValue":"={{ $json.title }}"},{"name":"summary","stringValue":"={{ $json.response.text }}"},{"name":"url","stringValue":"=http://www.paulgraham.com/{{ $('Limit to first 3').item.json.essay }}"}]},"include":"none","options":{}},"id":"9cf83f75-ed5a-46f1-b1fb-4250c03e1009","name":"Clean up","type":"n8n-nodes-base.set","position":[1120,740],"typeVersion":3},{"parameters":{"content":"## Scrape latest Paul Graham essays","height":285.66037735849045,"width":1071.752021563343},"id":"a127d561-fb02-4e47-b2c0-a1f8161e5213","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-820,680],"typeVersion":1},{"parameters":{"content":"## Summarize them with GPT","height":606.7924528301882,"width":465.3908355795153},"id":"bbca8a6d-c2b2-47fe-ba57-a8ebf246c1ef","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[380,680],"typeVersion":1},{"parameters":{"fieldToSplitOut":"essay","options":{}},"id":"77b83349-4d6e-4c42-9c74-8893e47f08be","name":"Split out into items","type":"n8n-nodes-base.splitOut","position":[-320,760],"typeVersion":1},{"parameters":{"maxItems":3},"id":"f2df6e7f-d68d-4691-9857-d70414b888be","name":"Limit to first 3","type":"n8n-nodes-base.limit","position":[-100,760],"typeVersion":1},{"parameters":{"options":{}},"id":"8840ad59-932c-4129-bfec-03f5365c68d8","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[580,960],"typeVersion":1},{"parameters":{"options":{}},"id":"be457dc1-531f-445c-aec3-fcb709166254","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[580,1100],"typeVersion":1},{"parameters":{"options":{}},"id":"560a50d4-0716-4749-b9d2-63c519440a03","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[440,960],"typeVersion":1,"credentials":{"openAiApi":{"id":"UfA35dBDzEebw8zR","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"ed38f1e4-d0bf-44b4-a9f2-157323b8f11c","name":"Merge","type":"n8n-nodes-base.merge","position":[920,740],"typeVersion":3},{"parameters":{"operationMode":"documentLoader","options":{}},"id":"7e7b62bc-88ed-4cb9-8780-2188b4805f8e","name":"Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","position":[480,760],"typeVersion":2}],"connections":{"Merge":{"main":[[{"node":"Clean up","type":"main","index":0}]]},"Extract title":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Fetch essay list":{"main":[[{"node":"Extract essay names","type":"main","index":0}]]},"Limit to first 3":{"main":[[{"node":"Fetch essay texts","type":"main","index":0}]]},"Fetch essay texts":{"main":[[{"node":"Extract title","type":"main","index":0},{"node":"Summarization Chain","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Summarization Chain","type":"ai_document","index":0}]]},"Extract essay names":{"main":[[{"node":"Split out into items","type":"main","index":0}]]},"Summarization Chain":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Split out into items":{"main":[[{"node":"Limit to first 3","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Fetch essay list","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4621638c-ac41-4397-a498-48f2db0e6615","triggerCount":0,"tags":[]}