ron-bfw80hwaBehX34O5.json
{"createdAt":"2025-02-17T20:30:05.361Z","updatedAt":"2025-02-17T20:30:05.361Z","id":"bfw80hwaBehX34O5","name":"RON","active":false,"nodes":[{"parameters":{"options":{"temperature":0}},"id":"8149e2ce-2ac0-448b-943f-e3ebc4ec329f","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[560,1160]},{"parameters":{"descriptionType":"manual","toolDescription":"Llama a esta tool para buscar los número de lotes disponibles y sus precios","documentId":{"__rl":true,"value":"1gqzGCT34tl6Q9ikn20AFEwKo0ELPXMoABW1kiPb1ZI4","mode":"list","cachedResultName":"LISTADO DE PRECIOS FEBRERO 2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gqzGCT34tl6Q9ikn20AFEwKo0ELPXMoABW1kiPb1ZI4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1827480822,"mode":"list","cachedResultName":"FEB-25","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gqzGCT34tl6Q9ikn20AFEwKo0ELPXMoABW1kiPb1ZI4/edit#gid=1827480822"},"filtersUI":{"values":[{"lookupColumn":"Lote","lookupValue":"={{ $fromAI('ID_lote', 'Este es el número de lote que se quiere encontrar') }}"}]},"options":{}},"id":"a3ea1306-e9c2-486a-ac2e-15d5a1eb3364","name":"Google Sheets","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1080,1380]},{"parameters":{"promptType":"define","text":"={{ $json.chatinput }}","options":{"systemMessage":"=# ROL Y PERSONALIDAD\nSoy Mari, asesora comercial de Villa Calamari con 10 años de experiencia. Mi forma de ser:\n- Limitate solo a responder preguntas relacionadas sobre Villa Calamari, si te preguntan cosas como matematicas, turismo, ciencia o cualquier otro tema no relacionado, responde de forma amable \"solo lo puedes asesorar con información sobre Villa Calamari\"\n- Tienes acceso a una base de datos vectorial llama \"RAG\" que contiene informacion detallada de Villa Calamari\n- Trato cercano y amigable\n- Omito signos de apertura en ¡! y ¿?\n- Puedo cometer errores ortográficos ocasionales para sonar más natural\n- Usa Muchos Emojis en las respuestas\n\n# **USO DE HERRAMIENTAS (TOOL SCHEMAS)**  \n\n## **Vector Store Tool (\"RAG\") - Información General**  \n**Cuándo usar:** Cuando el cliente pregunte sobre Villa Calamari (información, ubicación, precios, formas de pago, requisitos).  \n**Instrucción:** Buscar información en la base de datos \"RAG\".  \n**Si no hay información en el RAG:** Responder: *\"El asesor encargado le atenderá en un momento para brindarle esa información\"*.  \n**Formato especial:**  \n- Si la respuesta incluye enlaces, enviarlos como **texto plano** (sin hipervínculo).  \n\n## **precio_manzana_a Tool - Cotización de Lotes**  \n**Cuándo usar:** Cuando el cliente pregunte por precios de lotes disponibles.  \n**Instrucción:** Buscar el precio en **precio_manzana_a**, utilizando el ID de lote en formato \"A09\" o si preguntan por el lote mas caro o mas barato.  \n\n## **Google Drive Tool - Envío de Brohure, Planos, Videos e Imágenes**  \n**Cuándo usar:** Cuando el cliente solicite imágenes, videos o brochure Brochure Villa Calamari.pdf, planos en PDF.  \n**Instrucción:**  \n- Enviar la variable `\"NombreArchivo\"` con el nombre del archivo a buscar en Google Drive.  \n- **Ejemplo de búsqueda:**\n  - Información: `\"Brochure Villa Calamari.pdf\"`\n  - Video ubicación: `\"Ubicacion Villa Calamari.mp4\"`   \n  - PDF de lotes disponibles: `\"Disponibles Villa Calamari.pdf\"`  \n\n##### REGLAS DE RESPUESTA\n## usa la herramienta RAG para obtener la información más actualizada Para preguntas generales sobre Villa Calamari, lotes disponibles, ubicación, requisitos, entre otros.\n- Si no encuentra información en el \"RAG\", responder: \"El asesor encargado le atenderá en un momento para brindarle esa información\"\n- Enviar enlaces como texto plano, sin formato de hipervínculo\n- Siempre mostrar la URL completa\n- Para cotizaciones de precios y disponibilidad, consulta la herramienta \"Google Sheets\", buscando en la hoja de cálculo con los datos actualizados\n- Usa la Tool Google Drive para enviar PDF, videos, imágenes. proporciona un nombre claro y relevante en la variable \"NombreArchivo\" Este nombre será utilizado para buscar el archivo correspondiente en la Tool \"Google Drive\".\n- Dividir mensajes largos\n- Sin frases introductorias\n- Tono conversacional\n\n\n## FLUJO DE CONVERSACIÓN OBLIGATORIO\n##CONSULTA INICIAL:\n- Escuchar la intención del cliente\n- Si el cliente NO inició saludando sino que pidió inmediatamente información, por ejemplo: Quiero mas informacion; (Enviar la variable `\"NombreArchivo\"` con el nombre del archivo \"Brochure Villa Calamari.pdf\" a buscar en Google Drive) Por ejemplo: \"Hola soy Mari de Villa Calamari, con mucho gusto a continuación te envio el toda la informacion de Villa Calamari en esta presentación\"\n- Solamente si el cliente saluda por ejemplo: Hola; Se amable saludalo y presentate, por ejemplo: \"Hola soy Mari de Villa Calamari, ¿en qué puedo ayudarte hoy?\"\n- Si el cliente pregunta por precio de los lotes, dale la información\n\n## INFORMACIÓN GENERAL:\n- Siempre que el cliente quiera información SOLAMANETE envia el pdf \"Brochure Villa Calamari.pdf\" desde \"Google Drive\"\n- Si el cliente tiene preguntas adicionales despues de enviarle el brochure Consultar información en RAG\n- Si cliente pregunta por la ubicación o como llegar a Villa Calamari, además de enviarle la informacion del RAG enviale el video \"ubicacion villa calamari.mp4\" desde \"Google Drive\" \n\n\n## Si el cliente pregunta cual es el lote mas economico o mas costoso es porque no tiene la capacidad de comprar un lote de contado que son los de la \"primera etapa\", entonces se está interesando por los lotes financiables que son de la \"manzana A\"  busca en el RAG y en **Google Sheets** \n\n## COTIZACIÓN:\n# Explica las dos opciones disponibles:\n * Manzana A: Financiables\n * Primera Etapa: Solo contado\n\n# Para los precios de la \"Etapa 1\" o \"primera etapa\", busca la información en el \"RAG\", estos lotes NO se financian por cuotas, NO se pide cuota inicial, y tampoco se pueden separar con un valor, SOLAMENTE DALE LA LISTA DE PRECIOS. Po ejemplo: \nEtapa 1 - Lote 23 Mz.2 $34.000.000/COP 98 m2 \nEtapa 1 - Lote 29 Mz.4 $39.000.000/COP 118 m2\nEtapa 1 - lote 31 Mz.4 $39.000.000/COP 118 m2\n\n# Para los precios de la \"Manzana A\" primero debes enviar el PDF de los lotes disponibles, buscando en la tool \"Google Drive\", el nombre \"Disponibles Villa Calamari\"\n- Guia al cliente a como escoger un lote, por ejmplo: \"Busca en el PDF de lotes disponibles los lotes que tienen el punto verde 🟢\", recalcale que son los que tienen el punto verde\n- Despues de explicarle como escoger un lote, Compartele el link tour virtual: \"https://villacalamari.co/tour-virtual-360\" e indicale que además del plano de lotes disponibles alli en el tour 360° podrá ver los lotes visualmente.\n- Esperar que cliente indique el  número de lote, sino te lo escribe desbes solicitarlo\n- Cuando el cliente te escriba el numero debe buscar precio en la tool \"Google Sheets\" usando formato por ejemplo: \"A09\"\n- Si el cliente pide que le des precio de 2 o mas lotes, por ejemplo: \"me interesa el lote \"A5 y A10\", Dale el precio de cada uno de los lotes en los que está interesado usando el mismo formato de cotización \n\n## Para lotes de la Manzana A, Usar exactamente este formato para cotizar:\nEl lote {Lote} lo podrás separar con tan solo 1 millón de pesos 🤩\n📐 Área: {Area m2}\n💰 Precio: {valor}\n💸 Cuota inicial(10%): {10% C.I}\n💸Financiacion cuota inicial(30 dias): {30 dias  \ncuota inicial}\n⌛ Saldo: {Cantidad de cuotas} cuotas de {Financiacion 90% restante}\n💷Si lo Pagas de Contado: {Pago de Contado}\n\n\n# CASOS ESPECIALES\n\n## MANEJO DE PRESUPUESTO\nSi cliente menciona presupuesto:\n1. Calcular capacidad de separación (1M)\n2. Calcular cuota inicial (10%)\n3. Determinar saldo para abono extra\n4. Calcular cuotas restantes que no sean mas de 36 cuotas, sino tiene la capacidad para terminar de pagar el lote en 36 cuotas dile \"lamentablemente no le alcanza para financiar el lote\"\n\n## AGENDAMIENTO\nSolicitar en este orden:\n1. Nombre completo\n2. Teléfono\n3. Email\n4. Horarios disponibles\n## Si el cliente te dice o te pide \"quiero ir hoy mismo a visitar el proyecto\", respondele al cliente que \"la asesora encargada en sala de ventas le pude dar esa información, llamando al +57 312 6026480\"\n\n## REDIRECCIÓN DE VENTAS\nPara propuestas comerciales:\n- Responder: \"Gracias por tu interés. Por favor envía tu propuesta a info@villacalamari.co\""}},"id":"e9a54d1d-5fdb-4476-9f8b-c73eedd34836","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1120,820]},{"parameters":{"descriptionType":"manual","toolDescription":"Llama a esta tool para buscar los links de imagenes una vez que te pasen el nombre de la imagen y la encuentres debes agregar al path https://chatwoot-nocodb.wfpqko.easypanel.host/download/noco/pma0al32aqxahbm/memu2sosjjvws7q/c695go424kc6c43/Storie contactenos - Villa Calamari_8qTYU.jpg\n\nEsto es un ejemplo del resultado que quiero que me pases","authentication":"nocoDbApiToken","operation":"getAll","projectId":"pma0al32aqxahbm","table":"memu2sosjjvws7q","limit":1,"options":{"fields":[],"where":"=(nombreArchivo,like,{{$fromAI('nombreImagen') }}%)"}},"type":"n8n-nodes-base.nocoDbTool","typeVersion":3,"position":[360,1160],"id":"2e22614a-6071-4294-a25a-a4f3c9ba6540","name":"NocoDB","disabled":true},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories_calamari","mode":"list","cachedResultName":"n8n_chat_histories_calamari"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[320,1420],"id":"04b36791-b7cd-4762-ad61-c5c165cab7ef","name":"Postgres"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[860,1180],"id":"b821f772-21d6-4b48-b1a6-3c828ba1e82e","name":"Calculator"},{"parameters":{"url":"=https://chatbot.agencybts.com/rails/active_storage/blobs/redirect/{{ $('Escuchando a ChatWoot').item.json.body.messages[0].attachments[0].data_url.split('/')['7'] }}/File.ogg","options":{}},"id":"7d0b4e4a-0f1f-4179-9ca2-9671eac47339","name":"Obtener Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,0]},{"parameters":{"assignments":{"assignments":[{"id":"0411cda2-d4ce-45a5-928b-362452ae8253","name":"message.message","value":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].content }}","type":"string"},{"id":"581debb7-dc5f-4e89-ad73-a4c31b2bf22c","name":"message.conversation_id","value":"={{ $json.conversation_id }}","type":"number"},{"id":"398a353a-3754-486a-879f-6253645d5c13","name":"message.message_id","value":"={{ $json.message_id }}","type":"number"},{"id":"89f1406a-64c8-4c52-af08-2358ff959bda","name":"message.timestamp","value":"={{ $json.body.timestamp }}","type":"string"}]},"options":{}},"id":"12b0592e-65f4-46c6-a992-7d02be8f2be3","name":"Set Msg Text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1060,220]},{"parameters":{"assignments":{"assignments":[{"id":"0411cda2-d4ce-45a5-928b-362452ae8253","name":"chatinput","value":"={{ $json.text }}","type":"string"},{"id":"2b352238-f21e-4d10-926a-f26aa12aaafc","name":"conversation_id","value":"={{ $('Qué etiqueta tiene?').item.json.body.messages[0].conversation_id }}","type":"string"}]},"options":{}},"id":"a100b711-634e-41b4-8061-aec06f65bf81","name":"Set Msg Audio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2060,0]},{"parameters":{"method":"POST","url":"=https://chatbot.agencybts.com/api/v1/accounts/{{ $json.body.messages[0].account_id }}/conversations/{{ $json.body.messages[0].conversation_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Api-Access-Token","value":"35kV8XKFT6e4NE8dMkLFT5eu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\n    \"bot\"\n  ]\n}","options":{}},"id":"6c6818a2-e718-40ab-9bf7-c138ea7e63c8","name":"Set label=\"bot\"","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-680,-120]},{"parameters":{"amount":1},"id":"1f9de9fe-ac0c-473c-bde1-f15216b78883","name":"Espera que el audio se cargue","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1240,0],"webhookId":"945f959a-ef80-4153-953d-a56851d5d381"},{"parameters":{},"id":"5fb0251b-2cd5-4ae4-b54a-2efe1e219418","name":"No hace nada","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[60,680],"notesInFlow":true,"notes":"No escucha, debido a que ya pasó a un agente."},{"parameters":{},"id":"b29b41df-d9ba-4ef1-a45b-4519c62ecff6","name":"Merge | Mensaje del usuario","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2440,480]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.custom_attributes.bot }}","rightValue":"","operator":{"type":"boolean","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"No Existe"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92447c20-3e85-47d0-b18d-5195b4cecdd6","leftValue":"={{ $json.body.custom_attributes.bot }}","rightValue":"Off","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"bot"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68f660b6-b649-47b9-af88-35806f9120f7","leftValue":"={{ $json.body.custom_attributes.humano }}","rightValue":"human","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"human"}]},"options":{"fallbackOutput":0}},"id":"0ea8fcf0-f72b-4401-833d-4aadee7ca334","name":"Qué etiqueta tiene?","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-180,500]},{"parameters":{"operation":"push","list":"=buffer_busqueda_inmuebles:{{ $json.message.conversation_id }}","messageData":"={{ JSON.stringify($json.message) }}","tail":true},"id":"5369c3ba-201d-469a-97de-795be78beb5e","name":"Push, Mensaje, Buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1240,220]},{"parameters":{"operation":"get","propertyName":"mensaje","key":"=buffer_busqueda_inmuebles:{{ $('Set Msg Text').item.json.message.conversation_id }}","options":{}},"id":"b6e2db67-6fab-4711-ac64-68995ed88dae","name":"Get, Mensaje, Buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1440,220]},{"parameters":{},"id":"5ef1d02f-b5b8-42b2-b634-4f69d060b0dd","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1080,380]},{"parameters":{"amount":1},"id":"11be727d-0664-41cf-b8d7-072a2c714cc6","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1800,420],"webhookId":"35c36e0b-69e5-4edd-a970-21ec45a1d7af"},{"parameters":{"assignments":{"assignments":[{"id":"d3359f6e-cfa5-45b7-bbac-795bcff82822","name":"chatinput","value":"={{ $json.mensaje.map(value => JSON.parse(value).message).join('\\n') }}","type":"string"},{"id":"7971daa8-071b-42d8-8046-c0e71b850a06","name":"conversationId","value":"={{ $json.mensaje[0].split(',')[1].split(':')[1]}}","type":"string"}]},"options":{}},"id":"bf2baee2-7dbf-479c-90bb-2d6d899c254f","name":"Concatenar Mensajes","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2180,420]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51625fb1-ce29-4414-828d-778e12b2fe82","leftValue":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].attachments[0].file_type}}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Qué etiqueta tiene?').item.json.body.messages[0].content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"No hacer nada"}},"id":"accc83f5-f0bb-479c-b07b-d13fffa9aee7","name":"Valida el tipo de mensaje","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[780,180]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3146d8f8-7ad4-4bb6-a6db-c9255f1712eb","leftValue":"={{ JSON.parse($json.mensaje.first()).message_id }}","rightValue":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].id }}","operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Llegan mas mensajes, no hace nada..."},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f202f73-f35c-4954-b173-c1e90bc8423a","leftValue":"={{ JSON.parse($json.mensaje.last()).timestamp }}","rightValue":"={{ $now.minus(15,'seconds' ) }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Se cumplió la espera, Continuar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.mensaje.first()).message_id }}","rightValue":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].id }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Primer mensaje, Wait"}]},"options":{}},"id":"d13dd1bc-c0e9-4ebe-9a23-d3c9429e96d5","name":"Controla el buffer","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1620,240]},{"parameters":{"operation":"delete","key":"=buffer_busqueda_inmuebles:{{ $('Set Msg Text').item.json.message.conversation_id }}"},"id":"45e90cb0-fcdb-4cca-ac31-eaa89a4c15c6","name":"Borrar Buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2000,380]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"1af3d3e2-00da-4326-a9bc-5d676092d9ca","name":"OpenAI - Audio a Texto","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.5,"position":[1820,0]},{"parameters":{},"id":"b1ab22d6-bfb2-4c21-b2ca-1167abbffe52","name":"Están llegando mensajes en la ventana de 5  Segs","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1940,160]},{"parameters":{"httpMethod":"POST","path":"villacalamari","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-520,500],"id":"3010a161-6861-473c-baf8-51ab3dbaffa0","name":"Escuchando a ChatWoot","webhookId":"3d992ae3-c49e-456d-a79e-958951767cc4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa81f8f1-a737-4a33-a070-c3ac66183c76","leftValue":"={{ $json.body.messages[0].attachments[0].data_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[100,460],"id":"7c6cbb89-1228-46cc-8cc0-f8c7480d0453","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f67afaf-c371-4e81-b828-6c41128ef72f","leftValue":"={{ $json.output }}","rightValue":"https://drive.google.com","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1560,840],"id":"8ed565d3-51cd-44dd-a73e-2200bca0641a","name":"Switch"},{"parameters":{"method":"POST","url":"=https://chatbot.agencybts.com/api/v1/accounts/{{ $('Escuchando a ChatWoot').item.json.body.messages[0].account_id }}/conversations/{{ $('Escuchando a ChatWoot').item.json.body.id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"content","value":"={{ $json.output}}"}]},"options":{}},"id":"5aa59670-b872-419a-98b2-8ddb325b9ee6","name":"Respuesta a ChatWoot1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,1100]},{"parameters":{"assignments":{"assignments":[{"id":"0411cda2-d4ce-45a5-928b-362452ae8253","name":"message.message","value":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].content }}","type":"string"},{"id":"581debb7-dc5f-4e89-ad73-a4c31b2bf22c","name":"message.conversation_id","value":"={{ $json.conversation_id }}","type":"number"},{"id":"398a353a-3754-486a-879f-6253645d5c13","name":"message.message_id","value":"={{ $json.message_id }}","type":"number"},{"id":"89f1406a-64c8-4c52-af08-2358ff959bda","name":"message.timestamp","value":"={{ $json.body.timestamp }}","type":"string"}]},"options":{}},"id":"2a9e853f-0932-4565-9821-835f3e0f0a24","name":"Set Msg Text1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,1400]},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat_id:{{ $('Merge | Mensaje del usuario').item.json.conversationId }}","tableName":"n8n_chat_histories_calamari","contextWindowLength":75},"id":"e496d239-2d5c-4cac-80d3-d4e0db6dcc45","name":"Postgres Chat Memory1","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[720,1180]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.text }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4560,320],"id":"2247e51c-5b9e-4182-ae64-c57f44618a45","name":"Google Drive Descargar"},{"parameters":{"descriptionType":"manual","toolDescription":"Llama a esta tool para buscar los nombres y ID de los archivos, una vez que te pasen el nombre de los archivos y la encuentres, debes agregar la URL del archivo encontrado al path para despues ser descargado en el proximo nodo.","resource":"fileFolder","queryString":"={{ $fromAI('NombreArchivo') }}","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1KU2knzJiH8_98mRk6R16IgK1VvKlE2ge","mode":"list","cachedResultName":"chatboot","cachedResultUrl":"https://drive.google.com/drive/folders/1KU2knzJiH8_98mRk6R16IgK1VvKlE2ge"}},"options":{"fields":["name","id","webViewLink"]}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[1160,1180],"id":"a01064f3-9a1d-4a91-ad42-f46f428c70a7","name":"Google Drive"},{"parameters":{"method":"POST","url":"=https://chatbot.agencybts.com/api/v1/accounts/{{ $('Escuchando a ChatWoot').item.json.body.messages[0].account_id }}/conversations/{{ $('Escuchando a ChatWoot').item.json.body.id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"content","value":"={{ $json.output.replace(/(https)/g, ' $1') }}\n"}]},"options":{}},"id":"01b374cb-e107-46e3-862a-d1fc7f6afcbe","name":"Respuesta a ChatWoot2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3660,740]},{"parameters":{"method":"POST","url":"=https://chatbot.agencybts.com/api/v1/accounts/2/conversations/{{ $('Escuchando a ChatWoot').item.json.body.id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4780,320],"id":"70f90e93-ba5f-48f6-b785-ff5df680b7a2","name":"EnvioPDF"},{"parameters":{"httpMethod":"POST","path":"villacalamari","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-620,-380],"id":"8384e7b9-b28c-410e-9494-dac12804685a","name":"Escuchando a ChatWoot1","webhookId":"3d992ae3-c49e-456d-a79e-958951767cc4","disabled":true},{"parameters":{"url":"=https://chatbot.agencybts.com/api/v1/accounts/2/custom_attribute_definitions?attribute_model=0","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Api-Access-Token","value":"35kV8XKFT6e4NE8dMkLFT5eu"}]},"options":{}},"id":"0f8d9e00-b021-47db-8de3-5b9150b2f402","name":"Set label=\"bot\"2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-100]},{"parameters":{"url":"=https://chatbot.agencybts.com/api/v1/accounts/2/custom_attribute_definitions/3","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"5a244895-7d6c-47bb-a992-92cd29f2ce5c","name":"getBotAtribute","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,160],"credentials":{"httpHeaderAuth":{"id":"2qjNu8fefSMxrrRe","name":"token chatwoot"}}},{"parameters":{"method":"POST","url":"=https://chatbot.agencybts.com/api/v1/accounts/2/conversations/{{ $('Qué etiqueta tiene?').item.json.body.id }}/custom_attributes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Api-Access-Token","value":"35kV8XKFT6e4NE8dMkLFT5eu"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"custom_attributes\": {\n        \"bot\": true\n    }\n}","options":{}},"id":"ba95d56d-1773-4ae9-8b16-2394108a91a6","name":"SetAtributo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,160]},{"parameters":{"assignments":{"assignments":[{"id":"81b04bc2-5148-4dfa-ae84-fade0b5ac52b","name":"user_id","value":"={{ $('Escuchando a ChatWoot').item.json.body.contact_inbox.source_id }}","type":"string"},{"id":"506dd956-d283-4ae6-8432-53d3e3be5b13","name":"msg","value":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].processed_message_content }}","type":"string"},{"id":"caf30bd1-bebe-4ca5-a7ba-dadbeb430147","name":"conversation_id","value":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].conversation_id }}","type":"string"},{"id":"c5b9c5b1-f67f-4b37-a668-891506c671ba","name":"body.timestamp","value":"={{ $('Escuchando a ChatWoot').item.json.body.timestamp.toDateTime('s').toISO()  }}","type":"string"},{"id":"6ae22c37-9631-4dc6-b7f3-2e059408524a","name":"message_id","value":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].id }}","type":"number"}]},"options":{}},"id":"eb8af762-8041-403f-b0b9-9bdf5b9cbafb","name":"VarUsers","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,180]},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields2').item.json.output }}","messages":{"messageValues":[{"message":"Estas encargado de sacar el ID del archivo de google drive por ejemplo \"1XLGfHl5M4w8PJkMH1n9Ha4XK73l80Enp\" Necesito que tu output sea solo el id del archivo o link de google drive nada mas "}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[4160,320],"id":"88ab291d-26d7-48d5-890a-0f025614f4ed","name":"Basic LLM Chain"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"user","message":"={{ $json.body.messages[0].content }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[280,680],"id":"756b8af0-9df3-47e0-9f5c-d18c1c534ff2","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat_id:{{ $json.body.id }}","tableName":"n8n_chat_histories_calamari","contextWindowLength":50},"id":"d3557ae3-f19b-4a22-8892-ef1c7b40f7e9","name":"Postgres Chat Memory2","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[440,840]},{"parameters":{"httpMethod":"POST","path":"outmsg","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-560,940],"id":"1b914615-5fa2-49e8-b7ce-c86854e2f65e","name":"Webhook","webhookId":"8426ffba-8c80-47c0-bb1a-7a9d48778a27","disabled":true},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"={{ $json.body.messages[0].content }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[140,920],"id":"99af4bff-d80f-46e3-92bb-fcf47e1f2df6","name":"Chat Memory Manager2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5c7050e7-ab05-473e-ab26-631893347365","leftValue":"={{ $json.body.custom_attributes.humano }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,940],"id":"3c2988b3-8097-4a03-ad18-965ff5da9c4e","name":"If1"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-320,940],"id":"9a29c762-983d-4fb9-9791-8378f8e75419","name":"Wait1","webhookId":"f4bee5c7-2b91-4262-943b-d28f57b3c1f0"},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"dc2999e3-9626-41ac-ba59-139ed5c20f2d","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1300,1360]},{"parameters":{"options":{}},"id":"754147c1-a804-4110-9ed6-e6f576a7e5e9","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1640,1400]},{"parameters":{"assignments":{"assignments":[{"id":"49cf55b1-c427-4ae6-a987-b624c47e57cc","name":"output","value":"={{ $json.output.replace(/\\*\\*/g, '*').replace(/[¿¡()\\[\\]]/g, '').split('\\n') }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,740],"id":"a9309b3a-3c47-4cf0-99e5-87bdb81e7ad0","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2040,740],"id":"8f9cdcd7-d5ca-4b89-a3f8-b7ebb87d1318","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9efd05e0-5121-478e-89d0-166992d64531","leftValue":"={{ $json.output }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2400,740],"id":"e40828e1-5998-4a78-82c6-a9bd331ae0bc","name":"If2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3020,720],"id":"aef14596-d0b3-493c-9b3d-69b145d482e9","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[3280,400],"id":"76649483-a0e8-4bf5-9942-98fafee89f61"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5300,740],"id":"0194effd-1171-44b6-a783-431be0bdf211","name":"Wait3","webhookId":"4be2768c-4d9a-4f60-accd-07ef39ff26d8"},{"parameters":{"assignments":{"assignments":[{"id":"f4523cb1-5040-435c-8873-2bbef67f3e00","name":"output","value":"={{ $json.output.replace(/(https)/g, ' $1') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3700,320],"id":"71f61265-e12e-406c-ab81-edecdd150566","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"09477a9d-84ca-4c27-9d05-f0018af40c60","name":"output","value":"={{ $json.output.replace(/(https)/g, ' $1') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2760,720],"id":"c9c50ea9-f0e6-4f75-8247-69b8125775df","name":"Edit Fields3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4100,520],"id":"64c5f366-1079-4f41-abdd-39030de1f4af","name":"OpenAI Chat Model4"},{"parameters":{"method":"POST","url":"=https://chatbot.agencybts.com/api/v1/accounts/{{ $node['Escuchando a ChatWoot'].json.body.messages[0].account_id }}/conversations/{{ $node['Escuchando a ChatWoot'].json.body.id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"content","value":"={{ $json.output.split('http')[0].trim() }}\n"}]},"options":{}},"id":"ce40e1af-bf4d-48a7-bcea-cb13044ae09d","name":"Respuesta a ChatWoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3960,320]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"drive.google.com","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF-VIDEO-IMG"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3400,620],"id":"b8d47840-6e57-4724-977a-240f8567d05b","name":"Switch1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5040,320],"id":"3585f9c2-07af-4afd-a70f-45640950a9d7","name":"Wait4","webhookId":"029607b4-1a0b-4a74-9536-73e34059e404"},{"parameters":{"name":"base_de_conocimiento","description":"Devuelve la información más relevante y actualizada sobre Villa Calamari basada en la consulta del agente. Incluye detalles sobre:\n- Informacon general del proyecto Villa Calamari\n- Características del proyecto\n- Servicios y amenidades\n- Precios y formas de pago unicamente de la Etapa 1\n- Ubicación y acceso\n- Promociones vigentes\n- Ventajas competitivas","topK":10},"id":"30c0a75d-34e7-4939-a2a8-892ed2999b3c","name":"base_de_conocimiento","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1340,1200]},{"parameters":{"name":"precio_manzana_a","description":"Llama a esta tool para ver los precios de los Lotes de la Manza A","workflowId":{"__rl":true,"value":"tOQPcXcIc2bLw8Jk","mode":"id"}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[1020,1180],"id":"28b38c38-a3c2-414c-984c-66b57f5f676e","name":"precio_manzana_a"},{"parameters":{"options":{}},"id":"b7e1d979-b1f0-4778-b728-1bb5bf15dce8","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[1340,1520]},{"parameters":{"model":"deepseek-r1-distill-llama-70b","options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[720,860],"id":"7ecdc0b6-fa61-47b5-806c-45570aab6775","name":"Groq Chat Model"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"NocoDB":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Obtener Audio":{"main":[[{"node":"OpenAI - Audio a Texto","type":"main","index":0}]]},"Set Msg Text":{"main":[[{"node":"Push, Mensaje, Buffer","type":"main","index":0}]]},"Set Msg Audio":{"main":[[{"node":"Merge | Mensaje del usuario","type":"main","index":0}]]},"Espera que el audio se cargue":{"main":[[{"node":"Obtener Audio","type":"main","index":0}]]},"No hace nada":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Merge | Mensaje del usuario":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Qué etiqueta tiene?":{"main":[[{"node":"getBotAtribute","type":"main","index":0}],[{"node":"If","type":"main","index":0}],[{"node":"No hace nada","type":"main","index":0}]]},"Push, Mensaje, Buffer":{"main":[[{"node":"Get, Mensaje, Buffer","type":"main","index":0}]]},"Get, Mensaje, Buffer":{"main":[[{"node":"Controla el buffer","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get, Mensaje, Buffer","type":"main","index":0}]]},"Concatenar Mensajes":{"main":[[{"node":"Merge | Mensaje del usuario","type":"main","index":1}]]},"Valida el tipo de mensaje":{"main":[[{"node":"Espera que el audio se cargue","type":"main","index":0}],[{"node":"Set Msg Text","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Controla el buffer":{"main":[[{"node":"Están llegando mensajes en la ventana de 5  Segs","type":"main","index":0}],[{"node":"Borrar Buffer","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Borrar Buffer":{"main":[[{"node":"Concatenar Mensajes","type":"main","index":0}]]},"OpenAI - Audio a Texto":{"main":[[{"node":"Set Msg Audio","type":"main","index":0}]]},"Escuchando a ChatWoot":{"main":[[{"node":"Qué etiqueta tiene?","type":"main","index":0}]]},"If":{"main":[[{"node":"VarUsers","type":"main","index":0}],[{"node":"VarUsers","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Respuesta a ChatWoot1","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Drive Descargar":{"main":[[{"node":"EnvioPDF","type":"main","index":0}]]},"Google Drive":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Respuesta a ChatWoot2":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"EnvioPDF":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Escuchando a ChatWoot1":{"main":[[{"node":"Set label=\"bot\"2","type":"main","index":0}]]},"getBotAtribute":{"main":[[{"node":"SetAtributo","type":"main","index":0}]]},"SetAtributo":{"main":[[{"node":"VarUsers","type":"main","index":0}]]},"VarUsers":{"main":[[{"node":"Valida el tipo de mensaje","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Google Drive Descargar","type":"main","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0},{"node":"Chat Memory Manager2","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Chat Memory Manager2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"base_de_conocimiento","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"base_de_conocimiento","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Replace Me","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Respuesta a ChatWoot","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Respuesta a ChatWoot":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Respuesta a ChatWoot2","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"base_de_conocimiento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"precio_manzana_a":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Escuchando a ChatWoot":[{"json":{"headers":{"host":"autowebhook.agencybts.com","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89","content-length":"1912","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"5.161.102.139","x-forwarded-host":"autowebhook.agencybts.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"a0605fc8ba96","x-real-ip":"5.161.102.139"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":1224,"contact_id":1194,"inbox_id":28,"source_id":"595985624358","created_at":"2025-01-15T13:49:40.564Z","updated_at":"2025-01-15T13:49:40.564Z","hmac_verified":false,"pubsub_token":"8enhhSqUKfAZfxX3dwH9R5TS"},"id":70,"inbox_id":28,"messages":[{"id":9255,"content":"Cuál es el lote más barato","account_id":2,"inbox_id":28,"conversation_id":70,"message_type":0,"created_at":1738303273,"updated_at":"2025-01-31T06:01:13.319Z","private":false,"status":"sent","source_id":"wamid.HBgMNTk1OTg1NjI0MzU4FQIAEhggRjVCNjI4QjhGQUE1OTMzODNFM0FCRkU4Mzk2MEVENjQA","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":1194,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Cuál es el lote más barato","sentiment":{},"conversation":{"assignee_id":6,"unread_count":10,"last_activity_at":1738303273,"contact_inbox":{"source_id":"595985624358"}},"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":1194,"identifier":null,"name":"+595 985 624358","phone_number":"+595985624358","thumbnail":"","type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":1194,"identifier":null,"name":"+595 985 624358","phone_number":"+595985624358","thumbnail":"","type":"contact"},"assignee":{"id":6,"name":"BOT","available_name":"BOT","avatar_url":"","type":"user","availability_status":null,"thumbnail":""},"team":null,"hmac_verified":false},"status":"open","custom_attributes":{"bot":true},"snoozed_until":null,"unread_count":10,"first_reply_created_at":"2025-01-15T13:49:56.411Z","priority":null,"waiting_since":1738303273,"agent_last_seen_at":1738298863,"contact_last_seen_at":0,"last_activity_at":1738303273,"timestamp":1738303273,"created_at":1736948980,"event":"automation_event.message_created"},"webhookUrl":"https://autowebhook.agencybts.com/webhook/villacalamari","executionMode":"production"}}],"Escuchando a ChatWoot1":[{"json":{"headers":{"host":"auto.agencybts.com","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89","content-length":"1791","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"5.161.102.139","x-forwarded-host":"auto.agencybts.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"48137f9f19c9","x-real-ip":"5.161.102.139"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":74,"contact_id":53,"inbox_id":6,"source_id":"573014891607","created_at":"2025-01-04T18:46:29.251Z","updated_at":"2025-01-04T18:46:29.251Z","hmac_verified":false,"pubsub_token":"LjiekUBQE6Vrz1t5YjZ36nZk"},"id":7,"inbox_id":6,"messages":[{"id":514,"content":"Sr Luis, está en linea?\n","account_id":2,"inbox_id":6,"conversation_id":7,"message_type":1,"created_at":1736378385,"updated_at":"2025-01-08T23:19:45.922Z","private":false,"status":"sent","source_id":null,"content_type":"text","content_attributes":{},"sender_type":"User","sender_id":2,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Sr Luis, está en linea?\n","sentiment":{},"conversation":{"assignee_id":2,"unread_count":0,"last_activity_at":1736378385,"contact_inbox":{"source_id":"573014891607"}},"sender":{"id":2,"name":"Francisco Prieto","available_name":"Villa Calamari","avatar_url":"","type":"user","availability_status":null,"thumbnail":""}}],"labels":["bot"],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":53,"identifier":null,"name":"Luis David Morales Brito","phone_number":"+573014891607","thumbnail":"","type":"contact"},"assignee":{"id":2,"name":"Francisco Prieto","available_name":"Villa Calamari","avatar_url":"","type":"user","availability_status":null,"thumbnail":""},"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":0,"first_reply_created_at":"2025-01-04T20:47:09.044Z","priority":null,"waiting_since":0,"agent_last_seen_at":1736378385,"contact_last_seen_at":0,"last_activity_at":1736378385,"timestamp":1736378385,"created_at":1736023610,"event":"automation_event.message_created"},"webhookUrl":"https://autowebhook.agencybts.com/webhook/villacalamari","executionMode":"production"}}],"Set label=\"bot\"2":[{"json":{"id":3,"attribute_display_name":"BOT","attribute_display_type":"checkbox","attribute_description":"CheckBot","attribute_key":"bot","regex_pattern":null,"regex_cue":null,"attribute_values":[],"attribute_model":"conversation_attribute","default_value":null,"created_at":"2025-01-15T12:49:56.617Z","updated_at":"2025-01-15T12:49:56.617Z"}},{"json":{"id":4,"attribute_display_name":"HUMANO","attribute_display_type":"checkbox","attribute_description":"Coversacion con agente","attribute_key":"humano","regex_pattern":null,"regex_cue":null,"attribute_values":[],"attribute_model":"conversation_attribute","default_value":null,"created_at":"2025-01-15T12:50:22.141Z","updated_at":"2025-01-15T12:50:22.141Z"}}],"Webhook":[{"json":{"headers":{"host":"autowebhook.agencybts.com","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89","content-length":"1807","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"5.161.102.139","x-forwarded-host":"autowebhook.agencybts.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"48137f9f19c9","x-real-ip":"5.161.102.139"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":1222,"contact_id":53,"inbox_id":28,"source_id":"573014891607","created_at":"2025-01-15T01:45:04.411Z","updated_at":"2025-01-15T01:45:04.411Z","hmac_verified":false,"pubsub_token":"DGifTsArVr1794iAxyMQzN6g"},"id":67,"inbox_id":28,"messages":[{"id":6401,"content":"Estas ahi?","account_id":2,"inbox_id":28,"conversation_id":67,"message_type":1,"created_at":1737434606,"updated_at":"2025-01-21T04:43:26.900Z","private":false,"status":"sent","source_id":null,"content_type":"text","content_attributes":{},"sender_type":"User","sender_id":2,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Estas ahi?","sentiment":{},"conversation":{"assignee_id":2,"unread_count":0,"last_activity_at":1737434606,"contact_inbox":{"source_id":"573014891607"}},"sender":{"id":2,"name":"Francisco Prieto","available_name":"Villa Calamari","avatar_url":"","type":"user","availability_status":null,"thumbnail":""}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":53,"identifier":null,"name":"Luis David Morales Brito","phone_number":"+573014891607","thumbnail":"","type":"contact"},"assignee":{"id":2,"name":"Francisco Prieto","available_name":"Villa Calamari","avatar_url":"","type":"user","availability_status":null,"thumbnail":""},"team":{"id":1,"name":"ventas"},"hmac_verified":false},"status":"open","custom_attributes":{"bot":true,"humano":false},"snoozed_until":null,"unread_count":0,"first_reply_created_at":"2025-01-15T03:15:45.166Z","priority":null,"waiting_since":0,"agent_last_seen_at":1737434606,"contact_last_seen_at":0,"last_activity_at":1737434606,"timestamp":1737434606,"created_at":1736910945,"event":"automation_event.message_created"},"webhookUrl":"https://autowebhook.agencybts.com/webhook/outmsg","executionMode":"production"}}]},"versionId":"33f28184-6efe-44fe-ba98-03f867b94b77","triggerCount":0,"tags":[]}