sub-tarea---enlocar-msg-dg5lZhcTnBAZzVc4.json
{"createdAt":"2025-06-28T03:56:01.985Z","updatedAt":"2025-07-07T00:54:34.934Z","id":"dg5lZhcTnBAZzVc4","name":"SUB TAREA - ENLOCAR MSG","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"37fa4c10-4aa3-4c88-8793-c66f540ea575","leftValue":"={{ JSON.parse($json.message.last()).timestamp}}","rightValue":"={{ $now.minus(1,'seconds').toLocal().toISO() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"seguir"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"14670af8-79bb-463d-b32c-345a5acc391b","leftValue":"={{ JSON.parse($json.message.last()).idmsg }}","rightValue":"={{ $('Datos').item.json.msg.idmsg }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[540,20],"id":"b47c0fe1-b505-4546-9558-67528aec71a9","name":"Switch"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[800,180],"id":"fa345062-1c2e-411e-88ad-0a7315b96c44","name":"Wait","webhookId":"31ebb3ff-4ccd-4bf1-ac16-b2dd2061d3b6"},{"parameters":{"fieldToSplitOut":"message","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1040,-100],"id":"a1556ca2-3a72-4125-90fb-5d9f4caa4222","name":"Split Out1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"726ef588-43c5-472e-89e8-a5bfb7656bba","leftValue":"={{ $json.type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cb854e2-c9dc-45e9-b6aa-5f6c0266b561","leftValue":"={{ $json.type }}","rightValue":"voice","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f544afa-8d5d-4f9c-b46f-78562d0c4bd8","leftValue":"={{ $json.type }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"extendedTextMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79edb828-39df-4ebc-a555-36e2e44a2aaa","leftValue":"={{ $json.type }}","rightValue":"reply","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Button"}]},"options":{}},"id":"6870ea46-2d65-4314-9653-315d7f3c1a2d","name":"Message Type1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1540,-120]},{"parameters":{"assignments":{"assignments":[{"id":"b7d210f0-6a18-456d-9e89-aa28f548b2a0","name":"body.data.message.base64","value":"={{ $('Datos').item?.json?.msg?.base64 || $json.content}}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"a0849377-ec82-4666-b709-924daf209c59","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1720,100]},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"es"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2040,100],"id":"b1c5ea57-e957-4250-a33d-264794d68513","name":"Transcribir","credentials":{"openAiApi":{"id":"tpho37KNAAX388pI","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"592a9044-042e-4906-a512-1dca3c55cd6a","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"1b82679b-242a-47f8-a614-662442de52ac","name":"timestamp","value":"={{ $('Edit Fields1').item.json.timestamp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,100],"id":"dc5d93b6-5b12-41bc-a66e-3db9dc2b23e3","name":"text"},{"parameters":{"assignments":{"assignments":[{"id":"592a9044-042e-4906-a512-1dca3c55cd6a","name":"text","value":"={{ $('JSON Parse').item?.json?.content ||$json.button  }}","type":"string"},{"id":"1b82679b-242a-47f8-a614-662442de52ac","name":"timestamp","value":"={{ $('JSON Parse').item.json.timestamp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1860,-300],"id":"14916505-d6c4-4f43-b0d7-e2c4f22b61fc","name":"text1"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.message }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,-100],"id":"794f6fa9-ec66-4449-993f-45c0dd03ca6b","name":"JSON Parse"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2420,-60],"id":"4438cdc3-1adc-47e4-8417-7b2f0e98a4ee","name":"Merge"},{"parameters":{"operation":"push","list":"=msg:{{ $json?.msg?.telefono || $json.list[0].Telefono }}","messageData":"={{ JSON.stringify($json.msg) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[40,20],"id":"77b642cb-0eec-4abd-86a2-cbaa60afee0a","name":"Pushea msj","credentials":{"redis":{"id":"f1mfRViKXHypdB9h","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"message","key":"=msg:{{ $('Datos').item.json.msg.telefono }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[300,20],"id":"5bba7504-f4e7-47f4-952b-efb3ccfb8886","name":"getMsg","credentials":{"redis":{"id":"f1mfRViKXHypdB9h","name":"Redis account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-280,20],"id":"b5ce89c9-e803-4475-8270-054082219cbc","name":"Datos"},{"parameters":{"operation":"delete","key":"=msg:{{ JSON.parse($json.message.last()).telefono}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[800,-100],"id":"935aa26d-81bc-4b0b-9566-5064375513a6","name":"Delete","credentials":{"redis":{"id":"f1mfRViKXHypdB9h","name":"Redis account"}}},{"parameters":{"url":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1880,100],"id":"8f785443-fab2-49f4-919d-05228ac4272d","name":"HTTP Request"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[80,-560],"id":"5105c926-2cb5-4b52-83aa-d5c168d23cba","name":"Wait1","webhookId":"31ebb3ff-4ccd-4bf1-ac16-b2dd2061d3b6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"726ef588-43c5-472e-89e8-a5bfb7656bba","leftValue":"={{ $json.type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cb854e2-c9dc-45e9-b6aa-5f6c0266b561","leftValue":"={{ $json.type }}","rightValue":"voice","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f544afa-8d5d-4f9c-b46f-78562d0c4bd8","leftValue":"={{ $json.type }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"extendedTextMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79edb828-39df-4ebc-a555-36e2e44a2aaa","leftValue":"={{ $json.type }}","rightValue":"reply","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Button"}]},"options":{}},"id":"6436ecec-776d-4596-9825-a483b08e1fc9","name":"Message Type","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1300,-700]},{"parameters":{"assignments":{"assignments":[{"id":"b7d210f0-6a18-456d-9e89-aa28f548b2a0","name":"body.data.message.base64","value":"={{ $('Datos').item?.json?.msg?.base64 || $json.content}}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"7b735432-dcc5-414d-aa7e-e2ac8360b700","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1480,-480]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1800,-480],"id":"5e37d4c0-722a-452b-a0a2-5cb7b6e06526","name":"Transcribir1","credentials":{"openAiApi":{"id":"tpho37KNAAX388pI","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"592a9044-042e-4906-a512-1dca3c55cd6a","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"1b82679b-242a-47f8-a614-662442de52ac","name":"timestamp","value":"={{ $('Edit Fields').item.json.timestamp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1960,-480],"id":"ad76c017-0403-47e9-a972-10f11864a497","name":"text2"},{"parameters":{"assignments":{"assignments":[{"id":"592a9044-042e-4906-a512-1dca3c55cd6a","name":"text","value":"={{ $('JSON Parse1').item?.json?.content ||$json.button  }}","type":"string"},{"id":"1b82679b-242a-47f8-a614-662442de52ac","name":"timestamp","value":"={{ $('JSON Parse1').item.json.timestamp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1620,-880],"id":"a2fad4f6-f9b4-4559-8978-be323d1cf981","name":"text3"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.message }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,-560],"id":"0fd6568b-25e9-430b-8745-3ce0cc73a82f","name":"JSON Parse1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2180,-640],"id":"2ff826f8-666d-4852-9f48-7774d1888c04","name":"Merge1"},{"parameters":{"operation":"push","list":"=msg:{{ $json?.msg?.telefono || $json.list[0].Telefono }}","messageData":"={{ JSON.stringify($json.msg.content) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-180,-560],"id":"27abe42a-08f4-4deb-a1a7-69332ef3f466","name":"Pushea msj1","credentials":{"redis":{"id":"f1mfRViKXHypdB9h","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"message","key":"=msg:{{ $('Datos').item.json.msg.telefono }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[340,-560],"id":"7c8c098d-2055-48b8-b578-f9356c4e717d","name":"getMsg1","credentials":{"redis":{"id":"f1mfRViKXHypdB9h","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=msg:{{ JSON.parse($json.message.last()).telefono}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[580,-400],"id":"a943adbd-c54c-4c58-96ff-a54c4ce89621","name":"Delete1","credentials":{"redis":{"id":"f1mfRViKXHypdB9h","name":"Redis account"}}},{"parameters":{"url":"={{ $json.content }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1640,-480],"id":"120a8aa8-ebb9-4a2d-ad1c-9b9fd484c071","name":"HTTP Request1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a2936304-5373-4b98-8128-f714d77fa1c5","leftValue":"response","rightValue":"={{ $json.message.join('') }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[620,-560],"id":"9de3787e-338c-4f9f-8045-e62bc6c75517","name":"If"}],"connections":{"Switch":{"main":[[{"node":"Delete","type":"main","index":0}],[],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"getMsg","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"JSON Parse","type":"main","index":0}]]},"Message Type1":{"main":[[{"node":"text1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"text1","type":"main","index":0}],[{"node":"text1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Transcribir":{"main":[[{"node":"text","type":"main","index":0}]]},"JSON Parse":{"main":[[{"node":"Message Type1","type":"main","index":0}]]},"text1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"text":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Pushea msj":{"main":[[{"node":"getMsg","type":"main","index":0}]]},"getMsg":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Datos":{"main":[[{"node":"Pushea msj","type":"main","index":0}]]},"Delete":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Transcribir","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"getMsg1","type":"main","index":0}]]},"Message Type":{"main":[[{"node":"text3","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"text3","type":"main","index":0}],[{"node":"text3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Transcribir1":{"main":[[{"node":"text2","type":"main","index":0}]]},"text2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"text3":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"JSON Parse1":{"main":[[{"node":"Message Type","type":"main","index":0}]]},"Pushea msj1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"getMsg1":{"main":[[{"node":"If","type":"main","index":0}]]},"Delete1":{"main":[[]]},"HTTP Request1":{"main":[[{"node":"Transcribir1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Wait1":[{"json":{"msg":{"telefono":"5492254423359","nombre":null,"type":"voice","ListaResponse":"\n","content":"https://s3.eu-central-1.wasabisys.com/in-files/5492254606018/oga-a2bf8c6f0b45ebce9902f50e72733962-80fe04fec3dfb93f.oga\n\n","timestamp":"2025-07-02T19:38:39.000-03:00","idmsg":"or.MbwtF686ZAvUOcnM5Yg-gP4E_sPfuT8","row_id_fecha":null,"titulo_categoria":"","eventId":null,"location":{"latitude":null,"longitude":null},"off":"游릭 Derivacion con un representante, a partir de ahora hablar치 con una persona real 游릭","on":"游  Derivaci칩n con un Agente IA, a partir de ahora hablar치 con Mart칤n 游"},"id_cliente":11}}],"Pushea msj1":[{"json":{"msg":{"telefono":"5492254423359","nombre":null,"type":"voice","ListaResponse":"\n","content":"https://s3.eu-central-1.wasabisys.com/in-files/5492254606018/oga-a2bf8c6f0b45ebce9902f50e72733962-80fe04fec3dfb93f.oga\n\n","timestamp":"2025-07-02T19:38:39.000-03:00","idmsg":"or.MbwtF686ZAvUOcnM5Yg-gP4E_sPfuT8","row_id_fecha":null,"titulo_categoria":"","eventId":null,"location":{"latitude":null,"longitude":null},"off":"游릭 Derivacion con un representante, a partir de ahora hablar치 con una persona real 游릭","on":"游  Derivaci칩n con un Agente IA, a partir de ahora hablar치 con Mart칤n 游"},"id_cliente":11}}],"getMsg1":[{"json":{"message":["{\"telefono\":\"5492254423359\",\"nombre\":null,\"type\":\"voice\",\"ListaResponse\":\"\\n\",\"content\":\"https://s3.eu-central-1.wasabisys.com/in-files/5492254606018/oga-a2bf8c6f0b45ebce9902f50e72733962-80fe04fec3dfb93f.oga\\n\\n\",\"timestamp\":\"2025-07-02T19:38:39.000-03:00\",\"idmsg\":\"or.MbwtF686ZAvUOcnM5Yg-gP4E_sPfuT8\",\"row_id_fecha\":null,\"titulo_categoria\":\"\",\"eventId\":null,\"location\":{\"latitude\":null,\"longitude\":null},\"off\":\"游릭 Derivacion con un representante, a partir de ahora hablar치 con una persona real 游릭\",\"on\":\"游  Derivaci칩n con un Agente IA, a partir de ahora hablar치 con Mart칤n 游\"}","\"https://s3.eu-central-1.wasabisys.com/in-files/5492254606018/oga-a2bf8c6f0b45ebce9902f50e72733962-80fe04fec3dfb93f.oga\\n\\n\""]}}],"Datos":[{"json":{"msg":{"telefono":"5492254423359","nombre":null,"type":"text","ListaResponse":"\n","content":"https://casa.mercadolibre.com.ar/MLA-2086882462-casa-cabana-bosque-cerca-playas-sur-punta-mogotes-alquiler-temporal-duplex-_JM#polycard_client=search-nordic&position=1&search_layout=grid&type=item&trackihttps://casa.mercadolibre.com.ar/MLA-2086882462-casa-cabana-bosque-cerca-playas-sur-punta-mogotes-alquiler-temporal-duplex-_JM#polycard_client=search-nordic&position=1&search_layout=grid&type=item&tracki\n\n","timestamp":"2025-07-05T03:40:34.000-03:00","idmsg":"q.0S.PHhuacXRTx1NMAOZA-gLsE_sPfuT8","row_id_fecha":null,"titulo_categoria":"","eventId":null,"location":{"latitude":null,"longitude":null},"off":"游릭 Derivacion con un representante, a partir de ahora hablar치 con una persona real 游릭","on":"游  Derivaci칩n con un Agente IA, a partir de ahora hablar치 con Mart칤n 游","cliente":"[{\"Id\":19,\"Telefono\":\"5492254423359\",\"pushname\":\"Fer { }\",\"key\":\"cda602f4-a1bc-4c58-9356-63c57ec873ff\",\"bot_estado\":\"on\",\"Correo\":null,\"Nombre\":null}]"},"id_cliente":19}}]},"versionId":"ee13c8f9-1894-474e-bbda-97dc14d7e8ef","triggerCount":0,"tags":[]}