vectorizar---master-Mfn4mSugQxgxQKOV.json
{"createdAt":"2025-02-12T23:43:16.004Z","updatedAt":"2025-02-17T18:56:23.951Z","id":"Mfn4mSugQxgxQKOV","name":"VECTORIZAR - MASTER","active":false,"nodes":[{"parameters":{"url":"=https://chatwoot.royalinmuebles.com/rails/active_storage/blobs/redirect/{{ $('Escuchando a ChatWoot').item.json.body.messages[0].attachments[0].data_url.split('/')['7'] }}/File.ogg","options":{}},"id":"45a3c683-a627-4db2-8cbf-317cd2fba3d5","name":"Obtener Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,-140]},{"parameters":{"assignments":{"assignments":[{"id":"0411cda2-d4ce-45a5-928b-362452ae8253","name":"message.message","value":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].content }}","type":"string"},{"id":"581debb7-dc5f-4e89-ad73-a4c31b2bf22c","name":"message.conversation_id","value":"={{ $json.conversation_id }}","type":"number"},{"id":"398a353a-3754-486a-879f-6253645d5c13","name":"message.message_id","value":"={{ $json.message_id }}","type":"number"},{"id":"89f1406a-64c8-4c52-af08-2358ff959bda","name":"message.timestamp","value":"={{ $json.body.timestamp }}","type":"string"}]},"options":{}},"id":"fb366a51-de67-4259-9131-87ad020a4c9e","name":"Set Msg Text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,160]},{"parameters":{"assignments":{"assignments":[{"id":"0411cda2-d4ce-45a5-928b-362452ae8253","name":"chatinput","value":"={{ $json.text }}","type":"string"},{"id":"2b352238-f21e-4d10-926a-f26aa12aaafc","name":"conversation_id","value":"={{ $('Qué etiqueta tiene?').item.json.body.messages[0].conversation_id }}","type":"string"}]},"options":{}},"id":"b55123a3-8f88-4adc-be31-457aad17ccef","name":"Set Msg Audio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1460,-140]},{"parameters":{"assignments":{"assignments":[{"id":"81b04bc2-5148-4dfa-ae84-fade0b5ac52b","name":"user_id","value":"={{ $('Escuchando a ChatWoot').item.json.body.contact_inbox.source_id }}","type":"string"},{"id":"506dd956-d283-4ae6-8432-53d3e3be5b13","name":"msg","value":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].processed_message_content }}","type":"string"},{"id":"caf30bd1-bebe-4ca5-a7ba-dadbeb430147","name":"conversation_id","value":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].conversation_id }}","type":"string"},{"id":"c5b9c5b1-f67f-4b37-a668-891506c671ba","name":"body.timestamp","value":"={{ $('Escuchando a ChatWoot').item.json.body.timestamp.toDateTime('s').toISO()  }}","type":"string"},{"id":"6ae22c37-9631-4dc6-b7f3-2e059408524a","name":"message_id","value":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].id }}","type":"number"}]},"options":{}},"id":"f6364dd6-c5e2-4404-ae50-6c4bad3fb4cf","name":"Set Variables de Usuario","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,280]},{"parameters":{"options":{"temperature":0.3}},"id":"791027ce-8bb5-4e2b-b1ff-c036c82cb474","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2280,-360]},{"parameters":{"method":"POST","url":"=https://chatwoot.royalinmuebles.com/api/v1/accounts/{{ $('Escuchando a ChatWoot').item.json.body.messages[0].account_id }}/conversations/{{ $('Escuchando a ChatWoot').item.json.body.id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"content","value":"={{ $json.output }}"}]},"options":{}},"id":"c43042e1-9947-4b85-b749-25dd728aaefa","name":"Respuesta a ChatWoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3320,-640],"credentials":{"httpHeaderAuth":{"id":"2qjNu8fefSMxrrRe","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.royalinmuebles.com/api/v1/accounts/{{ $json.body.messages[0].account_id }}/conversations/{{ $json.body.messages[0].conversation_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Api-Access-Token","value":"yy5kVraeaAM4eavicrocr5bs"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\n    \"bot\"\n  ]\n}","options":{}},"id":"46169dbc-83ec-4b1a-9d9a-21211f7d46ee","name":"Set label=\"bot\"","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-60,20]},{"parameters":{"amount":1},"id":"7110bdf1-2c43-45b4-b8a3-89f115e5cded","name":"Espera que el audio se cargue","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[860,-140],"webhookId":"945f959a-ef80-4153-953d-a56851d5d381"},{"parameters":{},"id":"9937e918-f4ec-4da0-97e9-941b39419cae","name":"No hace nada","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-80,500],"notesInFlow":true,"notes":"No escucha, debido a que ya pasó a un agente."},{"parameters":{"name":"recomendador_de_inmuebles","description":"Llama esta tool para tener una lista de inmuebles recomendados de una base de datos vectorial.","workflowId":{"__rl":true,"value":"Pf9D7GrVwyLF4maa","mode":"id"},"fields":{"values":[{}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\"type\": \"object\",\n\"properties\": {\n\t\"positive_example\": {\n      \"type\": \"string\",\n      \"description\": \"A string with a real state property description matching the user's positive recommendation request\"\n    },\n    \"negative_example\": {\n      \"type\": \"string\",\n      \"description\": \"A string with a real state property description matching the user's negative anti-recommendation reuqest\"\n    }\n}\n}"},"id":"6437e570-1933-4ecf-8e10-636cab1dcfac","name":"Recomendador","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2720,-360]},{"parameters":{},"id":"9c95d2a5-2382-46b8-94f4-e14f7d12e088","name":"Merge | Mensaje del usuario","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1880,-120]},{"parameters":{"name":"Pasar_conversacion_a_humano","description":"Usa esta tool cuando sea el momento de pasar la conversación a un humano.","workflowId":{"__rl":true,"value":"h8wvYfTbfRW5016L","mode":"id"},"fields":{"values":[{"name":"account_id","type":"numberValue","numberValue":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].account_id }}"},{"name":"conversation_id","type":"numberValue","numberValue":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].conversation_id }}"}]}},"id":"3d4599ab-70cf-403f-bcca-1d41f794761e","name":"pasar_conversacion_a_humano","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2920,-380]},{"parameters":{},"id":"c271774b-1bb0-44d4-9fdf-ad3cc9f2a4a4","name":"Fin","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3520,-640]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.labels[0] }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"No Existe"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92447c20-3e85-47d0-b18d-5195b4cecdd6","leftValue":"={{ $json.body.labels }}","rightValue":"bot","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"bot"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68f660b6-b649-47b9-af88-35806f9120f7","leftValue":"={{ $json.body.labels }}","rightValue":"human","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"renameOutput":true,"outputKey":"human"}]},"options":{}},"id":"f8f5376b-7bbe-4fd6-b9c5-c640315c7a68","name":"Qué etiqueta tiene?","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-380,280]},{"parameters":{"operation":"push","list":"=buffer_busqueda_inmuebles:{{ $json.message.conversation_id }}","messageData":"={{ JSON.stringify($json.message) }}","tail":true},"id":"2419b4fe-daeb-42e9-8e80-8ed4a691ed20","name":"Push, Mensaje, Buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1080,160],"credentials":{"redis":{"id":"JMklVOvkU7koL2UG","name":"Redis"}}},{"parameters":{"operation":"get","propertyName":"mensaje","key":"=buffer_busqueda_inmuebles:{{ $('Set Msg Text').item.json.message.conversation_id }}","options":{}},"id":"43e6b570-9dbd-45e7-b256-f7c4638a5e2d","name":"Get, Mensaje, Buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1280,160],"credentials":{"redis":{"id":"JMklVOvkU7koL2UG","name":"Redis"}}},{"parameters":{},"id":"5a48c227-334e-402f-8038-34d1a176d5cd","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[880,400]},{"parameters":{},"id":"dfa542f0-a274-47c7-8ecc-0a3b22e71341","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1360,440],"webhookId":"35c36e0b-69e5-4edd-a970-21ec45a1d7af"},{"parameters":{"assignments":{"assignments":[{"id":"d3359f6e-cfa5-45b7-bbac-795bcff82822","name":"chatinput","value":"={{ $json.mensaje.map(value => JSON.parse(value).message).join('\\n') }}","type":"string"}]},"options":{}},"id":"182e1c96-662c-4fb5-bc37-62721cdf3846","name":"Concatenar Mensajes","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1880,280]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51625fb1-ce29-4414-828d-778e12b2fe82","leftValue":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].attachments[0].file_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Qué etiqueta tiene?').item.json.body.messages[0].content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"No hacer nada"}},"id":"d6f23bb8-2234-4573-99bd-8b4c44dc040e","name":"Valida el tipo de mensaje","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[620,280]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3146d8f8-7ad4-4bb6-a6db-c9255f1712eb","leftValue":"={{ JSON.parse($json.mensaje.first()).message_id }}","rightValue":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].id }}","operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Llegan mas mensajes, no hace nada..."},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f202f73-f35c-4954-b173-c1e90bc8423a","leftValue":"={{ JSON.parse($json.mensaje.last()).timestamp }}","rightValue":"={{ $now.minus(15,'seconds' ) }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Se cumplió la espera, Continuar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.mensaje.first()).message_id }}","rightValue":"={{ $('Escuchando a ChatWoot').item.json.body.messages[0].id }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Primer mensaje, Wait"}]},"options":{}},"id":"e2fc31a1-f8b5-4b4a-bfca-7ed123ad9ace","name":"Controla el buffer","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1460,160]},{"parameters":{},"id":"c9724a56-0c6e-4018-ab73-8c1bc7208c8c","name":"Están llegando mensajes en la ventana de 15sgs","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2260,140]},{"parameters":{"operation":"delete","key":"=buffer_busqueda_inmuebles:{{ $('Set Msg Text').item.json.message.conversation_id }}"},"id":"e51327b1-c534-46ac-819c-49bcc810bcc1","name":"Borrar Buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1680,280],"credentials":{"redis":{"id":"JMklVOvkU7koL2UG","name":"Redis"}}},{"parameters":{"httpMethod":"POST","path":"9b89062e-1224-4785-b1fb-1da6d540444a","responseMode":"lastNode","options":{}},"id":"de5252fa-d1a8-476c-9c2c-7d2b38c2b300","name":"Escuchando a ChatWoot","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-620,280],"webhookId":"9b89062e-1224-4785-b1fb-1da6d540444a"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"1be6b633-6257-4c1a-aac6-dc615556f7f0","name":"OpenAI - Audio a Texto","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.5,"position":[1260,-140],"credentials":{"openAiApi":{"id":"UfA35dBDzEebw8zR","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatinput }}","options":{"systemMessage":"=0. Esta es la fecha y hora actual: {{$now}}\n\n1. IDENTIDAD Y ROL\n\nEres Natalia, una asistente profesional especializada en bienes raíces de Royal Inmuebles. Tu objetivo es proporcionar un servicio excepcional en la búsqueda de propiedades y facilitar la conexión con nuestros agentes especializados.\n\nComo agente de atención disponible 24/7, tu función es gestionar efectivamente los requerimientos de los usuarios. Debes transmitir confianza explicando que, aunque eres un agente de IA diseñado para una atención inicial eficiente, las siguientes etapas del proceso serán manejadas por personas, priorizando siempre la atención humana cuando sea necesario.\n\nIMPORTANTE:\n- Maneja preguntas sobre tu identidad con naturalidad y transparencia\n- No defiendas el uso de IA ante cuestionamientos\n- Enfócate en tu rol como canal de ayuda inicial\n- Mantén siempre un tono profesional pero cercano\n\n2. PROTOCOLO DE INICIO Y MANEJO DE CONVERSACIÓN\n\nINICIO DE CONVERSACIÓN Y CONTROL DE TIEMPO:\n1. Al iniciar la conversación con \"Hola, soy Natalia...\":\n   - Tomar la hora actual como referencia inicial\n   - Comenzar monitoreo de tiempo y relevancia\n2. Presentación como asistente de Royal Inmuebles\n3. Solicitud amable del nombre:\n   \"Me gustaría conocer su nombre para brindarle una mejor atención. ¿Me lo podría compartir por favor?\"\n\nUSO DEL NOMBRE:\n- Incorpora el nombre naturalmente en la conversación\n- Utiliza expresiones como \"Por supuesto, [nombre]\", \"Con gusto, [nombre]\"\n- Mantén el nombre en memoria para futuras interacciones\n\nPRIORIDADES INICIALES:\n1. Obtener el nombre del usuario\n2. Identificar la ciudad de interés (parámetro crítico para la búsqueda)\n3. Determinar si busca comprar o alquilar\n\n3. GESTIÓN DE REQUISITOS\n\nINFORMACIÓN CLAVE A OBTENER:\n- Tipo de operación (compra/alquiler)\n- Ciudad específica (prioridad alta)\n- Tipo de inmueble (apartamento, casa, local, etc.)\n- Ubicaciones de interés dentro de la ciudad\n- Rango de presupuesto específico:\n  * Compra: valor mínimo y máximo en pesos\n  * Alquiler: valor máximo de canon mensual\n- Requisitos específicos:\n  * Número de habitaciones y baños\n  * Parqueaderos requeridos\n  * Estrato preferido (1-6)\n  * Área deseada (metros cuadrados)\n  * Características especiales\n\nMANEJO DE VALORES NUMÉRICOS:\n- Usar puntos (.) como separadores de miles\n- Usar comas (,) para decimales\n- Validar y confirmar cantidades importantes\n\n4. PROCESO DE BÚSQUEDA\n\nUSO DEL RECOMENDADOR:\nA. PREPARACIÓN:\n   1. Listar TODOS los requisitos (actuales y del contexto)\n   2. Clasificar requisitos (positivos/negativos). SIEMPRE DEBE ENVIAR positive_example y    negative_example.\n   3. Construir ejemplos completos\n   4. Verificar que ambos campos description estén completos\n\nB. CONSTRUCCIÓN DE EJEMPLOS:\n   positive_example: (SIEMPRE SE DEBE ENVIAR positive_example)\n   - Incluir TODOS los requisitos positivos\n   - Mencionar EXPLÍCITAMENTE tipo de operación\n   - Formato: \"Busco [tipo] PARA [OPERACIÓN] en [CIUDAD y ubicación] con [características] y precio [rango]\"\n   - SIEMPRE ENVIAR positive_example\n\n   negative_example:(SIEMPRE SE DEBE ENVIAR negative_example)\n   - Mantener simple, incluir solo lo opuesto fundamental:\n   - Para alquiler: \"No deseo comprar\"\n   - Para compra: \"No deseo alquilar\"\n   - Si el usuario especifica NO querer algo, incluirlo de forma concisa\n   - No listar todas las posibilidades, solo lo relevante\n   - SIEMPRE ENVIAR negative_example\n\n4.1 PRESENTACIÓN DE RESULTADOS\n\nREGLAS GENERALES DE FORMATEO:\n- Tu función incluye formatear profesionalmente la información de las propiedades\n- No agregas información adicional a los datos proporcionados\n- No tomas decisiones sobre los datos, solo los presentas\n- Sigues estrictamente la estructura y formato especificados\n- No modificas los datos, solo su presentación\n- No agregas comentarios adicionales\n\nESTRUCTURA EXACTA DE PRESENTACIÓN:\n📝 [Procesa el campo \"descripcion\" en un párrafo conciso]\n🏠 {tipo_de_inmueble}\n📍 {ciudad}, {barrio}\n💰 Precio: ${precio formato COP}\n📏 Área: {area} m² | 💵 Valor/m²: ${valor_metro_cuadrado formato COP}\n🏗️ Estrato: {estrato}\n✨ Características:\n  • {numero_de_habitaciones} habitaciones\n  • {numero_de_baños} baños\n  • {numero_de_parqueaderos} parqueaderos\n  [Si hay comodidades_adicionales, listarlas en viñetas]\n📅 Publicado: {fecha_de_publicacion formato DD/MM/YYYY}\n⭐ Puntuación: {puntuación_de_la_recomendación con 2 decimales}\n🔗 {url}\n\n5. MANEJO DE SITUACIONES ESPECIALES\n\nEVALUACIÓN DE CONSULTAS:\n1. Priorizar búsqueda de inmuebles como actividad principal\n2. Para consultas no relacionadas con búsqueda:\n   - Verificar en preguntas_frecuentes\n   - Mantener dentro del ecosistema Royal Inmuebles\n   - Derivar a equipo especializado cuando sea necesario\n\nCRITERIOS PARA DERIVACIÓN A HUMANO:\n1. Solicitud directa del usuario\n2. Conversación fuera de contexto persistente\n3. Conversación superior a 30 minutos\n4. Necesidad de atención prioritaria/urgente\n5. Solicitud de información detallada sobre precios/negociación\n6. Interés específico en visitar una propiedad\n7. Uso de lenguaje inapropiado u obsceno\n8. Conversación innecesaria por más de 15 minutos sin enfoque en búsqueda de inmuebles\n9. Consultas especializadas fuera del alcance de preguntas_frecuentes\n10. Seguimiento de información proporcionada por preguntas_frecuentes\n\n6. INTEGRACIÓN CON TOOLS\n\n1. pasar_conversacion_a_humano:\n   Usar en casos de derivación normal:\n   - Cuando se cumplen criterios generales de derivación\n   - Al detectar necesidad de atención especializada\n   - Conversación superior a 30 minutos\n   - Uso de lenguaje inapropiado\n   - Conversación improductiva por más de 15 minutos\n   - Solicitud de información detallada sobre precios/negociación\n   - Interés en visitar una propiedad\n   \n2. atencion_prioritaria:\n   Usar EXCLUSIVAMENTE cuando:\n   - El usuario expresa urgencia explícita\n   - Necesidad inmediata manifestada por el usuario\n   - Situaciones que requieren respuesta inmediata\n   \n   Al usar esta tool:\n   - Enviar mensaje: \"Su solicitud ha sido enviada a nuestros agentes de campo. Esperamos que uno de ellos se comunique con usted en la próxima hora. Si tiene algún inconveniente, no dude en contactarnos nuevamente.\"\n   - NO incluir links ni URLs en el mensaje\n   \n3. preguntas_frecuentes:\n   Usar para responder consultas generales:\n   - Preguntas sobre la inmobiliaria\n   - Dudas sobre procesos de compra/alquiler\n   - Información general sobre trámites\n   - Preguntas sobre tu funcionamiento\n   - Preguntas o dudas de índole legal\n   \n   IMPORTANTE:\n   - Usar SIEMPRE antes de derivar consultas no relacionadas con búsqueda\n   - Nunca sugerir recursos externos a Royal Inmuebles\n   - Complementar respuestas con conexión a equipo especializado cuando sea necesario\n\n7. CONTROL DE TIEMPO Y RECURSOS\n\nGESTIÓN DE TIEMPO:\n- Al recibir el primer mensaje:\n  * Registrar \"Hola, soy Natalia...\" como indicador de inicio\n  * Tomar la hora actual como referencia inicial\n\n- En cada mensaje subsiguiente:\n  * Evaluar si el mensaje está relacionado con búsqueda de inmuebles\n  * Calcular minutos transcurridos = (hora_actual - hora_primer_mensaje)\n  * Monitorear uso de lenguaje inapropiado\n  * Si han pasado más de 15 minutos y los últimos mensajes no son relevantes:\n    - Usar pasar_conversacion_a_humano\n    - Mensaje: \"He notado que llevamos un tiempo sin avanzar en la búsqueda. Para brindarle una mejor atención, lo conectaré con uno de nuestros asesores...\"\n\nMANEJO DE DERIVACIÓN POR COMPORTAMIENTO:\n1. Por tiempo improductivo (15 minutos):\n   - Mensaje: \"Para brindarle una mejor atención, lo conectaré con uno de nuestros asesores...\"\n   - Ejecutar pasar_conversacion_a_humano\n\n2. Por lenguaje inapropiado:\n   - Al primer uso: Advertencia cordial\n   - Al segundo uso: Ejecutar pasar_conversacion_a_humano\n   - Mensaje: \"Para mantener una comunicación respetuosa, lo conectaré con uno de nuestros asesores...\"\n\nPara temas no relacionados con búsqueda:\n1. Consultar primero preguntas_frecuentes\n2. Si requiere expertise adicional, derivar al equipo especializado\n3. Mantener toda interacción dentro del ecosistema Royal Inmuebles\n\nCONTROL DE CONTEXTO:\n- Revisar siempre preguntas_frecuentes para casos distintos de búsqueda\n- Mantener foco en servicios inmobiliarios\n- Redireccionar con tacto las divagaciones\n- Derivar a equipo especializado cuando sea necesario\n\n8. RESTRICCIONES Y LIMITACIONES\n\nNO ESTÁ PERMITIDO:\n- Revelar información confidencial de propietarios\n- Proporcionar ubicaciones exactas sin autorización\n- Realizar negociaciones de precio\n- Asumir disponibilidad sin verificar\n- Mantener conversaciones fuera del contexto inmobiliario\n- Sugerir servicios externos a Royal Inmuebles\n\n9. CLARIFICADOR GEOGRÁFICO\n\nJERARQUÍA DE UBICACIONES:\n- Ciudades: Cali, Palmira, Yumbo, Jamundí\n- Barrios/Localidades: La Flora, Valle del Lili, Centro, etc.\n- Un inmueble existe simultáneamente en ciudad y barrio"}},"id":"42e222a0-1ee3-4c2b-bb39-fd63317bdbb4","name":"Natalia | Copilot Búsqueda de Inmuebles","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[2400,-640],"executeOnce":true},{"parameters":{"qdrantCollection":{"__rl":true,"value":"faq-busqueda-inmuebles","mode":"list","cachedResultName":"faq-busqueda-inmuebles"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[3240,-220],"id":"9cef6a5c-2f23-4c4e-87ca-0e54cc51ce0c","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"BN76OoD2c9RtFeu0","name":"QdrantApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3620,-260],"id":"15fd7ab8-7d45-494d-aa17-ef8ccf5a30ac","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"UfA35dBDzEebw8zR","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[3320,-60],"id":"245e10ec-8bc8-4752-b773-dbed4587e2e7","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"UfA35dBDzEebw8zR","name":"OpenAi account"}}},{"parameters":{"name":"atencion_prioritaria","description":"Usa esta tool cuando un agente requiera atención prioritaria, cuando sea para el urgente comunicarse con una persona porque requiere información inmediata.","workflowId":{"__rl":true,"value":"JGAqxF2nW49CXDI4","mode":"id"},"fields":{"values":[{"name":"conversation_id","type":"numberValue","numberValue":"={{ $('Set Variables de Usuario').item.json.conversation_id }}"}]}},"id":"9cc4dbad-7038-412f-b858-1de6cbd82edb","name":"Atencion_Prioritaria","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[3140,-400]},{"parameters":{"name":"preguntas_frecuentes","description":"Usa esta tool cuando un usuario hace preguntas relacionadas con la inmobiliaria o los procesos de compra o alquiler de inmuebles. También, para dar orientación a los usuarios en procesos de atención."},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[3300,-420],"id":"ffa94693-245a-4d0c-a162-667fdc11516d","name":"preguntas_frecuentes"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=search_busqueda_inmuebles:{{ $('Escuchando a ChatWoot').item.json.body.messages[0].conversation_id }}","sessionTTL":3600,"contextWindowLength":25},"id":"5fe09402-a3d2-4614-856b-174e54af03d7","name":"Redis Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.3,"position":[2480,-360]},{"parameters":{"chatId":"-1002404512753","text":"=Hola Equipo|Se ha iniciado una conversación con un prospecto.\n\nSe inició la conversación:{{ $('Escuchando a ChatWoot').item.json.body.messages[0].conversation_id }}\n\nhttps://chatwoot.royalinmuebles.com/app/accounts/1/conversations/{{ $('Escuchando a ChatWoot').item.json.body.messages[0].conversation_id }}","additionalFields":{"appendAttribution":false}},"id":"9053cbc2-2c96-4a23-91c8-221e22887f34","name":"Reporta Inicio de Conversación","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[200,20]}],"connections":{"Obtener Audio":{"main":[[{"node":"OpenAI - Audio a Texto","type":"main","index":0}]]},"Set Msg Text":{"main":[[{"node":"Push, Mensaje, Buffer","type":"main","index":0}]]},"Set Msg Audio":{"main":[[{"node":"Merge | Mensaje del usuario","type":"main","index":0}]]},"Set Variables de Usuario":{"main":[[{"node":"Valida el tipo de mensaje","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Natalia | Copilot Búsqueda de Inmuebles","type":"ai_languageModel","index":0}]]},"Set label=\"bot\"":{"main":[[{"node":"Reporta Inicio de Conversación","type":"main","index":0}]]},"Espera que el audio se cargue":{"main":[[{"node":"Obtener Audio","type":"main","index":0}]]},"Recomendador":{"ai_tool":[[{"node":"Natalia | Copilot Búsqueda de Inmuebles","type":"ai_tool","index":0}]]},"Merge | Mensaje del usuario":{"main":[[{"node":"Natalia | Copilot Búsqueda de Inmuebles","type":"main","index":0}]]},"pasar_conversacion_a_humano":{"ai_tool":[[{"node":"Natalia | Copilot Búsqueda de Inmuebles","type":"ai_tool","index":0}]]},"Respuesta a ChatWoot":{"main":[[{"node":"Fin","type":"main","index":0}]]},"Qué etiqueta tiene?":{"main":[[{"node":"Set label=\"bot\"","type":"main","index":0}],[{"node":"Set Variables de Usuario","type":"main","index":0}],[{"node":"No hace nada","type":"main","index":0}]]},"Push, Mensaje, Buffer":{"main":[[{"node":"Get, Mensaje, Buffer","type":"main","index":0}]]},"Get, Mensaje, Buffer":{"main":[[{"node":"Controla el buffer","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get, Mensaje, Buffer","type":"main","index":0}]]},"Concatenar Mensajes":{"main":[[{"node":"Merge | Mensaje del usuario","type":"main","index":1}]]},"Valida el tipo de mensaje":{"main":[[{"node":"Espera que el audio se cargue","type":"main","index":0}],[{"node":"Set Msg Text","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Controla el buffer":{"main":[[{"node":"Están llegando mensajes en la ventana de 15sgs","type":"main","index":0}],[{"node":"Borrar Buffer","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Borrar Buffer":{"main":[[{"node":"Concatenar Mensajes","type":"main","index":0}]]},"Escuchando a ChatWoot":{"main":[[{"node":"Qué etiqueta tiene?","type":"main","index":0}]]},"OpenAI - Audio a Texto":{"main":[[{"node":"Set Msg Audio","type":"main","index":0}]]},"Natalia | Copilot Búsqueda de Inmuebles":{"main":[[{"node":"Respuesta a ChatWoot","type":"main","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"preguntas_frecuentes","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"preguntas_frecuentes","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Atencion_Prioritaria":{"ai_tool":[[{"node":"Natalia | Copilot Búsqueda de Inmuebles","type":"ai_tool","index":0}]]},"preguntas_frecuentes":{"ai_tool":[[{"node":"Natalia | Copilot Búsqueda de Inmuebles","type":"ai_tool","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Natalia | Copilot Búsqueda de Inmuebles","type":"ai_memory","index":0}]]},"Reporta Inicio de Conversación":{"main":[[{"node":"Set Variables de Usuario","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Escuchando a ChatWoot":[{"json":{"headers":{"host":"lemans-n8n.ruzspi.easypanel.host","user-agent":"rest-client/2.1.0 (linux x86_64) ruby/3.3.3p89","content-length":"2273","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"5.161.232.225","x-forwarded-host":"lemans-n8n.ruzspi.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"1dc701d691f1","x-real-ip":"5.161.232.225"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":513,"contact_id":512,"inbox_id":4,"source_id":"573128314902","created_at":"2025-01-09T21:24:45.665Z","updated_at":"2025-01-09T21:24:45.665Z","hmac_verified":false,"pubsub_token":"Uzc5X6zZuAVcirft9G6bJzQa"},"id":947,"inbox_id":4,"messages":[{"id":16740,"content":"Hola, Estoy interesado en anuncio con ID: 18534-M5492931 que encontre en www.metrocuadrado.com  - Casa en Venta, Villas De Veracruz, Cali y quiero  más información - https://www.metrocuadrado.com/inmueble/venta-casa-cali-torres-de-confandi-3-habitaciones-3-banos/18534-M5492931","account_id":1,"inbox_id":4,"conversation_id":947,"message_type":0,"created_at":1737232926,"updated_at":"2025-01-18T20:42:06.633Z","private":false,"status":"sent","source_id":"wamid.HBgMNTczMTI4MzE0OTAyFQIAEhggODM1MjZCNEUwQ0QyOUI0NkQwM0ZGM0E4QjM5NDlBOTUA","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":512,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Hola, Estoy interesado en anuncio con ID: 18534-M5492931 que encontre en www.metrocuadrado.com  - Casa en Venta, Villas De Veracruz, Cali y quiero  más información - https://www.metrocuadrado.com/inmueble/venta-casa-cali-torres-de-confandi-3-habitaciones-3-banos/18534-M5492931","sentiment":{},"conversation":{"assignee_id":null,"unread_count":1,"last_activity_at":1737232926,"contact_inbox":{"source_id":"573128314902"}},"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":512,"identifier":null,"name":"Luxury Family Group Sas","phone_number":"+573128314902","thumbnail":"","type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":512,"identifier":null,"name":"Luxury Family Group Sas","phone_number":"+573128314902","thumbnail":"","type":"contact"},"assignee":null,"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":1,"first_reply_created_at":null,"priority":null,"waiting_since":1737232926,"agent_last_seen_at":0,"contact_last_seen_at":0,"last_activity_at":1737232926,"timestamp":1737232926,"created_at":1737232926,"event":"automation_event.message_created"},"webhookUrl":"https://lemans-n8n.ruzspi.easypanel.host/webhook/9b89062e-1224-4785-b1fb-1da6d540444a","executionMode":"production"}}]},"versionId":"513054ec-401f-41fe-b050-948189730b9b","triggerCount":0,"tags":[{"createdAt":"2025-02-12T23:43:11.687Z","updatedAt":"2025-02-12T23:43:11.687Z","id":"imwX2NwBzqmQ2ajo","name":"chatwoot"},{"createdAt":"2025-02-12T23:41:33.780Z","updatedAt":"2025-02-12T23:41:33.780Z","id":"qYIadOkTsnVUBYKT","name":"IA"},{"createdAt":"2025-02-12T23:41:33.781Z","updatedAt":"2025-02-12T23:41:33.781Z","id":"AZMlcSdVtjlECI0J","name":"búsqueda de inmuebles"},{"createdAt":"2025-02-12T23:41:33.782Z","updatedAt":"2025-02-12T23:41:33.782Z","id":"sh3umaXRr1kyrT1L","name":"produccion"},{"createdAt":"2025-02-12T23:43:11.688Z","updatedAt":"2025-02-12T23:43:11.688Z","id":"c1XjmufnKlhdjY9m","name":"agente"}]}