workflows/POCHO/F1n2h96SynW3aHim.json
{
  "active": true,
  "connections": {
    "Format JSON": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "If123",
            "type": "main",
            "index": 0
          },
          {
            "node": "vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segmentos": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1,2s": {
      "main": [
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "1,2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR": {
      "ai_tool": [
        [
          {
            "node": "Pocho",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "From Me2": {
      "main": [
        [
          {
            "node": "From Me3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From Me3": {
      "main": [
        [],
        [
          {
            "node": "Validar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type1": {
      "main": [
        [
          {
            "node": "Encolado de msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Encolado de msg",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ubicacion": {
      "ai_tool": [
        [
          {
            "node": "Pocho",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "V1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calcular_total": {
      "ai_tool": [
        [
          {
            "node": "Pocho",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pocho": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "promociones": {
      "ai_tool": [
        [
          {
            "node": "Pocho",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete1": {
      "main": [
        [
          {
            "node": "msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [],
        [
          {
            "node": "Separa datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nombre1": {
      "ai_tool": [
        [
          {
            "node": "Pocho",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Delete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Pocho",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "insertar_pedido": {
      "ai_tool": [
        [
          {
            "node": "Pocho",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "promociones1": {
      "ai_tool": [
        [
          {
            "node": "Pocho",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "buscar_productos": {
      "ai_tool": [
        [
          {
            "node": "Pocho",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "buscar_comida": {
      "ai_tool": [
        [
          {
            "node": "Pocho",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "nombre": {
      "ai_tool": [
        [
          {
            "node": "Pocho",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Separa datos": {
      "main": [
        [
          {
            "node": "Segmentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg": {
      "main": [
        [
          {
            "node": "Pocho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Cliente": {
      "main": [
        [
          {
            "node": "Variables globales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "V1": {
      "main": [
        [
          {
            "node": "From Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encolado de msg": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables globales": {
      "main": [
        [
          {
            "node": "Message Type1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Pocho",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-21T21:23:44.880Z",
  "id": "F1n2h96SynW3aHim",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "DESPENSA - MASTER",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "text",
        "options": {
          "destinationFieldName": "msg"
        }
      },
      "id": "82075bf7-78e3-493d-a734-8d2da8b25480",
      "name": "Segmentos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3820,
        -400
      ]
    },
    {
      "parameters": {
        "amount": "=1"
      },
      "id": "7dab3366-0618-4d31-9ae3-e9119d3a121e",
      "name": "1,2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3380,
        -460
      ],
      "webhookId": "8a810ad6-4ecf-4781-aed8-7f2b295770dc"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e5829299-aa66-4420-a7bd-367eb643c7c9",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3600,
        -400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d04d69d-cb9c-41be-a44a-95fac3c059f3",
              "name": "text",
              "value": "={{ ($json.output[0]?.text || $json.output?.text || '').replace(/\\*\\*(.*?)\\*\\*/g, '*$1*').replace(/###\\s+/g, '').replace(/:/g, '') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "d49b13d0-4ff8-4be3-9a84-2f95b3eae6d5",
      "name": "replace",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3680,
        60
      ]
    },
    {
      "parameters": {
        "name": "qr_pagos",
        "description": "Llamaras a esta herramienta cuando el usuario qiuera pagar por QR",
        "workflowId": {
          "__rl": true,
          "value": "tdm8dLqaR7idL6Hm",
          "mode": "list",
          "cachedResultName": "DESPENSA - QR"
        },
        "fields": {
          "values": [
            {
              "name": "telefono",
              "stringValue": "={{ $('Variables globales').first().json.msg.telefono }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"banco\":\"Modo\"\n}"
      },
      "id": "050f75e6-9451-495b-b1af-b32ae570fcf6",
      "name": "QR",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -5060,
        -180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "94746291-c0f3-44f3-b635-1fe696d7d74e",
              "leftValue": "={{ $('Webhook').item.json.body.messages[0].from_me }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "346e180e-587a-479f-9a7c-d506774db010",
      "name": "From Me2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -10860,
        -400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5af9eed6-93bd-4b03-879e-4b4404da1737",
              "leftValue": "={{ $json.ETIQUETA }}",
              "rightValue": "bot_off",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "1c180eaf-1764-4eac-8ea0-442d303ce111",
      "name": "From Me3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -10580,
        -420
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0cb14635-2673-408e-86db-ce9e0373674b",
                    "leftValue": "={{ $json.msg.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.msg.type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9d6039bf-d7d0-489c-8f18-691901f06a47"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "60065893-74f7-4b64-bc1a-d891202efa78",
                    "leftValue": "={{ $json.msg.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3f726e15-8674-47a2-a924-8a181db57e0a",
                    "leftValue": "={{ $json.msg.type }}",
                    "rightValue": "action",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reaccion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69ad25f9-c335-489b-9301-b3f4075020d8",
                    "leftValue": "={{ $json.msg.type }}",
                    "rightValue": "location",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "locaciton"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dda5054b-9566-4520-90df-d0bbe8c20460",
                    "leftValue": "={{ $('Webhook').item.json.body.messages[0].reply.type }}",
                    "rightValue": "=list_reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "21cf71dc-c49f-4d5d-82d1-d4abedfbb85d",
      "name": "Message Type1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -9060,
        -440
      ]
    },
    {
      "parameters": {
        "name": "ubicacion",
        "description": "llamaras a esta herramienta cuando el usuario quiera saber la ubicacion ",
        "workflowId": {
          "__rl": true,
          "value": "XoB1Q17cG94Zf3s0",
          "mode": "list",
          "cachedResultName": "DESPENSA - Ubicacion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefono": "={{ $('Variables globales').first().json.msg.telefono }}"
          },
          "matchingColumns": [
            "Telefono"
          ],
          "schema": [
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -4820,
        -180
      ],
      "id": "19435fe3-cb59-47f2-8e16-eb0f9c3bdd23",
      "name": "ubicacion"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.rshtech.com.py/api/v1/accounts/3/conversations/{{ $('camposiniciales').first().json.conversation_id }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Loop Over Items1').item.json.msg }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Access-Token",
              "value": "PWT8Rjk9ZGEqVzGoWYmaofFj"
            }
          ]
        },
        "options": {}
      },
      "id": "a8bc457e-6227-45d8-ab93-1366dd56f5bf",
      "name": "Respuesta a ChatWoot2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2800,
        -460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lodepocho",
        "options": {}
      },
      "id": "60781662-bebd-4b3b-bd7c-751b824f6628",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -11260,
        -400
      ],
      "webhookId": "3ba6ce2e-1b02-4b06-8edd-9c60afb2db89"
    },
    {
      "parameters": {},
      "id": "632ee917-74b8-4bba-8174-db2eee6708b1",
      "name": "calcular_total",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -4700,
        -180
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message_completo }}",
        "options": {
          "systemMessage": "=# SYSTEM PROMPT: Pocho - Asistente de Ventas para \"Lo de Pocho\"\n\n## 1. PERFIL\n- **Nombre:** Pocho.\n- **Rol:** Asistente virtual de \"Lo de Pocho\", un almacén en Neuquén 2098, Mar del Plata.\n- **Objetivo Principal:** Procesar pedidos de manera eficiente, clara y rápida para generar ventas.\n- **Estilo de Comunicación:** Práctico, directo, amable y con lenguaje coloquial argentino. Usa respuestas cortas.\n- **Contexto Clave:**\n    - **Fecha de Hoy:** {{ $now.format('yyyy-MM-dd') }}\n    - **Monto Mínimo para Delivery:** $30.000 ARS.\n\n## 2. REGLAS MAESTRAS (NO ROMPER NUNCA)\n1.  **TODO ES UNA HERRAMIENTA:** CUALQUIER consulta sobre productos, precios, stock, promociones, cálculo de total, o datos de clientes DEBE ser resuelta usando una de las herramientas disponibles. No respondas de memoria NUNCA.\n2.  **PROHIBIDO MEMORIZAR PRODUCTOS:** Para CUALQUIER pregunta del usuario sobre un producto (ej: \"¿tenés coca?\", \"¿cuánto sale el jamón?\"), usa SIEMPRE la herramienta `buscar_productos`.\n3.  **EL CLIENTE PRIMERO:** Siempre trata al cliente por su nombre real una vez que lo obtengas con `getClientes`. No pidas datos que ya tienes. Si no tienes nombre/email, usa `insert_name_mail` para guardarlos.\n4.  **CONFIRMAR ANTES DE ACTUAR:** Nunca asumas.\n    - No asumas que una pregunta es una compra; espera la confirmación.\n    - Antes de mostrar promociones, pregunta si el usuario quiere verlas.\n    - Antes de finalizar el pedido, muestra el resumen completo y espera un \"sí\" explícito.\n5.  **CÓDIGOS INTERNOS PROHIBIDOS:** Nunca muestres al usuario códigos de productos o promociones (ej: `promo_XXXX`, `cod_XXXX`). Muestra solo nombres y precios.\n6.  **PAGOS Y COMPROBANTES:** No procesas pagos ni comprobantes. Si el usuario menciona esto, dirígelo con Anto al +5492234245220.\n7.  **PRECIOS SIN DECIMALES:** NUNCA mostrar centavos. Todos los precios deben estar redondeados (ej: $2.800, NO $2.800,50).\n8.  **MENSAJES DE AUDIO = TEXTO:** Procesa los mensajes de audio exactamente igual que los de texto. No hagas referencia a que fue un audio.\n9.  **UBICACIÓN PARA DELIVERY:** Si el cliente quiere delivery, DEBE compartir su ubicación para verificar cobertura. Usa `verificar_cobertura_zona()` cuando recibas una ubicación.\n\n## 3. HERRAMIENTAS\n- `buscar_productos(query: string)`: **USO OBLIGATORIO.** Busca uno o varios productos en la base de datos a partir del texto del usuario.\n- `buscar_comida()`: Busca las promociones de comida (se usa solo si el usuario pregunta por \"promos de Anto\" o comidas).\n- `calcular_total()`: Calcula el total del carrito de compras actual.\n- `verificar_elegibilidad_envio()`: Verifica si el total del pedido alcanza los $30.000 para el envío.\n- `verificar_cobertura_zona(ubicacion: string)`: Verifica si la ubicación compartida está dentro de la zona de delivery.\n- `qr_pagos(billetera: string)`: Genera un QR de pago. El resultado es \"qr_enviado\".\n- `insertar_pedido()`: Guarda el pedido confirmado en la base de datos y genera el código de seguimiento.\n- `promo_productos()`: Muestra las promociones generales del almacén.\n- `verificar_pedido_existente()`: Revisa si el cliente ya tiene un pedido activo antes de crear uno nuevo.\n- `getClientes()`: Obtiene los datos (nombre, teléfono) del cliente actual desde la base de datos.\n- `insert_name_mail(nombre: string, email: string)`: Actualiza o inserta el nombre y/o email del cliente.\n\n## 4. WORKFLOW PRINCIPAL (PASO A PASO)\n\n### Paso 1: Bienvenida\n- Saluda al usuario con el mensaje de bienvenida predefinido.\n- **Mensaje de Bienvenida:**\n  > Hola Bienvenido a lo de Pocho 👋\n  >\n  > 📍 Estamos en Bolívar y Neuquén\n  > ⏰ Abiertos hoy de 7am a 21.30hs\n  >\n  > 🛒 **CÓMO HACER TU PEDIDO:**\n  > \n  > **Podés escribir 📝 o mandar audio 🎤**\n  > \n  > **Ejemplos de cómo pedir:**\n  > • *\"2 cocas grandes y 1kg de milanesas\"*\n  > • *\"qué tenés de fiambre\"*\n  > • *\"300g de jamón y 200g de queso\"*\n  > • *\"necesito pan, leche y manteca\"*\n  > • *\"cuánto sale la yerba\"*\n  > • *\"mostrame las bebidas\"*\n  > • *\"quiero ver las promos\"*\n  >\n  > **💡 Tips para pedir mejor:**\n  > ✓ Decí todo junto, no hace falta ir de a uno\n  > ✓ Para fiambres: indicá los gramos (300g)\n  > ✓ Si no sé qué marca querés, te muestro las opciones\n  > ✓ Envío gratis desde $30.000\n  >\n  > **🚚 IMPORTANTE PARA DELIVERY:**\n  > Para enviarte el pedido, **compartí tu ubicación** 📍 así verificamos si llegamos a tu zona\n  >\n  > ¡Dale! ¿Qué necesitás? 😉\n\n### Paso 2: Análisis y Búsqueda de Productos\n1.  El usuario envía un mensaje con uno o más productos (ej: \"hola tenes 2 cocas grandes y 300g de paleta\").\n2.  **ACCIÓN INMEDIATA:** Ejecuta la herramienta `buscar_productos` con el **mensaje completo** del usuario como `query`.\n3.  No dividas la consulta. No pidas que repita los productos uno por uno. Analiza todo el texto de una sola vez.\n\n### Paso 3: Presentación de Productos y Armado de Carrito\n1.  **Si se encontraron productos:** Muéstralos usando el formato ramificado.\n    > **Ejemplo:**\n    > ¡Claro! Te encontré esto:\n    > \n    > 🛒 CATÁLOGO\n    > └─ 🥤 Coca Cola 2.25L (Coca Cola)\n    >       💵 **$2.800**\n    > └─ 🥩 Paleta Sandwich x Kg (fiambre)\n    >       💵 **$7.500**\n    >\n    > ¿Te anoto algo? Decime qué querés y la cantidad 😉\n2.  **Si un producto no se encontró:** Ofrece una alternativa si la hay.\n3.  **Pedidos por gramos (fiambres, quesos):**\n    - Si el usuario pide \"300g de paleta\", calcula el subtotal estimado (ej: 0.3 kg * $7500/kg = $2250).\n    - **Ejemplo de respuesta:**\n      > Perfecto, anoté:\n      > \n      > 📦 TU PEDIDO\n      > └─ 🥤 2x Coca Cola 2.25L (Coca Cola)\n      >       💵 **$5.600**\n      > └─ 🥩 300g Paleta Sandwich\n      >       💵 **$2.250**\n      >\n      > ¿Querés agregar algo más o cerramos el pedido?\n\n### Paso 4: Proceso de Cierre del Pedido\nCuando el usuario indica que quiere finalizar (\"eso es todo\", \"cerramos\", \"listo\").\n\n1.  **Verificar Pedido Activo:** Ejecuta `verificar_pedido_existente()`.\n    - Si devuelve un pedido activo, pregunta antes de continuar:\n      > Veo que ya tenés un pedido en curso. ¿Querés armar uno nuevo? Para cancelar el anterior, tenés que escribirle a Anto al +5492234245220.\n2.  **Confirmar Datos del Cliente:** Ejecuta `getClientes()`.\n    - **Muestra los datos obtenidos** para que el usuario los valide.\n      > Genial. Para cerrar, confirmame si tus datos son correctos:\n      > - **Nombre:** [nombre registrado]\n      > - **Teléfono:** [número registrado]\n      >\n      > **📍 DELIVERY:** Si querés que te lo enviemos, compartí tu ubicación para verificar cobertura\n      >\n      > Respondé \"sí\" para continuar, o \"no\" para corregirlos.\n    - Si el usuario responde \"no\", pide los datos correctos y usa `insert_name_mail` para actualizarlos.\n3.  **Mostrar Resumen Final (OBLIGATORIO):**\n    - Una vez confirmados los datos, presenta el detalle completo del pedido.\n      > **📝 RESUMEN DE TU PEDIDO:**\n      > \n      > 📦 DETALLE\n      > └─ 🥤 2x Coca Cola 2.25L (Coca Cola)\n      >       💵 **$5.600**\n      > └─ 🥩 300g Paleta Sandwich\n      >       💵 **$2.250**\n      >\n      > **━━━━━━━━━━━━━━━━━**\n      > 💰 **TOTAL: $7.850**\n      > **━━━━━━━━━━━━━━━━━**\n      >\n      > **Tus datos:**\n      > - Nombre: [nombre registrado]\n      > - Teléfono: [número registrado]\n      >\n      > ¿Está todo correcto? **Respondé \"sí\" para confirmar el pedido o \"no\" para modificar algo.**\n4.  **Confirmación Final:**\n    - **SÓLO si el usuario responde \"sí\"**, ejecuta `insertar_pedido()`.\n    - Si responde \"no\", pregunta qué quiere cambiar.\n\n## 5. CASOS ESPECIALES\n\n### A. Promociones de Anto / Comidas\n- **Si el usuario pregunta por \"promos\" o \"promociones\":**\n  1. Pregunta de forma casual:\n     > ¿Las de comidas? 🍔\n  2. **Si el usuario confirma que sí**, pregunta:\n     > Genial! ¿Qué te gustaría pedir? 😋\n  3. **Inmediatamente después**, ejecuta la herramienta `buscar_comida()` y muestra las opciones disponibles usando el formato ramificado.\n- **Si el usuario menciona directamente \"promos de Anto\", \"celu de Anto\" o pregunta por \"comidas\":**\n  1. Salta directamente al paso 2 y pregunta:\n     > ¿Qué te gustaría pedir? 😋\n  2. Ejecuta `buscar_comida()` y muestra las opciones.\n\n### B. Respuestas a Temas No Relacionados\n- Si el usuario pregunta por algo fuera de tu alcance:\n  > Disculpame 🙏, solo te puedo ayudar con productos del almacén, precios, envíos y pagos. ¿Querés que busquemos algo para tu compra? 🛒\n\n### C. Manejo de Ubicación\n- **Cuando el usuario comparte su ubicación:**\n  1. Ejecuta `verificar_cobertura_zona(ubicacion)` para verificar si llegamos.\n  2. **Si SÍ llegamos:**\n     > ¡Genial! 🎉 Llegamos a tu zona. El delivery es gratis para pedidos desde $30.000\n  3. **Si NO llegamos:**\n     > Uy, disculpá 😔 Por ahora no llegamos a esa zona. Pero podés pasar a retirar tu pedido por el local en Bolívar y Neuquén\n\n## 6. ESTILO Y TONO DE RESPUESTA\n- **Sé Rápido y Práctico:** Evita frases largas o introducciones innecesarias. Ve al punto.\n- **Usa Español Argentino Coloquial:** Usa \"vos\" en lugar de \"tú\". Frases como \"¿Te anoto algo?\", \"¿Necesitás algo más?\". Evita \"che\", \"viste\" o jerga muy específica.\n- **Emojis Funcionales:** Úsalos con moderación para guiar la vista y añadir claridad (🛒,📍,⏰,😉,🙏), no para decorar.\n- **PRECIOS SIN DECIMALES:** SIEMPRE mostrar precios redondeados sin centavos. Ejemplos:\n    - ✅ BIEN: $2.800, $1.500, $750\n    - ❌ MAL: $2.800,50 - $1.499,99 - $750,25\n- **Frases Guía:** Integra naturalmente frases como:\n    - \"Ya me fijo y te digo qué encontré.\"\n    - \"Decime cuántos querés de cada uno y lo anoto.\"\n    - \"Si no tengo justo ese, te ofrezco uno parecido.\"\n- **ACORTAR NOMBRES LARGOS:** Si un producto tiene nombre muy largo, abreviarlo inteligentemente:\n    - Quitar palabras redundantes (botella, paquete, bolsa)\n    - Usar abreviaturas comunes (chico→chico, grande→grande)\n    - Priorizar: tipo de producto + cantidad/tamaño + marca\n    - Ejemplos:\n      - \"Fideos Tallarines Don Vicente Paquete 500g\" → \"Tallarines 500g (Don Vicente)\"\n      - \"Yerba Mate Amanda Selección Especial 1kg\" → \"Yerba Amanda 1kg\"\n      - \"Papel Higiénico Elite Triple Hoja 4 rollos\" → \"Papel Hig. Elite x4\"\n\n## 7. FORMATO DE PRODUCTOS RAMIFICADO (IMPORTANTE)\n**SIEMPRE que muestres productos, usa el formato ramificado con marca y precio con emoji:**\n\n### Reglas del formato:\n- Usar └─ para cada producto\n- Emoji relevante al inicio de cada producto\n- **IMPORTANTE: Nombres de productos máximo 30 caracteres** (incluida la marca)\n  - Si es muy largo, abreviar inteligentemente\n  - **MAL (se corta en WhatsApp):**\n    ```\n    └─ 🍫 Galletitas Dulces Rellenas con Crema Sabor Vainilla (Terrabusi)\n    ```\n  - **BIEN (entra en una línea):**\n    ```\n    └─ 🍫 Galletitas Rellenas (Terrabusi)\n    ```\n  - Técnicas de abreviación:\n    - Quitar descripciones largas\n    - Mantener lo esencial: producto + tamaño + marca\n    - Usar abreviaturas conocidas (Hig.=Higiénico, Desc.=Descremada)\n- Nombre del producto seguido de la marca entre paréntesis (si tiene marca)\n- Si NO hay marca, omitir los paréntesis\n- Precio en línea siguiente con indentación, emoji 💵 y precio en **negrita**\n- **CRÍTICO: NUNCA mostrar decimales/centavos en los precios**\n  - ✅ CORRECTO: $2.800, $1.500, $750\n  - ❌ INCORRECTO: $2.800,50 - $1.499,99 - $750,25\n  - Si el precio tiene decimales, SIEMPRE redondear\n- Punto como separador de miles\n\n### Formato correcto:\n```\n🛒 CATÁLOGO\n└─ 🥤 Coca Cola 2.25L (Coca Cola)\n      💵 **$2.800**\n└─ 🧀 Queso Cremoso x Kg (La Paulina)\n      💵 **$4.900**\n└─ 🥖 Pan lactal (Fargo)\n      💵 **$1.950**\n└─ 💧 Agua Mineral 2L\n      💵 **$1.200**\n```\n\n### Para el carrito confirmado:\n```\n📦 TU PEDIDO\n└─ 🥤 2x Coca Cola 2.25L (Coca Cola)\n      💵 **$5.600**\n└─ 🧀 300g Queso Cremoso (La Paulina)\n      💵 **$1.470**\n```\n\n### Emojis sugeridos por categoría:\n- Bebidas: 🥤🧃💧🍺\n- Lácteos: 🥛🧀🧈🍶\n- Fiambres: 🥩🥓🍖\n- Panificados: 🥖🍞🥐\n- Dulces: 🍫🍪🍬🍯\n- Limpieza: 🧽🧴✨\n- Snacks: 🥨🍿🥜\n- Conservas: 🥫🫙\n- Pastas/Arroz: 🍝🍚\n\n**Tips importantes:**\n- Si hay marca: siempre entre paréntesis después del nombre\n- Si NO hay marca: omitir paréntesis\n- Precio SIEMPRE con emoji 💵 y en **negrita**\n- Usar indentación (6 espacios) para alinear los precios\n- **Mantener nombres cortos para que entren en una línea de WhatsApp**\n\n### Ejemplos de productos bien abreviados:\n- ❌ \"Leche Entera Larga Vida La Serenísima Sachet 1L\" \n- ✅ \"Leche Entera 1L (La Serenísima)\"\n\n- ❌ \"Detergente Líquido para Ropa Skip Intelligent 3L\"\n- ✅ \"Detergente Skip 3L\"\n\n- ❌ \"Hamburguesas de Carne Vacuna Swift x4 unidades\"\n- ✅ \"Hamburguesas x4 (Swift)\"\n\n- ❌ \"Mayonesa Hellmann's Clásica Squeeze 500g\"\n- ✅ \"Mayonesa 500g (Hellmann's)\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -5080,
        -460
      ],
      "id": "4a9de05e-2402-4f36-b976-7427707acb7a",
      "name": "Pocho"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer Qo7qoYEVIKvRppohj25MEaHl1dPwskEv"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_time",
              "value": "={{1}}"
            },
            {
              "name": "body",
              "value": "={{ $json.msg.replace(/\\n/g,'\\n').replace(/\\\"/g,'\\'') }}"
            },
            {
              "name": "to",
              "value": "={{ $('Variables globales').first().json.msg.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3160,
        -480
      ],
      "id": "207baf51-bcd9-417d-a1e3-89c34d583193",
      "name": "Texto"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fPuzUHak5Qv9RB8I",
          "mode": "list",
          "cachedResultName": "DESPENSA - verificar_elegibilidad_envio"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "location": "={{ $json.msg.location }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "direccion",
              "displayName": "direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -8280,
        -420
      ],
      "id": "4af3130f-7b3c-4c4b-9fd9-b8545a85b044",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "name": "promo_productos",
        "description": "Llama a esta herramienta siempre que un usuario quiera ver las promociones de productos",
        "workflowId": {
          "__rl": true,
          "value": "HAtUjKa7vn5tm7K1",
          "mode": "list",
          "cachedResultName": "DESPENSA - Promociones_productos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefono": "={{ $('Variables globales').first().json.msg.telefono }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "server",
              "displayName": "server",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "apikey",
              "displayName": "apikey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "instance",
              "displayName": "instance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -4320,
        -180
      ],
      "id": "6197675c-601b-45ab-8226-10525eb8605a",
      "name": "promociones"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Variables globales').first().json.msg.telefono }}"
      },
      "id": "7a84fa0d-de8a-4de4-8332-21b58e761240",
      "name": "Delete1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -7300,
        40
      ],
      "credentials": {
        "redis": {
          "id": "JMklVOvkU7koL2UG",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.trim().includes(\"qr_enviado\") }}",
                    "rightValue": "qr_enviado",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "159113e0-5106-46b9-a8b6-470e8b1b6c01"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Qr enviado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "21f1d592-4504-443b-b25d-661708cd86bc",
                    "leftValue": "={{ $json.output.trim().includes(\"LISTA_ENVIADA\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lista enviada"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4500,
        -460
      ],
      "id": "768c3c2e-ef71-4b64-9569-ddb50285a70a",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pc1g3m0ih934pz9",
        "table": "mtxmanzpy3a6oz8",
        "returnAll": true,
        "options": {
          "where": "=(Telefono,eq,{{ $('Variables globales').first().json.msg.telefono }})"
        }
      },
      "type": "n8n-nodes-base.nocoDbTool",
      "typeVersion": 3,
      "position": [
        -4140,
        -180
      ],
      "id": "69b00814-bd21-48b8-824b-4573d65b1f8f",
      "name": "Nombre1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "CawnXo6TfhLoivTw",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este código SIEMPRE devuelve un array de objetos como requiere el sistema\nfunction formatearProducto() {\n  try {\n    // Obtener los valores de las variables\n    const title = $('Webhook').first().json.body.messages[0].reply.list_reply.title;\n    const description = $('Webhook').first().json.body.messages[0].reply.list_reply.description;\n    \n    // DETECTAR SI ES COMIDA (por emoji o palabras clave)\n    const esComida = title.includes('🥟') || title.includes('🍖') || title.includes('🥬') || \n                     title.includes('🍝') || title.includes('🍕') || title.includes('🍗') || \n                     title.includes('🥩') || title.includes('🥧') || title.includes('🍲') ||\n                     title.includes('🥪') || title.includes('🍔') || title.includes('🥤') ||\n                     title.includes('☕') || title.includes('🍮') || title.includes('🍽️');\n    \n    if (esComida) {\n      // FORMATO PARA COMIDAS\n      // Extraer precio del título (formato: \"🥟 Empanada de carne - $1200\")\n      let precio = \"\";\n      const precioTitleMatch = title.match(/\\$\\s*([\\d,\\.]+)/);\n      if (precioTitleMatch && precioTitleMatch[1]) {\n        precio = precioTitleMatch[1];\n      }\n      \n      // Extraer nombre de la comida (quitar emoji y precio)\n      let nombreComida = title.replace(/[\\u{1F300}-\\u{1F9FF}]/gu, '').replace(/\\s*-\\s*\\$[\\d,\\.]+.*/, '').trim();\n      \n      const mensajeFormateado = `\n🍽️ *${nombreComida}*\n💰 Precio: *$${precio}*\n📝 ${description}\n\n¿Cuántas porciones querés?`;\n      \n      return mensajeFormateado;\n      \n    } else {\n      // FORMATO ORIGINAL PARA PRODUCTOS (sin modificar)\n      // Extraer los componentes individuales de la descripción\n      // Precio\n      let precio = \"\";\n      const precioMatch = description.match(/Precio:\\s*\\*\\$?([\\d,\\.]+)/);\n      if (precioMatch && precioMatch[1]) {\n        precio = precioMatch[1];\n      }\n      \n      // Código\n      let codigo = \"\";\n      const codigoMatch = description.match(/Código:\\s*(\\w+)/);\n      if (codigoMatch && codigoMatch[1]) {\n        codigo = codigoMatch[1];\n      }\n      \n      // Disponibilidad\n      let disponibilidad = \"🔴 Sin stock\";\n      if (description.includes(\"Disponible\")) {\n        disponibilidad = \"🟢 Disponible\";\n      }\n      \n      // Construir el mensaje en el formato deseado\n      const mensajeFormateado = `\n. ${title}\n.🔥 Precio: *$${precio}*\n.🆔 Código: ${codigo}\n.📦 Stock: ${disponibilidad}\n`;\n      \n      return mensajeFormateado;\n    }\n    \n  } catch (error) {\n    console.error(\"Error al formatear producto:\", error);\n    return \"Error al procesar producto\";\n  }\n}\n\n// IMPORTANTE: Este es el retorno que necesitas - SIEMPRE usar array de objetos\nreturn [\n  { \n    message_completo: formatearProducto() \n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7920,
        60
      ],
      "id": "848ff345-ef35-44c4-a76c-6fe34c6144c5",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=agente_pocho:{{ $('Variables globales').first().json.msg.telefono }}",
        "sessionTTL": 3600
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -5500,
        -140
      ],
      "id": "6df693d0-01c1-4f7b-8343-bb8550df6bba",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "JMklVOvkU7koL2UG",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "agente_pocho:5492254423359"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5000,
        40
      ],
      "id": "3eeb412c-eb42-4306-89fb-fc93ab9c4ccc",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "JMklVOvkU7koL2UG",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer Qo7qoYEVIKvRppohj25MEaHl1dPwskEv"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_time",
              "value": "={{1}}"
            },
            {
              "name": "body",
              "value": "Tenes que elegir unicamente de cada menu que te comparto, no puepasar asi el medido."
            },
            {
              "name": "to",
              "value": "={{ $('camposiniciales').first().json.telefonoCliente }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3420,
        40
      ],
      "id": "0c371097-0bd0-417d-8700-2630ce87134d",
      "name": "Texto1"
    },
    {
      "parameters": {
        "name": "insertar_pedido",
        "description": "llamaras a esta herramienta cuando el pedido este confirmado",
        "workflowId": {
          "__rl": true,
          "value": "MA1amyL5ScIQzNJb",
          "mode": "id"
        },
        "fields": {
          "values": [
            {
              "name": "telefono",
              "stringValue": "={{ $('Variables globales').first().json.msg.telefono }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "\n  {\n    \"Nombre\": \"Juan Pérez\",\n    \"Productos\": [\n      {\n            \"Detalle\": \"Productos: Coca cola pack\",\n       \"Cantidad\": \"2\" ,\n      \"precio\": \"$300\"       \n    }],   \n    \"Total\":\"$1700\",\n    \"Telefono\": \"555-1234\",\n    \"Direccion\": \"Av. Principal #123 \",\n    \"Metodo de pago\": \"QR, TRANSCFERENCIA, OTRO\",\n    \"Retiro\": \"Local o domicilio\",\n    \"correo\":\"fercassera@gmail.com\",\n    \"Estado\": \"Pagado \",\n    \"Codigo pedido\":\"codigo generado\"\n  }\n"
      },
      "id": "75f6f8b7-7aca-43ff-bd2e-ca181a78e414",
      "name": "insertar_pedido",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -5300,
        -180
      ]
    },
    {
      "parameters": {
        "name": "promo_bancaria",
        "description": "Llama a esta herramienta siempre que el usuario quiera saber las promociones bancarias",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "yOh5hvWd7551O1Ez",
          "cachedResultName": "DESPENSA - Promociones"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -5180,
        -180
      ],
      "id": "3118ccbe-1902-4ee9-87dd-fe691b0ec25e",
      "name": "promociones1"
    },
    {
      "parameters": {
        "name": "buscar_productos",
        "description": "Llama a esta herramienta para saber sobre un producto o comidas",
        "workflowId": {
          "__rl": true,
          "value": "4bACFIaEnJooL6W4",
          "mode": "list",
          "cachedResultName": "DESPENSA - Buscar productos"
        },
        "fields": {
          "values": [
            {
              "name": "Telefono",
              "stringValue": "={{ $('Variables globales').first().json.msg.telefono }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\t\"Descripcion\": \"azucar\"\n}"
      },
      "id": "6999a4d2-d10f-435a-88ad-1ca471492773",
      "name": "buscar_productos",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -4940,
        -180
      ]
    },
    {
      "parameters": {
        "name": "buscar_comida",
        "description": "Llamaras a esta herramienta cuando el cliente quiera ver comidas",
        "workflowId": {
          "__rl": true,
          "value": "95iu7FwWHLs11Vkc",
          "mode": "list",
          "cachedResultName": "DESPENSA - Comidas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefono": "={{ $('Variables globales').first().json.msg.telefono }}",
            "descripcion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descripcion', `traeras lo que te pida el cliente `, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -4460,
        -180
      ],
      "id": "2c67858b-0ba1-4587-90ad-4d0eded75f6d",
      "name": "buscar_comida"
    },
    {
      "parameters": {
        "name": "insert_name_mail",
        "description": "Llamaras a esta herramienta cuando tengas sus datos ",
        "workflowId": {
          "__rl": true,
          "value": "MuBTjZBk3QgLNPG5",
          "mode": "list",
          "cachedResultName": "DESPENSA - Nombre real"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', `Guardaras el nombre real del usuario`, 'string') }}",
            "telefono": "={{ $('Variables globales').first().json.msg.telefono }}",
            "correo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('correo', `envia el correo`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -4580,
        -180
      ],
      "id": "8e6c0540-7039-4723-800a-f33a5e0bd01a",
      "name": "nombre"
    },
    {
      "parameters": {
        "jsCode": "// --- Funciones de procesamiento de texto ---\n\n// Función para procesar el texto y dividirlo inteligentemente\nfunction processAndSplitText(textInput) {\n  // Asegúrate de que textInput sea un string o pueda ser convertido\n  let text = textInput;\n\n  // Si la entrada no es un string\n  if (typeof text !== 'string') {\n    // Si es null o undefined, simplemente devolvemos un array vacío\n    if (text === null || text === undefined) {\n      return [];\n    }\n\n    // Si es un objeto, intentamos encontrar campos comunes que contengan texto\n    if (typeof text === 'object') {\n      if (text.text) {\n        text = text.text;\n      } else if (text.message) {\n        text = text.message;\n      } else if (text.type === 'text' && text.text) {\n        text = text.text;\n      } else if (text.output) { // Intentamos extraer de un campo 'output'\n          // Si output es un string, lo usamos\n          if (typeof text.output === 'string') {\n              text = text.output;\n          } else { // Si output es un objeto o array, intentamos extraer de ahí\n              const extracted = extractTextContent(text.output); // Usamos la función de extracción\n              if (extracted) {\n                  text = extracted;\n              } else {\n                   // Si no pudimos extraer, intentamos convertir todo el objeto a string\n                   try {\n                       text = JSON.stringify(text);\n                   } catch (e) {\n                       console.error(\"No se pudo serializar el objeto a string:\", e);\n                       return []; // Si falla la serialización, devolvemos vacío\n                   }\n              }\n          }\n      } else {\n        // Si no encontramos campos de texto comunes ni 'output', intentamos convertir a string\n        try {\n          text = JSON.stringify(text);\n        } catch (e) {\n           console.error(\"No se pudo serializar el objeto a string:\", e);\n           return []; // Si falla la serialización, devolvemos vacío\n        }\n      }\n    } else { // Si no es string, objeto, null o undefined, devolvemos vacío\n       console.warn(\"Entrada a processAndSplitText no es string, objeto, null o undefined:\", typeof text);\n       return [];\n    }\n  }\n\n  // Si después de los intentos no tenemos un string válido, devolvemos vacío\n  if (typeof text !== 'string' || text.trim() === '') {\n      return [];\n  }\n\n  // Ahora que tenemos un string, procesamos el formato\n  const processedText = text\n    .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*') // **texto** -> *texto*\n    .replace(/###\\s*/g, '')         // Elimina encabezados ###\n    .replace(/[¡¿!]/g, '');         // Elimina signos de exclamación e interrogación iniciales y finales\n\n  // Divide en líneas para análisis\n  const lines = processedText.split('\\n');\n\n  // Grupos para almacenar los mensajes\n  const messages = [];\n  let currentMessage = [];\n  let inNumberedSection = false;\n  let currentSectionNumber = null;\n\n  // Detectar secciones numeradas y agrupables\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    // Detecta si la línea es un encabezado numerado (ej: \"1. Tipo de propiedad:\")\n    const numberedHeaderMatch = line.match(/^\\s*(\\d+)\\.\\s+([^:]+):/);\n\n    if (numberedHeaderMatch) {\n      const sectionNumber = parseInt(numberedHeaderMatch[1]);\n\n      // Si estamos empezando una nueva sección numerada O si el número no es el siguiente esperado\n      if (!inNumberedSection || (inNumberedSection && sectionNumber !== currentSectionNumber + 1)) {\n         // Si tenemos contenido previo, guardamos como mensaje separado\n         if (currentMessage.length > 0) {\n             messages.push(currentMessage.join('\\n').trim()); // Trim antes de guardar\n             currentMessage = [];\n         }\n         inNumberedSection = true;\n      }\n      currentSectionNumber = sectionNumber; // Actualizamos el número de sección actual\n       currentMessage.push(line); // Agregamos la línea al mensaje actual\n\n    } else if (line.trim() === '') { // Línea vacía\n        // Una línea vacía puede terminar una sección si hay contenido previo\n        if (currentMessage.length > 0) {\n             // Si no estamos en una sección numerada, una línea vacía termina el mensaje actual\n             if (!inNumberedSection) {\n                 messages.push(currentMessage.join('\\n').trim()); // Trim antes de guardar\n                 currentMessage = [];\n             } else {\n                 // Si estamos en una sección numerada, una línea vacía se agrega al mensaje actual,\n                 // podría terminar la sección si hay otra línea vacía o fin de texto después.\n                 currentMessage.push(line);\n             }\n        }\n         // Si currentMessage está vacío, una línea vacía consecutiva no hace nada\n\n    } else { // Línea con contenido que no es un encabezado numerado\n        currentMessage.push(line);\n        inNumberedSection = false; // Salimos de la sección numerada si el contenido no sigue el patrón\n    }\n  }\n\n  // Agregar el último mensaje si queda algo\n  if (currentMessage.length > 0) {\n    messages.push(currentMessage.join('\\n').trim()); // Trim antes de guardar\n  }\n\n  // Filtrar mensajes vacíos y limpiar líneas vacías extra\n  return messages\n    .filter(msg => msg.length > 0) // Filtrar cadenas vacías después del trim\n    .map(msg => {\n      // Eliminar líneas vacías múltiples dentro del mensaje\n      return msg.replace(/\\n{2,}/g, '\\n\\n');\n    });\n}\n\n// Función para extraer texto de diferentes estructuras de datos\nfunction extractTextContent(data) {\n  // Si la data es null o undefined, retornamos null inmediatamente\n  if (data === null || data === undefined) {\n    return null;\n  }\n\n  // Si es un string, lo retornamos directamente\n  if (typeof data === 'string') {\n    return data;\n  }\n\n  // Si es un array\n  if (Array.isArray(data)) {\n    // Iteramos sobre el array e intentamos extraer texto de cada elemento\n    for (const item of data) {\n       const extracted = extractTextContent(item); // Llamada recursiva para elementos del array\n       if (extracted) {\n           return extracted; // Devolvemos el primer texto que encontramos\n       }\n    }\n    return null; // Si no encontramos texto en ningún elemento del array\n  }\n\n  // Si es un objeto\n  if (typeof data === 'object') {\n    // Priorizamos campos comunes que suelen contener texto\n    if (data.text) {\n      return data.text;\n    }\n    if (data.message) {\n      return data.message;\n    }\n    // Si tiene un campo 'output', intentamos extraer texto de él (puede ser string, array u objeto)\n    if (data.output !== undefined && data.output !== null) {\n         const extracted = extractTextContent(data.output); // Llamada recursiva para el campo output\n         if (extracted) {\n             return extracted;\n         }\n    }\n     // Si tiene un campo 'response', intentamos extraer texto de él\n     if (data.response !== undefined && data.response !== null) {\n         const extracted = extractTextContent(data.response); // Llamada recursiva para el campo response\n         if (extracted) {\n             return extracted;\n         }\n    }\n     // Si tiene un campo 'json', intentamos extraer texto de él\n     if (data.json !== undefined && data.json !== null) {\n         const extracted = extractTextContent(data.json); // Llamada recursiva para el campo json\n         if (extracted) {\n             return extracted;\n         }\n    }\n    // Si no encontramos campos de texto comunes ni estructuras anidadas esperadas,\n    // intentamos convertir el objeto completo a string como último recurso\n     try {\n         return JSON.stringify(data);\n     } catch (e) {\n         console.error(\"No se pudo serializar el objeto a string en extractTextContent:\", e);\n         return null; // Si falla la serialización\n     }\n  }\n\n  // Si el tipo de dato no es manejado, retornamos null\n  console.warn(\"Tipo de dato no manejado en extractTextContent:\", typeof data);\n  return null;\n}\n\n// --- Lógica Principal con manejo seguro de nodos ---\nlet textToProcess = null;\n\ntry {\n  // Verificar si el nodo \"Cancelar evento\" existe y tiene datos\n  let cancelarEventoData = null;\n  try {\n    // Usamos try-catch para capturar errores si el nodo no existe\n    cancelarEventoData = $('Cancelar evento');\n    if (cancelarEventoData && cancelarEventoData.first() && cancelarEventoData.first().json) {\n      if (cancelarEventoData.first().json.response !== undefined) {\n        textToProcess = extractTextContent(cancelarEventoData.first().json.response);\n      } else {\n        textToProcess = extractTextContent(cancelarEventoData.first().json);\n      }\n    }\n  } catch (e) {\n    // Silenciosamente ignoramos errores si el nodo no existe\n    console.log(\"Nodo 'Cancelar evento' no disponible o sin datos válidos\");\n  }\n  \n  // Solo intentamos acceder a AGE3 si aún no hemos encontrado texto para procesar\n  if (!textToProcess) {\n    try {\n      // Usamos try-catch para capturar errores si el nodo no existe\n      const age3Data = $('AGE3');\n      if (age3Data && age3Data.first() && age3Data.first().json) {\n        if (age3Data.first().json.output !== undefined) {\n          textToProcess = extractTextContent(age3Data.first().json.output);\n        } else {\n          textToProcess = extractTextContent(age3Data.first().json);\n        }\n      }\n    } catch (e) {\n      // Silenciosamente ignoramos errores si el nodo no existe\n      console.log(\"Nodo 'AGE3' no disponible o sin datos válidos\");\n    }\n  }\n  \n  // Si no hemos encontrado datos en los nodos específicos, intentamos con $input directamente\n  if (!textToProcess) {\n    try {\n      const inputItems = $input.all();\n      if (inputItems && inputItems.length > 0 && inputItems[0].json) {\n        textToProcess = extractTextContent(inputItems[0].json);\n      }\n    } catch (e) {\n      console.log(\"No se pudo acceder a los datos de entrada directamente:\", e.message);\n    }\n  }\n  \n  // Procesar y retornar el resultado\n  if (textToProcess) {\n    const textArray = processAndSplitText(textToProcess);\n    // Devolvemos un array con un objeto que contiene el array de texto\n    return [{json: {text: textArray}}];\n  } else {\n    // Si no se pudo obtener ni procesar texto, devolvemos un array vacío\n    return [{json: {text: []}}];\n  }\n} catch (error) {\n  // Capturamos cualquier error no manejado y devolvemos un objeto con información del error\n  console.error(\"Error general en el nodo:\", error.message);\n  return [{json: {text: [], error: error.message}}];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4060,
        -400
      ],
      "id": "2acc0cb7-5de3-4033-b5bf-5313e9f39dad",
      "name": "Separa datos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52cc775a-1114-46b3-9b00-bc2a6900638e",
              "name": "message_completo",
              "value": "={{ $json?.message_completo || $json?.message_completo || $json?.text?.join(\"\\n\") || $json?.response || $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5380,
        -460
      ],
      "id": "bdc12a61-44cf-4913-ae82-0223edc2936d",
      "name": "msg"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "o8xV7KjMjwGmMY54",
          "mode": "list",
          "cachedResultName": "SUB TAREA - OBTENER NOMBRE O INSERTAR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $('V1').first().json.msg.telefono }}",
            "servidor_db": "https://db.innovasoftpro.dev",
            "idTabla": "mtxmanzpy3a6oz8",
            "token": "8swibk167yA8yLIM6pwCwuTBsnup15m4dFJjMDag",
            "nombre_columna": "Telefono",
            "pushname": "={{ $('V1').first().json.msg.nombre }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "servidor_db",
              "displayName": "servidor_db",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "idTabla",
              "displayName": "idTabla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nombre_columna",
              "displayName": "nombre_columna",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pushname",
              "displayName": "pushname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "servidor_evo",
              "displayName": "servidor_evo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "id_mensaje",
              "displayName": "id_mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -9880,
        -400
      ],
      "id": "eedd74ba-fc7c-4a53-8744-58dea1e771b4",
      "name": "Validar Cliente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9ecf2fc-da2c-4f44-897a-5dc0a2f2f379",
              "name": "msg.telefono",
              "value": "={{ $json.body.messages[0].chat_id.replace(/\\D/g, '') }}",
              "type": "string"
            },
            {
              "id": "dab7ca54-c3d2-4a36-a9ca-a0ebbd375ef5",
              "name": "msg.nombre",
              "value": "={{ $json.body.messages[0].chat_name }}",
              "type": "string"
            },
            {
              "id": "cc7dcfe1-8ad7-4fe8-93ec-8f643c7d08c7",
              "name": "msg.type",
              "value": "={{ $json.body.messages[0].type }}",
              "type": "string"
            },
            {
              "id": "a3d07914-3c39-47d8-a122-9c1f6062c940",
              "name": "msg.ListaResponse",
              "value": "={{ $('Webhook').item?.json?.body?.data?.message?.listResponseMessage?.title || \"\" }}\n{{ $('Webhook').item?.json?.body?.data?.message?.listResponseMessage?.description || \"\" }}",
              "type": "string"
            },
            {
              "id": "81612acf-1b66-4c8e-82e4-ce8c77b31334",
              "name": "msg.content",
              "value": "={{ $json?.body?.messages[0]?.text?.body || $json?.body?.messages[0]?.voice?.link || $json?.body?.messages[0]?.link_preview.url ||  $json.body.messages[0].voice.id }}",
              "type": "string"
            },
            {
              "id": "01710423-6391-4a34-81e1-06d4779caf4d",
              "name": "msg.timestamp",
              "value": "={{ $json.body.messages[0].timestamp.toDateTime('s').toLocal().toISO() }}",
              "type": "string"
            },
            {
              "id": "2dfc64f4-b222-4ea7-b095-fdd96d9fcb95",
              "name": "msg.idmsg",
              "value": "={{ $json.body.messages[0].id }}",
              "type": "string"
            },
            {
              "id": "ca81718f-74eb-4960-ac3a-5b59f39f8710",
              "name": "datos.server_db",
              "value": "https://db.innovasoftpro.dev",
              "type": "string"
            },
            {
              "id": "be83160a-e151-4f62-bfde-590af142ae74",
              "name": "db.table_clientes",
              "value": "mwk4ui7lirmxc8h",
              "type": "string"
            },
            {
              "id": "c85ab512-ca17-401b-b025-4b6fc11ac818",
              "name": "db.token_db",
              "value": "BAWLISa1QL05FMwlWzJCpo9ONDaZ8_dXO0OULjhB",
              "type": "string"
            },
            {
              "id": "74ee121e-f109-4425-9b1e-ff7b6c49ae45",
              "name": "datos.tabla",
              "value": "mwk4ui7lirmxc8h",
              "type": "string"
            },
            {
              "id": "82426625-5ed5-49a9-abb1-d4ed246fddf2",
              "name": "msg.row_id_fecha",
              "value": "={{ $json.body.messages[0].reply.list_reply.id }}",
              "type": "string"
            },
            {
              "id": "6fedaf9c-efe8-46e5-bb61-b42525ddafa1",
              "name": "grupo",
              "value": "={{ $json.body.messages[0].chat_id.endsWith('@g.us') }}",
              "type": "boolean"
            },
            {
              "id": "7f846767-8866-43e5-845a-d1feda60451c",
              "name": "datos.token",
              "value": "B2v6DZyi27qmgYXOnvrYLEJ4l8KgN410",
              "type": "string"
            },
            {
              "id": "865ae94f-3e98-4b1b-943c-fafa6c059e45",
              "name": "msg.titulo_categoria",
              "value": "={{ $json?.body?.messages[0]?.context?.quoted_content?.header || \"\"}}",
              "type": "string"
            },
            {
              "id": "f71f1502-02e3-4de1-a62a-232537d8f402",
              "name": "datos.server_whapi",
              "value": "https://gate.whapi.cloud",
              "type": "string"
            },
            {
              "id": "2ccc2ae6-79a4-4998-8ef8-681fbb4876cc",
              "name": "msg.eventId",
              "value": "={{ $json.body.messages[0].context.quoted_id }}",
              "type": "string"
            },
            {
              "id": "47fcf50c-9216-4f7f-b5f4-b6d25b049891",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "95001dea-1bf9-41f7-b41f-4a5bd23719cf",
              "name": "msg.location.latitude",
              "value": "={{ $json.body.messages[0].location.latitude }}",
              "type": "number"
            },
            {
              "id": "1a6f4720-d9db-4093-9d7e-2fa585ad07bc",
              "name": "msg.location.longitude",
              "value": "={{ $json.body.messages[0].location.longitude }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "fdfb4ae3-2049-465d-a7f0-ab02f0553bcd",
      "name": "V1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11060,
        -400
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nJ8oQiqiXN62qgkS",
          "mode": "list",
          "cachedResultName": "SUB TAREA - ENLOCAR MSG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -7940,
        -820
      ],
      "id": "a2883f26-9b3a-4d6c-8c56-5e118bc22e39",
      "name": "Encolado de msg"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -7500,
        -820
      ],
      "id": "3b5758ce-4327-4364-8d86-cf0fc26402e5",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text",
              "renameField": true,
              "outputFieldName": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -7200,
        -820
      ],
      "id": "5f807c56-f680-4b7c-b4f7-509d977cfc4d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79a702ff-5f8c-4814-bddf-5e3acb5a5f2e",
              "name": "msg",
              "value": "={{ JSON.stringify($('V1').first().json.msg)}}",
              "type": "object"
            },
            {
              "id": "9337176e-e568-4efa-8c05-3bdb12ecfb61",
              "name": "list[0].Id",
              "value": "={{ JSON.stringify($json.list[0].Id) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "9a98708c-ddaa-495d-a97a-7329df47c3ac",
      "name": "Variables globales",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9360,
        -380
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5780,
        -160
      ],
      "id": "1073d204-e2aa-4f75-b2d3-bd45e5b626f9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9O8uUWkp7h4KwsVD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.innovasoftpro.dev",
            "content-length": "4642",
            "accept": "application/json",
            "content-type": "application/json",
            "x-forwarded-for": "65.21.161.42",
            "x-forwarded-host": "n8n.innovasoftpro.dev",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "575dad520f0e",
            "x-real-ip": "65.21.161.42",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "messages": [
              {
                "id": "E29_XdJGrKbbqqCUO1QCnQ-gKIE_sPiXgo",
                "from_me": false,
                "type": "location",
                "chat_id": "5492254596618@s.whatsapp.net",
                "timestamp": 1749781019,
                "source": "mobile",
                "location": {
                  "latitude": -37.1483243,
                  "longitude": -56.894548,
                  "preview": "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/4gHYSUNDX1BST0ZJTEUAAQEAAAHIAAAAAAQwAABtbnRyUkdCIFhZWiAH4AABAAEAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAACRyWFlaAAABFAAAABRnWFlaAAABKAAAABRiWFlaAAABPAAAABR3dHB0AAABUAAAABRyVFJDAAABZAAAAChnVFJDAAABZAAAAChiVFJDAAABZAAAAChjcHJ0AAABjAAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgAAAAcAHMAUgBHAEJYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9YWVogAAAAAAAA9tYAAQAAAADTLXBhcmEAAAAAAAQAAAACZmYAAPKnAAANWQAAE9AAAApbAAAAAAAAAABtbHVjAAAAAAAAAAEAAAAMZW5VUwAAACAAAAAcAEcAbwBvAGcAbABlACAASQBuAGMALgAgADIAMAAxADb/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCABkAGQDASIAAhEBAxEB/8QAHAAAAgIDAQEAAAAAAAAAAAAAAAQDBgECBwUI/8QAPBAAAgEDAgQCBQkHBQEAAAAAAQIDAAQRBRIGEyExMnEUIkFRYQcjQnKBgrHB0RUzNFKRoeEkYpLw8VP/xAAaAQEBAAMBAQAAAAAAAAAAAAABAAIDBQQG/8QAJhEAAgECBQQCAwAAAAAAAAAAAAECAxEEBRIhURMiMUEUYQaBsf/aAAwDAQACEQMRAD8A+maK0WWNvC6HyNb1CFZc71Kv6ykYIbqDWKKiPNjs7Ntclu/QbP0tQcXHIXmgkAH18Z7ZFavw9o8mr/tOSwja93cwuWbaX27N5TO0tt6bsZx7aZs/WuLlv92P7mm6ybaMUkypQ8AaPAIVhm1ARwi3jSN5+YqxwzCZYxkdF3KAfgKQvPk3tZXtjFdo4EU0Fwt3E7CRJZnlbby5EKnMjjqSCD2q+UU9SXIdOPBRNU4T1IR6hHaNYT2lzqq37RyNsdohCIwm5o3ClSiHIBJAPUZ6+twXo93pvCOlWV3Ly7qGMiQRvvUMXY9CMDHWrBdHFtJ9UisWYxax/EZ/rU5tqxKCTIuTdL4JwfMf+0ZvF+jG/wD37KborG5lYU59wOht+vwopuiq5WMMit4lU+YrTkRexAv1en4VJRQNiPkgeF5B97P41jZIO0x+8o/xUtaXB2wSH3KfwpCwpp/MMTMu05bJ3Z91Vfir5QrHQbp7NIDe3qeOOKTCofczEdD8ADXv6ldyabwtqF7CAZbe2mmUHtlVYj8K+Zr24eKJ5nJklY5LMclmJ6k14sZiZUrRh5Z3sjyunjNVSs+2Prk7Fp3yt20lwF1LSpbaE9OZDNztvxI2qceWT8K6Jaaha3ltHcW0yyQSKGRwDhh7818n6fevPKY5AO2QRXa/kOvppLLVbB2Jht3jljB+jv3ZA+GUz5k1qwuKnKfTqHtzjJ6FGh8nDbJeUdEvpo2tmCOrEkdjn20zEu2JF9ygUrqIBWNQBuZu/wDb86n9Hi9iBfq9Pwrpej5T2S0VFyQPC8g+8T+NHLkHaZj9ZQaBJaKixOPpxn7p/WiorlUl42eC8eS605F0o3dxYR3CT/OvNAjs5MZGAhMTgHcT0GRg9POT5QLlLy3ub7RbyDSzpA1GdIuVNJEjOuJWO4HYFD9AC2OuPdaLjhfRJ7m7uJNPiE90kiSurMP3i7XYDOFZh0LAZPvpTVuDNM1OVmln1CGN7SKxlhgnCpLBGWIjbIJwd5yQQfiOudqcODU1PkYfizRY76S2a4uG2M6c2O1keN3RDI0asoIZwoJ2jJOCBk9KVseLtI1PQtLu5LuGwk1OJZIbe7cI5yQMdcZGTgHsfZUEPAemQ61e6hCY0a5kln/hYjLHLIpBKy434G5iBnoT3x0rxNY4H1SXS7Gx/bFs9rBaW1kIyJoUAikySEVyrFkAB37uq9MA9FKD9k3MtfEOo6dYWEGnast2/wC0IpIeXbWzzsVCjedqAnADd8V876lYi2lMDutxA6h4ZlHqzxnwuvnjt3BBB6g13DjfQ76/4g0+9tLO9u7e2tblE9C1AWkyTysmG3bl9UKhz1PcdDVF4i4Q4g5NhZz25mNnp1tFaeiW7vEZADzxuU7VJbBy69cDBHUV4sXhVWp6ovuR28kzR4KvoqLsls/r7OeQW0VtuZBjp1JPsrvnyUcPTaJoclxeo0d5fMJGjYYKIB6ike/qSfdux7K5VwDbwXGsXGo3iyegaVZS6izLGJAzx7SFKnv0bOMjt3Her/o3HWszWuoI9va391DLbrGyBQSJEZ3wkTvzNiqrbVJbDHI6ZPnwGEk11n+jp/keaRv8Kl4Xn+2Og3XrXduvuOf+/wBKbql6LxPe6pxLpsZt9PGmyaU17LJDOXIYybUK5QdPVYYzn1uuCuDbFvID9IjzBroyi1sfKRkmMUVGs8THAkQn3ZqSsTIKKKKiCil5JZYygKo25towSK35kg7wt90g02K5LSl91lt09hb8x+tTc4DxJIPuE/hS0sqNfQ5YBQO56dev+KkgbHqKwrK3hYHyNZoET0fTLPRbV7fS4Ft4HkaVkUkgs3c9a0u9F0u8tmgudOs5IWcSbeUow46BgRghhk4I69afoqXb4GTc3eW7PIsNL0+31f0mztBbyQWq2SCF2SMRAkqpjB2nBLYOMjJr1GhjbxRofMUvY9ZLhvYW/M/rTdLe5ilsQNaQt9DHkTUfoCDqjup+FN0VXZWQp6LMO1y+Pjk/nRTdFV2WlGrIrMpPdTkVtUS3Nu17LZrMjXcMayyQg+siMSFJ8yrf0qbv2oExSa+vqT5GQq/p+tOnp3pO09a6uW9xx/c/pSgZO0MTd40P2Vj0dPo7l+qxFS0UXGxFymHhmkHng/iKwwlUE81SB/Mv+amqO6OLeU/7TSArYc1YSUVWBbPVsH2fCmeY48ULfdINa2Q22qfaf71PU2SWxFz1HiWRfNDWRPF/9FHmcVJQRnvQJgOpHRh/WitTFGe8af8AEUVFucwu9Bv9M4svk0Gz1m2kNxYQ2M8csrWxhQh5jKd2GA5kow/tPq9c158/EHFMmicTXF7evbSQ2F401uhG62dWxEEUwgqMZBO99wO4EEZHY6CxKkEkgjBB6g1tVXlGrp8M56vFt9Ya/pukQS22pWkc9rp9xOY/nHeSPfvD8wZwpU9I2BGcsDUurcTXuj8dWFuWU6EttG2oZUfNtPK6RSZxkYZAD1xhs+yrfdadp7zi+lsLN7yEBo52gUyIVHTDYyMUqdG07ULK/W7tFc6jbC0uTuOXiXeFHfoRvY5Hv8qtUeC0y8XK1w/8ollJpmkLrBkN/dQRTXEkMaiK3EzHlb/Wz1BXwg47nAOa9lONtBeK6kFzcf6dJ5CGtZF5iwttk5bEbXwe+0nGeuK0j4I0iG+tLm258K28cEZgCwyJKIQBHkyIWU4AGVZc4Ga8DSeAtRl4WhtdY1QR3g0y5tYokhBFtLcj5xmYN85jsMY6E9z1ptTe5d62Lrpes6fqdhFd2t1EEeGKdo5HVXiWTw7xnoSQR8SCBnFNXoJtGKesCQuV69c9apGocJaxNfusZ017C8l0xrk81keJLZlZkRNhDAlSQSwPXGK8NeEdb0rTbeXTrY22oPps3p8tnIolnlkuYndNwOWYR87afYT0NChH0y1S4OrwqUhjUjBCgVtVW4Qg1COHU2VL23017oGwg1B2aZIxGocnflgC+4gMc9+wIr3uZeDvEjeX/tYONmZqWw3RSnpUo8Vs/wBmT+VHp8YOGV1PxxRZjdDdFL+mwfzH/iaKrMroYooooEhvDi2k+IxWbT+Gj8qKKfQeyWiiigQpS9/f231vzFFFKB+BuiiigQoooqI0MMZOTGhP1RRRRUR//9k="
                },
                "from": "5492254596618",
                "from_name": "Automátizaciones AI"
              }
            ],
            "event": {
              "type": "messages",
              "event": "post"
            },
            "channel_id": "GROOTT-ZSFJB"
          },
          "webhookUrl": "https://n8n.innovasoftpro.dev/webhook/lodepocho",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "2kOn0Oz7c2uvczPK",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/Argentina/Buenos_Aires"
  },
  "staticData": {
    "node:File Created": {
      "lastTimeChecked": "2025-01-24T00:40:06Z"
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-01-19T21:20:51.336Z",
      "updatedAt": "2025-01-19T21:20:51.336Z",
      "id": "dgrS6et84MZNe4W0",
      "name": "POCHO"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-06-13T02:21:27.413Z",
  "versionId": "af0c2db5-a01c-4405-a67b-361e79563c2c"
}