workflows/POCHO/XyVjrws5N5MMCPBw.json
{
  "active": false,
  "connections": {
    "Split Out1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Productos": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Descargar Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-19T21:20:39.135Z",
  "id": "XyVjrws5N5MMCPBw",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "DESPENSA - Pasar a minuscula lo de pocho",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "Producto,Codigo",
        "options": {}
      },
      "id": "f52422a2-6bb7-43f2-9729-240a01adcd82",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -900,
        140
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "0a58b6e8-9bfe-4e20-b23b-61f3b73df2a6",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -680,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    ...item.json,\n    data: item.json.data.map(p => ({\n      ...p,\n      Producto: p.Producto ? p.Producto.toLowerCase() : p.Producto\n    }))\n  }\n}));\n"
      },
      "id": "46bec87e-527a-4812-84e3-1ce7adf5623d",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        140
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "97c09f35-916d-491d-8121-bdbc984326de",
      "name": "Split Out2",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -220,
        140
      ]
    },
    {
      "parameters": {
        "batchSize": 500,
        "options": {}
      },
      "id": "7098de26-22b0-48c1-a472-7c9b56e8141a",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        140
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1BjXUpF4UGYet7F-ajPFJgBLgpoaS2Wy3WqcBQVislIs",
          "mode": "list",
          "cachedResultName": "Productos - Bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BjXUpF4UGYet7F-ajPFJgBLgpoaS2Wy3WqcBQVislIs/edit?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "90e1110b-0e69-4f3b-93d5-e03494e01902",
      "name": "Descargar Productos",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1400,
        140
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8FzorvJMsJs5zcuW",
          "name": "Despensa POCHO"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1140,
        140
      ],
      "id": "b8077b40-a9c9-402a-81f4-78c871960886",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1BjXUpF4UGYet7F-ajPFJgBLgpoaS2Wy3WqcBQVislIs",
          "mode": "list",
          "cachedResultName": "Productos - Bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BjXUpF4UGYet7F-ajPFJgBLgpoaS2Wy3WqcBQVislIs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 375361433,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BjXUpF4UGYet7F-ajPFJgBLgpoaS2Wy3WqcBQVislIs/edit#gid=375361433"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Producto": "={{ $json.Producto }}",
            "Codigo": "={{ $json.Codigo }}"
          },
          "matchingColumns": [
            "Codigo"
          ],
          "schema": [
            {
              "id": "Codigo",
              "displayName": "Codigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Producto",
              "displayName": "Producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P. Costo",
              "displayName": "P. Costo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "P. Venta",
              "displayName": "P. Venta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "P. Mayoreo",
              "displayName": "P. Mayoreo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Existencia",
              "displayName": "Existencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Inv. Mínimo",
              "displayName": "Inv. Mínimo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Inv. Máximo",
              "displayName": "Inv. Máximo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Departamento",
              "displayName": "Departamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        280
      ],
      "id": "5effce94-a40d-4eb6-9745-ee9758334b9f",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yxBoR5sUs8UyR9Sc",
          "name": "Despensa"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        300,
        280
      ],
      "id": "b7d8768a-643f-41fa-b2e3-ec336bd04413",
      "name": "Wait",
      "webhookId": "c12c296e-cd76-4479-adec-4391931d06c2"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1vSXe3ZKpyFoT2YJxFkcmRswBdVlCJoWfxnP5WZumd-s",
          "mode": "list",
          "cachedResultName": "Productos - bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vSXe3ZKpyFoT2YJxFkcmRswBdVlCJoWfxnP5WZumd-s/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1720,
        140
      ],
      "id": "e8f5fe5e-d927-4a3f-8d97-73b8bb576cfb",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8FzorvJMsJs5zcuW",
          "name": "Despensa POCHO"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-02-05T17:44:05Z"
    }
  },
  "tags": [
    {
      "createdAt": "2025-01-19T21:20:51.336Z",
      "updatedAt": "2025-01-19T21:20:51.336Z",
      "id": "dgrS6et84MZNe4W0",
      "name": "POCHO"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-06T14:58:53.493Z",
  "versionId": "bd6ab2b9-45ad-4717-94db-19afaebac22f"
}