workflows/Gastos/RKX1dR3ws7vF9qmR.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-27T11:23:54.605Z",
  "id": "RKX1dR3ws7vF9qmR",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RAG Personal-Gastos",
  "nodes": [
    {
      "parameters": {},
      "id": "1f0d7fd8-78aa-47fb-8523-7562f12dc80c",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        560,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "96201bb5-34c2-4060-a85a-690f20921f48",
              "leftValue": "fecha",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "3ae34b2b-e78f-48f7-8d93-1aaeb229e36c",
              "leftValue": "monto",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "c7886918-d936-471c-b96e-abfa9e8db511",
              "leftValue": "descripcion",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "e75cabfa-58b5-4576-9bc5-aba19f7d91c0",
              "leftValue": "categoria",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "ea1f6682-5ac1-4b7d-bc27-ccf480a0c20b",
              "leftValue": "metodo_pago",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad84605e-6c71-43c8-b572-b66b5e181665",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        240
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "p2wyinvm2ije1rn",
        "table": "mhuhqxwcjj5ui7c",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "fecha",
              "fieldValue": "={{ $json.query.fecha }}"
            },
            {
              "fieldName": "monto",
              "fieldValue": "={{ $json.query.monto }}"
            },
            {
              "fieldName": "descripcion",
              "fieldValue": "={{ $json.query.descripcion }}"
            },
            {
              "fieldName": "categoria",
              "fieldValue": "={{ $json.query.categoria }}"
            },
            {
              "fieldName": "metodo_pago",
              "fieldValue": "={{ $json.query.metodo_pago }}"
            },
            {
              "fieldName": "razon_social",
              "fieldValue": "={{ $json.query.razon_social }}"
            }
          ]
        }
      },
      "id": "85c4d192-cc95-445b-b0d9-7754f1ed5b9a",
      "name": "NocoDB",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1100,
        140
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "uiVAxQcDCuq8IFxo",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b68c8b2-c1ed-4165-a5cc-2a9db02775e0",
              "name": "response",
              "value": "Datos cargados ✅",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "26eb0e7a-e113-4367-8d59-7b41aa7e93ed",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b68c8b2-c1ed-4165-a5cc-2a9db02775e0",
              "name": "response",
              "value": "Error al cargar los datos!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c14a4563-7a7f-40ec-a655-718d25b696c0",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        340
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": {
            "fecha": "2024-12-27",
            "monto": "6314.00",
            "descripcion": "Compra en supermercado",
            "categoria": "Supermercado",
            "metodo_pago": "Efectivo",
            "razon_social": "SUPERMERCADO SAN JOSE"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-28T13:50:34.587Z",
      "updatedAt": "2024-12-28T13:50:34.587Z",
      "id": "xkAp7jA38Kw7oqiS",
      "name": "Gastos"
    },
    {
      "createdAt": "2024-12-28T13:51:47.183Z",
      "updatedAt": "2024-12-28T13:51:47.183Z",
      "id": "3xi6qe9kZEmcN6nG",
      "name": "Tool🛠️"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-12-29T02:00:25.526Z",
  "versionId": "4ac9cc1a-6045-4527-a973-382ad8efc71f"
}