workflows/AGENTES INMO/5AJCyyzXz5C3WWHQ.json
{
  "active": false,
  "connections": {
    "Calendario": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response null Codigo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getForCode": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "getForCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Success2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Success3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getForCode1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "getForCode1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Success4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lista1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-29T19:14:29.563Z",
  "id": "5AJCyyzXz5C3WWHQ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AGENTE INMO - Consultar_fechas_disponibles",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Evento"
            },
            {
              "name": "session_id"
            },
            {
              "name": "url_evo"
            },
            {
              "name": "instance"
            },
            {
              "name": "apikey"
            },
            {
              "name": "numero_telefono"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3180,
        440
      ],
      "id": "6e4f3631-32d6-4a84-a3a3-404bc5d1312a",
      "name": "Calendario"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Codigo_propiedad",
        "key": "=propiedades_historial_analisis",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2960,
        440
      ],
      "id": "db279666-f2af-4220-943f-335f44a78abc",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "JMklVOvkU7koL2UG",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c358838a-4034-4100-a5cd-e89f533161b0",
              "leftValue": "={{ $json.ultimoCodigo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2520,
        440
      ],
      "id": "3ff701f4-a965-4679-a55b-899ceded888b",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef619c87-8996-4278-805f-187d5e1e672a",
              "name": "response",
              "value": "Codigo propiedad vacio",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2320,
        700
      ],
      "id": "b7e17bdc-0386-4846-a29f-c7424c903213",
      "name": "Response null Codigo1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "qeva.ai.solutions@gmail.com",
          "mode": "list",
          "cachedResultName": "Propiedades inmobiliarias"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2080,
        540
      ],
      "id": "305f5c1a-e231-4f10-983e-d3054fd5250b",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "248CSUaxOr8MEWUN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Calendario').first().json.url_evo }}/message/sendList/{{ $('Calendario').first().json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Calendario').first().json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Calendario').first().json.numero_telefono }}"
            },
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "buttonText",
              "value": "={{ $json.buttonText }}"
            },
            {
              "name": "footerText",
              "value": "="
            },
            {
              "name": "sections",
              "value": "={{ $json.sections }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -980,
        640
      ],
      "id": "a36506e8-1dd9-4450-ae36-0d7af61dfcaa",
      "name": "HTTP Request2",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "=true",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bc06c8aa-a328-446d-8949-60271387df59",
      "name": "Success1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener los datos del nodo anterior\nconst datos = $input.first()?.json?.resultados || [];\nconsole.log(\"DEBUG - Datos recibidos:\", JSON.stringify(datos).substring(0, 200) + \"...\");\n\n// Verificar si tenemos datos\nif (!datos || !datos.length) {\n  console.log(\"DEBUG - No hay datos disponibles\");\n  return [{\n    json: {\n      error: \"No se encontraron eventos\",\n      message: \"El nodo anterior no devolvi贸 ning煤n horario disponible\"\n    },\n    pairedItem: 0\n  }];\n}\n\n// Funci贸n para obtener el emoji estacional seg煤n el mes (hemisferio sur)\nfunction getEmojiEstacional(mes) {\n  if (mes >= 3 && mes <= 5) return \"\"; // Oto帽o\n  if (mes >= 6 && mes <= 8) return \"锔\"; // Invierno\n  if (mes >= 9 && mes <= 11) return \"\"; // Primavera\n  return \"锔\"; // Verano\n}\n\n// Nombres de los meses\nconst nombresMeses = {\n  1: 'Enero', 2: 'Febrero', 3: 'Marzo', 4: 'Abril',\n  5: 'Mayo', 6: 'Junio', 7: 'Julio', 8: 'Agosto',\n  9: 'Septiembre', 10: 'Octubre', 11: 'Noviembre', 12: 'Diciembre'\n};\n\n// Nombres de los d铆as de la semana\nconst nombresDias = {\n  0: 'Domingo',\n  1: 'Lunes',\n  2: 'Martes',\n  3: 'Mi茅rcoles',\n  4: 'Jueves',\n  5: 'Viernes',\n  6: 'S谩bado'\n};\n\n// Extraer fecha de una cadena ISO\nfunction extraerFechaYHora(isoString) {\n  if (!isoString) return null;\n  \n  const match = isoString.match(/(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n  if (match) {\n    const fechaCompleta = new Date(`${match[1]}-${match[2]}-${match[3]}T${match[4]}:${match[5]}:00`);\n    const diaSemana = nombresDias[fechaCompleta.getDay()];\n    \n    return {\n      anio: parseInt(match[1], 10),\n      mes: parseInt(match[2], 10),\n      dia: parseInt(match[3], 10),\n      hora: `${match[4]}:${match[5]}`,\n      fechaCompleta: fechaCompleta,\n      diaSemana: diaSemana\n    };\n  }\n  return null;\n}\n\n// Funci贸n para formatear el rango de hora correctamente (12:00 a 12:30)\nfunction formatearRangoHora(horaInicio, horaFin) {\n  // Extraer horas y minutos de ambos horarios\n  const inicioMatch = horaInicio.match(/^(\\d+):(\\d+)/);\n  const finMatch = horaFin.match(/^(\\d+):(\\d+)/);\n  \n  // Formatear correctamente con horas y minutos\n  const horaInicioFormateada = inicioMatch ? `${inicioMatch[1]}:${inicioMatch[2]}` : horaInicio;\n  const horaFinFormateada = finMatch ? `${finMatch[1]}:${finMatch[2]}` : horaFin;\n  \n  return `${horaInicioFormateada} a ${horaFinFormateada}`;\n}\n\n// Obtener la fecha y hora actual\nconst ahora = new Date();\nconsole.log(`DEBUG - Fecha actual: ${ahora.toISOString()}`);\nconsole.log(`DEBUG - Fecha local: ${ahora.toString()}`);\n\n// Agrupar horarios por mes y d铆a\nconst mesesAgrupados = {};\n\n// Procesar los horarios disponibles de todos los eventos\ndatos.forEach(evento => {\n  if (!evento.horariosDisponibles || !evento.horariosDisponibles.length) return;\n  \n  evento.horariosDisponibles.forEach(horario => {\n    try {\n      // Obtener la fecha de inicio del horario\n      const fechaHorario = new Date(horario.inicio);\n      \n      // Para debug\n      console.log(`DEBUG - Evaluando horario: ${horario.inicio}`);\n      \n      // COMPARACIN SIMPLE: Verificar si la fecha ya pas贸\n      if (fechaHorario <= ahora) {\n        console.log(`DEBUG - FILTRADA: Fecha ya pas贸`);\n        return; // Saltar este horario porque ya pas贸\n      }\n      \n      // Extraer componentes de la fecha para agrupar\n      const fechaInicio = extraerFechaYHora(horario.inicio);\n      if (!fechaInicio) {\n        console.log(`DEBUG - Error al extraer fecha y hora de: ${horario.inicio}`);\n        return;\n      }\n      \n      const mes = fechaInicio.mes;\n      const dia = fechaInicio.dia;\n      const nombreMes = nombresMeses[mes];\n      const diaSemana = fechaInicio.diaSemana;\n      \n      // Inicializar el grupo del mes si no existe\n      if (!mesesAgrupados[nombreMes]) {\n        mesesAgrupados[nombreMes] = {\n          mes: mes,\n          fechas: []\n        };\n      }\n      \n      // Evitar duplicados\n      const yaExiste = mesesAgrupados[nombreMes].fechas.some(\n        e => e.dia === dia && e.horaInicio === horario.horaInicio\n      );\n      \n      if (!yaExiste) {\n        mesesAgrupados[nombreMes].fechas.push({\n          dia,\n          horaInicio: horario.horaInicio,\n          horaFin: horario.horaFin,\n          mes,\n          diaSemana,\n          resumen: evento.eventoPrincipal.resumen,\n          rowId: `${mes}-${dia}-${horario.horaInicio.replace(\":\", \"\")}`\n        });\n      }\n    } catch (error) {\n      console.log(`ERROR procesando horario: ${error.message}`);\n    }\n  });\n});\n\n// Armar la estructura para WhatsApp SendList\nconst sections = [];\n\n// Crear una secci贸n para cada mes\nfor (const [nombreMes, datosMes] of Object.entries(mesesAgrupados)) {\n  const filas = datosMes.fechas;\n  if (filas.length === 0) continue;\n  \n  // Obtener el emoji estacional para este mes\n  const emoji = getEmojiEstacional(datosMes.mes);\n  \n  // Ordenar filas por d铆a y hora\n  filas.sort((a, b) => {\n    if (a.dia !== b.dia) return a.dia - b.dia;\n    return a.horaInicio.localeCompare(b.horaInicio);\n  });\n  \n  const rowsDelMes = [];\n  filas.forEach(f => {\n    const horaFormateada = formatearRangoHora(f.horaInicio, f.horaFin);\n    rowsDelMes.push({\n      title: ` ${f.dia} de ${nombreMes} : ${horaFormateada}`,\n      description: `${f.diaSemana}`,\n      rowId: f.rowId\n    });\n  });\n  \n  // Agregar la secci贸n del mes con el emoji estacional\n  if (rowsDelMes.length > 0) {\n    sections.push({\n      title: `${emoji} ${nombreMes}`,\n      rows: rowsDelMes\n    });\n  }\n}\n\n// Secci贸n por defecto si no hay nada\nif (sections.length === 0) {\n  sections.push({\n    title: \"锔 Sin horarios disponibles\",\n    rows: [{\n      title: \"No hay horarios disponibles\",\n      description: \"Intenta m谩s tarde\",\n      rowId: \"no-disponible\"\n    }]\n  });\n}\n\n// Obtener n煤mero de cliente desde otro nodo o poner uno por defecto\nconst remoteJid = $('Calendario').first().json.numero_cliente;\n\n// JSON final para enviar por WhatsApp\nconst requestBody = {\n  number: remoteJid,\n  title: \" Fechas Disponibles\",\n  description: \"Seleccion谩 una fecha y hora para agendar tu visita\\n Cada visita tiene una duraci贸n de 30 minutos aprox.\",\n  buttonText: \"Seleccion谩 \",\n  footerText: \"\", // Ya incluimos la informaci贸n de duraci贸n en la descripci贸n\n  sections\n};\n\n// Retornar el mensaje final en el formato que espera n8n\nreturn [{\n  json: requestBody,\n  pairedItem: 0 // Agregamos pairedItem para mantener el enlace con el elemento de entrada\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        640
      ],
      "id": "ae9a13fb-b9b6-4237-ae12-338898fce69e",
      "name": "Lista"
    },
    {
      "parameters": {
        "jsCode": "// C贸digo para obtener el 煤ltimo c贸digo de propiedad\n// Obtenemos todos los 铆tems de Redis\nconst redisItems =$input.first().json.Codigo_propiedad ;\n\n// Verificamos si existe la propiedad y es un array\nif (!Array.isArray(redisItems)) {\n  console.log(\"Error: No se encontr贸 un array de c贸digos de propiedad\");\n  return $input.all();\n}\n\n// Obtenemos el 煤ltimo elemento del array\nconst ultimoCodigo = redisItems[redisItems.length - 1];\nconsole.log(\"ltimo c贸digo de propiedad:\", ultimoCodigo);\n\n// A帽adimos el 煤ltimo c贸digo a todos los 铆tems de entrada\nconst items = $input.all();\nfor (const item of items) {\n  item.json.ultimoCodigo = ultimoCodigo;\n}\n\n// Devolvemos los 铆tems con el nuevo campo\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2740,
        440
      ],
      "id": "d714ca80-98fb-4845-8cb3-d7bf383ec8f1",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "//  Leer todos los eventos\nconst eventos = $input.all();\nconst codigoBusqueda = $('Code').first().json.ultimoCodigo?.toUpperCase();\n\n// Agregar logs para depuraci贸n\nconsole.log(\"C贸digo a buscar:\", codigoBusqueda);\n\n//  Funciones auxiliares\nconst extraerMinutos = (isoString) => {\n  if (!isoString) return null;\n  const hora = isoString.substring(11,16).split(':');\n  return parseInt(hora[0]) * 60 + parseInt(hora[1]);\n};\n\nconst minutosAHora = (totalMinutos) => {\n  const horas = Math.floor(totalMinutos / 60);\n  const minutos = totalMinutos % 60;\n  return `${horas.toString().padStart(2, '0')}:${minutos.toString().padStart(2, '0')}`;\n};\n\nconst crearFechaISO = (fechaBase, horaStr) => {\n  return fechaBase.substring(0, 11) + horaStr + fechaBase.substring(16);\n};\n\n//  Clasificar eventos\nconst eventosVerdes = [];\nconst eventosRojos = [];\n\nfor (const item of eventos) {\n  const ev = item.json;\n  const start = ev.start?.dateTime || ev.start?.date || ev.start;\n  const end = ev.end?.dateTime || ev.end?.date || ev.end;\n\n  if (!start || !end) continue;\n\n  const summary = ev.summary || \"\";\n  const colorId = ev.colorId?.toString();\n  \n  // Buscar si summary contiene \"Codigo:XXXXX\"\n  const summaryUpper = summary.toUpperCase();\n  const patronBusqueda = \"CODIGO:\" + codigoBusqueda;\n  const coincide = summaryUpper.includes(patronBusqueda);\n  \n  // Log para depuraci贸n\n  console.log(\"Evaluando evento:\", summary);\n  console.log(\"Patr贸n buscado:\", patronBusqueda);\n  console.log(\"驴Coincide?\", coincide);\n\n  if (!coincide) continue;\n\n  if (colorId === \"2\") {\n    eventosVerdes.push({ start, end, summary, location: ev.location || \"\" });\n  } else if (colorId === \"11\") {\n    eventosRojos.push({ start, end });\n  }\n}\n\n//  Si no hay verdes, devolver mensaje\nif (eventosVerdes.length === 0) {\n  return [{\n    json: {\n      noMatchingEvents: true,\n      message: \"No se encontraron eventos disponibles para la propiedad.\"\n    }\n  }];\n}\n\n//  Procesar horarios disponibles\nconst resultados = eventosVerdes.map(evento => {\n  const inicioVerdeMin = extraerMinutos(evento.start);\n  const finVerdeMin = extraerMinutos(evento.end);\n\n  const bloques = [];\n\n  for (let m = inicioVerdeMin; m + 30 <= finVerdeMin; m += 30) {\n    let bloqueOk = true;\n\n    for (const rojo of eventosRojos) {\n      const inicioRojoMin = extraerMinutos(rojo.start);\n      const finRojoMin = extraerMinutos(rojo.end);\n\n      if (inicioRojoMin === null || finRojoMin === null) continue;\n\n      // Verificar solapamiento\n      if (!(m + 30 <= inicioRojoMin || m >= finRojoMin)) {\n        bloqueOk = false;\n        break;\n      }\n    }\n\n    if (bloqueOk) {\n      const horaInicio = minutosAHora(m);\n      const horaFin = minutosAHora(m + 30);\n\n      bloques.push({\n        horaInicio: horaInicio,\n        horaFin: horaFin,\n        inicio: crearFechaISO(evento.start, horaInicio),\n        fin: crearFechaISO(evento.start, horaFin)\n      });\n    }\n  }\n\n  return {\n    eventoPrincipal: {\n      resumen: evento.summary,\n      location: evento.location,\n      inicio: evento.start,\n      fin: evento.end,\n      horaInicio: minutosAHora(inicioVerdeMin),\n      horaFin: minutosAHora(finVerdeMin)\n    },\n    horariosDisponibles: bloques\n  };\n});\n\n//  Devolver la respuesta\nreturn [{\n  json: {\n    resultados: resultados\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1640,
        540
      ],
      "id": "e8ad3a77-dca2-4e50-a840-1fbd4f3a5187",
      "name": "getForCode"
    },
    {
      "parameters": {
        "fieldToSplitOut": "summary, start, end, location, colorId, description, id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1860,
        540
      ],
      "id": "5bdf6fd1-d1b3-42b4-8ca8-ffb7aaba17cb",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b272870f-2db7-43e9-b82f-131ed3160b38",
              "leftValue": "={{ $json.message }}",
              "rightValue": "=No se encontraron eventos disponibles para la propiedad.",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1420,
        540
      ],
      "id": "f29796f5-987b-4b1b-a419-448eb760e7c8",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "=No hay evento cargados para esta propiedad",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "956ea19e-b07d-4eea-894c-0da963c65220",
      "name": "Success2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "435d1553-cd6c-4d79-85c9-bf9b09fef4fd",
              "leftValue": "={{ $('Calendario').item.json.Evento }}",
              "rightValue": "reagendar",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2300,
        340
      ],
      "id": "04879fbb-87a8-49dc-91e7-8235bc0b09b4",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "qeva.ai.solutions@gmail.com",
          "mode": "list",
          "cachedResultName": "Propiedades inmobiliarias"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2080,
        140
      ],
      "id": "9bbc5406-f79e-486e-96e7-037773d23987",
      "name": "Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "248CSUaxOr8MEWUN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Calendario').first().json.url_evo }}/message/sendList/{{ $('Calendario').first().json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Calendario').first().json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Calendario').first().json.numero_telefono }}"
            },
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "buttonText",
              "value": "={{ $json.buttonText }}"
            },
            {
              "name": "footerText",
              "value": "={{ $json.footerText }}"
            },
            {
              "name": "sections",
              "value": "={{ $json.sections }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -980,
        240
      ],
      "id": "a4ff3271-c078-4b9e-bae1-38ab121066ac",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "cefd55d1-7160-46e4-a9d1-aeaf63ee6c3e",
      "name": "Success3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener los datos del nodo anterior\nconst datos = $input.first()?.json?.resultados || [];\nconsole.log(\"DEBUG - Datos recibidos:\", JSON.stringify(datos).substring(0, 200) + \"...\");\n\n// Verificar si tenemos datos\nif (!datos || !datos.length) {\n  console.log(\"DEBUG - No hay datos disponibles\");\n  return [{\n    json: {\n      error: \"No se encontraron eventos\",\n      message: \"El nodo anterior no devolvi贸 ning煤n horario disponible\"\n    },\n    pairedItem: 0\n  }];\n}\n\n// Funci贸n para obtener el emoji estacional seg煤n el mes (hemisferio sur)\nfunction getEmojiEstacional(mes) {\n  if (mes >= 3 && mes <= 5) return \"\"; // Oto帽o\n  if (mes >= 6 && mes <= 8) return \"锔\"; // Invierno\n  if (mes >= 9 && mes <= 11) return \"\"; // Primavera\n  return \"锔\"; // Verano\n}\n\n// Nombres de los meses\nconst nombresMeses = {\n  1: 'Enero', 2: 'Febrero', 3: 'Marzo', 4: 'Abril',\n  5: 'Mayo', 6: 'Junio', 7: 'Julio', 8: 'Agosto',\n  9: 'Septiembre', 10: 'Octubre', 11: 'Noviembre', 12: 'Diciembre'\n};\n\n// Nombres de los d铆as de la semana\nconst nombresDias = {\n  0: 'Domingo',\n  1: 'Lunes',\n  2: 'Martes',\n  3: 'Mi茅rcoles',\n  4: 'Jueves',\n  5: 'Viernes',\n  6: 'S谩bado'\n};\n\n// Extraer fecha de una cadena ISO\nfunction extraerFechaYHora(isoString) {\n  if (!isoString) return null;\n  \n  const match = isoString.match(/(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n  if (match) {\n    const fechaCompleta = new Date(`${match[1]}-${match[2]}-${match[3]}T${match[4]}:${match[5]}:00`);\n    const diaSemana = nombresDias[fechaCompleta.getDay()];\n    \n    return {\n      anio: parseInt(match[1], 10),\n      mes: parseInt(match[2], 10),\n      dia: parseInt(match[3], 10),\n      hora: `${match[4]}:${match[5]}`,\n      fechaCompleta: fechaCompleta,\n      diaSemana: diaSemana\n    };\n  }\n  return null;\n}\n\n// Funci贸n para formatear el rango de hora correctamente (12:00 a 12:30)\nfunction formatearRangoHora(horaInicio, horaFin) {\n  // Extraer horas y minutos de ambos horarios\n  const inicioMatch = horaInicio.match(/^(\\d+):(\\d+)/);\n  const finMatch = horaFin.match(/^(\\d+):(\\d+)/);\n  \n  // Formatear correctamente con horas y minutos\n  const horaInicioFormateada = inicioMatch ? `${inicioMatch[1]}:${inicioMatch[2]}` : horaInicio;\n  const horaFinFormateada = finMatch ? `${finMatch[1]}:${finMatch[2]}` : horaFin;\n  \n  return `${horaInicioFormateada} a ${horaFinFormateada}`;\n}\n\n// Obtener la fecha y hora actual\nconst ahora = new Date();\nconsole.log(`DEBUG - Fecha actual: ${ahora.toISOString()}`);\nconsole.log(`DEBUG - Fecha local: ${ahora.toString()}`);\n\n// Agrupar horarios por mes y d铆a\nconst mesesAgrupados = {};\n\n// Procesar los horarios disponibles de todos los eventos\ndatos.forEach(evento => {\n  if (!evento.horariosDisponibles || !evento.horariosDisponibles.length) return;\n  \n  evento.horariosDisponibles.forEach(horario => {\n    try {\n      // Obtener la fecha de inicio del horario\n      const fechaHorario = new Date(horario.inicio);\n      \n      // Para debug\n      console.log(`DEBUG - Evaluando horario: ${horario.inicio}`);\n      \n      // COMPARACIN SIMPLE: Verificar si la fecha ya pas贸\n      if (fechaHorario <= ahora) {\n        console.log(`DEBUG - FILTRADA: Fecha ya pas贸`);\n        return; // Saltar este horario porque ya pas贸\n      }\n      \n      // Extraer componentes de la fecha para agrupar\n      const fechaInicio = extraerFechaYHora(horario.inicio);\n      if (!fechaInicio) {\n        console.log(`DEBUG - Error al extraer fecha y hora de: ${horario.inicio}`);\n        return;\n      }\n      \n      const mes = fechaInicio.mes;\n      const dia = fechaInicio.dia;\n      const nombreMes = nombresMeses[mes];\n      const diaSemana = fechaInicio.diaSemana;\n      \n      // Inicializar el grupo del mes si no existe\n      if (!mesesAgrupados[nombreMes]) {\n        mesesAgrupados[nombreMes] = {\n          mes: mes,\n          fechas: []\n        };\n      }\n      \n      // Evitar duplicados\n      const yaExiste = mesesAgrupados[nombreMes].fechas.some(\n        e => e.dia === dia && e.horaInicio === horario.horaInicio\n      );\n      \n      if (!yaExiste) {\n        mesesAgrupados[nombreMes].fechas.push({\n          dia,\n          horaInicio: horario.horaInicio,\n          horaFin: horario.horaFin,\n          mes,\n          diaSemana,\n          resumen: evento.eventoPrincipal.resumen,\n          rowId: `${mes}-${dia}-${horario.horaInicio.replace(\":\", \"\")}`\n        });\n      }\n    } catch (error) {\n      console.log(`ERROR procesando horario: ${error.message}`);\n    }\n  });\n});\n\n// Armar la estructura para WhatsApp SendList\nconst sections = [];\n\n// Crear una secci贸n para cada mes\nfor (const [nombreMes, datosMes] of Object.entries(mesesAgrupados)) {\n  const filas = datosMes.fechas;\n  if (filas.length === 0) continue;\n  \n  // Obtener el emoji estacional para este mes\n  const emoji = getEmojiEstacional(datosMes.mes);\n  \n  // Ordenar filas por d铆a y hora\n  filas.sort((a, b) => {\n    if (a.dia !== b.dia) return a.dia - b.dia;\n    return a.horaInicio.localeCompare(b.horaInicio);\n  });\n  \n  const rowsDelMes = [];\n  filas.forEach(f => {\n    const horaFormateada = formatearRangoHora(f.horaInicio, f.horaFin);\n    rowsDelMes.push({\n      title: ` ${f.dia} de ${nombreMes} : ${horaFormateada}`,\n      description: `${f.diaSemana}`,\n      rowId: f.rowId\n    });\n  });\n  \n  // Agregar la secci贸n del mes con el emoji estacional\n  if (rowsDelMes.length > 0) {\n    sections.push({\n      title: `${emoji} ${nombreMes}`,\n      rows: rowsDelMes\n    });\n  }\n}\n\n// Secci贸n por defecto si no hay nada\nif (sections.length === 0) {\n  sections.push({\n    title: \"锔 Sin horarios disponibles\",\n    rows: [{\n      title: \"No hay horarios disponibles\",\n      description: \"Intenta m谩s tarde\",\n      rowId: \"no-disponible\"\n    }]\n  });\n}\n\n// Obtener n煤mero de cliente desde otro nodo o poner uno por defecto\nconst remoteJid = $('Calendario').first().json.numero_cliente;\n\n// JSON final para enviar por WhatsApp\nconst requestBody = {\n  number: remoteJid,\n  title: \" Fechas de Reprogramaci贸n\",\n  description: \"Seleccion谩 una fecha y hora para reagendar tu visita\",\n  buttonText: \"Seleccion谩 \",\n  footerText: \" Cada visita tiene una duraci贸n de 30 minutos aprox\", // Ya incluimos la informaci贸n de duraci贸n en la descripci贸n\n  sections\n};\n\n// Retornar el mensaje final en el formato que espera n8n\nreturn [{\n  json: requestBody,\n  pairedItem: 0 // Agregamos pairedItem para mantener el enlace con el elemento de entrada\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        240
      ],
      "id": "2da1d5a4-b775-44f5-8130-195fee697e1b",
      "name": "Lista1"
    },
    {
      "parameters": {
        "jsCode": "//  Leer todos los eventos\nconst eventos = $input.all();\nconst codigoBusqueda = $('Code').first().json.ultimoCodigo?.toLowerCase();\n\n//  Funciones auxiliares\nconst extraerMinutos = (isoString) => {\n  if (!isoString) return null;\n  const hora = isoString.substring(11,16).split(':');\n  return parseInt(hora[0]) * 60 + parseInt(hora[1]);\n};\n\nconst minutosAHora = (totalMinutos) => {\n  const horas = Math.floor(totalMinutos / 60);\n  const minutos = totalMinutos % 60;\n  return `${horas.toString().padStart(2, '0')}:${minutos.toString().padStart(2, '0')}`;\n};\n\nconst crearFechaISO = (fechaBase, horaStr) => {\n  return fechaBase.substring(0, 11) + horaStr + fechaBase.substring(16);\n};\n\n//  Clasificar eventos\nconst eventosVerdes = [];\nconst eventosRojos = [];\n\nfor (const item of eventos) {\n  const ev = item.json;\n  const start = ev.start?.dateTime || ev.start?.date || ev.start;\n  const end = ev.end?.dateTime || ev.end?.date || ev.end;\n\n  if (!start || !end) continue;\n\n  const summary = ev.summary?.toLowerCase() || \"\";\n  const location = ev.location?.toLowerCase() || \"\";\n  const description = ev.description?.toLowerCase() || \"\";\n  const colorId = ev.colorId?.toString();\n\n  const coincide = summary.includes(codigoBusqueda) || location.includes(codigoBusqueda) || description.includes(codigoBusqueda);\n\n  if (!coincide) continue;\n\n  if (colorId === \"2\") {\n    eventosVerdes.push({ start, end, summary, location });\n  } else if (colorId === \"11\") {\n    eventosRojos.push({ start, end });\n  }\n}\n\n//  Si no hay verdes, devolver mensaje\nif (eventosVerdes.length === 0) {\n  return [{\n    json: {\n      noMatchingEvents: true,\n      message: \"No se encontraron eventos disponibles para la propiedad.\"\n    }\n  }];\n}\n\n//  Procesar horarios disponibles\nconst resultados = eventosVerdes.map(evento => {\n  const inicioVerdeMin = extraerMinutos(evento.start);\n  const finVerdeMin = extraerMinutos(evento.end);\n\n  const bloques = [];\n\n  for (let m = inicioVerdeMin; m + 30 <= finVerdeMin; m += 30) {\n    let bloqueOk = true;\n\n    for (const rojo of eventosRojos) {\n      const inicioRojoMin = extraerMinutos(rojo.start);\n      const finRojoMin = extraerMinutos(rojo.end);\n\n      if (inicioRojoMin === null || finRojoMin === null) continue;\n\n      // Verificar solapamiento\n      if (!(m + 30 <= inicioRojoMin || m >= finRojoMin)) {\n        bloqueOk = false;\n        break;\n      }\n    }\n\n    if (bloqueOk) {\n      const horaInicio = minutosAHora(m);\n      const horaFin = minutosAHora(m + 30);\n\n      bloques.push({\n        horaInicio: horaInicio,\n        horaFin: horaFin,\n        inicio: crearFechaISO(evento.start, horaInicio),\n        fin: crearFechaISO(evento.start, horaFin)\n      });\n    }\n  }\n\n  return {\n    eventoPrincipal: {\n      resumen: evento.summary,\n      location: evento.location,\n      inicio: evento.start,\n      fin: evento.end,\n      horaInicio: minutosAHora(inicioVerdeMin),\n      horaFin: minutosAHora(finVerdeMin)\n    },\n    horariosDisponibles: bloques\n  };\n});\n\n//  Devolver la respuesta\nreturn [{\n  json: {\n    resultados: resultados\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1640,
        140
      ],
      "id": "517488c1-b309-4971-974e-59aa27d61c99",
      "name": "getForCode1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "summary, start, end, location, colorId, description, id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1860,
        140
      ],
      "id": "17ab3e84-17d0-4733-8ecb-879d58ae6930",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b272870f-2db7-43e9-b82f-131ed3160b38",
              "leftValue": "={{ $json.message }}",
              "rightValue": "=No se encontraron eventos disponibles para la propiedad.",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1420,
        140
      ],
      "id": "15f7b69e-b6b4-4bb1-abba-cc52525be075",
      "name": "If3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "=No hay evento cargados para esta propiedad",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d5b2d7c9-db67-4315-9581-f35f93d32690",
      "name": "Success4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        40
      ]
    }
  ],
  "pinData": {
    "Calendario": [
      {
        "json": {
          "Evento": "consultar",
          "session_id": "0f65a551-6534-4b58-8161-96c26197774e",
          "url_evo": "https://evo.innovasoftpro.dev",
          "instance": "tester",
          "apikey": "89EBC4C29BD1-4035-982B-DDF76B7D0A5F",
          "numero_telefono": "5492254423359"
        }
      }
    ],
    "getForCode": [
      {
        "json": {
          "resultados": [
            {
              "eventoPrincipal": {
                "resumen": "Codigo:3AUV_64",
                "location": "Nogoy谩, Entre R铆os, Argentina",
                "inicio": "2025-05-19T10:00:00-03:00",
                "fin": "2025-05-19T17:00:00-03:00",
                "horaInicio": "10:00",
                "horaFin": "17:00"
              },
              "horariosDisponibles": [
                {
                  "horaInicio": "10:00",
                  "horaFin": "10:30",
                  "inicio": "2025-05-19T10:00:00-03:00",
                  "fin": "2025-05-19T10:30:00-03:00"
                },
                {
                  "horaInicio": "10:30",
                  "horaFin": "11:00",
                  "inicio": "2025-05-19T10:30:00-03:00",
                  "fin": "2025-05-19T11:00:00-03:00"
                },
                {
                  "horaInicio": "11:00",
                  "horaFin": "11:30",
                  "inicio": "2025-05-19T11:00:00-03:00",
                  "fin": "2025-05-19T11:30:00-03:00"
                },
                {
                  "horaInicio": "11:30",
                  "horaFin": "12:00",
                  "inicio": "2025-05-19T11:30:00-03:00",
                  "fin": "2025-05-19T12:00:00-03:00"
                },
                {
                  "horaInicio": "12:00",
                  "horaFin": "12:30",
                  "inicio": "2025-05-19T12:00:00-03:00",
                  "fin": "2025-05-19T12:30:00-03:00"
                },
                {
                  "horaInicio": "12:30",
                  "horaFin": "13:00",
                  "inicio": "2025-05-19T12:30:00-03:00",
                  "fin": "2025-05-19T13:00:00-03:00"
                },
                {
                  "horaInicio": "13:00",
                  "horaFin": "13:30",
                  "inicio": "2025-05-19T13:00:00-03:00",
                  "fin": "2025-05-19T13:30:00-03:00"
                },
                {
                  "horaInicio": "13:30",
                  "horaFin": "14:00",
                  "inicio": "2025-05-19T13:30:00-03:00",
                  "fin": "2025-05-19T14:00:00-03:00"
                },
                {
                  "horaInicio": "14:00",
                  "horaFin": "14:30",
                  "inicio": "2025-05-19T14:00:00-03:00",
                  "fin": "2025-05-19T14:30:00-03:00"
                },
                {
                  "horaInicio": "14:30",
                  "horaFin": "15:00",
                  "inicio": "2025-05-19T14:30:00-03:00",
                  "fin": "2025-05-19T15:00:00-03:00"
                },
                {
                  "horaInicio": "15:00",
                  "horaFin": "15:30",
                  "inicio": "2025-05-19T15:00:00-03:00",
                  "fin": "2025-05-19T15:30:00-03:00"
                },
                {
                  "horaInicio": "15:30",
                  "horaFin": "16:00",
                  "inicio": "2025-05-19T15:30:00-03:00",
                  "fin": "2025-05-19T16:00:00-03:00"
                },
                {
                  "horaInicio": "16:00",
                  "horaFin": "16:30",
                  "inicio": "2025-05-19T16:00:00-03:00",
                  "fin": "2025-05-19T16:30:00-03:00"
                },
                {
                  "horaInicio": "16:30",
                  "horaFin": "17:00",
                  "inicio": "2025-05-19T16:30:00-03:00",
                  "fin": "2025-05-19T17:00:00-03:00"
                }
              ]
            },
            {
              "eventoPrincipal": {
                "resumen": "Codigo:3AUV_64",
                "location": "Nogoy谩, Entre R铆os, Argentina",
                "inicio": "2025-05-21T10:00:00-03:00",
                "fin": "2025-05-21T17:00:00-03:00",
                "horaInicio": "10:00",
                "horaFin": "17:00"
              },
              "horariosDisponibles": [
                {
                  "horaInicio": "10:00",
                  "horaFin": "10:30",
                  "inicio": "2025-05-21T10:00:00-03:00",
                  "fin": "2025-05-21T10:30:00-03:00"
                },
                {
                  "horaInicio": "10:30",
                  "horaFin": "11:00",
                  "inicio": "2025-05-21T10:30:00-03:00",
                  "fin": "2025-05-21T11:00:00-03:00"
                },
                {
                  "horaInicio": "11:00",
                  "horaFin": "11:30",
                  "inicio": "2025-05-21T11:00:00-03:00",
                  "fin": "2025-05-21T11:30:00-03:00"
                },
                {
                  "horaInicio": "11:30",
                  "horaFin": "12:00",
                  "inicio": "2025-05-21T11:30:00-03:00",
                  "fin": "2025-05-21T12:00:00-03:00"
                },
                {
                  "horaInicio": "12:00",
                  "horaFin": "12:30",
                  "inicio": "2025-05-21T12:00:00-03:00",
                  "fin": "2025-05-21T12:30:00-03:00"
                },
                {
                  "horaInicio": "12:30",
                  "horaFin": "13:00",
                  "inicio": "2025-05-21T12:30:00-03:00",
                  "fin": "2025-05-21T13:00:00-03:00"
                },
                {
                  "horaInicio": "13:00",
                  "horaFin": "13:30",
                  "inicio": "2025-05-21T13:00:00-03:00",
                  "fin": "2025-05-21T13:30:00-03:00"
                },
                {
                  "horaInicio": "13:30",
                  "horaFin": "14:00",
                  "inicio": "2025-05-21T13:30:00-03:00",
                  "fin": "2025-05-21T14:00:00-03:00"
                },
                {
                  "horaInicio": "14:00",
                  "horaFin": "14:30",
                  "inicio": "2025-05-21T14:00:00-03:00",
                  "fin": "2025-05-21T14:30:00-03:00"
                },
                {
                  "horaInicio": "14:30",
                  "horaFin": "15:00",
                  "inicio": "2025-05-21T14:30:00-03:00",
                  "fin": "2025-05-21T15:00:00-03:00"
                },
                {
                  "horaInicio": "15:00",
                  "horaFin": "15:30",
                  "inicio": "2025-05-21T15:00:00-03:00",
                  "fin": "2025-05-21T15:30:00-03:00"
                },
                {
                  "horaInicio": "15:30",
                  "horaFin": "16:00",
                  "inicio": "2025-05-21T15:30:00-03:00",
                  "fin": "2025-05-21T16:00:00-03:00"
                },
                {
                  "horaInicio": "16:00",
                  "horaFin": "16:30",
                  "inicio": "2025-05-21T16:00:00-03:00",
                  "fin": "2025-05-21T16:30:00-03:00"
                },
                {
                  "horaInicio": "16:30",
                  "horaFin": "17:00",
                  "inicio": "2025-05-21T16:30:00-03:00",
                  "fin": "2025-05-21T17:00:00-03:00"
                }
              ]
            },
            {
              "eventoPrincipal": {
                "resumen": "Codigo:3AUV_64",
                "location": "Nogoy谩, Entre R铆os, Argentina",
                "inicio": "2025-05-21T09:00:00-03:00",
                "fin": "2025-05-21T11:00:00-03:00",
                "horaInicio": "09:00",
                "horaFin": "11:00"
              },
              "horariosDisponibles": [
                {
                  "horaInicio": "09:00",
                  "horaFin": "09:30",
                  "inicio": "2025-05-21T09:00:00-03:00",
                  "fin": "2025-05-21T09:30:00-03:00"
                },
                {
                  "horaInicio": "09:30",
                  "horaFin": "10:00",
                  "inicio": "2025-05-21T09:30:00-03:00",
                  "fin": "2025-05-21T10:00:00-03:00"
                },
                {
                  "horaInicio": "10:00",
                  "horaFin": "10:30",
                  "inicio": "2025-05-21T10:00:00-03:00",
                  "fin": "2025-05-21T10:30:00-03:00"
                },
                {
                  "horaInicio": "10:30",
                  "horaFin": "11:00",
                  "inicio": "2025-05-21T10:30:00-03:00",
                  "fin": "2025-05-21T11:00:00-03:00"
                }
              ]
            },
            {
              "eventoPrincipal": {
                "resumen": "Codigo:3AUV_64",
                "location": "Nogoy谩 3800, C1417 Cdad. Aut贸noma de Buenos Aires, Argentina",
                "inicio": "2025-05-23T09:00:00-03:00",
                "fin": "2025-05-23T11:00:00-03:00",
                "horaInicio": "09:00",
                "horaFin": "11:00"
              },
              "horariosDisponibles": [
                {
                  "horaInicio": "09:00",
                  "horaFin": "09:30",
                  "inicio": "2025-05-23T09:00:00-03:00",
                  "fin": "2025-05-23T09:30:00-03:00"
                },
                {
                  "horaInicio": "09:30",
                  "horaFin": "10:00",
                  "inicio": "2025-05-23T09:30:00-03:00",
                  "fin": "2025-05-23T10:00:00-03:00"
                },
                {
                  "horaInicio": "10:00",
                  "horaFin": "10:30",
                  "inicio": "2025-05-23T10:00:00-03:00",
                  "fin": "2025-05-23T10:30:00-03:00"
                },
                {
                  "horaInicio": "10:30",
                  "horaFin": "11:00",
                  "inicio": "2025-05-23T10:30:00-03:00",
                  "fin": "2025-05-23T11:00:00-03:00"
                }
              ]
            },
            {
              "eventoPrincipal": {
                "resumen": "Codigo:3AUV_64",
                "location": "Nogoy谩 3800, C1417 Cdad. Aut贸noma de Buenos Aires, Argentina",
                "inicio": "2025-05-26T09:00:00-03:00",
                "fin": "2025-05-26T11:00:00-03:00",
                "horaInicio": "09:00",
                "horaFin": "11:00"
              },
              "horariosDisponibles": [
                {
                  "horaInicio": "09:00",
                  "horaFin": "09:30",
                  "inicio": "2025-05-26T09:00:00-03:00",
                  "fin": "2025-05-26T09:30:00-03:00"
                },
                {
                  "horaInicio": "09:30",
                  "horaFin": "10:00",
                  "inicio": "2025-05-26T09:30:00-03:00",
                  "fin": "2025-05-26T10:00:00-03:00"
                },
                {
                  "horaInicio": "10:00",
                  "horaFin": "10:30",
                  "inicio": "2025-05-26T10:00:00-03:00",
                  "fin": "2025-05-26T10:30:00-03:00"
                },
                {
                  "horaInicio": "10:30",
                  "horaFin": "11:00",
                  "inicio": "2025-05-26T10:30:00-03:00",
                  "fin": "2025-05-26T11:00:00-03:00"
                }
              ]
            },
            {
              "eventoPrincipal": {
                "resumen": "Codigo:3AUV_64",
                "location": "Nogoy谩 3800, C1417 Cdad. Aut贸noma de Buenos Aires, Argentina",
                "inicio": "2025-05-28T09:00:00-03:00",
                "fin": "2025-05-28T11:00:00-03:00",
                "horaInicio": "09:00",
                "horaFin": "11:00"
              },
              "horariosDisponibles": [
                {
                  "horaInicio": "09:00",
                  "horaFin": "09:30",
                  "inicio": "2025-05-28T09:00:00-03:00",
                  "fin": "2025-05-28T09:30:00-03:00"
                },
                {
                  "horaInicio": "09:30",
                  "horaFin": "10:00",
                  "inicio": "2025-05-28T09:30:00-03:00",
                  "fin": "2025-05-28T10:00:00-03:00"
                },
                {
                  "horaInicio": "10:00",
                  "horaFin": "10:30",
                  "inicio": "2025-05-28T10:00:00-03:00",
                  "fin": "2025-05-28T10:30:00-03:00"
                },
                {
                  "horaInicio": "10:30",
                  "horaFin": "11:00",
                  "inicio": "2025-05-28T10:30:00-03:00",
                  "fin": "2025-05-28T11:00:00-03:00"
                }
              ]
            },
            {
              "eventoPrincipal": {
                "resumen": "Codigo:3AUV_64",
                "location": "Nogoy谩 3800, C1417 Cdad. Aut贸noma de Buenos Aires, Argentina",
                "inicio": "2025-05-30T09:00:00-03:00",
                "fin": "2025-05-30T11:00:00-03:00",
                "horaInicio": "09:00",
                "horaFin": "11:00"
              },
              "horariosDisponibles": [
                {
                  "horaInicio": "09:00",
                  "horaFin": "09:30",
                  "inicio": "2025-05-30T09:00:00-03:00",
                  "fin": "2025-05-30T09:30:00-03:00"
                },
                {
                  "horaInicio": "09:30",
                  "horaFin": "10:00",
                  "inicio": "2025-05-30T09:30:00-03:00",
                  "fin": "2025-05-30T10:00:00-03:00"
                },
                {
                  "horaInicio": "10:00",
                  "horaFin": "10:30",
                  "inicio": "2025-05-30T10:00:00-03:00",
                  "fin": "2025-05-30T10:30:00-03:00"
                },
                {
                  "horaInicio": "10:30",
                  "horaFin": "11:00",
                  "inicio": "2025-05-30T10:30:00-03:00",
                  "fin": "2025-05-30T11:00:00-03:00"
                }
              ]
            },
            {
              "eventoPrincipal": {
                "resumen": "Codigo:3AUV_64",
                "location": "Nogoy谩 3800, C1417 Cdad. Aut贸noma de Buenos Aires, Argentina",
                "inicio": "2025-06-02T09:00:00-03:00",
                "fin": "2025-06-02T11:00:00-03:00",
                "horaInicio": "09:00",
                "horaFin": "11:00"
              },
              "horariosDisponibles": [
                {
                  "horaInicio": "09:00",
                  "horaFin": "09:30",
                  "inicio": "2025-06-02T09:00:00-03:00",
                  "fin": "2025-06-02T09:30:00-03:00"
                },
                {
                  "horaInicio": "09:30",
                  "horaFin": "10:00",
                  "inicio": "2025-06-02T09:30:00-03:00",
                  "fin": "2025-06-02T10:00:00-03:00"
                },
                {
                  "horaInicio": "10:00",
                  "horaFin": "10:30",
                  "inicio": "2025-06-02T10:00:00-03:00",
                  "fin": "2025-06-02T10:30:00-03:00"
                },
                {
                  "horaInicio": "10:30",
                  "horaFin": "11:00",
                  "inicio": "2025-06-02T10:30:00-03:00",
                  "fin": "2025-06-02T11:00:00-03:00"
                }
              ]
            }
          ]
        }
      }
    ],
    "Split Out": [
      {
        "json": {
          "summary": "Codigo:24L5O6",
          "start": "2025-05-22T16:00:00-03:00",
          "end": "2025-05-22T18:00:00-03:00",
          "location": "Luna 450, Parque Patricios, Capital Federal",
          "colorId": "2",
          "id": "4j363pkun0knvilfa7ejp1ekq3_20250522T190000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:24L5O6",
          "start": "2025-05-23T16:00:00-03:00",
          "end": "2025-05-23T18:00:00-03:00",
          "location": "Luna 450, Parque Patricios, Capital Federal",
          "colorId": "2",
          "id": "4j363pkun0knvilfa7ejp1ekq3_20250523T190000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:24L5O6",
          "start": "2025-05-29T16:00:00-03:00",
          "end": "2025-05-29T18:00:00-03:00",
          "location": "Luna 450, Parque Patricios, Capital Federal",
          "colorId": "2",
          "id": "4j363pkun0knvilfa7ejp1ekq3_20250529T190000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:24L5O6",
          "start": "2025-05-30T16:00:00-03:00",
          "end": "2025-05-30T18:00:00-03:00",
          "location": "Luna 450, Parque Patricios, Capital Federal",
          "colorId": "2",
          "id": "4j363pkun0knvilfa7ejp1ekq3_20250530T190000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:PRO-1381106",
          "start": "2025-05-19T11:30:00-03:00",
          "end": "2025-05-19T14:30:00-03:00",
          "location": "De las Gaviotas, B7167 Pinamar, Provincia de Buenos Aires, Argentina",
          "colorId": "2",
          "id": "494r63epcajl9rb086ap6s9h2h_20250519T143000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:PRO-1381106",
          "start": "2025-05-26T11:30:00-03:00",
          "end": "2025-05-26T14:30:00-03:00",
          "location": "De las Gaviotas, B7167 Pinamar, Provincia de Buenos Aires, Argentina",
          "colorId": "2",
          "id": "494r63epcajl9rb086ap6s9h2h_20250526T143000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:PRO-1381106",
          "start": "2025-06-02T11:30:00-03:00",
          "end": "2025-06-02T14:30:00-03:00",
          "location": "De las Gaviotas, B7167 Pinamar, Provincia de Buenos Aires, Argentina",
          "colorId": "2",
          "id": "494r63epcajl9rb086ap6s9h2h_20250602T143000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:PIN0015_LP497439_3",
          "start": "2025-05-20T23:00:00-03:00",
          "end": "2025-05-21T00:00:00-03:00",
          "colorId": "2",
          "id": "31q8nk74h84bkthqtqr3d6e871_20250521T020000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:PIN0015_LP497439_3",
          "start": "2025-05-22T23:00:00-03:00",
          "end": "2025-05-23T00:00:00-03:00",
          "colorId": "2",
          "id": "31q8nk74h84bkthqtqr3d6e871_20250523T020000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:PIN0015_LP497439_3",
          "start": "2025-05-27T23:00:00-03:00",
          "end": "2025-05-28T00:00:00-03:00",
          "colorId": "2",
          "id": "31q8nk74h84bkthqtqr3d6e871_20250528T020000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:PIN0015_LP497439_3",
          "start": "2025-05-29T23:00:00-03:00",
          "end": "2025-05-30T00:00:00-03:00",
          "colorId": "2",
          "id": "31q8nk74h84bkthqtqr3d6e871_20250530T020000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:3AUV_64",
          "start": "2025-05-19T10:00:00-03:00",
          "end": "2025-05-19T17:00:00-03:00",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "colorId": "2",
          "id": "fh4i7egu95776e926ed45urkre_20250519T130000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:3AUV_64",
          "start": "2025-05-21T10:00:00-03:00",
          "end": "2025-05-21T17:00:00-03:00",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "colorId": "2",
          "id": "fh4i7egu95776e926ed45urkre_20250521T130000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:MAP5462224",
          "start": "2025-05-19T10:30:00-03:00",
          "end": "2025-05-19T13:30:00-03:00",
          "location": "DEL Tuyu 65, Pinamar, Buenos Aires Costa Atl谩ntica",
          "colorId": "2",
          "id": "0dfi9sevcbum1uh3eu5252m208_20250519T133000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:MAP5462224",
          "start": "2025-05-20T10:30:00-03:00",
          "end": "2025-05-20T13:30:00-03:00",
          "location": "DEL Tuyu 65, Pinamar, Buenos Aires Costa Atl谩ntica",
          "colorId": "2",
          "id": "0dfi9sevcbum1uh3eu5252m208_20250520T133000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:MAP5462224",
          "start": "2025-05-21T10:30:00-03:00",
          "end": "2025-05-21T13:30:00-03:00",
          "location": "DEL Tuyu 65, Pinamar, Buenos Aires Costa Atl谩ntica",
          "colorId": "2",
          "id": "0dfi9sevcbum1uh3eu5252m208_20250521T133000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:MAP5462224",
          "start": "2025-05-26T10:30:00-03:00",
          "end": "2025-05-26T13:30:00-03:00",
          "location": "DEL Tuyu 65, Pinamar, Buenos Aires Costa Atl谩ntica",
          "colorId": "2",
          "id": "0dfi9sevcbum1uh3eu5252m208_20250526T133000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:MAP5462224",
          "start": "2025-05-27T10:30:00-03:00",
          "end": "2025-05-27T13:30:00-03:00",
          "location": "DEL Tuyu 65, Pinamar, Buenos Aires Costa Atl谩ntica",
          "colorId": "2",
          "id": "0dfi9sevcbum1uh3eu5252m208_20250527T133000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:MAP5462224",
          "start": "2025-05-28T10:30:00-03:00",
          "end": "2025-05-28T13:30:00-03:00",
          "location": "DEL Tuyu 65, Pinamar, Buenos Aires Costa Atl谩ntica",
          "colorId": "2",
          "id": "0dfi9sevcbum1uh3eu5252m208_20250528T133000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:MAP5462224",
          "start": "2025-06-02T10:30:00-03:00",
          "end": "2025-06-02T13:30:00-03:00",
          "location": "DEL Tuyu 65, Pinamar, Buenos Aires Costa Atl谩ntica",
          "colorId": "2",
          "id": "0dfi9sevcbum1uh3eu5252m208_20250602T133000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:NBU32788",
          "start": "2025-05-20T09:00:00-03:00",
          "end": "2025-05-20T11:00:00-03:00",
          "location": "Paraguay 2063, Recoleta, Capital Federal",
          "colorId": "2",
          "id": "5i896br0itlqpjfgfe0oc8do02_20250520T120000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:NBU32788",
          "start": "2025-05-26T09:00:00-03:00",
          "end": "2025-05-26T11:00:00-03:00",
          "location": "Paraguay 2063, Recoleta, Capital Federal",
          "colorId": "2",
          "id": "5i896br0itlqpjfgfe0oc8do02_20250526T120000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:NBU32788",
          "start": "2025-05-27T09:00:00-03:00",
          "end": "2025-05-27T11:00:00-03:00",
          "location": "Paraguay 2063, Recoleta, Capital Federal",
          "colorId": "2",
          "id": "5i896br0itlqpjfgfe0oc8do02_20250527T120000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:NBU32788",
          "start": "2025-06-02T09:00:00-03:00",
          "end": "2025-06-02T11:00:00-03:00",
          "location": "Paraguay 2063, Recoleta, Capital Federal",
          "colorId": "2",
          "id": "5i896br0itlqpjfgfe0oc8do02_20250602T120000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:BAP6633746",
          "start": "2025-05-22T11:00:00-03:00",
          "end": "2025-05-22T14:30:00-03:00",
          "location": "AV. LAS Heras 1700 | Recoleta | 5掳, Recoleta, Capital Federal",
          "colorId": "2",
          "id": "0fahked79qeud0e8qp6ffddiu8_20250522T140000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:BAP6633746",
          "start": "2025-05-23T11:00:00-03:00",
          "end": "2025-05-23T14:30:00-03:00",
          "location": "AV. LAS Heras 1700 | Recoleta | 5掳, Recoleta, Capital Federal",
          "colorId": "2",
          "id": "0fahked79qeud0e8qp6ffddiu8_20250523T140000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:BAP6633746",
          "start": "2025-05-29T11:00:00-03:00",
          "end": "2025-05-29T14:30:00-03:00",
          "location": "AV. LAS Heras 1700 | Recoleta | 5掳, Recoleta, Capital Federal",
          "colorId": "2",
          "id": "0fahked79qeud0e8qp6ffddiu8_20250529T140000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:BAP6633746",
          "start": "2025-05-30T11:00:00-03:00",
          "end": "2025-05-30T14:30:00-03:00",
          "location": "AV. LAS Heras 1700 | Recoleta | 5掳, Recoleta, Capital Federal",
          "colorId": "2",
          "id": "0fahked79qeud0e8qp6ffddiu8_20250530T140000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Francisco - RealStateIQ",
          "start": "2025-05-26T09:30:00-03:00",
          "end": "2025-05-26T10:00:00-03:00",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "colorId": "11",
          "description": "Telefono: https://wa.me/5491140841598\nCodigo propiedad: 3AUV_64",
          "id": "iph64ed0oh1tsg54puci53tpd8"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": "2025-05-23T10:30:00-03:00",
          "end": "2025-05-23T11:00:00-03:00",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "colorId": "11",
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "id": "v313659a6n0ghhl4980ahq6ipc"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": "2025-05-23T10:30:00-03:00",
          "end": "2025-05-23T11:00:00-03:00",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "colorId": "11",
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "id": "6vfv9857gmjmgudduel4hn865s"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": "2025-05-23T10:30:00-03:00",
          "end": "2025-05-23T11:00:00-03:00",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "colorId": "11",
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "id": "eomhlduq53o5n92p3c90k0h8ns"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": "2025-05-23T10:30:00-03:00",
          "end": "2025-05-23T11:00:00-03:00",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "colorId": "11",
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "id": "0f0v9udjqlc96ot36kbhvdbo8k"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": "2025-05-23T10:30:00-03:00",
          "end": "2025-05-23T11:00:00-03:00",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "colorId": "11",
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "id": "nssg754iaacnkpp54ch9s99tt4"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": "2025-05-23T10:30:00-03:00",
          "end": "2025-05-23T11:00:00-03:00",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "colorId": "11",
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "id": "aa843n9u5j504cb68ovftne8rc"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": "2025-05-23T10:30:00-03:00",
          "end": "2025-05-23T11:00:00-03:00",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "colorId": "11",
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "id": "c2meiiogm6joe76jhiqvmqks40"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": "2025-05-23T10:30:00-03:00",
          "end": "2025-05-23T11:00:00-03:00",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "colorId": "11",
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "id": "k1h3ia6c8nebkgjiqo91fq4onk"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:3AUV_64",
          "start": "2025-05-21T09:00:00-03:00",
          "end": "2025-05-21T11:00:00-03:00",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "colorId": "2",
          "id": "g283d2l776h9sg215idpjvll1v_20250521T120000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:3AUV_64",
          "start": "2025-05-23T09:00:00-03:00",
          "end": "2025-05-23T11:00:00-03:00",
          "location": "Nogoy谩 3800, C1417 Cdad. Aut贸noma de Buenos Aires, Argentina",
          "colorId": "2",
          "id": "g283d2l776h9sg215idpjvll1v_20250523T120000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:3AUV_64",
          "start": "2025-05-26T09:00:00-03:00",
          "end": "2025-05-26T11:00:00-03:00",
          "location": "Nogoy谩 3800, C1417 Cdad. Aut贸noma de Buenos Aires, Argentina",
          "colorId": "2",
          "id": "g283d2l776h9sg215idpjvll1v_20250526T120000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:3AUV_64",
          "start": "2025-05-28T09:00:00-03:00",
          "end": "2025-05-28T11:00:00-03:00",
          "location": "Nogoy谩 3800, C1417 Cdad. Aut贸noma de Buenos Aires, Argentina",
          "colorId": "2",
          "id": "g283d2l776h9sg215idpjvll1v_20250528T120000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:3AUV_64",
          "start": "2025-05-30T09:00:00-03:00",
          "end": "2025-05-30T11:00:00-03:00",
          "location": "Nogoy谩 3800, C1417 Cdad. Aut贸noma de Buenos Aires, Argentina",
          "colorId": "2",
          "id": "g283d2l776h9sg215idpjvll1v_20250530T120000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:3AUV_64",
          "start": "2025-06-02T09:00:00-03:00",
          "end": "2025-06-02T11:00:00-03:00",
          "location": "Nogoy谩 3800, C1417 Cdad. Aut贸noma de Buenos Aires, Argentina",
          "colorId": "2",
          "id": "g283d2l776h9sg215idpjvll1v_20250602T120000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:TOE48559_1",
          "start": "2025-05-19T10:00:00-03:00",
          "end": "2025-05-19T13:00:00-03:00",
          "location": "Humberto Primo al 700, San Telmo, Capital Federal",
          "colorId": "2",
          "id": "3j305pqbnojnosoqbqsgrbi870_20250519T130000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:TOE48559_1",
          "start": "2025-05-21T10:00:00-03:00",
          "end": "2025-05-21T13:00:00-03:00",
          "location": "Humberto Primo al 700, San Telmo, Capital Federal",
          "colorId": "2",
          "id": "3j305pqbnojnosoqbqsgrbi870_20250521T130000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:TOE48559_1",
          "start": "2025-05-23T10:00:00-03:00",
          "end": "2025-05-23T13:00:00-03:00",
          "location": "Humberto Primo al 700, San Telmo, Capital Federal",
          "colorId": "2",
          "id": "3j305pqbnojnosoqbqsgrbi870_20250523T130000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:TOE48559_1",
          "start": "2025-05-26T10:00:00-03:00",
          "end": "2025-05-26T13:00:00-03:00",
          "location": "Humberto Primo al 700, San Telmo, Capital Federal",
          "colorId": "2",
          "id": "3j305pqbnojnosoqbqsgrbi870_20250526T130000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:TOE48559_1",
          "start": "2025-05-28T10:00:00-03:00",
          "end": "2025-05-28T13:00:00-03:00",
          "location": "Humberto Primo al 700, San Telmo, Capital Federal",
          "colorId": "2",
          "id": "3j305pqbnojnosoqbqsgrbi870_20250528T130000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:TOE48559_1",
          "start": "2025-05-30T10:00:00-03:00",
          "end": "2025-05-30T13:00:00-03:00",
          "location": "Humberto Primo al 700, San Telmo, Capital Federal",
          "colorId": "2",
          "id": "3j305pqbnojnosoqbqsgrbi870_20250530T130000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:TOE48559_1",
          "start": "2025-06-02T10:00:00-03:00",
          "end": "2025-06-02T13:00:00-03:00",
          "location": "Humberto Primo al 700, San Telmo, Capital Federal",
          "colorId": "2",
          "id": "3j305pqbnojnosoqbqsgrbi870_20250602T130000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Direccion: Luna 450, Parque Patricios, Capital Federal - Interesado: Fernando - la perchita loca",
          "start": "2025-05-23T17:30:00-03:00",
          "end": "2025-05-23T18:00:00-03:00",
          "location": "Luna 450, Parque Patricios, Capital Federal",
          "colorId": "11",
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 24L5O6",
          "id": "9dhmrpdhg17ig1u7n53jvqptp4"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:MAP5462224",
          "start": "2025-05-20T09:00:00-03:00",
          "end": "2025-05-20T10:00:00-03:00",
          "location": "Del Tuy煤 65, B7167 Pinamar, Provincia de Buenos Aires, Argentina",
          "colorId": "2",
          "id": "2k1rfdjube75lgdtb1qek414t7_20250520T120000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:MAP5462224",
          "start": "2025-05-21T09:00:00-03:00",
          "end": "2025-05-21T10:00:00-03:00",
          "location": "Del Tuy煤 65, B7167 Pinamar, Provincia de Buenos Aires, Argentina",
          "colorId": "2",
          "id": "2k1rfdjube75lgdtb1qek414t7_20250521T120000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:MAP5462224",
          "start": "2025-05-27T09:00:00-03:00",
          "end": "2025-05-27T10:00:00-03:00",
          "location": "Del Tuy煤 65, B7167 Pinamar, Provincia de Buenos Aires, Argentina",
          "colorId": "2",
          "id": "2k1rfdjube75lgdtb1qek414t7_20250527T120000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      },
      {
        "json": {
          "summary": "Codigo:MAP5462224",
          "start": "2025-05-28T09:00:00-03:00",
          "end": "2025-05-28T10:00:00-03:00",
          "location": "Del Tuy煤 65, B7167 Pinamar, Provincia de Buenos Aires, Argentina",
          "colorId": "2",
          "id": "2k1rfdjube75lgdtb1qek414t7_20250528T120000Z"
        }
      },
      {
        "json": {
          "start": "America/Argentina/Buenos_Aires",
          "end": "America/Argentina/Buenos_Aires"
        }
      }
    ],
    "Google Calendar": [
      {
        "json": {
          "id": "4j363pkun0knvilfa7ejp1ekq3_20250522T190000Z",
          "summary": "Codigo:24L5O6",
          "start": {
            "dateTime": "2025-05-22T16:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-22T18:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Luna 450, Parque Patricios, Capital Federal",
          "created": "2025-04-23T15:21:59.000Z",
          "updated": "2025-04-24T11:53:02.378Z",
          "colorId": "2",
          "etag": "\"3490991164756510\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=NGozNjNwa3VuMGtudmlsZmE3ZWpwMWVrcTNfMjAyNTA1MjJUMTkwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "4j363pkun0knvilfa7ejp1ekq3@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-22T16:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "4j363pkun0knvilfa7ejp1ekq3",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "4j363pkun0knvilfa7ejp1ekq3_20250523T190000Z",
          "summary": "Codigo:24L5O6",
          "start": {
            "dateTime": "2025-05-23T16:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-23T18:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Luna 450, Parque Patricios, Capital Federal",
          "created": "2025-04-23T15:21:59.000Z",
          "updated": "2025-04-24T11:53:02.378Z",
          "colorId": "2",
          "etag": "\"3490991164756510\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=NGozNjNwa3VuMGtudmlsZmE3ZWpwMWVrcTNfMjAyNTA1MjNUMTkwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "4j363pkun0knvilfa7ejp1ekq3@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-23T16:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "4j363pkun0knvilfa7ejp1ekq3",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "4j363pkun0knvilfa7ejp1ekq3_20250529T190000Z",
          "summary": "Codigo:24L5O6",
          "start": {
            "dateTime": "2025-05-29T16:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-29T18:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Luna 450, Parque Patricios, Capital Federal",
          "created": "2025-04-23T15:21:59.000Z",
          "updated": "2025-04-24T11:53:02.378Z",
          "colorId": "2",
          "etag": "\"3490991164756510\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=NGozNjNwa3VuMGtudmlsZmE3ZWpwMWVrcTNfMjAyNTA1MjlUMTkwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "4j363pkun0knvilfa7ejp1ekq3@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-29T16:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "4j363pkun0knvilfa7ejp1ekq3",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "4j363pkun0knvilfa7ejp1ekq3_20250530T190000Z",
          "summary": "Codigo:24L5O6",
          "start": {
            "dateTime": "2025-05-30T16:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-30T18:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Luna 450, Parque Patricios, Capital Federal",
          "created": "2025-04-23T15:21:59.000Z",
          "updated": "2025-04-24T11:53:02.378Z",
          "colorId": "2",
          "etag": "\"3490991164756510\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=NGozNjNwa3VuMGtudmlsZmE3ZWpwMWVrcTNfMjAyNTA1MzBUMTkwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "4j363pkun0knvilfa7ejp1ekq3@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-30T16:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "4j363pkun0knvilfa7ejp1ekq3",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "494r63epcajl9rb086ap6s9h2h_20250519T143000Z",
          "summary": "Codigo:PRO-1381106",
          "start": {
            "dateTime": "2025-05-19T11:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-19T14:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "De las Gaviotas, B7167 Pinamar, Provincia de Buenos Aires, Argentina",
          "created": "2025-05-10T01:24:59.000Z",
          "updated": "2025-05-10T01:42:13.443Z",
          "colorId": "2",
          "etag": "\"3493682666887550\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=NDk0cjYzZXBjYWpsOXJiMDg2YXA2czloMmhfMjAyNTA1MTlUMTQzMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "494r63epcajl9rb086ap6s9h2h@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-19T11:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "494r63epcajl9rb086ap6s9h2h",
          "reminders": {
            "useDefault": true
          },
          "sequence": 1,
          "status": "confirmed",
          "transparency": "transparent"
        }
      },
      {
        "json": {
          "id": "494r63epcajl9rb086ap6s9h2h_20250526T143000Z",
          "summary": "Codigo:PRO-1381106",
          "start": {
            "dateTime": "2025-05-26T11:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-26T14:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "De las Gaviotas, B7167 Pinamar, Provincia de Buenos Aires, Argentina",
          "created": "2025-05-10T01:24:59.000Z",
          "updated": "2025-05-10T01:42:13.443Z",
          "colorId": "2",
          "etag": "\"3493682666887550\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=NDk0cjYzZXBjYWpsOXJiMDg2YXA2czloMmhfMjAyNTA1MjZUMTQzMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "494r63epcajl9rb086ap6s9h2h@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-26T11:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "494r63epcajl9rb086ap6s9h2h",
          "reminders": {
            "useDefault": true
          },
          "sequence": 1,
          "status": "confirmed",
          "transparency": "transparent"
        }
      },
      {
        "json": {
          "id": "494r63epcajl9rb086ap6s9h2h_20250602T143000Z",
          "summary": "Codigo:PRO-1381106",
          "start": {
            "dateTime": "2025-06-02T11:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-06-02T14:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "De las Gaviotas, B7167 Pinamar, Provincia de Buenos Aires, Argentina",
          "created": "2025-05-10T01:24:59.000Z",
          "updated": "2025-05-10T01:42:13.443Z",
          "colorId": "2",
          "etag": "\"3493682666887550\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=NDk0cjYzZXBjYWpsOXJiMDg2YXA2czloMmhfMjAyNTA2MDJUMTQzMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "494r63epcajl9rb086ap6s9h2h@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-06-02T11:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "494r63epcajl9rb086ap6s9h2h",
          "reminders": {
            "useDefault": true
          },
          "sequence": 1,
          "status": "confirmed",
          "transparency": "transparent"
        }
      },
      {
        "json": {
          "id": "31q8nk74h84bkthqtqr3d6e871_20250521T020000Z",
          "summary": "Codigo:PIN0015_LP497439_3",
          "start": {
            "dateTime": "2025-05-20T23:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-21T00:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "created": "2025-05-10T01:57:15.000Z",
          "updated": "2025-05-10T01:57:15.991Z",
          "colorId": "2",
          "etag": "\"3493684471982718\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MzFxOG5rNzRoODRia3RocXRxcjNkNmU4NzFfMjAyNTA1MjFUMDIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "31q8nk74h84bkthqtqr3d6e871@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-20T23:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "31q8nk74h84bkthqtqr3d6e871",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "31q8nk74h84bkthqtqr3d6e871_20250523T020000Z",
          "summary": "Codigo:PIN0015_LP497439_3",
          "start": {
            "dateTime": "2025-05-22T23:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-23T00:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "created": "2025-05-10T01:57:15.000Z",
          "updated": "2025-05-10T01:57:15.991Z",
          "colorId": "2",
          "etag": "\"3493684471982718\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MzFxOG5rNzRoODRia3RocXRxcjNkNmU4NzFfMjAyNTA1MjNUMDIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "31q8nk74h84bkthqtqr3d6e871@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-22T23:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "31q8nk74h84bkthqtqr3d6e871",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "31q8nk74h84bkthqtqr3d6e871_20250528T020000Z",
          "summary": "Codigo:PIN0015_LP497439_3",
          "start": {
            "dateTime": "2025-05-27T23:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-28T00:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "created": "2025-05-10T01:57:15.000Z",
          "updated": "2025-05-10T01:57:15.991Z",
          "colorId": "2",
          "etag": "\"3493684471982718\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MzFxOG5rNzRoODRia3RocXRxcjNkNmU4NzFfMjAyNTA1MjhUMDIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "31q8nk74h84bkthqtqr3d6e871@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-27T23:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "31q8nk74h84bkthqtqr3d6e871",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "31q8nk74h84bkthqtqr3d6e871_20250530T020000Z",
          "summary": "Codigo:PIN0015_LP497439_3",
          "start": {
            "dateTime": "2025-05-29T23:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-30T00:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "created": "2025-05-10T01:57:15.000Z",
          "updated": "2025-05-10T01:57:15.991Z",
          "colorId": "2",
          "etag": "\"3493684471982718\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MzFxOG5rNzRoODRia3RocXRxcjNkNmU4NzFfMjAyNTA1MzBUMDIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "31q8nk74h84bkthqtqr3d6e871@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-29T23:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "31q8nk74h84bkthqtqr3d6e871",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "fh4i7egu95776e926ed45urkre_20250519T130000Z",
          "summary": "Codigo:3AUV_64",
          "start": {
            "dateTime": "2025-05-19T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-19T17:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "created": "2025-05-10T01:12:54.000Z",
          "updated": "2025-05-10T02:46:31.077Z",
          "colorId": "2",
          "etag": "\"3493684993432446\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=Zmg0aTdlZ3U5NTc3NmU5MjZlZDQ1dXJrcmVfMjAyNTA1MTlUMTMwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "fh4i7egu95776e926ed45urkre@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-19T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "fh4i7egu95776e926ed45urkre",
          "reminders": {
            "useDefault": false
          },
          "sequence": 1,
          "status": "confirmed",
          "transparency": "transparent"
        }
      },
      {
        "json": {
          "id": "fh4i7egu95776e926ed45urkre_20250521T130000Z",
          "summary": "Codigo:3AUV_64",
          "start": {
            "dateTime": "2025-05-21T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-21T17:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "created": "2025-05-10T01:12:54.000Z",
          "updated": "2025-05-10T02:46:31.077Z",
          "colorId": "2",
          "etag": "\"3493684993432446\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=Zmg0aTdlZ3U5NTc3NmU5MjZlZDQ1dXJrcmVfMjAyNTA1MjFUMTMwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "fh4i7egu95776e926ed45urkre@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-21T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "fh4i7egu95776e926ed45urkre",
          "reminders": {
            "useDefault": false
          },
          "sequence": 1,
          "status": "confirmed",
          "transparency": "transparent"
        }
      },
      {
        "json": {
          "id": "0dfi9sevcbum1uh3eu5252m208_20250519T133000Z",
          "summary": "Codigo:MAP5462224",
          "start": {
            "dateTime": "2025-05-19T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-19T13:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "DEL Tuyu 65, Pinamar, Buenos Aires Costa Atl谩ntica",
          "created": "2025-04-21T13:02:39.000Z",
          "updated": "2025-05-10T23:20:59.735Z",
          "colorId": "2",
          "etag": "\"3493838519470750\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MGRmaTlzZXZjYnVtMXVoM2V1NTI1Mm0yMDhfMjAyNTA1MTlUMTMzMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "0dfi9sevcbum1uh3eu5252m208@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-19T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "0dfi9sevcbum1uh3eu5252m208",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed",
          "transparency": "transparent",
          "visibility": "public"
        }
      },
      {
        "json": {
          "id": "0dfi9sevcbum1uh3eu5252m208_20250520T133000Z",
          "summary": "Codigo:MAP5462224",
          "start": {
            "dateTime": "2025-05-20T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-20T13:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "DEL Tuyu 65, Pinamar, Buenos Aires Costa Atl谩ntica",
          "created": "2025-04-21T13:02:39.000Z",
          "updated": "2025-05-10T23:20:59.735Z",
          "colorId": "2",
          "etag": "\"3493838519470750\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MGRmaTlzZXZjYnVtMXVoM2V1NTI1Mm0yMDhfMjAyNTA1MjBUMTMzMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "0dfi9sevcbum1uh3eu5252m208@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-20T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "0dfi9sevcbum1uh3eu5252m208",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed",
          "transparency": "transparent",
          "visibility": "public"
        }
      },
      {
        "json": {
          "id": "0dfi9sevcbum1uh3eu5252m208_20250521T133000Z",
          "summary": "Codigo:MAP5462224",
          "start": {
            "dateTime": "2025-05-21T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-21T13:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "DEL Tuyu 65, Pinamar, Buenos Aires Costa Atl谩ntica",
          "created": "2025-04-21T13:02:39.000Z",
          "updated": "2025-05-10T23:20:59.735Z",
          "colorId": "2",
          "etag": "\"3493838519470750\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MGRmaTlzZXZjYnVtMXVoM2V1NTI1Mm0yMDhfMjAyNTA1MjFUMTMzMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "0dfi9sevcbum1uh3eu5252m208@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-21T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "0dfi9sevcbum1uh3eu5252m208",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed",
          "transparency": "transparent",
          "visibility": "public"
        }
      },
      {
        "json": {
          "id": "0dfi9sevcbum1uh3eu5252m208_20250526T133000Z",
          "summary": "Codigo:MAP5462224",
          "start": {
            "dateTime": "2025-05-26T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-26T13:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "DEL Tuyu 65, Pinamar, Buenos Aires Costa Atl谩ntica",
          "created": "2025-04-21T13:02:39.000Z",
          "updated": "2025-05-10T23:20:59.735Z",
          "colorId": "2",
          "etag": "\"3493838519470750\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MGRmaTlzZXZjYnVtMXVoM2V1NTI1Mm0yMDhfMjAyNTA1MjZUMTMzMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "0dfi9sevcbum1uh3eu5252m208@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-26T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "0dfi9sevcbum1uh3eu5252m208",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed",
          "transparency": "transparent",
          "visibility": "public"
        }
      },
      {
        "json": {
          "id": "0dfi9sevcbum1uh3eu5252m208_20250527T133000Z",
          "summary": "Codigo:MAP5462224",
          "start": {
            "dateTime": "2025-05-27T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-27T13:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "DEL Tuyu 65, Pinamar, Buenos Aires Costa Atl谩ntica",
          "created": "2025-04-21T13:02:39.000Z",
          "updated": "2025-05-10T23:20:59.735Z",
          "colorId": "2",
          "etag": "\"3493838519470750\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MGRmaTlzZXZjYnVtMXVoM2V1NTI1Mm0yMDhfMjAyNTA1MjdUMTMzMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "0dfi9sevcbum1uh3eu5252m208@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-27T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "0dfi9sevcbum1uh3eu5252m208",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed",
          "transparency": "transparent",
          "visibility": "public"
        }
      },
      {
        "json": {
          "id": "0dfi9sevcbum1uh3eu5252m208_20250528T133000Z",
          "summary": "Codigo:MAP5462224",
          "start": {
            "dateTime": "2025-05-28T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-28T13:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "DEL Tuyu 65, Pinamar, Buenos Aires Costa Atl谩ntica",
          "created": "2025-04-21T13:02:39.000Z",
          "updated": "2025-05-10T23:20:59.735Z",
          "colorId": "2",
          "etag": "\"3493838519470750\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MGRmaTlzZXZjYnVtMXVoM2V1NTI1Mm0yMDhfMjAyNTA1MjhUMTMzMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "0dfi9sevcbum1uh3eu5252m208@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-28T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "0dfi9sevcbum1uh3eu5252m208",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed",
          "transparency": "transparent",
          "visibility": "public"
        }
      },
      {
        "json": {
          "id": "0dfi9sevcbum1uh3eu5252m208_20250602T133000Z",
          "summary": "Codigo:MAP5462224",
          "start": {
            "dateTime": "2025-06-02T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-06-02T13:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "DEL Tuyu 65, Pinamar, Buenos Aires Costa Atl谩ntica",
          "created": "2025-04-21T13:02:39.000Z",
          "updated": "2025-05-10T23:20:59.735Z",
          "colorId": "2",
          "etag": "\"3493838519470750\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MGRmaTlzZXZjYnVtMXVoM2V1NTI1Mm0yMDhfMjAyNTA2MDJUMTMzMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "0dfi9sevcbum1uh3eu5252m208@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-06-02T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "0dfi9sevcbum1uh3eu5252m208",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed",
          "transparency": "transparent",
          "visibility": "public"
        }
      },
      {
        "json": {
          "id": "5i896br0itlqpjfgfe0oc8do02_20250520T120000Z",
          "summary": "Codigo:NBU32788",
          "start": {
            "dateTime": "2025-05-20T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-20T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Paraguay 2063, Recoleta, Capital Federal",
          "created": "2025-04-24T11:54:24.000Z",
          "updated": "2025-05-10T23:21:15.902Z",
          "colorId": "2",
          "etag": "\"3493838551804254\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=NWk4OTZicjBpdGxxcGpmZ2ZlMG9jOGRvMDJfMjAyNTA1MjBUMTIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "5i896br0itlqpjfgfe0oc8do02@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-20T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "5i896br0itlqpjfgfe0oc8do02",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed",
          "transparency": "transparent",
          "visibility": "public"
        }
      },
      {
        "json": {
          "id": "5i896br0itlqpjfgfe0oc8do02_20250526T120000Z",
          "summary": "Codigo:NBU32788",
          "start": {
            "dateTime": "2025-05-26T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-26T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Paraguay 2063, Recoleta, Capital Federal",
          "created": "2025-04-24T11:54:24.000Z",
          "updated": "2025-05-10T23:21:15.902Z",
          "colorId": "2",
          "etag": "\"3493838551804254\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=NWk4OTZicjBpdGxxcGpmZ2ZlMG9jOGRvMDJfMjAyNTA1MjZUMTIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "5i896br0itlqpjfgfe0oc8do02@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-26T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "5i896br0itlqpjfgfe0oc8do02",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed",
          "transparency": "transparent",
          "visibility": "public"
        }
      },
      {
        "json": {
          "id": "5i896br0itlqpjfgfe0oc8do02_20250527T120000Z",
          "summary": "Codigo:NBU32788",
          "start": {
            "dateTime": "2025-05-27T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-27T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Paraguay 2063, Recoleta, Capital Federal",
          "created": "2025-04-24T11:54:24.000Z",
          "updated": "2025-05-10T23:21:15.902Z",
          "colorId": "2",
          "etag": "\"3493838551804254\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=NWk4OTZicjBpdGxxcGpmZ2ZlMG9jOGRvMDJfMjAyNTA1MjdUMTIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "5i896br0itlqpjfgfe0oc8do02@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-27T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "5i896br0itlqpjfgfe0oc8do02",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed",
          "transparency": "transparent",
          "visibility": "public"
        }
      },
      {
        "json": {
          "id": "5i896br0itlqpjfgfe0oc8do02_20250602T120000Z",
          "summary": "Codigo:NBU32788",
          "start": {
            "dateTime": "2025-06-02T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-06-02T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Paraguay 2063, Recoleta, Capital Federal",
          "created": "2025-04-24T11:54:24.000Z",
          "updated": "2025-05-10T23:21:15.902Z",
          "colorId": "2",
          "etag": "\"3493838551804254\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=NWk4OTZicjBpdGxxcGpmZ2ZlMG9jOGRvMDJfMjAyNTA2MDJUMTIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "5i896br0itlqpjfgfe0oc8do02@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-06-02T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "5i896br0itlqpjfgfe0oc8do02",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed",
          "transparency": "transparent",
          "visibility": "public"
        }
      },
      {
        "json": {
          "id": "0fahked79qeud0e8qp6ffddiu8_20250522T140000Z",
          "summary": "Codigo:BAP6633746",
          "start": {
            "dateTime": "2025-05-22T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-22T14:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "AV. LAS Heras 1700 | Recoleta | 5掳, Recoleta, Capital Federal",
          "created": "2025-04-24T13:01:32.000Z",
          "updated": "2025-05-10T23:21:47.185Z",
          "colorId": "2",
          "etag": "\"3493838614370206\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MGZhaGtlZDc5cWV1ZDBlOHFwNmZmZGRpdThfMjAyNTA1MjJUMTQwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "0fahked79qeud0e8qp6ffddiu8@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-22T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "0fahked79qeud0e8qp6ffddiu8",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed",
          "transparency": "transparent",
          "visibility": "public"
        }
      },
      {
        "json": {
          "id": "0fahked79qeud0e8qp6ffddiu8_20250523T140000Z",
          "summary": "Codigo:BAP6633746",
          "start": {
            "dateTime": "2025-05-23T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-23T14:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "AV. LAS Heras 1700 | Recoleta | 5掳, Recoleta, Capital Federal",
          "created": "2025-04-24T13:01:32.000Z",
          "updated": "2025-05-10T23:21:47.185Z",
          "colorId": "2",
          "etag": "\"3493838614370206\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MGZhaGtlZDc5cWV1ZDBlOHFwNmZmZGRpdThfMjAyNTA1MjNUMTQwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "0fahked79qeud0e8qp6ffddiu8@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-23T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "0fahked79qeud0e8qp6ffddiu8",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed",
          "transparency": "transparent",
          "visibility": "public"
        }
      },
      {
        "json": {
          "id": "0fahked79qeud0e8qp6ffddiu8_20250529T140000Z",
          "summary": "Codigo:BAP6633746",
          "start": {
            "dateTime": "2025-05-29T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-29T14:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "AV. LAS Heras 1700 | Recoleta | 5掳, Recoleta, Capital Federal",
          "created": "2025-04-24T13:01:32.000Z",
          "updated": "2025-05-10T23:21:47.185Z",
          "colorId": "2",
          "etag": "\"3493838614370206\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MGZhaGtlZDc5cWV1ZDBlOHFwNmZmZGRpdThfMjAyNTA1MjlUMTQwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "0fahked79qeud0e8qp6ffddiu8@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-29T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "0fahked79qeud0e8qp6ffddiu8",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed",
          "transparency": "transparent",
          "visibility": "public"
        }
      },
      {
        "json": {
          "id": "0fahked79qeud0e8qp6ffddiu8_20250530T140000Z",
          "summary": "Codigo:BAP6633746",
          "start": {
            "dateTime": "2025-05-30T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-30T14:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "AV. LAS Heras 1700 | Recoleta | 5掳, Recoleta, Capital Federal",
          "created": "2025-04-24T13:01:32.000Z",
          "updated": "2025-05-10T23:21:47.185Z",
          "colorId": "2",
          "etag": "\"3493838614370206\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MGZhaGtlZDc5cWV1ZDBlOHFwNmZmZGRpdThfMjAyNTA1MzBUMTQwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "0fahked79qeud0e8qp6ffddiu8@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-30T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "0fahked79qeud0e8qp6ffddiu8",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed",
          "transparency": "transparent",
          "visibility": "public"
        }
      },
      {
        "json": {
          "id": "iph64ed0oh1tsg54puci53tpd8",
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Francisco - RealStateIQ",
          "start": {
            "dateTime": "2025-05-26T09:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-26T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "attendees": [
            {
              "email": "fjmuiz@gmail.com",
              "responseStatus": "needsAction"
            }
          ],
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "description": "Telefono: https://wa.me/5491140841598\nCodigo propiedad: 3AUV_64",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "created": "2025-05-12T19:35:10.000Z",
          "updated": "2025-05-12T19:35:11.029Z",
          "colorId": "11",
          "etag": "\"3494157022059742\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=aXBoNjRlZDBvaDF0c2c1NHB1Y2k1M3RwZDggcWV2YS5haS5zb2x1dGlvbnNAbQ",
          "iCalUID": "iph64ed0oh1tsg54puci53tpd8@google.com",
          "kind": "calendar#event",
          "reminders": {
            "useDefault": false
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "v313659a6n0ghhl4980ahq6ipc",
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": {
            "dateTime": "2025-05-23T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-23T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "attendees": [
            {
              "email": "casserafernando@gmail.com",
              "responseStatus": "needsAction"
            }
          ],
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "created": "2025-05-14T01:08:46.000Z",
          "updated": "2025-05-14T01:08:47.127Z",
          "colorId": "11",
          "etag": "\"3494369854255454\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=djMxMzY1OWE2bjBnaGhsNDk4MGFocTZpcGMgcWV2YS5haS5zb2x1dGlvbnNAbQ",
          "iCalUID": "v313659a6n0ghhl4980ahq6ipc@google.com",
          "kind": "calendar#event",
          "reminders": {
            "useDefault": false
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "6vfv9857gmjmgudduel4hn865s",
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": {
            "dateTime": "2025-05-23T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-23T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "attendees": [
            {
              "email": "casserafernando@gmail.com",
              "responseStatus": "needsAction"
            }
          ],
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "created": "2025-05-14T01:09:38.000Z",
          "updated": "2025-05-14T01:09:38.953Z",
          "colorId": "11",
          "etag": "\"3494369957906750\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=NnZmdjk4NTdnbWptZ3VkZHVlbDRobjg2NXMgcWV2YS5haS5zb2x1dGlvbnNAbQ",
          "iCalUID": "6vfv9857gmjmgudduel4hn865s@google.com",
          "kind": "calendar#event",
          "reminders": {
            "useDefault": false
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "eomhlduq53o5n92p3c90k0h8ns",
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": {
            "dateTime": "2025-05-23T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-23T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "attendees": [
            {
              "email": "casserafernando@gmail.com",
              "responseStatus": "needsAction"
            }
          ],
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "created": "2025-05-14T01:32:13.000Z",
          "updated": "2025-05-14T01:32:13.146Z",
          "colorId": "11",
          "etag": "\"3494372666293438\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=ZW9taGxkdXE1M281bjkycDNjOTBrMGg4bnMgcWV2YS5haS5zb2x1dGlvbnNAbQ",
          "iCalUID": "eomhlduq53o5n92p3c90k0h8ns@google.com",
          "kind": "calendar#event",
          "reminders": {
            "useDefault": false
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "0f0v9udjqlc96ot36kbhvdbo8k",
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": {
            "dateTime": "2025-05-23T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-23T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "attendees": [
            {
              "email": "casserafernando@gmail.com",
              "responseStatus": "needsAction"
            }
          ],
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "created": "2025-05-14T03:49:04.000Z",
          "updated": "2025-05-14T03:49:04.441Z",
          "colorId": "11",
          "etag": "\"3494389088883294\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MGYwdjl1ZGpxbGM5Nm90MzZrYmh2ZGJvOGsgcWV2YS5haS5zb2x1dGlvbnNAbQ",
          "iCalUID": "0f0v9udjqlc96ot36kbhvdbo8k@google.com",
          "kind": "calendar#event",
          "reminders": {
            "useDefault": false
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "nssg754iaacnkpp54ch9s99tt4",
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": {
            "dateTime": "2025-05-23T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-23T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "attendees": [
            {
              "email": "casserafernando@gmail.com",
              "responseStatus": "needsAction"
            }
          ],
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "created": "2025-05-14T04:12:57.000Z",
          "updated": "2025-05-14T04:12:57.477Z",
          "colorId": "11",
          "etag": "\"3494391954954590\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=bnNzZzc1NGlhYWNua3BwNTRjaDlzOTl0dDQgcWV2YS5haS5zb2x1dGlvbnNAbQ",
          "iCalUID": "nssg754iaacnkpp54ch9s99tt4@google.com",
          "kind": "calendar#event",
          "reminders": {
            "useDefault": false
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "aa843n9u5j504cb68ovftne8rc",
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": {
            "dateTime": "2025-05-23T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-23T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "attendees": [
            {
              "email": "casserafernando@gmail.com",
              "responseStatus": "needsAction"
            }
          ],
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "created": "2025-05-14T04:13:17.000Z",
          "updated": "2025-05-14T04:13:17.311Z",
          "colorId": "11",
          "etag": "\"3494391994623902\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=YWE4NDNuOXU1ajUwNGNiNjhvdmZ0bmU4cmMgcWV2YS5haS5zb2x1dGlvbnNAbQ",
          "iCalUID": "aa843n9u5j504cb68ovftne8rc@google.com",
          "kind": "calendar#event",
          "reminders": {
            "useDefault": false
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "c2meiiogm6joe76jhiqvmqks40",
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": {
            "dateTime": "2025-05-23T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-23T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "attendees": [
            {
              "email": "casserafernando@gmail.com",
              "responseStatus": "needsAction"
            }
          ],
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "created": "2025-05-14T04:14:04.000Z",
          "updated": "2025-05-14T04:14:04.524Z",
          "colorId": "11",
          "etag": "\"3494392089049726\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=YzJtZWlpb2dtNmpvZTc2amhpcXZtcWtzNDAgcWV2YS5haS5zb2x1dGlvbnNAbQ",
          "iCalUID": "c2meiiogm6joe76jhiqvmqks40@google.com",
          "kind": "calendar#event",
          "reminders": {
            "useDefault": false
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "k1h3ia6c8nebkgjiqo91fq4onk",
          "summary": "Direccion: Nogoy谩, Entre R铆os, Argentina - Interesado: Fernando - Juan pelotas",
          "start": {
            "dateTime": "2025-05-23T10:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-23T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "attendees": [
            {
              "email": "casserafernando@gmail.com",
              "responseStatus": "needsAction"
            }
          ],
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 3AUV_64",
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "created": "2025-05-14T04:14:56.000Z",
          "updated": "2025-05-14T04:14:56.654Z",
          "colorId": "11",
          "etag": "\"3494392193308158\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=azFoM2lhNmM4bmVia2dqaXFvOTFmcTRvbmsgcWV2YS5haS5zb2x1dGlvbnNAbQ",
          "iCalUID": "k1h3ia6c8nebkgjiqo91fq4onk@google.com",
          "kind": "calendar#event",
          "reminders": {
            "useDefault": false
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "g283d2l776h9sg215idpjvll1v_20250521T120000Z",
          "summary": "Codigo:3AUV_64",
          "start": {
            "dateTime": "2025-05-21T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-21T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Nogoy谩, Entre R铆os, Argentina",
          "created": "2025-05-10T01:12:54.000Z",
          "updated": "2025-05-16T12:35:30.313Z",
          "colorId": "2",
          "etag": "\"3494243968981790\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=ZzI4M2QybDc3Nmg5c2cyMTVpZHBqdmxsMXZfMjAyNTA1MjFUMTIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "g283d2l776h9sg215idpjvll1v@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-21T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "g283d2l776h9sg215idpjvll1v",
          "reminders": {
            "useDefault": false
          },
          "sequence": 2,
          "status": "confirmed",
          "transparency": "transparent"
        }
      },
      {
        "json": {
          "id": "g283d2l776h9sg215idpjvll1v_20250523T120000Z",
          "summary": "Codigo:3AUV_64",
          "start": {
            "dateTime": "2025-05-23T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-23T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Nogoy谩 3800, C1417 Cdad. Aut贸noma de Buenos Aires, Argentina",
          "created": "2025-05-10T01:12:54.000Z",
          "updated": "2025-05-16T12:35:30.313Z",
          "colorId": "2",
          "etag": "\"3494797860627742\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=ZzI4M2QybDc3Nmg5c2cyMTVpZHBqdmxsMXZfMjAyNTA1MjNUMTIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "g283d2l776h9sg215idpjvll1v_R20250523T120000@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-23T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "g283d2l776h9sg215idpjvll1v_R20250523T120000",
          "reminders": {
            "useDefault": false
          },
          "sequence": 2,
          "status": "confirmed",
          "transparency": "transparent"
        }
      },
      {
        "json": {
          "id": "g283d2l776h9sg215idpjvll1v_20250526T120000Z",
          "summary": "Codigo:3AUV_64",
          "start": {
            "dateTime": "2025-05-26T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-26T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Nogoy谩 3800, C1417 Cdad. Aut贸noma de Buenos Aires, Argentina",
          "created": "2025-05-10T01:12:54.000Z",
          "updated": "2025-05-16T12:35:30.313Z",
          "colorId": "2",
          "etag": "\"3494797860627742\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=ZzI4M2QybDc3Nmg5c2cyMTVpZHBqdmxsMXZfMjAyNTA1MjZUMTIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "g283d2l776h9sg215idpjvll1v_R20250523T120000@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-26T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "g283d2l776h9sg215idpjvll1v_R20250523T120000",
          "reminders": {
            "useDefault": false
          },
          "sequence": 2,
          "status": "confirmed",
          "transparency": "transparent"
        }
      },
      {
        "json": {
          "id": "g283d2l776h9sg215idpjvll1v_20250528T120000Z",
          "summary": "Codigo:3AUV_64",
          "start": {
            "dateTime": "2025-05-28T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-28T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Nogoy谩 3800, C1417 Cdad. Aut贸noma de Buenos Aires, Argentina",
          "created": "2025-05-10T01:12:54.000Z",
          "updated": "2025-05-16T12:35:30.313Z",
          "colorId": "2",
          "etag": "\"3494797860627742\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=ZzI4M2QybDc3Nmg5c2cyMTVpZHBqdmxsMXZfMjAyNTA1MjhUMTIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "g283d2l776h9sg215idpjvll1v_R20250523T120000@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-28T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "g283d2l776h9sg215idpjvll1v_R20250523T120000",
          "reminders": {
            "useDefault": false
          },
          "sequence": 2,
          "status": "confirmed",
          "transparency": "transparent"
        }
      },
      {
        "json": {
          "id": "g283d2l776h9sg215idpjvll1v_20250530T120000Z",
          "summary": "Codigo:3AUV_64",
          "start": {
            "dateTime": "2025-05-30T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-30T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Nogoy谩 3800, C1417 Cdad. Aut贸noma de Buenos Aires, Argentina",
          "created": "2025-05-10T01:12:54.000Z",
          "updated": "2025-05-16T12:35:30.313Z",
          "colorId": "2",
          "etag": "\"3494797860627742\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=ZzI4M2QybDc3Nmg5c2cyMTVpZHBqdmxsMXZfMjAyNTA1MzBUMTIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "g283d2l776h9sg215idpjvll1v_R20250523T120000@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-30T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "g283d2l776h9sg215idpjvll1v_R20250523T120000",
          "reminders": {
            "useDefault": false
          },
          "sequence": 2,
          "status": "confirmed",
          "transparency": "transparent"
        }
      },
      {
        "json": {
          "id": "g283d2l776h9sg215idpjvll1v_20250602T120000Z",
          "summary": "Codigo:3AUV_64",
          "start": {
            "dateTime": "2025-06-02T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-06-02T11:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Nogoy谩 3800, C1417 Cdad. Aut贸noma de Buenos Aires, Argentina",
          "created": "2025-05-10T01:12:54.000Z",
          "updated": "2025-05-16T12:35:30.313Z",
          "colorId": "2",
          "etag": "\"3494797860627742\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=ZzI4M2QybDc3Nmg5c2cyMTVpZHBqdmxsMXZfMjAyNTA2MDJUMTIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "g283d2l776h9sg215idpjvll1v_R20250523T120000@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-06-02T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "g283d2l776h9sg215idpjvll1v_R20250523T120000",
          "reminders": {
            "useDefault": false
          },
          "sequence": 2,
          "status": "confirmed",
          "transparency": "transparent"
        }
      },
      {
        "json": {
          "id": "3j305pqbnojnosoqbqsgrbi870_20250519T130000Z",
          "summary": "Codigo:TOE48559_1",
          "start": {
            "dateTime": "2025-05-19T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-19T13:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Humberto Primo al 700, San Telmo, Capital Federal",
          "created": "2025-05-18T22:57:00.000Z",
          "updated": "2025-05-18T23:08:39.993Z",
          "colorId": "2",
          "etag": "\"3495219439986334\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=M2ozMDVwcWJub2pub3NvcWJxc2dyYmk4NzBfMjAyNTA1MTlUMTMwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "3j305pqbnojnosoqbqsgrbi870@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-19T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "3j305pqbnojnosoqbqsgrbi870",
          "reminders": {
            "useDefault": true
          },
          "sequence": 1,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "3j305pqbnojnosoqbqsgrbi870_20250521T130000Z",
          "summary": "Codigo:TOE48559_1",
          "start": {
            "dateTime": "2025-05-21T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-21T13:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Humberto Primo al 700, San Telmo, Capital Federal",
          "created": "2025-05-18T22:57:00.000Z",
          "updated": "2025-05-18T23:08:39.993Z",
          "colorId": "2",
          "etag": "\"3495219439986334\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=M2ozMDVwcWJub2pub3NvcWJxc2dyYmk4NzBfMjAyNTA1MjFUMTMwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "3j305pqbnojnosoqbqsgrbi870@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-21T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "3j305pqbnojnosoqbqsgrbi870",
          "reminders": {
            "useDefault": true
          },
          "sequence": 1,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "3j305pqbnojnosoqbqsgrbi870_20250523T130000Z",
          "summary": "Codigo:TOE48559_1",
          "start": {
            "dateTime": "2025-05-23T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-23T13:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Humberto Primo al 700, San Telmo, Capital Federal",
          "created": "2025-05-18T22:57:00.000Z",
          "updated": "2025-05-18T23:08:39.993Z",
          "colorId": "2",
          "etag": "\"3495219439986334\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=M2ozMDVwcWJub2pub3NvcWJxc2dyYmk4NzBfMjAyNTA1MjNUMTMwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "3j305pqbnojnosoqbqsgrbi870@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-23T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "3j305pqbnojnosoqbqsgrbi870",
          "reminders": {
            "useDefault": true
          },
          "sequence": 1,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "3j305pqbnojnosoqbqsgrbi870_20250526T130000Z",
          "summary": "Codigo:TOE48559_1",
          "start": {
            "dateTime": "2025-05-26T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-26T13:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Humberto Primo al 700, San Telmo, Capital Federal",
          "created": "2025-05-18T22:57:00.000Z",
          "updated": "2025-05-18T23:08:39.993Z",
          "colorId": "2",
          "etag": "\"3495219439986334\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=M2ozMDVwcWJub2pub3NvcWJxc2dyYmk4NzBfMjAyNTA1MjZUMTMwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "3j305pqbnojnosoqbqsgrbi870@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-26T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "3j305pqbnojnosoqbqsgrbi870",
          "reminders": {
            "useDefault": true
          },
          "sequence": 1,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "3j305pqbnojnosoqbqsgrbi870_20250528T130000Z",
          "summary": "Codigo:TOE48559_1",
          "start": {
            "dateTime": "2025-05-28T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-28T13:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Humberto Primo al 700, San Telmo, Capital Federal",
          "created": "2025-05-18T22:57:00.000Z",
          "updated": "2025-05-18T23:08:39.993Z",
          "colorId": "2",
          "etag": "\"3495219439986334\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=M2ozMDVwcWJub2pub3NvcWJxc2dyYmk4NzBfMjAyNTA1MjhUMTMwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "3j305pqbnojnosoqbqsgrbi870@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-28T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "3j305pqbnojnosoqbqsgrbi870",
          "reminders": {
            "useDefault": true
          },
          "sequence": 1,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "3j305pqbnojnosoqbqsgrbi870_20250530T130000Z",
          "summary": "Codigo:TOE48559_1",
          "start": {
            "dateTime": "2025-05-30T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-30T13:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Humberto Primo al 700, San Telmo, Capital Federal",
          "created": "2025-05-18T22:57:00.000Z",
          "updated": "2025-05-18T23:08:39.993Z",
          "colorId": "2",
          "etag": "\"3495219439986334\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=M2ozMDVwcWJub2pub3NvcWJxc2dyYmk4NzBfMjAyNTA1MzBUMTMwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "3j305pqbnojnosoqbqsgrbi870@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-30T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "3j305pqbnojnosoqbqsgrbi870",
          "reminders": {
            "useDefault": true
          },
          "sequence": 1,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "3j305pqbnojnosoqbqsgrbi870_20250602T130000Z",
          "summary": "Codigo:TOE48559_1",
          "start": {
            "dateTime": "2025-06-02T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-06-02T13:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Humberto Primo al 700, San Telmo, Capital Federal",
          "created": "2025-05-18T22:57:00.000Z",
          "updated": "2025-05-18T23:08:39.993Z",
          "colorId": "2",
          "etag": "\"3495219439986334\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=M2ozMDVwcWJub2pub3NvcWJxc2dyYmk4NzBfMjAyNTA2MDJUMTMwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "3j305pqbnojnosoqbqsgrbi870@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-06-02T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "3j305pqbnojnosoqbqsgrbi870",
          "reminders": {
            "useDefault": true
          },
          "sequence": 1,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "9dhmrpdhg17ig1u7n53jvqptp4",
          "summary": "Direccion: Luna 450, Parque Patricios, Capital Federal - Interesado: Fernando - la perchita loca",
          "start": {
            "dateTime": "2025-05-23T17:30:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-23T18:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "attendees": [
            {
              "email": "casserafernando@gmail.com",
              "responseStatus": "needsAction"
            }
          ],
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "description": "Telefono: https://wa.me/5492254423359\nCodigo propiedad: 24L5O6",
          "location": "Luna 450, Parque Patricios, Capital Federal",
          "created": "2025-05-18T23:28:13.000Z",
          "updated": "2025-05-18T23:28:13.273Z",
          "colorId": "11",
          "etag": "\"3495221786547358\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=OWRobXJwZGhnMTdpZzF1N241M2p2cXB0cDQgcWV2YS5haS5zb2x1dGlvbnNAbQ",
          "iCalUID": "9dhmrpdhg17ig1u7n53jvqptp4@google.com",
          "kind": "calendar#event",
          "reminders": {
            "useDefault": false
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "2k1rfdjube75lgdtb1qek414t7_20250520T120000Z",
          "summary": "Codigo:MAP5462224",
          "start": {
            "dateTime": "2025-05-20T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-20T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Del Tuy煤 65, B7167 Pinamar, Provincia de Buenos Aires, Argentina",
          "created": "2025-05-19T12:08:39.000Z",
          "updated": "2025-05-19T12:08:39.583Z",
          "colorId": "2",
          "etag": "\"3495313039166750\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MmsxcmZkanViZTc1bGdkdGIxcWVrNDE0dDdfMjAyNTA1MjBUMTIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "2k1rfdjube75lgdtb1qek414t7@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-20T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "2k1rfdjube75lgdtb1qek414t7",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "2k1rfdjube75lgdtb1qek414t7_20250521T120000Z",
          "summary": "Codigo:MAP5462224",
          "start": {
            "dateTime": "2025-05-21T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-21T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Del Tuy煤 65, B7167 Pinamar, Provincia de Buenos Aires, Argentina",
          "created": "2025-05-19T12:08:39.000Z",
          "updated": "2025-05-19T12:08:39.583Z",
          "colorId": "2",
          "etag": "\"3495313039166750\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MmsxcmZkanViZTc1bGdkdGIxcWVrNDE0dDdfMjAyNTA1MjFUMTIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "2k1rfdjube75lgdtb1qek414t7@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-21T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "2k1rfdjube75lgdtb1qek414t7",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "2k1rfdjube75lgdtb1qek414t7_20250527T120000Z",
          "summary": "Codigo:MAP5462224",
          "start": {
            "dateTime": "2025-05-27T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-27T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Del Tuy煤 65, B7167 Pinamar, Provincia de Buenos Aires, Argentina",
          "created": "2025-05-19T12:08:39.000Z",
          "updated": "2025-05-19T12:08:39.583Z",
          "colorId": "2",
          "etag": "\"3495313039166750\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MmsxcmZkanViZTc1bGdkdGIxcWVrNDE0dDdfMjAyNTA1MjdUMTIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "2k1rfdjube75lgdtb1qek414t7@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-27T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "2k1rfdjube75lgdtb1qek414t7",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      },
      {
        "json": {
          "id": "2k1rfdjube75lgdtb1qek414t7_20250528T120000Z",
          "summary": "Codigo:MAP5462224",
          "start": {
            "dateTime": "2025-05-28T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "end": {
            "dateTime": "2025-05-28T10:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "creator": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "qeva.ai.solutions@gmail.com",
            "self": true
          },
          "location": "Del Tuy煤 65, B7167 Pinamar, Provincia de Buenos Aires, Argentina",
          "created": "2025-05-19T12:08:39.000Z",
          "updated": "2025-05-19T12:08:39.583Z",
          "colorId": "2",
          "etag": "\"3495313039166750\"",
          "eventType": "default",
          "htmlLink": "https://www.google.com/calendar/event?eid=MmsxcmZkanViZTc1bGdkdGIxcWVrNDE0dDdfMjAyNTA1MjhUMTIwMDAwWiBxZXZhLmFpLnNvbHV0aW9uc0Bt",
          "iCalUID": "2k1rfdjube75lgdtb1qek414t7@google.com",
          "kind": "calendar#event",
          "originalStartTime": {
            "dateTime": "2025-05-28T09:00:00-03:00",
            "timeZone": "America/Argentina/Buenos_Aires"
          },
          "recurringEventId": "2k1rfdjube75lgdtb1qek414t7",
          "reminders": {
            "useDefault": true
          },
          "sequence": 0,
          "status": "confirmed"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "2kOn0Oz7c2uvczPK"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-23T17:49:20.946Z",
      "updatedAt": "2025-03-23T17:49:20.946Z",
      "id": "UdWAGpsQzroykED6",
      "name": "AGENTES INMO"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-19T15:40:46.169Z",
  "versionId": "feb520d6-88f0-4a78-9621-35e18c9cc13e"
}