workflows/CFiHzjzDjd0JhhWs.json
{
  "active": false,
  "connections": {
    "Conversation Exists": {
      "main": [
        [
          {
            "node": "Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Conversation": {
      "main": [
        [
          {
            "node": "Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Exists": {
      "main": [
        [
          {
            "node": "Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CreaClienteCW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Source Id": {
      "main": [
        [
          {
            "node": "Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact": {
      "main": [
        [
          {
            "node": "If Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation": {
      "main": [
        [
          {
            "node": "Conversation Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact": {
      "main": [
        [
          {
            "node": "Get Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation": {
      "main": [
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatwootToWhapi": {
      "main": [
        [
          {
            "node": "variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Get Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreaClienteCW": {
      "main": [
        [
          {
            "node": "Save Source Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variables": {
      "main": [
        [
          {
            "node": "Message Type1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type": {
      "main": [
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type1": {
      "main": [
        [
          {
            "node": "Grabando Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escribiendo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escribiendo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send Media To ChatWoot2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escribiendo": {
      "main": [
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grabando Audio": {
      "main": [
        [
          {
            "node": "Enviar Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-09T17:21:32.659Z",
  "id": "CFiHzjzDjd0JhhWs",
  "isArchived": false,
  "meta": null,
  "name": "CHATWOOT A WHAPI",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "06fcdd61-8f93-4f9a-8429-9a97791316b2",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c7af18e3-00fa-4689-b7f6-07e0f5c43d46",
      "name": "Conversation Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        460,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Upsert Conversation",
        "height": 531.1279419559463,
        "width": 673.5718442051377,
        "color": 4
      },
      "id": "57fbd4a9-c83a-4465-8ac6-f369f081d3af",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -460,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Message",
        "height": 528,
        "width": 1288,
        "color": 4
      },
      "id": "4a469571-65ef-4111-9480-7e71b9ef5009",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Upsert Contact",
        "height": 531.1279419559463,
        "width": 832.8267518785899,
        "color": 4
      },
      "id": "aad9af40-4c4a-4604-a57d-3ceaeff3415b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1320,
        0
      ]
    },
    {
      "parameters": {
        "resource": "Conversations API",
        "operation": "Create A Conversation",
        "inbox_identifier": "={{ $node['Workflow Input Trigger'].json.inboxIdentifier }}",
        "contact_identifier": "={{ $node['Contact'].json.sourceId }}",
        "requestOptions": {}
      },
      "id": "3868532b-1836-4ac7-9621-da91da46f368",
      "name": "Create Conversation",
      "type": "@devlikeapro/n8n-nodes-chatwoot.chatWoot",
      "typeVersion": 1,
      "position": [
        760,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "chatwootApi": {
          "id": "MIwHAhPe5OlnBvxL",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ad8a19f1-1e31-40bf-b865-5d3a09a98cbd",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2046ac9b-3836-4f11-b6a3-2c3a9ef46a56",
      "name": "If Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -780,
        100
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chatwoot_contacts",
          "mode": "list",
          "cachedResultName": "chatwoot_contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session": "=chatwoot",
            "chatid": "={{ $('Workflow Input Trigger').item.json.telefonoCliente }}",
            "chatwootinboxidentifier": "={{ $('Workflow Input Trigger').item.json.inboxIdentifier }}",
            "chatwootsourceid": "={{ $json.source_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session",
              "displayName": "session",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chatid",
              "displayName": "chatid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chatwootinboxidentifier",
              "displayName": "chatwootinboxidentifier",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chatwootsourceid",
              "displayName": "chatwootsourceid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3f8ed90a-e610-4c49-8d4e-ca3fc9c5f527",
      "name": "Save Source Id",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        180
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "E1mi81N6Tmr5cHS5",
          "name": "GENERICO"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chatwoot_contacts",
          "mode": "list",
          "cachedResultName": "chatwoot_contacts"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "session",
              "value": "=chatwoot"
            },
            {
              "column": "chatid",
              "value": "={{ $json.telefonoCliente }}"
            },
            {
              "column": "chatwootinboxidentifier",
              "value": "={{ $json.inboxIdentifier }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "id": "2e2fe4e1-2d82-44f9-bac7-901044ce9022",
      "name": "Get Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -960,
        100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "E1mi81N6Tmr5cHS5",
          "name": "GENERICO"
        }
      }
    },
    {
      "parameters": {
        "resource": "Conversations API",
        "operation": "List All Contact Conversations",
        "inbox_identifier": "={{ $('Workflow Input Trigger').item.json.inboxIdentifier }}",
        "contact_identifier": "={{ $('Contact').item.json.sourceId }}",
        "requestOptions": {}
      },
      "id": "5c67ae0b-941e-4e80-a801-011042c9343a",
      "name": "Get Conversation",
      "type": "@devlikeapro/n8n-nodes-chatwoot.chatWoot",
      "typeVersion": 1,
      "position": [
        280,
        80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "chatwootApi": {
          "id": "MIwHAhPe5OlnBvxL",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c30097b-1b86-4503-acb8-62d51b5d469c",
              "name": "sourceId",
              "value": "={{ $json.chatwootsourceid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d0d3d2d4-0840-4153-a532-09320c86affc",
      "name": "Contact",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c30097b-1b86-4503-acb8-62d51b5d469c",
              "name": "conversationId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "9cec244c-5689-471b-85a9-efc6afcb6766",
              "name": "content",
              "value": "={{ $('Workflow Input Trigger').item.json.content }}",
              "type": "string"
            },
            {
              "id": "0ab107e0-874b-4847-9539-a0862df5b65a",
              "name": "nombreCliente",
              "value": "={{ $('Workflow Input Trigger').item.json.nombreCliente }}",
              "type": "string"
            },
            {
              "id": "fa5014c9-1cd7-4eec-9e33-c1d1fca34860",
              "name": "inboxIdentifier",
              "value": "={{ $('Workflow Input Trigger').item.json.inboxIdentifier }}",
              "type": "string"
            },
            {
              "id": "53d66e64-69fc-43e4-a29e-c9263c5161eb",
              "name": "chatwootUrl",
              "value": "={{ $('Workflow Input Trigger').item.json.chatwootUrl }}",
              "type": "string"
            },
            {
              "id": "7106b1d3-8a54-4c59-9a26-f0fc2a30f129",
              "name": "chatwootToken",
              "value": "={{ $('Workflow Input Trigger').item.json.chatwootToken }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "096a33d6-df30-410f-a2da-725dc8dab704",
      "name": "Conversation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        60
      ]
    },
    {
      "parameters": {
        "resource": "Messages API",
        "operation": "Create A Message",
        "inbox_identifier": "={{ $('Workflow Input Trigger').item.json.inboxIdentifier }}",
        "contact_identifier": "={{ $('Contact').item.json.sourceId }}",
        "conversation_id": "={{ $('Conversation').item.json.conversationId }}",
        "content": "={{ $('Workflow Input Trigger').item.json.content }}",
        "requestOptions": {}
      },
      "id": "baf702aa-dd9b-495f-bdbe-00bbd4e099f0",
      "name": "Send Text",
      "type": "@devlikeapro/n8n-nodes-chatwoot.chatWoot",
      "typeVersion": 1,
      "position": [
        1600,
        60
      ],
      "credentials": {
        "chatwootApi": {
          "id": "MIwHAhPe5OlnBvxL",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chatwoot_contacts",
          "mode": "list",
          "cachedResultName": "chatwoot_contacts"
        },
        "options": {}
      },
      "id": "172d8445-373b-4fe2-9ef6-1e7afe393f7d",
      "name": "Get Contact1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1060,
        -200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "E1mi81N6Tmr5cHS5",
          "name": "GENERICO"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wepi",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        800,
        -280
      ],
      "id": "36af007d-5b87-43c0-943f-0863f601774a",
      "name": "CanalApiWepiWhapi",
      "webhookId": "0147a521-fe16-40b3-befd-a57d401b219c"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-to-whapi",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -780,
        -200
      ],
      "id": "b7d16582-771c-4d61-b971-0e7de8e92514",
      "name": "ChatwootToWhapi",
      "webhookId": "37ccf5cc-5131-4df2-9609-cee3d81fa9ae"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "content",
              "type": "any"
            },
            {
              "name": "nombreCliente",
              "type": "any"
            },
            {
              "name": "telefonoCliente"
            },
            {
              "name": "inboxIdentifier"
            },
            {
              "name": "chatwootUrl"
            },
            {
              "name": "chatwootToken"
            },
            {
              "name": "typeFile",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1240,
        100
      ],
      "id": "c1af58a1-2c48-4221-ad88-a3d6d22cea1a",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.rshtech.com.py/public/api/v1/inboxes/SUqwz3QWbq6UgbEF7zhifEv5/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Workflow Input Trigger').item.json.chatwootToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Workflow Input Trigger').item.json.nombreCliente }}"
            },
            {
              "name": "Identifier",
              "value": "={{ $('Workflow Input Trigger').item.json.telefonoCliente }}"
            },
            {
              "name": "phone_number",
              "value": "=+{{ $('Workflow Input Trigger').item.json.telefonoCliente }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        180
      ],
      "id": "ceb558c9-aec1-41a1-9e2b-940a72ccd638",
      "name": "CreaClienteCW"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from chatwoot_contacts",
        "options": {}
      },
      "id": "3c87eb3a-af07-4864-a211-a364cddd7a59",
      "name": "Get Contact2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1300,
        -200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "E1mi81N6Tmr5cHS5",
          "name": "GENERICO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "deb13bac-3ca3-4b5f-a567-8ad552fe780a",
              "name": "mensaje",
              "value": "={{ $json?.body?.messages[0]?.content || $json.body.messages[0].attachments[0].data_url }}",
              "type": "string"
            },
            {
              "id": "1ed82420-a056-46c1-afdc-f9769dc4b626",
              "name": "numero",
              "value": "={{ $json.body.meta.sender.phone_number.split('+')[1] }}",
              "type": "string"
            },
            {
              "id": "5b46b841-1e28-47d7-afe2-615961220268",
              "name": "type",
              "value": "={{ $json?.body?.messages[0]?.content_type || $json.body.messages[0].content_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        -200
      ],
      "id": "1ba8508a-fdb2-42da-9891-c0265107fa3c",
      "name": "variables"
    },
    {
      "parameters": {
        "content": "## Envio de msg a Chatwoot \n",
        "height": 520,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        0
      ],
      "id": "c082e9a2-f0bf-4ffa-88d3-8f53709402f9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Contactos",
        "height": 400,
        "width": 440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1320,
        -440
      ],
      "typeVersion": 1,
      "id": "273acbc2-ae5c-45db-987a-6e566dd1a1ad",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Envio de chatwoot a whapi\nEn la seccion de automatizacion de chatwoot coloco este webhook para la salida de msg de chatwoot a whapi",
        "height": 400,
        "width": 2000,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -860,
        -440
      ],
      "typeVersion": 1,
      "id": "7c7a9f5c-ff96-43d8-945c-63483c7646a8",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### En chatwoot coloco en la seccion ENTRADAS este webhook",
        "height": 260,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        -360
      ],
      "typeVersion": 1,
      "id": "848f96c1-9094-4d1e-b935-703e7764031a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0cb14635-2673-408e-86db-ce9e0373674b",
                    "leftValue": "={{ $('Workflow Input Trigger').item.json.typeFile }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Workflow Input Trigger').item.json.typeFile }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9d6039bf-d7d0-489c-8f18-691901f06a47"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0d1f958-f19d-43a3-b740-29e7f3e4c872",
                    "leftValue": "={{ $('Workflow Input Trigger').item.json.typeFile }}",
                    "rightValue": "location",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "location"
            }
          ]
        },
        "options": {}
      },
      "id": "7bf7e518-b66b-4317-a0c2-89c53451479d",
      "name": "Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1340,
        60
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('ChatwootToWhapi').item.json.body.messages[0].attachments[0].file_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9d6039bf-d7d0-489c-8f18-691901f06a47"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4972bf24-fce2-42ca-ac41-2fc2c0b4665c",
                    "leftValue": "={{ $('ChatwootToWhapi').item.json.body.messages[0].attachments[0].file_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3f06e900-4dee-43af-9264-4221e9c03692",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b3ae56f0-bc26-407c-9f23-c8fa861d82f4",
      "name": "Message Type1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -180,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer Qo7qoYEVIKvRppohj25MEaHl1dPwskEv"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_time",
              "value": "={{1}}"
            },
            {
              "name": "body",
              "value": "={{ $('variables').first().json.mensaje.replace(/\\n/g,'\\n').replace(/\\\"/g,'\\'') }}"
            },
            {
              "name": "to",
              "value": "={{ $('variables').first().json.numero }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        -400
      ],
      "id": "adf5a88e-0316-4de6-a9d5-b0868b6f3690",
      "name": "Texto"
    },
    {
      "parameters": {
        "url": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        360
      ],
      "id": "e5bc3a06-e7ce-44c5-ac8a-af421dd48a2c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwootUrl }}/public/api/v1/inboxes/{{ $json.inboxIdentifier }}/contacts/{{ $('Contact').item.json.sourceId }}/conversations/{{ $('Conversation').item.json.conversationId }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "979642dd-054a-478d-8936-de6bedf7a625",
      "name": "Send Media To ChatWoot2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        360
      ],
      "credentials": {
        "chatwootApi": {
          "id": "MIwHAhPe5OlnBvxL",
          "name": "ChatWoot account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://gate.whapi.cloud/presences/{{ $json.numero }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer Qo7qoYEVIKvRppohj25MEaHl1dPwskEv"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "presence",
              "value": "typing"
            },
            {
              "name": "delay",
              "value": "={{1}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        -400
      ],
      "id": "4dd4154b-4d8e-4021-82f4-fabd57ec5a02",
      "name": "Escribiendo"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://gate.whapi.cloud/presences/{{ $json.numero }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer Qo7qoYEVIKvRppohj25MEaHl1dPwskEv"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "presence",
              "value": "recording"
            },
            {
              "name": "delay",
              "value": "={{3}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        -220
      ],
      "id": "3c37c1b2-451b-41ce-9042-e1a2dd39cbf1",
      "name": "Grabando Audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/audio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer Qo7qoYEVIKvRppohj25MEaHl1dPwskEv"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Message Type1').item.json.numero }}"
            },
            {
              "name": "media",
              "value": "={{ $('Message Type1').item.json.mensaje }}"
            },
            {
              "name": "recording_time",
              "value": "0"
            },
            {
              "name": "mime_type",
              "value": "audio/mp3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        -220
      ],
      "id": "aaf0b336-2c5f-4d04-a809-3da8c949a929",
      "name": "Enviar Audio1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-09T17:23:14.054Z",
  "versionId": "272e0f7e-2b47-46a8-b03e-dd3caf055dc5"
}