workflows/EBMwLGTBawYqkZM1.json
{
  "active": true,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "active && no error handler set && not this  handler workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get error handler": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set fields": {
      "main": [
        [
          {
            "node": "n8n | update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "active && no error handler set && not this  handler workflow": {
      "main": [
        [
          {
            "node": "set fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "get error handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-28T03:55:34.043Z",
  "id": "EBMwLGTBawYqkZM1",
  "isArchived": false,
  "meta": null,
  "name": "Error Workflows",
  "nodes": [
    {
      "parameters": {},
      "id": "d231c973-555a-44b5-a3b2-707a8bf32887",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        -144,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "675931d9-b4c8-43e0-b78c-24e1cda7dfb3",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        320,
        -16
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "Ki5wPNytwpKrHGnQ",
          "name": "WorkFlows"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "requestOptions": {}
      },
      "id": "d17a71e7-0077-45e4-a5f8-f20357e75759",
      "name": "get error handler",
      "type": "n8n-nodes-base.n8n",
      "position": [
        80,
        -16
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "Ki5wPNytwpKrHGnQ",
          "name": "WorkFlows"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "workflowObject": "={{ JSON.stringify($json) }}",
        "requestOptions": {}
      },
      "id": "0d0c6e51-e741-4795-a2cd-5951dfc12803",
      "name": "n8n | update",
      "type": "n8n-nodes-base.n8n",
      "position": [
        928,
        -64
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "Ki5wPNytwpKrHGnQ",
          "name": "WorkFlows"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $json\n\ndata.settings.errorWorkflow = $('get error handler').item.json.id ;\ndelete data.settings.callerPolicy;\n\nreturn {\n  id: data.id,\n  name: data.name,\n  nodes: data.nodes,\n  connections: data.connections,\n  settings: data.settings\n}"
      },
      "id": "7be2ff2b-7db6-4599-9e01-51043104747e",
      "name": "set fields",
      "type": "n8n-nodes-base.code",
      "position": [
        720,
        -64
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "290fd302-4e2d-44d6-8a8a-14a0b8f2c360",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.settings.errorWorkflow }}",
              "rightValue": "=Default Error Handler"
            },
            {
              "id": "2a5799e9-2030-4281-bf11-e7f9777906c5",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('get error handler').item.json.id }}"
            },
            {
              "id": "8bc4c2a0-e094-4426-8ae6-71b6e4fa9842",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.active }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "03cf4714-93ef-4dd9-957b-26f334a9d256",
      "name": "active && no error handler set && not this  handler workflow",
      "type": "n8n-nodes-base.if",
      "position": [
        528,
        -16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Default Error Handler\n\nUpdate this to your preferred notification mechanism",
        "height": 308.64949804469416,
        "width": 483.4744075807993
      },
      "id": "21e651b9-1c73-48c2-a725-7910d240d91e",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "get ID of self",
        "height": 216.67545344104974,
        "width": 232.91556831986873
      },
      "id": "14f16eed-471f-4304-bb20-0a614f204f70",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "9f09a895-b686-41e8-b68f-f6a0be608bce",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -144,
        -16
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "Runs every day at midnight to update new workflows",
        "height": 219.7116384468202,
        "width": 214.6984582852457
      },
      "id": "b95949ff-5ef3-466b-9a34-4b545a1d93d3",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "164729397",
        "text": "=🟥 **ALERTA CRÍTICA**\n\n📂 `{{$json.workflow.name}}`  \n💢 Nodo: `{{$json.execution.lastNodeExecuted}}`  \n🆔 ID: {{$json.execution.id}}  \n🕒 {{$now.format(\"dd-MM-yyyy HH:mm\")}}\n\n💬 `{{ $json.execution.error.message }}`\n\n🔗 {{ $json.execution.url.replace('n8nw.qeva.xyz', 'n8n.qeva.xyz') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        96,
        320
      ],
      "id": "bc6ee710-0f89-41b0-be53-dbab0c63e8b3",
      "name": "Send a text message",
      "webhookId": "c276d752-0918-477a-847a-cbbf808219fb",
      "credentials": {
        "telegramApi": {
          "id": "LpTnRsVaNB0JfyAR",
          "name": "Debugger"
        }
      }
    }
  ],
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "35360",
            "url": "https://n8nw.qeva.xyz/workflow/9bzbVDRKtn5rZQjf/executions/35360",
            "error": {
              "level": "warning",
              "tags": {},
              "errorResponse": {
                "level": "warning",
                "tags": {
                  "reWrapped": true
                },
                "timestamp": 1752723203547,
                "context": {
                  "itemIndex": 0
                },
                "functionality": "regular",
                "name": "NodeApiError",
                "node": {
                  "parameters": {
                    "info": "",
                    "operation": "read",
                    "fileSelector": "={{ $json.filePath }}",
                    "options": {}
                  },
                  "id": "6b53cad9-3396-4087-a139-31134edb23c7",
                  "name": "Read File",
                  "type": "n8n-nodes-base.readWriteFile",
                  "position": [
                    0,
                    -704
                  ],
                  "typeVersion": 1
                },
                "messages": [
                  "Access to the file is not allowed."
                ],
                "httpCode": null,
                "message": "Access to the file is not allowed.",
                "stack": "NodeApiError: Access to the file is not allowed.\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_1af219c3f47f2a1223ec4ccec249a974/node_modules/n8n-nodes-base/nodes/Files/ReadWriteFile/actions/read.operation.ts:152:10)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_1af219c3f47f2a1223ec4ccec249a974/node_modules/n8n-nodes-base/nodes/Files/ReadWriteFile/ReadWriteFile.node.ts:65:17)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@5.8.1_ws@8.17.1_zod@3.25.67_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1212:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@5.8.1_ws@8.17.1_zod@3.25.67_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1582:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@5.8.1_ws@8.17.1_zod@3.25.67_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2153:11",
                "executionId": "35364",
                "workflowId": "9bzbVDRKtn5rZQjf"
              },
              "timestamp": 1752723203556,
              "context": {},
              "functionality": "regular",
              "name": "NodeOperationError",
              "node": {
                "parameters": {
                  "info": "",
                  "operation": "read",
                  "fileSelector": "={{ $json.filePath }}",
                  "options": {}
                },
                "id": "6b53cad9-3396-4087-a139-31134edb23c7",
                "name": "Read File",
                "type": "n8n-nodes-base.readWriteFile",
                "position": [
                  0,
                  -704
                ],
                "typeVersion": 1
              },
              "messages": [],
              "executionId": "35364",
              "workflowId": "9bzbVDRKtn5rZQjf",
              "message": "Access to the file is not allowed.",
              "stack": "NodeApiError: Access to the file is not allowed.\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_1af219c3f47f2a1223ec4ccec249a974/node_modules/n8n-nodes-base/nodes/Files/ReadWriteFile/actions/read.operation.ts:152:10)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_1af219c3f47f2a1223ec4ccec249a974/node_modules/n8n-nodes-base/nodes/Files/ReadWriteFile/ReadWriteFile.node.ts:65:17)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@5.8.1_ws@8.17.1_zod@3.25.67_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1212:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@5.8.1_ws@8.17.1_zod@3.25.67_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1582:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@5.8.1_ws@8.17.1_zod@3.25.67_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2153:11"
            },
            "lastNodeExecuted": "Get New Workflow Hash",
            "mode": "trigger"
          },
          "workflow": {
            "id": "9bzbVDRKtn5rZQjf",
            "name": "n8n Backup Changes"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "EBMwLGTBawYqkZM1"
  },
  "staticData": {
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-17T05:25:52.438Z",
  "versionId": "8d95ef9a-db15-4aee-adb3-c328aeeeeb01"
}