workflows/LOQF72sZfQ57xNtg.json
{
  "active": false,
  "connections": {
    "Item List Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generador de títulos",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Image-to-video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "Text-to-Sound",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Text-to-Sound": {
      "main": [
        [
          {
            "node": "Upload MP3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload MP3": {
      "main": [
        [
          {
            "node": "Cambiar acceso",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cambiar acceso": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Text-to-video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Blotato IDs": {
      "main": [
        [
          {
            "node": "Vídeo Listo en Blotato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vídeo Listo en Blotato": {
      "main": [
        [
          {
            "node": "🔺YOUTUBE",
            "type": "main",
            "index": 0
          },
          {
            "node": "📷 INSTAGRAM",
            "type": "main",
            "index": 0
          },
          {
            "node": "🎵 TIKTOK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Gsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Video Link": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Set Blotato IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit + Render Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image-to-video": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generador de títulos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generador de copys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DIsparador por horas": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generador de copys": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text-to-video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Generador de títulos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generador de títulos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generador de copys",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit + Render Video": {
      "main": [
        [
          {
            "node": "Final Video Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-15T03:11:38.881Z",
  "id": "LOQF72sZfQ57xNtg",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Subir contenido automatico",
  "nodes": [
    {
      "parameters": {
        "options": {
          "numberOfItems": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        -1840,
        1300
      ],
      "id": "668f0280-e0a2-4ad4-b49e-98b8a75136d2",
      "name": "Item List Output Parser"
    },
    {
      "parameters": {
        "content": "## INPUT: Tema del vídeo",
        "height": 500,
        "width": 700,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2580,
        960
      ],
      "id": "b759d8c0-b8d2-4b63-8314-8765d4b4b45a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## | Generador de Prompts\n",
        "height": 340,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1660,
        1620
      ],
      "id": "3039c67d-c1cc-4a87-ab8b-f0011c4e6870",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## | Agente \nGenerador de imágenes\n",
        "height": 340,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1020,
        1620
      ],
      "id": "8003469f-dc35-4b06-8ea0-18d0d57ae3de",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -780,
        1720
      ],
      "id": "911af590-229b-4b76-abb8-932dbf729bb0",
      "name": "Wait",
      "webhookId": "f594e7ce-50a4-4798-9320-0f45d725d678"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "0604eecaf2cbe8cf12eb8e4c9b14010359bc182f73fe1a4daf5be719e8ea3634"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -620,
        1720
      ],
      "id": "aab58a1a-e947-4508-b112-8cfd1c8da89a",
      "name": "Get Image"
    },
    {
      "parameters": {
        "content": "## | Agente\nGenerador de vídeos\n",
        "height": 340,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        1620
      ],
      "id": "edb03d0a-bd82-4e98-9d9d-6ef1e846bb79",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -160,
        1720
      ],
      "id": "96f6a60f-e1a8-4a77-94ae-1b7ace4f28eb",
      "name": "Wait1",
      "webhookId": "5de76fb5-1a00-4f7e-a4ed-121d9a5e3bac"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "e203167289ada804df17a174c5f99a0d4d57be9a114c969fda9b0dc514f973a1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        1720
      ],
      "id": "f8244506-bf0e-4e9a-b0e9-81f819b3b6a4",
      "name": "Get Video"
    },
    {
      "parameters": {
        "content": "## | Agente\nGenerador de sonidos\n",
        "height": 320,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        1620
      ],
      "id": "9c643ba0-ad63-4564-b604-8d4c0aa365ee",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/sound-generation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_7ed4ede3a6d5b2a8902e9791d80a852afddab089fcff6890"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"text\": \"ambient musical background sounds for this person: {{ $('Google Sheets').first().json.idea }}, the action is: {{ $('Generador de títulos').item.json.text }}\",\n  \"duration_seconds\": 5,\n  \"prompt_influence\": 0.75\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        1720
      ],
      "id": "1402a7f4-8341-4d59-9813-ce67fbf855f3",
      "name": "Text-to-Sound"
    },
    {
      "parameters": {
        "name": "={{ $json.data.task_id }}.mp3",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1TQjG5dCmidN4nuiUn_n97KdrRb5EL5_X",
          "mode": "list",
          "cachedResultName": "Contenido ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1TQjG5dCmidN4nuiUn_n97KdrRb5EL5_X"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        1720
      ],
      "id": "d0b54c27-0f40-470a-921c-e9087b805366",
      "name": "Upload MP3",
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aVaybmP9OR6Yzwmy",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## OUTPUT: Vídeo final\n(Edición + Render)",
        "height": 600,
        "width": 920
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        780,
        980
      ],
      "id": "cf6195ce-8404-46e1-8550-e63174c5c42b",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1140,
        1140
      ],
      "id": "caa4bdfa-bb2b-4b86-88c7-64ea830206c3",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw",
          "mode": "list",
          "cachedResultName": "Plantilla de Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Google Sheets').first().json.id }}",
            "production": "done",
            "final_output": "={{ $json.url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "production",
              "displayName": "production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "publishing",
              "displayName": "publishing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_output",
              "displayName": "final_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1720,
        1160
      ],
      "id": "0acdbe9e-5fae-4e52-ab42-2fa963e2818c",
      "name": "Final Video Link",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lRj57XPEqOXW9kOd",
          "name": "Qeva Solutions Sheet"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        1720
      ],
      "id": "5105cbbd-0e8d-4673-a62e-61787b6abe7c",
      "name": "Cambiar acceso",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aVaybmP9OR6Yzwmy",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## NOTA\nConectamos el nodo \"cambiar acceso\" al merge también para que el merge no se ejecute hasta que la creación del contenido se haya completado\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        860,
        1500
      ],
      "id": "c03074be-04eb-43cb-8d42-be20a6084519",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini",
          "mode": "list",
          "cachedResultName": "O1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=## 🧠 Generador Avanzado de Prompts en Primera Persona (POV) para Imágenes y Vídeos.\n\nEres una inteligencia artificial especializada en la generación avanzada de prompts, experta en expandir ideas breves de imágenes con punto de vista (POV) en descripciones detalladas e hiperrealistas, optimizadas para modelos de generación de imágenes como **Flux** y **MidJourney**.  \nTu tarea es tomar una entrada breve y transformarla en un prompt cinematográfico, inmersivo y rico en detalles, que siga estrictamente una perspectiva en primera persona, haciendo que el espectador sienta que está físicamente presente en la escena.\n\n---\n\n### 📌 Concepto general del video:\n`{{ $('Google Sheets').first().json.idea }}`\n\n### ✏️ Idea breve que debes expandir:\n`{{ $json.text }}`\n\n### 🌍 Descripción del entorno:\n`{{ $('Google Sheets').first().json.environment_prompt }}`\n\n---\n\n### 🧱 Estructura del prompt:\n\n1. **Inicio del prompt:**  \n   Empieza con:  \n   `{{ $('Google Sheets').item.json.idea }}`\n\n2. **Primer plano – Cuerpo del espectador:**  \n   Describe manos, extremidades o pies visibles.  \n   Comienza con:  \n   **\"Vista en primera persona, toma tipo GoPro de [extremidad relevante]...\"**\n\n3. **Fondo – Escenario:**  \n   Describe el entorno o paisaje.  \n   Comienza con:  \n   **\"Al fondo, [descripción del escenario]\"**\n\n---\n\n### ✅ Directrices clave:\n\n- La imagen **debe estar en perspectiva de primera persona**.\n- **Siempre debe haber una extremidad visible** (manos o pies) interactuando con el entorno.\n- El encuadre debe ser **dinámico e inmersivo**, como una cámara GoPro.\n\n---\n\n### 🧠 Detalles adicionales:\n\n- **Conciencia corporal:** Menciona peso, aliento, temblores, etc.\n- **Profundidad sensorial:** Involucra vista, tacto, temperatura, sonido y olor.\n- **Interacción activa:** Las extremidades deben interactuar con el entorno.\n- **Longitud:** Menos de **1000 caracteres**, en una sola oración, sin formato adicional ni explicaciones.\n\n---\n\n### 🧪 Ejemplos:\n\n**Entrada:** Subiendo por una escalera de incendios sobre calles de neón  \n**Salida:** Vista en primera persona, toma tipo GoPro de mis manos enguantadas esforzándose por subir la resbaladiza y oxidada escalera de incendios, luces de neón reflejadas en charcos más abajo, lluvia fría escurriéndose entre mis dedos temblorosos, sirenas lejanas aullando mientras mi aliento empaña el aire húmedo, con el borde del tejado apenas al alcance.\n\n**Entrada:** Alcanzando un café en una cafetería concurrida  \n**Salida:** Vista en primera persona, toma tipo GoPro de mi mano extendida rodeando una taza humeante, el calor traspasando la cerámica, el brazo tatuado del barista acercándome el café, el bullicio del ajetreo matutino rebotando en las paredes de azulejos, rayos de sol iluminando el polvo flotante mientras el aroma intenso del espresso invade mi respiración.\n\n**Entrada:** Despertando en una taberna medieval  \n**Salida:** Vista en primera persona, toma tipo GoPro de mis manos ásperas y callosas frotando mis ojos pesados, la luz temblorosa de una vela distorsionando las sombras sobre las vigas de madera, mis dedos recorriendo los surcos sudorosos de una jarra, el olor espeso a cerveza y humo impregnando el aire, risas apagadas y el distante rasgueo de un laúd activando mis sentidos.\n\n---\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1520,
        1740
      ],
      "id": "142f1cca-0636-44be-b621-f78913fa0cd5",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "UfA35dBDzEebw8zR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## NOTA\nEste modelo está entrenado para generar el prompt que se agarrará en los siguientes nodos para proceder con la generación de imágenes y posteriormente vídeo y audio.",
        "height": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        1440
      ],
      "id": "2c4e5982-3bd0-4d8d-8daa-a686e9b155e2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n    \"instagram\": \"6842\",\n    \"youtube\": \"4198\",\n    \"tiktok\": \"PON AQUÍ TU CÓDIGO DE LOGIN\",\n    \"facebook\": \"PON AQUÍ TU CÓDIGO DE LOGIN\",\n    \"facebook_page_id\": \"PON AQUÍ TU CÓDIGO DE LOGIN\",\n    \"threads\": \"PON AQUÍ TU CÓDIGO DE LOGIN\",\n    \"twitter\": \"PON AQUÍ TU CÓDIGO DE LOGIN\",\n    \"linkedin\": \"PON AQUÍ TU CÓDIGO DE LOGIN\",\n    \"pinterest\": \"PON AQUÍ TU CÓDIGO DE LOGIN\",\n    \"pinterest_board_id\": \"PON AQUÍ TU CÓDIGO DE LOGIN\",\n    \"bluesky\": \"PON AQUÍ TU CÓDIGO DE LOGIN\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2660,
        1140
      ],
      "id": "252fac83-4f9e-4f1b-949a-d42510262a7c",
      "name": "Set Blotato IDs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "=blt_Eb+9+8hjY6q8RStAypxV7D5W60qNKHHEEcjtrFVugoI="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Google Sheets').first().json.idea }}\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\":false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Generador de copys').item.json.text }}\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Set Blotato IDs').first().json.youtube }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3480,
        860
      ],
      "id": "7740d63f-07f2-4d31-b0be-1a7d6ed2f601",
      "name": "🔺YOUTUBE",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "PEGA AQUÍ TU API KEY DE BLOTATO"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Generador de copys').item.json.text }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Set Blotato IDs').first().json.instagram }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3480,
        1020
      ],
      "id": "c6aeb756-6ada-4a25-a078-885e49dd9886",
      "name": "📷 INSTAGRAM",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "PEGA AQUÍ TU API KEY DE BLOTATO"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": true,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Generador de copys').item.json.text }}\",\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Set Blotato IDs').first().json.tiktok }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3480,
        1200
      ],
      "id": "cc79c426-c66a-466d-983e-e4b556f57786",
      "name": "🎵 TIKTOK",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw",
          "mode": "list",
          "cachedResultName": "Plantilla de Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "production",
              "displayName": "production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "publishing",
              "displayName": "publishing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_output",
              "displayName": "final_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3480,
        1360
      ],
      "id": "013ff162-fa34-4785-bd13-1dd0b20d3255",
      "name": "Update Gsheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lRj57XPEqOXW9kOd",
          "name": "Qeva Solutions Sheet"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "blt_Eb+9+8hjY6q8RStAypxV7D5W60qNKHHEEcjtrFVugoI="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Final Video Link').first().json.final_output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2940,
        1140
      ],
      "id": "9f53d1fc-7fd3-4bee-a656-5dc86dde348a",
      "name": "Vídeo Listo en Blotato",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "## | Sistema\nPublicador de contenidos",
        "height": 780,
        "width": 1740,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        800
      ],
      "id": "3fcaeb01-ec15-4755-9f57-49a4bb90e428",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## NOTA\nEste modelo está entrenado para generar el vídeo a partir de la imagen creada anteriormente.",
        "height": 120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        1500
      ],
      "id": "4c13feb0-9fe4-4023-8d89-5ff9096ed571",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## TIEMPO DE EJECUCIÓN\n20s",
        "height": 80,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1420,
        1960
      ],
      "id": "3df08865-a520-4f1f-8449-b68e55e1780e",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## TIEMPO DE EJECUCIÓN\n1 min",
        "height": 80,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -780,
        1960
      ],
      "id": "9a0b5fbe-2b13-41e6-b5ab-b6900ff731bd",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## TIEMPO DE EJECUCIÓN\n6 min",
        "height": 80,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        1960
      ],
      "id": "75d23a62-97a1-44f4-939f-321018ec7722",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## TIEMPO DE EJECUCIÓN\n1s",
        "height": 80,
        "width": 300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2180,
        1460
      ],
      "id": "78e69ef2-1581-4c37-b8ee-464932608d43",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## TIEMPO DE EJECUCIÓN\n1 min",
        "height": 80,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        1940
      ],
      "id": "1f287127-b828-4f70-8d50-9c770ba370ac",
      "name": "Sticky Note14"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2400,
        1140
      ],
      "id": "b389e0ec-a17c-4ba2-a1aa-2631fec56c11",
      "name": "Merge1"
    },
    {
      "parameters": {
        "content": "## | Agente\nCopywritter",
        "height": 340,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        520
      ],
      "id": "a25adeea-ebb4-48e6-a33e-846a8c1c40b1",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    scene_titles: items.map(item => item.json.text),\n    video_urls: items.map(item => item.json.data.output.video_url),\n    sound_urls: items.map(item => item.json.webContentLink)\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        1160
      ],
      "id": "2bd0849d-556c-4427-87b9-6e6fe08df7ad",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "e203167289ada804df17a174c5f99a0d4d57be9a114c969fda9b0dc514f973a1"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"model\": \"kling\",\n    \"mode\": \"std\",\n    \"task_type\": \"video_generation\",\n    \"input\": {\n        \"prompt\": \"{{ $('OpenAI').item.json.message.content }}\",\n        \"cfg_scale\": 0.65,\n        \"duration\": 5,\n        \"image_url\": \"{{ $json.data.output.image_url }}\",\n        \"camera_control\": {\n            \"type\": \"simple\",\n            \"config\": {\n                \"horizontal\": 0,\n                \"vertical\": 0,\n                \"pan\": 0,\n                \"tilt\": 0,\n                \"roll\": 0,\n                \"zoom\": 0\n            }\n        }\n    },\n    \"config\": {}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        1720
      ],
      "id": "36072f85-3b2a-4d2d-a542-394b03cc43c4",
      "name": "Image-to-video"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.idea }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=IMPORTANTE: Tus salidas NUNCA deben incluir comillas dobles, loco.\nSos una IA re zarpada especializada en crear prompts ultra detallados e hiperrealistas para imágenes estilo POV (primera persona). Tu misión es generar ideas de prompts bien flasheros, inmersivos y con onda psicodélica, mostrando experiencias tipo \"un viaje de dos amigos por el mundo de la expansión mental\" basado en fiestas electrónicas, experiencias enteógenas y alquimia.\nPodés obviar:\n\nMomentos de preparación básica\nDetalles del consumo directo\nCualquier cosa que sea muy obvia o repetitiva\n\nEnfocate en las visuales más flasheras, los momentos de conexión cósmica y las experiencias sensoriales únicas.\nREGLAS DE ORO:\n\nPrimera persona siempre, como si estuvieras ahí\nVerbos re activos: flotando, vibrando, fusionándome, expandiendo, transmutando, conectando, girando, percibiendo\nPalabras clave: POV, vista psicodélica, primera persona, experiencia inmersiva\nEntre 5 y 10 palabras por prompt\nCERO comillas dobles\nEscenas hiperrealistas con toda la onda visual/sensorial\nSecuencia que fluya desde el inicio hasta el final del viaje\nPura experiencia sensorial y visual, nada de filosofía barata\n\nEJEMPLOS COPADOS:\nTema: Viaje de hongos en Capilla del Monte\n\nMirando fractales en las sierras cordobesas\nTocando el pasto que respira colores\nViendo auras alrededor de mi amigo\nSintiendo la energía del Cerro Uritorco\nDibujando mandalas en la tierra\nEscuchando la geometría del viento\nFundiéndome con las estrellas infinitas\nAbrazando un árbol que late\nVolviendo al refugio entre risas\n\nTema: Rave en un galpón abandonado\n\nEntrando al warehouse lleno de láser\nSintiendo el bass en cada célula\nBailando entre humo y luces estroboscópicas\nConectando miradas con extraños hermanos\nFlotando en ondas de sintetizador\nCompartiendo agua bajo luces UV\nPercibiendo la música como formas\nSaliendo al amanecer naranja fosforescente\n\nTema: Sesión de alquimia psicodélica\n\nMezclando esencias en el mortero antiguo\nObservando burbujas doradas transmutarse\nSosteniendo cristales que vibran energía\nVertiendo tinturas bajo luna llena\nEncendiendo velas de colores específicos\nViendo símbolos emerger del humo\nSintiendo la materia prima activarse\nSellando el elixir con intención\nGuardando la botella entre resplandores"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -2020,
        1120
      ],
      "id": "fbdb9c7a-d8d4-428f-86ec-61e30cc8566a",
      "name": "Generador de títulos"
    },
    {
      "parameters": {
        "content": "# | Vídeos virales POV en Automático. 🔥\n ",
        "height": 80,
        "width": 680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        20
      ],
      "id": "fe9834b3-55fa-4bda-9130-c78b7ea803cf",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2540,
        1120
      ],
      "id": "aae2f256-d084-4662-9e81-b3c309e2fa13",
      "name": "DIsparador por horas"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1940,
        1160
      ],
      "id": "ae561b37-460d-46ae-9683-d4f0c3d97c70",
      "name": "Wait2",
      "webhookId": "bbc51a05-174d-4f71-b201-d0885edb2c3e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Google Sheets').item.json.idea }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=## CAPACIDADES\n\nEres una herramienta de IA experta en redes sociales y generación de contenido viral en tiktok, instagram y youtube.\n\nTienes altísimos conocimientos en posicionamiento SEO en redes sociales y eres tremendamente audaz y atenta a todas las tendencias del mercado.\n\nVas a recibir la idea de cada vídeo y a partir de ahí generarás estos copys.\n\nIdea del vídeo: {{ $('Google Sheets').item.json.idea }}\n\n## CONTEXTO\n\nTu misión es generar un copy perfecto para publicarlo junto con el contenido multimedia en las distintas redes sociales, este copy debe contener todas las palabras clave que puedas generar a partir de la idea del vídeo, siendo completamente consciente de que estas palabras clave deben tener un volumen de búsqueda en redes sociales muy alto y deben ser muy llamativas.\n\nEl copy debe ser controversial y generar demasiada curiosidad en las primeras palabras, incitando al espectador a quedarse hasta el findel y ver el vídeo sí o sí.\n\nEl copy debe tener un máximo de 20 palabras.\n\nDespués de formular el copy, genera también hastags que incluyan las palabras clave mejor posicionadas y que más fácil pueden viralizarse. Dos de los hastags deben ser siempre #POV y #viral . Genera un total de 5 hastags por publicación.\n\n## EJEMPLOS DE SALIDA\n\nEsto es un día siendo un pobre prisionero de la trágica primera guerra mundial.  #POV #guerramundial #prisionero #viral\n\n## IMPORTANTE\n\nNo incluyas comillas en el resultado final NUNCA.\nNo incluyas /n NUNCA.\nDebes crear un solo prompt."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1540,
        600
      ],
      "id": "34f700fa-2fee-45ae-b599-1c779a960b66",
      "name": "Generador de copys",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "e203167289ada804df17a174c5f99a0d4d57be9a114c969fda9b0dc514f973a1"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"genera una imagen en formato POV (primera persona), que de contexto al siguiente escenario: {{ $json.message.content }}\",\n        \"width\": 540,\n        \"height\": 960\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        1740
      ],
      "id": "73d54caa-6d0f-48b2-8224-0bc4e1dc4a62",
      "name": "Text-to-video"
    },
    {
      "parameters": {
        "content": "## CODIGO PLANTILLA\n{\n  \"output_format\": \"mp4\",\n  \"width\": 704,\n  \"height\": 1344,\n  \"elements\": [\n    {\n      \"id\": \"80bbfec1-5564-443d-aa69-247eb0e5b808\",\n      \"name\": \"Audio-1\",\n      \"type\": \"audio\",\n      \"track\": 1,\n      \"time\": 0,\n      \"source\": \"c994e134-998d-4755-9ce0-9f128c5ba3a2\",\n      \"trim_duration\": 5,\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"1eb98f6c-f45b-4219-9499-5df04064b2da\",\n      \"name\": \"Audio-2\",\n      \"type\": \"audio\",\n      \"track\": 1,\n      \"source\": \"c994e134-998d-4755-9ce0-9f128c5ba3a2\",\n      \"trim_duration\": 5,\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"ff903ae1-99e5-444d-b545-46b9b140ecba\",\n      \"name\": \"Audio-3\",\n      \"type\": \"audio\",\n      \"track\": 1,\n      \"source\": \"c994e134-998d-4755-9ce0-9f128c5ba3a2\",\n      \"trim_duration\": 5,\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"518348b3-9622-449a-af43-70c6b3c0a803\",\n      \"name\": \"Audio-4\",\n      \"type\": \"audio\",\n      \"track\": 1,\n      \"source\": \"c994e134-998d-4755-9ce0-9f128c5ba3a2\",\n      \"trim_duration\": 5,\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"ebc36804-cdff-4a95-af46-21054296904a\",\n      \"name\": \"Audio-5\",\n      \"type\": \"audio\",\n      \"track\": 1,\n      \"source\": \"c994e134-998d-4755-9ce0-9f128c5ba3a2\",\n      \"trim_duration\": 5,\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"2cf9a19a-7cf1-4c6b-ba8a-048fe2167b58\",\n      \"name\": \"Video-1\",\n      \"type\": \"video\",\n      \"track\": 2,\n      \"time\": 0,\n      \"duration\": 5,\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"2c7da1e6-c090-4a31-b5a0-a4537e9dea5a\",\n      \"name\": \"Video-2\",\n      \"type\": \"video\",\n      \"track\": 2,\n      \"duration\": 5,\n      \"source\": \"23b9827b-8424-4db7-8be0-dc17abdec21a\",\n      \"clip\": true,\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"87e27d0a-394f-4083-8cab-081494799f3b\",\n      \"name\": \"Video-3\",\n      \"type\": \"video\",\n      \"track\": 2,\n      \"duration\": 5,\n      \"source\": \"23b9827b-8424-4db7-8be0-dc17abdec21a\",\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"4bdc8871-a23d-4bab-86fa-0b104914da6b\",\n      \"name\": \"Video-4\",\n      \"type\": \"video\",\n      \"track\": 2,\n      \"duration\": 5,\n      \"source\": \"23b9827b-8424-4db7-8be0-dc17abdec21a\",\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"418ba636-f98e-4b48-a811-8b1c4d8312c4\",\n      \"name\": \"Video-5\",\n      \"type\": \"video\",\n      \"track\": 2,\n      \"duration\": 5,\n      \"source\": \"23b9827b-8424-4db7-8be0-dc17abdec21a\",\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"764ba14a-e91c-4018-95b8-70696d7bc11a\",\n      \"name\": \"Text-1\",\n      \"type\": \"text\",\n      \"track\": 3,\n      \"time\": 0,\n      \"duration\": 5,\n      \"x\": \"2.7527%\",\n      \"y\": \"17.1734%\",\n      \"width\": \"94.4945%\",\n      \"height\": \"7.8041%\",\n      \"x_anchor\": \"0%\",\n      \"y_anchor\": \"0%\",\n      \"x_alignment\": \"50%\",\n      \"y_alignment\": \"50%\",\n      \"text\": \"Going to the coal mine while getting bread\",\n      \"font_family\": \"Oswald\",\n      \"font_weight\": \"700\",\n      \"font_size\": \"7 vmin\",\n      \"background_color\": \"#1d1d1d\",\n      \"fill_color\": \"#ffffff\",\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"175aa0dd-23e8-47ae-908c-5c5c1e71ecc1\",\n      \"name\": \"Text-2\",\n      \"type\": \"text\",\n      \"track\": 3,\n      \"duration\": 5,\n      \"x\": \"2.7527%\",\n      \"y\": \"17.1734%\",\n      \"width\": \"94.4945%\",\n      \"height\": \"7.8041%\",\n      \"x_anchor\": \"0%\",\n      \"y_anchor\": \"0%\",\n      \"x_alignment\": \"50%\",\n      \"y_alignment\": \"50%\",\n      \"text\": \"Going to the coal mine while getting bread\",\n      \"font_family\": \"Oswald\",\n      \"font_weight\": \"700\",\n      \"font_size\": \"7 vmin\",\n      \"background_color\": \"#1d1d1d\",\n      \"fill_color\": \"#ffffff\",\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"a933ef23-c0d6-4d39-80c3-8e0797d933b9\",\n      \"name\": \"Text-3\",\n      \"type\": \"text\",\n      \"track\": 3,\n      \"duration\": 5,\n      \"x\": \"2.7527%\",\n      \"y\": \"17.1734%\",\n      \"width\": \"94.4945%\",\n      \"height\": \"7.8041%\",\n      \"x_anchor\": \"0%\",\n      \"y_anchor\": \"0%\",\n      \"x_alignment\": \"50%\",\n      \"y_alignment\": \"50%\",\n      \"text\": \"Going to the coal mine while getting bread\",\n      \"font_family\": \"Oswald\",\n      \"font_weight\": \"700\",\n      \"font_size\": \"7 vmin\",\n      \"background_color\": \"#1d1d1d\",\n      \"fill_color\": \"#ffffff\",\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"b6e0faba-7b06-4538-aba6-3dd8d6baacfb\",\n      \"name\": \"Text-4\",\n      \"type\": \"text\",\n      \"track\": 3,\n      \"duration\": 5,\n      \"x\": \"2.7527%\",\n      \"y\": \"17.1734%\",\n      \"width\": \"94.4945%\",\n      \"height\": \"7.8041%\",\n      \"x_anchor\": \"0%\",\n      \"y_anchor\": \"0%\",\n      \"x_alignment\": \"50%\",\n      \"y_alignment\": \"50%\",\n      \"text\": \"Going to the coal mine while getting bread\",\n      \"font_family\": \"Oswald\",\n      \"font_weight\": \"700\",\n      \"font_size\": \"7 vmin\",\n      \"background_color\": \"#1d1d1d\",\n      \"fill_color\": \"#ffffff\",\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"052c6152-4f35-4765-88ea-814fbfab8051\",\n      \"name\": \"Text-5\",\n      \"type\": \"text\",\n      \"track\": 3,\n      \"duration\": 5,\n      \"x\": \"2.7527%\",\n      \"y\": \"17.1734%\",\n      \"width\": \"94.4945%\",\n      \"height\": \"7.8041%\",\n      \"x_anchor\": \"0%\",\n      \"y_anchor\": \"0%\",\n      \"x_alignment\": \"50%\",\n      \"y_alignment\": \"50%\",\n      \"text\": \"Going to the coal mine while getting bread\",\n      \"font_family\": \"Oswald\",\n      \"font_weight\": \"700\",\n      \"font_size\": \"7 vmin\",\n      \"background_color\": \"#1d1d1d\",\n      \"fill_color\": \"#ffffff\",\n      \"dynamic\": true\n    }\n  ]\n}",
        "height": 4040,
        "width": 660,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        1720
      ],
      "id": "0eadb1ff-b67c-4f98-8450-3836c7591df6",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## PLANTILLA G SHEETS\n\nhttps://docs.google.com/spreadsheets/d/1coBLyXe00XP_TLzKG0X6IPhEq2ZxQH49mP6hj6ZhPwY/edit?gid=0#gid=0",
        "height": 100,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2580,
        860
      ],
      "id": "7f25e3be-b480-48ce-bea6-8a7999038d84",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw",
          "mode": "list",
          "cachedResultName": "Plantilla de Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "production",
              "lookupValue": "para producción"
            }
          ]
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "SERIAL_NUMBER"
            }
          },
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2280,
        1120
      ],
      "id": "7220533c-ce48-4ae8-8eba-89cdfc4499de",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lRj57XPEqOXW9kOd",
          "name": "Qeva Solutions Sheet"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2100,
        1340
      ],
      "id": "b1124e43-d0da-40f0-a39b-5d9481f57ac5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9O8uUWkp7h4KwsVD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1320,
        740
      ],
      "id": "87b023eb-ee5d-4a2b-a784-f8593933a693",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "9O8uUWkp7h4KwsVD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-1.1-pro-ultra/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"prompt\":\"{{ $json.chatInput }} \",\n    \"aspect_ratio\": \"3:2\"\n  }\n} ",
        "options": {}
      },
      "id": "7b123849-8a64-45b6-aee8-cb7df1cf4483",
      "name": "REPLICATE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        1460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 92d695507029498f977d4edeae79d0bc13e5ce47e621e75ce1cddbdbbc7254d3dcca60f01f5f4b91b2256d3a1af6f1b0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"template_id\": \"23b71efd-e92d-468d-be06-82e5c5a2070f\",\n  \"modifications\": {\n    \"Audio-1.source\": \"{{ $json.sound_urls[0] }}\",\n    \"Audio-2.source\": \"{{ $json.sound_urls[1] }}\",\n    \"Audio-3.source\": \"{{ $json.sound_urls[2] }}\",\n    \"Audio-4.source\": \"{{ $json.sound_urls[3] }}\",\n    \"Audio-5.source\": \"{{ $json.sound_urls[4] }}\",\n    \n    \"Video-1.source\": \"{{ $json.video_urls[0] }}\",\n    \"Video-2.source\": \"{{ $json.video_urls[1] }}\",\n    \"Video-3.source\": \"{{ $json.video_urls[2] }}\",\n    \"Video-4.source\": \"{{ $json.video_urls[3] }}\",\n    \"Video-5.source\": \"{{ $json.video_urls[4] }}\",\n    \n    \"Text-1.text\": \"{{ $('Google Sheets').first().json.idea }}\",\n    \"Text-2.text\": \"{{ $json.scene_titles[1] }}\",\n    \"Text-3.text\": \"{{ $json.scene_titles[2] }}\",\n    \"Text-4.text\": \"{{ $json.scene_titles[3] }}\",\n    \"Text-5.text\": \"{{ $json.scene_titles[4] }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        1160
      ],
      "id": "c9afb81c-a63f-4b7b-855d-16014ba61dc7",
      "name": "Edit + Render Video",
      "executeOnce": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-15T07:12:27.088Z",
  "versionId": "a2ec4ea3-d839-4d1d-8057-98b74875e267"
}