workflows/LtDZVayqPtTULr0h.json
{
  "active": false,
  "connections": {
    "Form Me": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Form Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-28T03:55:42.828Z",
  "id": "LtDZVayqPtTULr0h",
  "isArchived": true,
  "meta": null,
  "name": "Ejecucion de flujos",
  "nodes": [
    {
      "parameters": {
        "source": "url",
        "workflowUrl": "https://n8n.innovasoftpro.dev/workflow/dKRh4VLjOZIgpPj4",
        "mode": "each",
        "options": {}
      },
      "id": "759b8acd-c518-4ee0-b269-80c69b959a13",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1360,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "94746291-c0f3-44f3-b635-1fe696d7d74e",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "30a3395e-c74e-4a94-8275-1977052704bf",
      "name": "Form Me",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "41aafda0-2ad8-4a37-b160-1e7255bc75d5",
              "leftValue": "={{ $json.body.data.key.remoteJid.includes('@g.us')}}",
              "rightValue": "={{ $json.body.data.key.remoteJid.includes('@g.us')}}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4b91f7a3-b44d-4154-b56e-1c5405634d23",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        800
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.message.conversation }}",
                    "rightValue": "#delivery",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a6399ab-55dd-4097-94b2-ff917206ea8d",
                    "leftValue": "={{ $json.body.data.message.conversation }}",
                    "rightValue": "#inmobiliaria",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0aaa332a-e24f-46b9-9fa9-b6ee92734627",
                    "leftValue": "={{ $json.body.data.message.conversation }}",
                    "rightValue": "#finanzas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "72d45c31-c0cc-4099-ac5a-28b06413e581",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        760
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qeva",
        "options": {}
      },
      "id": "09d1f58f-8dbb-49dd-bddf-7adc9df28c14",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        400,
        860
      ],
      "webhookId": "57731664-e3bf-4774-8842-33692e760cda"
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-28T04:17:33.375Z",
  "versionId": "17e3d457-d88e-45e4-9ae7-31e82c7d6bea"
}