workflows/Ock4eXE54PXnyjTD.json
{
  "active": true,
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "escribiendo...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa datos": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type": {
      "main": [
        [
          {
            "node": "Encolado de msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Encolado de msg",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Encolado de msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chatInput",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Turno confirmado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DELETE TURNO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Elimina la cita - Reagendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encolado de msg": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "chatInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatInput": {
      "main": [
        [
          {
            "node": "Juli",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables globales": {
      "main": [
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Separa datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "CreateCITA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateCITA": {
      "main": [
        [
          {
            "node": "Turno creado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juli": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turno creado": {
      "main": [
        []
      ]
    },
    "escribiendo...": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tool_agendar": {
      "ai_tool": [
        [
          {
            "node": "Juli",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_cancelar": {
      "ai_tool": [
        [
          {
            "node": "Juli",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_paciente": {
      "ai_tool": [
        [
          {
            "node": "Juli",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gemini2": {
      "ai_languageModel": [
        [
          {
            "node": "Juli",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "memory1": {
      "ai_memory": [
        [
          {
            "node": "Juli",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Elimina la cita - Reagendar": {
      "main": [
        [
          {
            "node": "Cancelar turno1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar turno": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar turno1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tool_think": {
      "ai_tool": [
        [
          {
            "node": "Juli",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Cancelar turno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelar turno2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar turno2": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tool_reagendar": {
      "ai_tool": [
        [
          {
            "node": "Juli",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_fechas": {
      "ai_tool": [
        [
          {
            "node": "Juli",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Turno confirmado": {
      "main": [
        [
          {
            "node": "Confirmacion de turno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmacion de turno": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turno eliminado": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE TURNO": {
      "main": [
        [
          {
            "node": "Turno eliminado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Grupo?": {
      "main": [
        [],
        [
          {
            "node": "From Me?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From Me?": {
      "main": [
        [
          {
            "node": "ultimoMsg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Estado Usuario": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activar Usuario (24h)": {
      "main": [
        [
          {
            "node": "Contador Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contador Mensajes": {
      "main": [
        [
          {
            "node": "Confirmacion de turno2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuario Activo?": {
      "main": [
        [
          {
            "node": "Obtener Contador Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Contador Mensajes": {
      "main": [
        [
          {
            "node": "Límite Alcanzado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Límite Alcanzado?": {
      "main": [
        [
          {
            "node": "Enviar Límite Alcanzado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar Cliente y Continuar Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Cliente y Continuar Bot": {
      "main": [
        [
          {
            "node": "Variables globales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "V1": {
      "main": [
        [
          {
            "node": "Es Grupo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "V1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Primera Vez y #inicio?": {
      "main": [
        [
          {
            "node": "Activar Usuario (24h)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Es Primera Vez y #inicio?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Usuario Activo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_turnos_agendados": {
      "ai_tool": [
        [
          {
            "node": "Juli",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_turnos_disponibles": {
      "ai_tool": [
        [
          {
            "node": "Juli",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Trigger": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "ultimoMsg": {
      "main": [
        [
          {
            "node": "Obtener Estado Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager1": {
      "main": [
        [
          {
            "node": "limpiamos msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limpiamos msg": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Separa datos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "escribiendo...1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa datos1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "escribiendo...1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-31T09:00:57.428Z",
  "id": "Ock4eXE54PXnyjTD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AGENTE CITAS - MASTER estable",
  "nodes": [
    {
      "parameters": {
        "batchSize": "=1",
        "options": {
          "reset": false
        }
      },
      "id": "3404dd74-b136-4181-880a-ad78dbbbc6f8",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5952,
        1072
      ],
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "96d845be-462a-4390-b283-7ce8b1372dc4",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5440,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "// --- Funciones de procesamiento de texto ---\n\n// Función para dividir texto en fragmentos con tiempo de lectura\nfunction splitTextIntoChunks(text, maxChars = 200) {\n  // Si el texto es muy corto, devolvemos un solo fragmento\n  if (!text || text.length <= maxChars) {\n    return [{\n      parte: 1,\n      texto: text || '',\n      time: calculateReadingTime(text || '')\n    }];\n  }\n\n  const chunks = [];\n  let currentChunk = '';\n  let partNumber = 1;\n  \n  // Dividimos por palabras para no cortar palabras a la mitad\n  const words = text.split(' ');\n  \n  for (let i = 0; i < words.length; i++) {\n    const word = words[i];\n    const potentialChunk = currentChunk ? currentChunk + ' ' + word : word;\n    \n    // Si agregar la siguiente palabra excede el límite\n    if (potentialChunk.length > maxChars) {\n      // Si la palabra sola es más larga que maxChars, la cortamos\n      if (word.length > maxChars) {\n        // Guardamos el chunk actual si tiene contenido\n        if (currentChunk) {\n          chunks.push({\n            parte: partNumber++,\n            texto: currentChunk.trim(),\n            time: calculateReadingTime(currentChunk.trim())\n          });\n        }\n        \n        // Cortamos la palabra larga en pedazos\n        let remainingWord = word;\n        while (remainingWord.length > maxChars) {\n          chunks.push({\n            parte: partNumber++,\n            texto: remainingWord.substring(0, maxChars),\n            time: calculateReadingTime(remainingWord.substring(0, maxChars))\n          });\n          remainingWord = remainingWord.substring(maxChars);\n        }\n        \n        // El resto de la palabra se convierte en el nuevo currentChunk\n        currentChunk = remainingWord;\n      } else {\n        // Guardamos el chunk actual y empezamos uno nuevo con esta palabra\n        chunks.push({\n          parte: partNumber++,\n          texto: currentChunk.trim(),\n          time: calculateReadingTime(currentChunk.trim())\n        });\n        currentChunk = word;\n      }\n    } else {\n      // Si cabe, agregamos la palabra al chunk actual\n      currentChunk = potentialChunk;\n    }\n  }\n  \n  // Agregar el último chunk si queda algo\n  if (currentChunk.trim()) {\n    chunks.push({\n      parte: partNumber,\n      texto: currentChunk.trim(),\n      time: calculateReadingTime(currentChunk.trim())\n    });\n  }\n  \n  return chunks;\n}\n\n// Función para calcular el tiempo de lectura basado en la longitud del texto\nfunction calculateReadingTime(text) {\n  const length = text.length;\n  \n  if (length > 150) {\n    return 4; // segundos\n  } else if (length >= 50) {\n    return 3; // segundos\n  } else {\n    return 1; // segundo\n  }\n}\n\n// Función para determinar si un texto necesita ser dividido\nfunction needsSplitting(text) {\n  if (!text || typeof text !== 'string') return false;\n  \n  // Criterios: más de 500 caracteres o más de 100 palabras\n  const charCount = text.length;\n  const wordCount = text.split(/\\s+/).filter(word => word.length > 0).length;\n  \n  return charCount > 500 || wordCount > 100;\n}\n\n// Función para procesar el texto y dividirlo inteligentemente (función original mejorada)\nfunction processAndSplitText(textInput) {\n  // Asegúrate de que textInput sea un string o pueda ser convertido\n  let text = textInput;\n\n  // Si la entrada no es un string\n  if (typeof text !== 'string') {\n    // Si es null o undefined, simplemente devolvemos un array vacío\n    if (text === null || text === undefined) {\n      return [];\n    }\n\n    // Si es un objeto, intentamos encontrar campos comunes que contengan texto\n    if (typeof text === 'object') {\n      if (text.text) {\n        text = text.text;\n      } else if (text.message) {\n        text = text.message;\n      } else if (text.type === 'text' && text.text) {\n        text = text.text;\n      } else if (text.output) {\n        // Si output es un string, lo usamos\n        if (typeof text.output === 'string') {\n          text = text.output;\n        } else {\n          // Si output es un objeto o array, intentamos extraer de ahí\n          const extracted = extractTextContent(text.output);\n          if (extracted) {\n            text = extracted;\n          } else {\n            // Si no pudimos extraer, intentamos convertir todo el objeto a string\n            try {\n              text = JSON.stringify(text);\n            } catch (e) {\n              console.error(\"No se pudo serializar el objeto a string:\", e);\n              return [];\n            }\n          }\n        }\n      } else {\n        // Si no encontramos campos de texto comunes ni 'output', intentamos convertir a string\n        try {\n          text = JSON.stringify(text);\n        } catch (e) {\n          console.error(\"No se pudo serializar el objeto a string:\", e);\n          return [];\n        }\n      }\n    } else {\n      // Si no es string, objeto, null o undefined, devolvemos vacío\n      console.warn(\"Entrada a processAndSplitText no es string, objeto, null o undefined:\", typeof text);\n      return [];\n    }\n  }\n\n  // Si después de los intentos no tenemos un string válido, devolvemos vacío\n  if (typeof text !== 'string' || text.trim() === '') {\n    return [];\n  }\n\n  // Ahora que tenemos un string, procesamos el formato\n  const processedText = text\n    .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*') // **texto** -> *texto*\n    .replace(/###\\s*/g, '')         // Elimina encabezados ###\n    .replace(/[¡¿!]/g, '');         // Elimina signos de exclamación e interrogación iniciales y finales\n\n  // Divide en líneas para análisis\n  const lines = processedText.split('\\n');\n\n  // Grupos para almacenar los mensajes\n  const messages = [];\n  let currentMessage = [];\n  let inNumberedSection = false;\n  let currentSectionNumber = null;\n\n  // Detectar secciones numeradas y agrupables\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    // Detecta si la línea es un encabezado numerado (ej: \"1. Tipo de propiedad:\")\n    const numberedHeaderMatch = line.match(/^\\s*(\\d+)\\.\\s+([^:]+):/);\n\n    if (numberedHeaderMatch) {\n      const sectionNumber = parseInt(numberedHeaderMatch[1]);\n\n      // Si estamos empezando una nueva sección numerada O si el número no es el siguiente esperado\n      if (!inNumberedSection || (inNumberedSection && sectionNumber !== currentSectionNumber + 1)) {\n        // Si tenemos contenido previo, guardamos como mensaje separado\n        if (currentMessage.length > 0) {\n          messages.push(currentMessage.join('\\n').trim());\n          currentMessage = [];\n        }\n        inNumberedSection = true;\n      }\n      currentSectionNumber = sectionNumber;\n      currentMessage.push(line);\n\n    } else if (line.trim() === '') {\n      // Una línea vacía puede terminar una sección si hay contenido previo\n      if (currentMessage.length > 0) {\n        // Si no estamos en una sección numerada, una línea vacía termina el mensaje actual\n        if (!inNumberedSection) {\n          messages.push(currentMessage.join('\\n').trim());\n          currentMessage = [];\n        } else {\n          // Si estamos en una sección numerada, una línea vacía se agrega al mensaje actual\n          currentMessage.push(line);\n        }\n      }\n\n    } else {\n      // Línea con contenido que no es un encabezado numerado\n      currentMessage.push(line);\n      inNumberedSection = false;\n    }\n  }\n\n  // Agregar el último mensaje si queda algo\n  if (currentMessage.length > 0) {\n    messages.push(currentMessage.join('\\n').trim());\n  }\n\n  // Filtrar mensajes vacíos y limpiar líneas vacías extra\n  return messages\n    .filter(msg => msg.length > 0)\n    .map(msg => {\n      // Eliminar líneas vacías múltiples dentro del mensaje\n      return msg.replace(/\\n{2,}/g, '\\n\\n');\n    });\n}\n\n// Función para extraer texto de diferentes estructuras de datos\nfunction extractTextContent(data) {\n  // Si la data es null o undefined, retornamos null inmediatamente\n  if (data === null || data === undefined) {\n    return null;\n  }\n\n  // Si es un string, lo retornamos directamente\n  if (typeof data === 'string') {\n    return data;\n  }\n\n  // Si es un array\n  if (Array.isArray(data)) {\n    // Iteramos sobre el array e intentamos extraer texto de cada elemento\n    for (const item of data) {\n      const extracted = extractTextContent(item);\n      if (extracted) {\n        return extracted;\n      }\n    }\n    return null;\n  }\n\n  // Si es un objeto\n  if (typeof data === 'object') {\n    // Priorizamos campos comunes que suelen contener texto\n    if (data.text) {\n      return data.text;\n    }\n    if (data.message) {\n      return data.message;\n    }\n    // Si tiene un campo 'output', intentamos extraer texto de él\n    if (data.output !== undefined && data.output !== null) {\n      const extracted = extractTextContent(data.output);\n      if (extracted) {\n        return extracted;\n      }\n    }\n    // Si tiene un campo 'response', intentamos extraer texto de él\n    if (data.response !== undefined && data.response !== null) {\n      const extracted = extractTextContent(data.response);\n      if (extracted) {\n        return extracted;\n      }\n    }\n    // Si tiene un campo 'json', intentamos extraer texto de él\n    if (data.json !== undefined && data.json !== null) {\n      const extracted = extractTextContent(data.json);\n      if (extracted) {\n        return extracted;\n      }\n    }\n    // Si no encontramos campos de texto comunes ni estructuras anidadas esperadas,\n    // intentamos convertir el objeto completo a string como último recurso\n    try {\n      return JSON.stringify(data);\n    } catch (e) {\n      console.error(\"No se pudo serializar el objeto a string en extractTextContent:\", e);\n      return null;\n    }\n  }\n\n  // Si el tipo de dato no es manejado, retornamos null\n  console.warn(\"Tipo de dato no manejado en extractTextContent:\", typeof data);\n  return null;\n}\n\n// --- Lógica Principal con manejo seguro de nodos ---\nlet textToProcess = null;\n\ntry {\n  // Verificar si el nodo \"Cancelar evento\" existe y tiene datos\n  let cancelarEventoData = null;\n  try {\n    // Usamos try-catch para capturar errores si el nodo no existe\n    cancelarEventoData = $('Cancelar evento');\n    if (cancelarEventoData && cancelarEventoData.first() && cancelarEventoData.first().json) {\n      if (cancelarEventoData.first().json.response !== undefined) {\n        textToProcess = extractTextContent(cancelarEventoData.first().json.response);\n      } else {\n        textToProcess = extractTextContent(cancelarEventoData.first().json);\n      }\n    }\n  } catch (e) {\n    // Silenciosamente ignoramos errores si el nodo no existe\n    console.log(\"Nodo 'Cancelar evento' no disponible o sin datos válidos\");\n  }\n  \n  // Solo intentamos acceder a AGE3 si aún no hemos encontrado texto para procesar\n  if (!textToProcess) {\n    try {\n      // Usamos try-catch para capturar errores si el nodo no existe\n      const age3Data = $('AGE3');\n      if (age3Data && age3Data.first() && age3Data.first().json) {\n        if (age3Data.first().json.output !== undefined) {\n          textToProcess = extractTextContent(age3Data.first().json.output);\n        } else {\n          textToProcess = extractTextContent(age3Data.first().json);\n        }\n      }\n    } catch (e) {\n      // Silenciosamente ignoramos errores si el nodo no existe\n      console.log(\"Nodo 'AGE3' no disponible o sin datos válidos\");\n    }\n  }\n  \n  // Si no hemos encontrado datos en los nodos específicos, intentamos con $input directamente\n  if (!textToProcess) {\n    try {\n      const inputItems = $input.all();\n      if (inputItems && inputItems.length > 0 && inputItems[0].json) {\n        textToProcess = extractTextContent(inputItems[0].json);\n      }\n    } catch (e) {\n      console.log(\"No se pudo acceder a los datos de entrada directamente:\", e.message);\n    }\n  }\n  \n  // Procesar y retornar el resultado\n  if (textToProcess) {\n    const textArray = processAndSplitText(textToProcess);\n    \n    // Procesar cada mensaje y dividirlo en chunks si es necesario\n    const processedMessages = [];\n    \n    for (const message of textArray) {\n      if (needsSplitting(message)) {\n        // Si el mensaje es largo, lo dividimos en chunks\n        const chunks = splitTextIntoChunks(message);\n        processedMessages.push(...chunks);\n      } else {\n        // Si el mensaje es corto, lo agregamos tal cual con tiempo de lectura\n        processedMessages.push({\n          parte: processedMessages.length + 1,\n          texto: message,\n          time: calculateReadingTime(message)\n        });\n      }\n    }\n    \n    // Re-numerar las partes para que sean consecutivas\n    processedMessages.forEach((msg, index) => {\n      msg.parte = index + 1;\n    });\n    \n    // Devolvemos la estructura con los mensajes procesados\n    return [{json: {messages: processedMessages, totalParts: processedMessages.length}}];\n  } else {\n    // Si no se pudo obtener ni procesar texto, devolvemos un array vacío\n    return [{json: {messages: [], totalParts: 0}}];\n  }\n} catch (error) {\n  // Capturamos cualquier error no manejado y devolvemos un objeto con información del error\n  console.error(\"Error general en el nodo:\", error.message);\n  return [{json: {messages: [], totalParts: 0, error: error.message}}];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5232,
        1120
      ],
      "id": "7e6e667c-3852-4a08-988a-fbeb788f00d7",
      "name": "Separa datos"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.msg.type }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c203e3f3-cdae-4308-b7ca-2300800248e7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0cb14635-2673-408e-86db-ce9e0373674b",
                    "leftValue": "={{ $json.msg.type }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "462a2dc9-b455-4b67-a55b-15ce1554f0e8",
                    "leftValue": "={{ $json.msg.type }}",
                    "rightValue": "reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "button"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "61909e38-68a6-46cc-9287-bd79d0b95854",
                    "leftValue": "={{ $json.msg.type }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extendedTextMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "89191595-e9ab-4d53-881b-ed5247811e44",
                    "leftValue": "={{ $json.msg.content === 'Quiero cambiar mi fecha' }}",
                    "rightValue": "Quiero cambiar mi fecha",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Modificar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d1365037-6336-4f42-ad67-111b60828b07",
                    "leftValue": "={{ $('Webhook').first().json.body.data.msgContent.listResponseMessage.contextInfo.quotedMessage.listMessage.buttonText === 'Confirmar ✅' }}",
                    "rightValue": "Confirmar ✅",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar ✅"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06ff860d-976d-4fdc-9dd3-8c9483137f8d",
                    "leftValue": "={{ $('Webhook').first().json.body.data.msgContent.listResponseMessage.contextInfo.quotedMessage.listMessage.buttonText === 'Cancelar turno ❌' }}",
                    "rightValue": " ❌ Cancelar cita",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b64bdc33-47da-4c94-988d-1ba19386a5a2",
                    "leftValue": "={{ $('Webhook').first().json.body.data.msgContent.listResponseMessage.singleSelectReply.selectedRowId == '✅ TURNO CONFIRMADO' }}",
                    "rightValue": "📆 Elegir cita",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "✅ TURNO CONFIRMADO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b90b24f3-c0b9-4bda-addd-c595e3a99cb4",
                    "leftValue": "={{ $('Webhook').first().json.body.data.msgContent.listResponseMessage.singleSelectReply.selectedRowId == '❌ CANCELAR TURNO' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "❌ CANCELAR TURNO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "79032457-2ad1-4ff3-baef-b638cff374d7",
                    "leftValue": "={{ $('Webhook').first().json.body.data.msgContent.listResponseMessage.contextInfo.quotedMessage.listMessage.buttonText === '📋 REAGENDAR CONSULTA'}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "📋 REAGENDAR CONSULTA"
            }
          ]
        },
        "options": {}
      },
      "id": "0ce62641-268b-43bb-914c-76cd93ab85b6",
      "name": "Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2704,
        1472
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tD2EBk1RhsCBSSkb",
          "mode": "list",
          "cachedResultName": "SUB TAREA - ENLOCAR MSG Citas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2992,
        1120
      ],
      "id": "b0a3baea-a6b0-41fa-bd73-621752c626cb",
      "name": "Encolado de msg"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        3232,
        1120
      ],
      "id": "57e833c9-a45c-4567-9112-6c9030b0cde2",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text",
              "renameField": true,
              "outputFieldName": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3472,
        1120
      ],
      "id": "d56f06da-58f6-4a29-9401-6c8c3708f463",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fae28c9-d30a-4250-9a50-5b68c61164cf",
              "name": "message",
              "value": "={{ $json?.text?.join(\"\\n\") || $json.msg.content }}",
              "type": "string"
            },
            {
              "id": "d5b09385-d3b2-4a98-ab34-48b786de7354",
              "name": "fecha",
              "value": "={{ $now.setLocale('es').toFormat('EEEE d \\'de\\' MMMM yyyy \\'a las\\' H:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3696,
        1120
      ],
      "id": "c74f07ad-996e-42fe-a227-ab4098286316",
      "name": "chatInput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79a702ff-5f8c-4814-bddf-5e3acb5a5f2e",
              "name": "msg",
              "value": "={{ JSON.stringify($('V1').first().json.msg)}}",
              "type": "object"
            },
            {
              "id": "9337176e-e568-4efa-8c05-3bdb12ecfb61",
              "name": "id_cliente",
              "value": "={{ $json.list.Id }}",
              "type": "string"
            },
            {
              "id": "08b235c8-58cc-48d1-a1c4-dd76a89ea7cc",
              "name": "clientebd",
              "value": "={{ JSON.stringify($json.list) }}",
              "type": "object"
            },
            {
              "id": "40cb2db6-1a0b-486b-b2dd-3680515eb92a",
              "name": "msg.id_admini",
              "value": "35",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b98cd3ee-0f46-4ca4-97c9-5567b29db768",
      "name": "Variables globales",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        1600
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a858fa6-8f70-4ce7-a956-8c0209fbb10f",
              "leftValue": "={{ $json.output }}",
              "rightValue": "button_confirm",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4912,
        1136
      ],
      "id": "fbe2965f-d40d-4261-871b-b7bbb8f0e867",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## RESET BBDD",
        "height": 240,
        "width": 260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2304,
        -192
      ],
      "typeVersion": 1,
      "id": "d44129c9-f75f-49a5-b47d-7e851ba57c53",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "5492254596618"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2384,
        -112
      ],
      "id": "9e4dd2d0-6ca8-4527-86cf-16f662e01065",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us.api-wa.me/2522xaf8359c21b/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            },
            {
              "name": "text",
              "value": "={{ $('Split Out').item.json.texto }}"
            },
            {
              "name": "status",
              "value": "recording"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6736,
        1168
      ],
      "id": "97b1cca0-7af9-47c8-b11e-ba24a8d70794",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "jsCode": "// OBTENER EL TEXTO DEL MENSAJE\nconst messageText = $input.first().json.msg.content;\n\n// FUNCIÓN PARA LIMPIAR TEXTO\nfunction cleanText(text) {\n  return text.replace(/\\s+/g, ' ').trim();\n}\n\n// OBTENER ID Y TELÉFONO DESDE EL INPUT\nfunction obtenerDatosInput() {\n  const inputData = $input.first().json;\n  return {\n    id: inputData.id_cliente || '1',\n    telefono: inputData.telefono || ''\n  };\n}\n\n// PARSEAR EL MENSAJE DE CONFIRMACIÓN\nfunction parseConfirmationMessage(text) {\n  // El formato es: ✅ CONFIRMADO - [nombre] | [fecha]T[hora] | [servicio]\n  \n  // Remover el emoji y \"CONFIRMADO -\"\n  const sinEmoji = text.replace(/✅\\s*CONFIRMADO\\s*-\\s*/, '');\n  \n  // Dividir por el pipe (|)\n  const partes = sinEmoji.split('|').map(parte => parte.trim());\n  \n  if (partes.length >= 3) {\n    // Extraer nombre\n    const nombre = partes[0];\n    \n    // Extraer fecha y hora (mantener el formato ISO completo: YYYY-MM-DDThh:mm)\n    const fechaHora = partes[1];\n    \n    // Extraer servicio\n    const servicio = partes[2];\n    \n    return {\n      nombre: nombre,\n      fecha: fechaHora, // Mantener el formato completo ISO\n      servicio: servicio\n    };\n  }\n  \n  // Si el formato no coincide, retornar valores vacíos\n  return {\n    nombre: '',\n    fecha: '',\n    servicio: ''\n  };\n}\n\n// PROCESAR LOS DATOS\nconst datosExtraidos = parseConfirmationMessage(messageText);\nconst datosInput = obtenerDatosInput();\n\n// RETORNAR LOS DATOS EN EL FORMATO ESPERADO PARA NOCODB\nconst resultado = {\n  NOMBRE: datosExtraidos.nombre,\n  ID_USUARIO: datosInput.id,\n  FECHA: datosExtraidos.fecha, // Ahora contiene fecha y hora: \"2025-08-01T10:00\"\n  SERVICIO: datosExtraidos.servicio,\n  CONFIRMACION_CITA: messageText, // El mensaje completo\n  TELEFONO: datosInput.telefono\n};\n\n// LOG PARA DEBUGGING\nconsole.log('Mensaje recibido:', messageText);\nconsole.log('Datos extraídos:', resultado);\n\nreturn [{ json: resultado }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        1312
      ],
      "id": "2bb0d3a5-c3af-402d-afa4-4e61afd44d4e",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "p95q7ph2qlpkvjj",
        "table": "m9m2veegnrfeeza",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "TELEFONO",
              "fieldValue": "={{ $('Variables globales').first().json.msg.telefono }}"
            },
            {
              "fieldName": "NOMBRE",
              "fieldValue": "={{ $json.NOMBRE }}"
            },
            {
              "fieldName": "FECHA",
              "fieldValue": "={{ $json.FECHA }}"
            },
            {
              "fieldName": "SERVICIO",
              "fieldValue": "={{ $json.SERVICIO }}"
            },
            {
              "fieldName": "Usuario_id",
              "fieldValue": "35"
            },
            {
              "fieldName": "FECHA_RECORDATORIO",
              "fieldValue": "={{ new Date($json.FECHA + ':00').toISOString().substring(0, 16).replace(new Date($json.FECHA + ':00').toISOString().substring(11, 16), String(parseInt($json.FECHA.substring(11, 13)) - 1).padStart(2, '0') + $json.FECHA.substring(13, 16)) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        3440,
        1312
      ],
      "id": "850e3ce7-4929-4da4-af83-94c27ff4ec86",
      "name": "CreateCITA",
      "credentials": {
        "nocoDbApiToken": {
          "id": "KRVylWU1iQ1qxa6v",
          "name": "Qeva BD"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us.api-wa.me/2522xaf8359c21b/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            },
            {
              "name": "text",
              "value": "=✅ Perfecto {{ $json.NOMBRE.split(' ')[0] }} ya quedo agendado el turno, te estaremos enviando un mensajito unas horas antes para la confirmación. Qué tengas un lindo dia"
            },
            {
              "name": "status",
              "value": "recording"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3680,
        1312
      ],
      "id": "30af8255-0446-4a9c-92ac-831add95af46",
      "name": "Turno creado"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6528,
        1104
      ],
      "id": "a1cff4fe-47dd-438b-a817-42bbdf4f778a",
      "name": "Wait",
      "webhookId": "92d16c1c-444a-424b-ab29-9fde09415c74"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json?.message || $json.chatInput }}",
        "options": {
          "systemMessage": "=## JULI - RECEPCIONISTA VIRTUAL ODONTOLÓGICA\n\nEres **Juli**, recepcionista virtual de consultorio odontológico.\n\n## HOY ES: {{ $json.fecha }}\n\n**PERSONALIDAD**: Mujer simpática, profesional, voseo argentino. Sin \"che\", sin emojis.\n\n---\n\n## FLUJOS DE ACCIÓN RÁPIDA\n\n### 🔧 AGENDAR TURNO\n**Cuando el usuario quiere agendar:**\n1. **🚨 OBLIGATORIO**: **EJECUTAR**: `tool_think` PRIMERO (analizar situación y determinar pasos)\n2. Mostrar servicios disponibles\n3. Recolectar: NOMBRE + SERVICIO + FECHA + HORA\n4. **LÓGICA INTELIGENTE**:\n   - Si solo dice DÍA → preguntar \"¿Para qué hora?\"\n   - Si solo dice HORA → preguntar \"¿Para qué día?\"\n   - Si da ambos → continuar\n5. **VERIFICACIÓN DE DISPONIBILIDAD**:\n   - **EJECUTAR**: `get_turnos_disponibles` para verificar fechas ocupadas\n   - Si la fecha/hora está **DISPONIBLE** → continuar con `tool_agendar`\n   - Si la fecha/hora está **OCUPADA** → mostrar horarios alternativos disponibles y pedir nueva selección\n6. Una vez verificada la disponibilidad → **EJECUTAR**: `tool_agendar`\n7. **RESPONDER SOLO**: `button_confirm`\n\n**Servicios disponibles:**\n```\n🪥 Limpieza\n💎 Blanqueamiento  \n🛠️ Tratamiento de caries\n🚫 Extracción\n📋 Consulta general\n📐 Ortodoncia\n🔧 Implante\n🦷 Prótesis\n```\n\n### ❌ CANCELAR TURNO\n**Cuando el usuario quiere cancelar:**\n1. **🚨 OBLIGATORIO**: **EJECUTAR**: `tool_think` PRIMERO (analizar situación y determinar pasos)\n2. **AUTOMÁTICAMENTE** preguntar: \"Dale, ¿querés que te pase las fechas agendadas?\"\n3. Si dice SÍ → **EJECUTAR**: `tool_cancelar` (esto mostrará las fechas disponibles)\n4. Usuario elige cuál cancelar → **EJECUTAR**: `tool_cancelar` con la fecha específica luego devuelve solo `button_confirm`\n\n\n### 🔄 REPROGRAMAR TURNO\n**Cuando el usuario quiere reprogramar:**\n\n1. **🚨 OBLIGATORIO**: **EJECUTAR**: `tool_think` PRIMERO (analizar situación y determinar pasos)\n\n**LÓGICA INTELIGENTE DE CONTEXTO:**\n- Si acaba de confirmar una cita y dice \"cambiarla a [HORA]\" → **MANTENER** la misma fecha, cambiar solo la hora\n- Si dice \"no puedo a las 9, podés cambiármela a las 10\" → **MISMO DÍA**, nueva hora\n- Si no hay contexto de cita reciente → preguntar fecha completa\n\n**FLUJO:**\n2. **DETECTAR CONTEXTO**:\n   - ¿Hay una cita recién confirmada en la conversación?\n   - ¿El usuario solo menciona una hora nueva?\n   \n3. **SI SOLO CAMBIA HORA** (contexto de cita reciente):\n   - **VERIFICAR DISPONIBILIDAD**: `get_turnos_disponibles` para la nueva hora\n   - Si **DISPONIBLE** → **EJECUTAR**: `tool_reagendar` manteniendo fecha original + nueva hora → **RESPONDER**: \"Perfecto, ahí te cambié el turno para la misma fecha a las [nueva hora]. ¿Algo más?\"\n   - Si **OCUPADA** → **RESPONDER**: \"Esa hora ya está ocupada. ¿Querés probar con otro horario?\"\n\n4. **SI NO HAY CONTEXTO**:\n   - **PREGUNTAR**: \"Dale, ¿para qué fecha querés cambiarlo?\"\n   - Usuario da nueva fecha → **CONVERTIR** a formato ISO\n   - **VERIFICAR DISPONIBILIDAD**: `get_turnos_disponibles` para la fecha solicitada\n   - Si **DISPONIBLE** → **EJECUTAR**: `tool_reagendar` con JSON completo → **RESPONDER**: \"Listo, ahí ya cambié tu turno para [nueva fecha/hora]. ¿Necesitás algo más?\"\n   - Si **OCUPADA** → **RESPONDER**: \"Esa fecha ya está ocupada. ¿Querés probar con otra fecha?\"\n\n**Ejemplo conversión:**\n- Usuario dice: \"viernes 15 de agosto a las 2\" → `2025-08-15T14:00`\n- Usuario dice: \"para este jueves mismo horario\" →  `2025-08-15T14:00` interpreta que dia esta, y si es lunes debe sumarle los dias correspondientes sabiendo la fecha {{ $json.fecha }}\n- Usuario dice: \"podés cambiármela a las 10\" (después de confirmar cita) → mantener fecha original + `T10:00`\n\n**Ejemplos interpretación inteligente de horarios:**\n- Usuario dice: \"quiero un turno para última hora del viernes\" → viernes a las 18:30\n- Usuario dice: \"última hora de la mañana del martes\" → martes a las 12:30\n- Usuario dice: \"primera hora del jueves\" → jueves a las 08:00\n- Usuario dice: \"primera hora de la tarde\" → 15:00\n\n### 📅 CONSULTAR FECHAS DISPONIBLES\n**Cuando el usuario pregunta por fechas disponibles:**\n1. **🚨 OBLIGATORIO**: **EJECUTAR**: `tool_think` PRIMERO (analizar situación y determinar pasos)\n2. **EJECUTAR**: `get_turnos_disponibles` para obtener fechas ocupadas\n3. **CALCULAR** fechas disponibles en los próximos 7 días:\n   - Tomar fecha actual desde `{{ $json.fecha }}`\n   - Generar rango de 7 días (solo lunes a viernes, 08:00-13:00 y 15:00-19:00)\n   - **RESTAR** las fechas/horarios ya ocupados obtenidos en paso 2\n4. **MOSTRAR** fechas disponibles en formato lista bonito (una fecha por línea)\n5. **PREGUNTAR**: \"¿Querés ver fechas para la próxima semana también?\"\n6. Si dice SÍ → repetir proceso para próximos 7 días\n\n**FORMATO DE PRESENTACIÓN:**\n```\n📅 **Lunes 20/01**\n   • 08:30  • 10:00  • 15:30  • 16:00\n\n📅 **Martes 21/01**\n   • 09:00  • 11:30  • 15:00  • 17:00\n\n📅 **Miércoles 22/01**\n   • 08:00  • 10:30  • 16:30  • 18:00\n```\n\n### 🚨 URGENCIAS MÉDICAS\n**Cuando el usuario tiene urgencia médica:**\n1. **🚨 OBLIGATORIO**: **EJECUTAR**: `tool_think` PRIMERO (analizar situación y determinar pasos)\n2. **DETECTAR** palabras clave: dolor intenso, sangrado, urgencia, emergencia\n3. **EJECUTAR**: `tool_urgencias` inmediatamente\n4. **RESPONDER**: \"Entiendo. Voy a pasarte con recepción para que puedan ayudarte de inmediato.\"\n\n---\n\n## HERRAMIENTAS DISPONIBLES\n\n- **🚨 OBLIGATORIO SIEMPRE PRIMERO**: `tool_think` - **INDISCUTIBLE** - Debe ejecutarse ANTES que cualquier otra acción\n- **Para obtener datos del paciente**: `get_paciente`\n- **Para reagendar turno**: `update_fecha`\n- **Para agendar turno**: `tool_agendar`\n- **Para cancelar turno**: `tool_cancelar`\n- **Para urgencias médicas**: `tool_urgencias`\n- **Para revisar si se puede agendar un turno**: `get_fechas`\n- **Para ver turnos del usuario**: `get_turnos_agendados`\n- **Para obtener fechas ocupadas (calcular disponibles)**: `get_turnos_disponibles`\n\n\n---\n\n## DATOS REQUERIDOS PARA AGENDAR\n\n- **NOMBRE**: Nombre completo\n- **SERVICIO**: De la lista disponible\n- **FECHA**: Formato DD-MM-AAAA (convertir expresiones como \"mañana\", \"próximo jueves\")\n- **HORA**: Formato HH:MM\n\n**LÓGICA DE RECOLECCIÓN**:\n- Si usuario dice solo \"jueves\" → preguntar \"¿Para qué hora?\"\n- Si usuario dice solo \"10:30\" → preguntar \"¿Para qué día?\"\n- Si usuario dice \"jueves a las 10:30\" → continuar con confirmación\n\n**INTERPRETACIÓN INTELIGENTE DE HORARIOS**:\n- **\"Última hora\"** o **\"último turno\"** → 18:30 (media hora antes del cierre de 19:00)\n- **\"Última hora de la mañana\"** → 12:30 (media hora antes del cierre de 13:00)\n- **\"Primera hora\"** → 08:00 (primer turno del día)\n- **\"Primera hora de la tarde\"** → 15:00 (primer turno de la tarde)\n\n**Horarios**: Lunes-Viernes 08:00-13:00 y 15:00-19:00 (turnos de 30 min), no atendemos sabados y domingos\n\n\n---\n\n## CONVERSIÓN DE FECHAS\n\n### Interpretación de fechas relativas\n\nSi el paciente usa expresiones vagas que abarcan varios días (ej.: \"la semana que viene\", \"la próxima semana\"), Juli debe pedir un día específico:  \n«Perfecto, ¿qué día de la próxima semana te vendría bien?»\n\nJuli entiende expresiones como \"mañana\", \"pasado mañana\", \"la semana que viene\", \"el martes que viene\", \"el jueves que viene\", etc., y las traduce a la fecha concreta en formato DD-MM-AAAA tomando como referencia la fecha actual disponible en `{{ $json.fecha }}`. cuando obtengas la fecha que el cliente te brinde debes identificar primero que nada si es sabado o domingo, si cae en esa fecha automaticamente decirle que no se atiende sabados y domingos que solo de lunes a viernes.\n\n**Expresiones del usuario → Fecha exacta:**\n- \"Mañana\" → calcular desde {{ $json.fecha }}\n- \"Próximo jueves\" → buscar próximo jueves disponible\n- \"La semana que viene\" → pedir día específico\n\n**Para reprogramar → Formato JSON ISO:**\n- Usuario: \"viernes 15 de agosto a las 2\" → `{\"FECHA\": \"2025-08-15T14:00\"}`\n- Usuario: \"martes que viene a las 10:30\" → `{\"FECHA\": \"2025-XX-XXT10:30\"}`\n- Usuario: \"el 12 de mayo a las 10\" → `{\"FECHA\": \"2025-05-12T10:00\"}`\n\n---\n\n## EJEMPLOS DE DIÁLOGO\n\n### 1. Agendar\n\nPaciente: Hola, me gustaría pedir un turno.\nJuli: Hola, ¿cómo estás? Sí, contame para qué necesitabas el turno. Te podemos ayudar con lo siguiente:\n\n```\n🪥 Limpieza\n💎 Blanqueamiento  \n🛠️ Tratamiento de caries\n🚫 Extracción\n📋 Consulta general\n📐 Ortodoncia\n🔧 Implante\n🦷 Prótesis\n```\n\nPaciente: Para limpieza.\nJuli: Perfecto. ¿Me pasas tu nombre completo?\nPaciente: Lucía Fernández.\nJuli: Gracias, Lucía. ¿Qué día y hora te vendría bien?\nPaciente: El próximo jueves. (analizar que no sea sabado o domingo)\nJuli: ¿Para qué hora?\nPaciente: 10:30.\n*(Juli ejecuta `get_turnos_disponibles` para verificar disponibilidad)*\n*(Si está disponible, Juli ejecuta `tool_agendar`)*\nJuli:\n```\nbutton_confirm\n```\n\n### 1b. Agendar (usuario da solo hora)\n\nPaciente: Quiero un turno para limpieza.\nJuli: Perfecto. ¿Me pasas tu nombre completo?\nPaciente: Fernando Cassera.\nJuli: Gracias, Fernando. ¿Qué día y hora te vendría bien?\nPaciente: A las 2 de la tarde.\nJuli: ¿Para qué día?\nPaciente: El viernes que viene.\n*(Juli ejecuta `get_turnos_disponibles` para verificar disponibilidad)*\n*(Si está disponible, Juli ejecuta `tool_agendar`)*\nJuli:\n```\nbutton_confirm\n```\n\n### 1c. Agendar (interpretación inteligente)\n\nPaciente: Quiero un turno para limpieza.\nJuli: Perfecto. ¿Me pasas tu nombre completo?\nPaciente: María González.\nJuli: Gracias, María. ¿Qué día y hora te vendría bien?\nPaciente: Para última hora del viernes.\n*(Juli interpreta: viernes 18:30)*\n*(Juli ejecuta `get_turnos_disponibles` para verificar disponibilidad)*\n*(Si está disponible, Juli ejecuta `tool_agendar` con viernes 18:30)*\nJuli:\n```\nbutton_confirm\n```\n\n### 2. Cancelar\n\nPaciente: Quiero cancelar un turno.\nJuli: Dale, ¿querés que te pase las fechas agendadas?\nPaciente: Sí.\nJuli: [Ejecuta tool_cancelar - muestra fechas disponibles]\nluego devuelve solo `button_confirm`\n\n### 3. Reprogramar\n\nPaciente: Necesito cambiar mi turno.\nJuli: Dale, ¿para qué fecha querés cambiarlo?\nPaciente: Para el viernes 15 de agosto a las 2 de la tarde.\n*(Juli ejecuta `get_turnos_disponibles` para verificar disponibilidad)*\n*(Si está disponible, Juli ejecuta `tool_reagendar` con {\"FECHA\": \"2025-08-15T14:00\"})*\nJuli: Listo, Fernando, ahí ya cambié tu turno para el 15 de agosto a las 14:00. ¿Necesitás algo más?\n*(Si está ocupada, Juli responde: \"Esa fecha ya está ocupada. ¿Querés probar con otra fecha?\")*\n\n### 4. Reprogramar (cambio de hora mismo día)\n\n*(Después de confirmar cita para las 9:00)*\nPaciente: Me acordé que a las 9 no puedo, ¿podés cambiarla a las 10?\n*(Juli detecta contexto de cita recién confirmada + solo menciona hora nueva)*\n*(Juli ejecuta `get_turnos_agendados` para verificar las 10:00)*\n*(Si está disponible, Juli ejecuta `tool_reagendar` manteniendo fecha original pero cambiando hora a 10:00)*\n*(Si está ocupada, Juli responde: \"Esa hora ya está ocupada. ¿Querés probar con otro horario?\")*\nJuli: Perfecto, ahí te cambié el turno para la misma fecha a las 10:00. Algo más necesitabas?\n\n### 5. Reprogramar (sin contexto)\n\nPaciente: Necesito cambiar mi turno del martes.\nJuli: Dale, ¿para qué fecha querés cambiarlo?\nPaciente: Para el jueves a las 10.\nJuli busca `get_fecha` y si coincide con la del usuario le sugiere otra sino\nPaciente: Pasa fecha nueva correcta sin coincidencia\n*(Juli ejecuta `tool_reagendar` con {\"FECHA\": \"2025-XX-XXT10:00\"})*\nJuli: Listo, María, ahí ya cambié tu turno para el jueves a las 10:00. ¿Necesitás algo más?\n\n### 6. Actualizar teléfono\n\nPaciente: Cambié mi número de teléfono.\nJuli: Claro, ¿cuál es tu nuevo teléfono?\nPaciente: 11‑3456‑7890.\nJuli: dale ahi lo cambié. Gracias por avisar\n\n### 7. Urgencia\n\nPaciente: Me duele muchísimo una muela, necesito que me atiendan ya.\n*(Juli ejecuta `tool_urgencias`)*\nJuli: Entiendo. Voy a pasarte con recepción para que puedan ayudarte de inmediato.\n\n### 8. VER TURNOS AGENDADOS\nPaciente: ¿Qué turnos tengo agendados?\nPaciente: No me acuerdo que turnos tengo.\n*(Juli ejecuta `tool_think`)*\n*(Juli ejecuta `get_turnos_agendados`)*\nJuli: Estos son tus turnos agendados:\n\n📅 **Lunes 20/01**\n   🕘 10:30 - Limpieza\n\n📅 **Viernes 24/01**\n   🕒 15:00 - Consulta general\n\n¿Necesitás cambiar alguno? \n\n### 8b. CONSULTAR FECHAS DISPONIBLES\nPaciente: ¿Qué fechas tenés disponibles?\nPaciente: ¿Cuáles son los horarios libres?\n*(Juli ejecuta `tool_think`)*\n*(Juli ejecuta `get_turnos_disponibles` para ver fechas ocupadas)*\n*(Juli calcula fechas disponibles en próximos 7 días restando las ocupadas)*\nJuli: Estas son las fechas disponibles para esta semana:\n\n📅 **Lunes 20/01**\n   • 08:30  • 10:00  • 15:30  • 16:00\n\n📅 **Martes 21/01**\n   • 09:00  • 11:30  • 15:00  • 17:00\n\n📅 **Miércoles 22/01**\n   • 08:00  • 10:30  • 16:30  • 18:00\n\n📅 **Jueves 23/01**\n   • 09:30  • 11:00  • 15:30  • 17:30\n\n📅 **Viernes 24/01**\n   • 08:00  • 12:30  • 16:00  • 18:30\n\n¿Querés ver fechas para la próxima semana también? \n\n### 9. Despedidas múltiples (ejemplo)\n\nJuli: Perfecto, ahí te cambié el turno para la misma fecha a las 10:00. Algo más necesitabas?\nPaciente: Nada más.\nJuli: Bárbaro, nos vemos.\nPaciente: Dale gracias.\nJuli: ¡Saludos!\nPaciente: Chau.\nJuli: 👋\n\n---\n\n## 👋 DESPEDIDAS INTELIGENTES\n\n**Cuando el usuario dice \"nada más\", \"no, gracias\", \"listo\", etc.:**\n\n**PRIMERA DESPEDIDA** (rotar entre estas opciones):\n- \"De nada, que tengas un lindo día\"\n- \"Perfecto, que andes bien\"\n- \"Dale, que tengas buen día\"\n- \"Bárbaro, nos vemos\"\n- \"Listo, que te vaya bien\"\n\n**SI EL USUARIO RESPONDE NUEVAMENTE** (\"gracias\", \"dale gracias\", \"chau\", etc.):\n\n**SEGUNDA DESPEDIDA** (más breve, rotar entre):\n- \"¡Chau!\"\n- \"¡Saludos!\"\n- \"¡Hasta luego!\"\n- \"¡Que estés bien!\"\n- \"¡Nos vemos!\"\n\n**SI INSISTE UNA TERCERA VEZ**:\n- Solo responder con emoji: \"👋\"\n\n**LÓGICA**:\n- **NUNCA** repetir la misma despedida consecutivamente\n- Usar despedidas más cortas en respuestas subsiguientes\n- Después de 3 intercambios de despedida, solo emoji\n\n---\n\n## REGLAS CRÍTICAS\n\n1. **🚨 INDISCUTIBLE**: **SIEMPRE** ejecutar `tool_think` PRIMERO - Sin excepciones, sin importar la situación\n2. **NUNCA** asumir datos de conversaciones anteriores\n3. **VERIFICACIÓN OBLIGATORIA** antes de agendar/reagendar:\n   - **EJECUTAR**: `get_turnos_disponibles` para verificar disponibilidad\n   - Si está ocupada → informar y pedir alternativa\n   - Si está disponible → proceder con la herramienta correspondiente\n4. **OBLIGATORIO** ejecutar las herramientas correspondientes:\n   - Para agendar → ejecutar `tool_agendar` (después de verificar) → responder solo `button_confirm`\n   - Para cancelar → ejecutar `tool_cancelar` → responder solo `button_confirm`\n   - Para reagendar → ejecutar `tool_reagendar` (después de verificar) → responder mensaje confirmatorio personalizado\n   - Para urgencias → ejecutar `tool_urgencias`\n5. **RESPUESTAS DESPUÉS DE HERRAMIENTAS**:\n   - Agendar/Cancelar: solo `button_confirm`\n   - Reagendar: mensaje confirmatorio personalizado (NO button_confirm)\n6. **URGENCIAS** → derivar a humano inmediatamente\n7. **DATOS FALTANTES** → solicitarlos antes de ejecutar herramientas\n\n---\n\n## VALIDACIÓN ANTES DE RESPONDER\n\n✓ **🚨 CRÍTICO**: ¿Ejecuté `tool_think` PRIMERO antes que cualquier otra acción? (OBLIGATORIO - SIN EXCEPCIONES)\n✓ ¿Tengo todos los datos necesarios?\n✓ **¿Ejecuté `get_turnos_disponibles` para verificar disponibilidad antes de agendar/reagendar?**\n✓ ¿Ejecuté la herramienta correcta?\n✓ revisar siempre la fecha actual para no agendar sabados ni domingos, siempre antes de confirmar debes verificar de no agendar fines de semana siempre toma la fehca de hoy desde aca {{ $json.fecha }}\n✓ Revisa el horarios, no se puede agendar sobre la hora, minimo 2 hs antes de un evento, si son las 8, puede agendar para 10, pero si son las 9 para las 10 no."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        4384,
        1120
      ],
      "id": "e532a2a9-8832-4762-a416-a6511d3a6578",
      "name": "Juli"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us.api-wa.me/2522xaf8359c21b/message/presence",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            },
            {
              "name": "status",
              "value": "composing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6288,
        1104
      ],
      "id": "5a885cf7-f0af-4442-bef4-d2625fa22ab9",
      "name": "escribiendo...",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Llama a esta tool cuando tengas que agendar, runa visita",
        "workflowId": {
          "__rl": true,
          "value": "QMISSxd5iYUeehv5",
          "mode": "list",
          "cachedResultName": "AGENTE CITAS - Button confirm"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $fromAI('nombre', ``, 'string') }}",
            "fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', `Utilizar formato iso`, 'string') }}",
            "hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', ``, 'string') }}",
            "telefono": "={{ $('Variables globales').first().json.msg.telefono }}",
            "servicio": "={{ $fromAI('servicio', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "servicio",
              "displayName": "servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4928,
        1568
      ],
      "id": "05288089-c83b-4718-ba6e-4936739fff13",
      "name": "tool_agendar"
    },
    {
      "parameters": {
        "description": "Llama a esta tool cuando tengas que agendar, reprogramar o cancelar una visita",
        "workflowId": {
          "__rl": true,
          "value": "kSLafA6eMsulnKVE",
          "mode": "list",
          "cachedResultName": "AGENTE CITAS - CANCELAR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $('Variables globales').item.json.id_cliente }}",
            "numero": "={{ $('Variables globales').item.json.msg.telefono }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5056,
        1488
      ],
      "id": "49c6499a-fe8d-4c33-b00d-5cd9f70731b6",
      "name": "tool_cancelar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us.api-wa.me/2522xaf8359c21b/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            },
            {
              "name": "text",
              "value": "=✅ Listo, ya cancelamos el turno, si queres agendar para otro servicio, me avisas, Qué tengas un buen día."
            },
            {
              "name": "status",
              "value": "recording"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3552,
        1872
      ],
      "id": "03fd461e-c352-4afd-9c25-d82682282f49",
      "name": "Cancelar turno"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us.api-wa.me/2522xaf8359c21b/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            },
            {
              "name": "text",
              "value": "=✅ Listo, ahi la cancele, ahora decime para que fecha queres el nuevo turno."
            },
            {
              "name": "status",
              "value": "recording"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3312,
        2256
      ],
      "id": "df7080c5-db06-46fd-9bea-9ae50c34b5f6",
      "name": "Cancelar turno1"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p95q7ph2qlpkvjj",
        "table": "m9m2veegnrfeeza",
        "returnAll": true,
        "options": {
          "where": "=(TELEFONO,eq,{{ $('Variables globales').item.json.msg.telefono }})"
        }
      },
      "type": "n8n-nodes-base.nocoDbTool",
      "typeVersion": 3,
      "position": [
        4368,
        1664
      ],
      "id": "0d4900c8-9afa-45d6-8a23-e8d1aac57268",
      "name": "get_paciente",
      "credentials": {
        "nocoDbApiToken": {
          "id": "KRVylWU1iQ1qxa6v",
          "name": "Qeva BD"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "frequencyPenalty": 0.3,
          "presencePenalty": 0.3,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4160,
        1536
      ],
      "id": "4fd8a825-c262-4d8c-b549-fda46c7578ec",
      "name": "gemini2",
      "credentials": {
        "openRouterApi": {
          "id": "ADdm45cFSIFSG59w",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Variables globales').first().json.msg.telefono }}",
        "sessionTTL": 1800
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        4240,
        1792
      ],
      "id": "ff4a4b1f-e147-430d-af39-96010c83cc07",
      "name": "memory1",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p95q7ph2qlpkvjj",
        "table": "m9m2veegnrfeeza",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $json.id_cliente }}"
            },
            {
              "fieldName": "FECHA"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        3056,
        2256
      ],
      "id": "8c60509d-7f13-41de-b908-00bbbb7de030",
      "name": "Elimina la cita - Reagendar",
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "KRVylWU1iQ1qxa6v",
          "name": "Qeva BD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.data.message.extendedTextMessage.text }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        4208,
        2048
      ],
      "id": "832c84e7-2312-467e-9041-7d1ee70d9191",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "description": "siempre llama a esta tool cuando debas ejecutar una tool"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        4080,
        1424
      ],
      "id": "92a761d0-f5c1-4b2c-b21f-36fa56bde144",
      "name": "tool_think"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "delete",
        "projectId": "p95q7ph2qlpkvjj",
        "table": "m9m2veegnrfeeza",
        "id": "={{ $('Webhook').first().json.body.data.msgContent.listResponseMessage.singleSelectReply.selectedRowId }}"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        3056,
        1952
      ],
      "id": "8e967101-49ad-47d1-a474-8f6e797a26d7",
      "name": "Cancelar",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "nocoDbApiToken": {
          "id": "KRVylWU1iQ1qxa6v",
          "name": "Qeva BD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us.api-wa.me/2522xaf8359c21b/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            },
            {
              "name": "text",
              "value": "=Ya cancelaste todos tus turnos"
            },
            {
              "name": "status",
              "value": "recording"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3552,
        2048
      ],
      "id": "75a1ff38-11be-4cfe-9939-8e8d3dd347fb",
      "name": "Cancelar turno2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "97bcc786-58da-43a4-9ffe-659423816859",
              "leftValue": "={{ $json.Id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3248,
        1952
      ],
      "id": "8c8384bc-ac93-4a63-9c6d-3b33df9a376a",
      "name": "If2"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p95q7ph2qlpkvjj",
        "table": "m9m2veegnrfeeza",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "=Id",
              "fieldValue": "={{ $('Variables globales').item.json.id_cliente }}"
            },
            {
              "fieldName": "FECHA",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `Fortamo de fecha ISO`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDbTool",
      "typeVersion": 3,
      "position": [
        5168,
        1424
      ],
      "id": "2aa27a68-9b49-4ca6-9ce4-1cfb0c3cdc01",
      "name": "tool_reagendar",
      "credentials": {
        "nocoDbApiToken": {
          "id": "KRVylWU1iQ1qxa6v",
          "name": "Qeva BD"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p95q7ph2qlpkvjj",
        "table": "m9m2veegnrfeeza",
        "returnAll": true,
        "options": {
          "where": "=(FECHA,eq,{{ $fromAI('FECHA','Fecha formato ISO 2025-08-06T10:00','string') }})"
        }
      },
      "type": "n8n-nodes-base.nocoDbTool",
      "typeVersion": 3,
      "position": [
        4512,
        1712
      ],
      "id": "912381c2-f918-4b95-b0f6-281aad872918",
      "name": "get_fechas",
      "credentials": {
        "nocoDbApiToken": {
          "id": "KRVylWU1iQ1qxa6v",
          "name": "Qeva BD"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p95q7ph2qlpkvjj",
        "table": "m9m2veegnrfeeza",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $json.id_cliente }}"
            },
            {
              "fieldName": "CONFIRMACION_CITA",
              "fieldValue": "True"
            },
            {
              "fieldName": "RECORDATORIO_ENVIADO",
              "fieldValue": "True"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        3264,
        1520
      ],
      "id": "d4289b93-571e-4042-aa15-46bc540113c6",
      "name": "Turno confirmado",
      "credentials": {
        "nocoDbApiToken": {
          "id": "KRVylWU1iQ1qxa6v",
          "name": "Qeva BD"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us.api-wa.me/2522xaf8359c21b/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "=5492254423359"
            },
            {
              "name": "text",
              "value": "=✅ En una hora nos visita {{ $('Variables globales').item.json.clientebd.Paciente }} para {{ $('Variables globales').item.json.clientebd['0'].SERVICIO }}, acaba de confirmar el turno."
            },
            {
              "name": "status",
              "value": "recording"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3552,
        1520
      ],
      "id": "43509636-0bf2-4a5f-a1b8-69365cf59cba",
      "name": "Confirmacion de turno"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us.api-wa.me/2522xaf8359c21b/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            },
            {
              "name": "text",
              "value": "=El paciente {{ $('Variables globales').item.json.clientebd.Paciente }} acaba de cancelar su turno de las {{ $('Variables globales').item.json.clientebd['0'].FECHA.split('T')[1] + ' hs' }} asique se libero este espacio"
            },
            {
              "name": "status",
              "value": "recording"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3408,
        1712
      ],
      "id": "061a5e2b-daca-45fd-bfd5-03a3d37cca7e",
      "name": "Turno eliminado"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "delete",
        "projectId": "p95q7ph2qlpkvjj",
        "table": "m9m2veegnrfeeza",
        "id": "={{ $json.id_cliente }}"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        3136,
        1712
      ],
      "id": "2ce41a80-1821-4e16-ad31-cd4fd305f1ae",
      "name": "DELETE TURNO",
      "credentials": {
        "nocoDbApiToken": {
          "id": "KRVylWU1iQ1qxa6v",
          "name": "Qeva BD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.msg.grupo }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "7f40e6df-dd87-470d-a108-679cd9e14fd6"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -848,
        1264
      ],
      "id": "b3c8dbb8-6e1e-4885-84f0-a6464dc1ac98",
      "name": "Es Grupo?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.msg.from_me }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "f0886197-f57c-431f-afe8-f597257ffddc"
            },
            {
              "id": "99bab74e-0c4c-45eb-bd1d-9418b3324a31",
              "leftValue": "={{ $json.msg.telefono }}",
              "rightValue": "=5492254596618",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bad0a69c-9004-48fd-9baf-94729d4d3bc7",
      "name": "From Me?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "user_state",
        "key": "=user:{{ $('V1').item.json.msg.telefono }}:state",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        64,
        1232
      ],
      "id": "420ce4dd-c5e3-49df-b372-ed0f070b3ac4",
      "name": "Obtener Estado Usuario",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=user:{{ $('V1').item.json.msg.telefono }}:state",
        "value": "active",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        944,
        976
      ],
      "id": "bdc1b686-35d6-451d-a63e-df699d0f8893",
      "name": "Activar Usuario (24h)",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "=user:{{ $('V1').item.json.msg.telefono }}:messages",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1168,
        976
      ],
      "id": "ef5974f1-fcdd-4c7c-b02d-8ef895688c89",
      "name": "Contador Mensajes",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.user_state }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "f52e149b-f59b-4ea9-aa73-2ddf4e9805c2"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        1520
      ],
      "id": "381d65a2-4315-45a8-b04e-63e9d729566a",
      "name": "Usuario Activo?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "93rlsJqTd0Ntt2NC",
          "mode": "list",
          "cachedResultName": "AGENTE CITAS - GET CLIENTES"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $('V1').item.json.msg.telefono }}",
            "idTabla": "m9m2veegnrfeeza",
            "token": "3WY4UecQy9Nl522fe_DXDSHeQDVSQJpmDG7mMoFz",
            "servidor_db": "={{ $('V1').item.json.datos.server_db }}",
            "nombre_columna": "TELEFONO"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "servidor_db",
              "displayName": "servidor_db",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "idTabla",
              "displayName": "idTabla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nombre_columna",
              "displayName": "nombre_columna",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pushname",
              "displayName": "pushname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "servidor_evo",
              "displayName": "servidor_evo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_mensaje",
              "displayName": "id_mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2080,
        1600
      ],
      "id": "da3f46db-d5bc-479c-8076-f61ffb4bfff0",
      "name": "Validar Cliente y Continuar Bot"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message_count",
        "key": "=user:{{ $('V1').item.json.msg.telefono }}:messages",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1584,
        1504
      ],
      "id": "1a6edf93-e4ee-4913-9cb9-01e7bef2c71d",
      "name": "Obtener Contador Mensajes",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.message_count }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "id": "097c4f9b-deea-4907-b053-0801297931b9"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1856,
        1504
      ],
      "id": "7174a528-7dd3-4acf-a8da-c00815d0d978",
      "name": "Límite Alcanzado?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('V1').item.json.datos.token }}/message/sendText/{{ $('V1').item.json.datos.token }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('V1').item.json.msg.telefono }}"
            },
            {
              "name": "text",
              "value": "⚠️ Has alcanzado el límite de 50 mensajes en tu prueba.\n\n💎 Para continuar usando el bot, contáctanos para obtener acceso completo."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        1408
      ],
      "id": "d0f4ed79-edf9-4d78-a8fe-e6d69b18d5b1",
      "name": "Enviar Límite Alcanzado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9ecf2fc-da2c-4f44-897a-5dc0a2f2f379",
              "name": "msg.telefono",
              "value": "={{ $json.body.data.key.remoteJid.replace(/\\D/g, '') }}",
              "type": "string"
            },
            {
              "id": "dab7ca54-c3d2-4a36-a9ca-a0ebbd375ef5",
              "name": "msg.pushname",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "cc7dcfe1-8ad7-4fe8-93ec-8f643c7d08c7",
              "name": "msg.type",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "81612acf-1b66-4c8e-82e4-ce8c77b31334",
              "name": "msg.content",
              "value": "={{ $json?.body?.data?.msgContent?.extendedTextMessage?.contextInfo?.quotedMessage?.conversation || $json.body?.data?.msgContent?.extendedTextMessage?.text || $json?.body?.data?.fileBase64 || $json?.body?.data?.msgContent?.conversation || $json.body.data.msgContent.listResponseMessage.singleSelectReply.selectedRowId }}",
              "type": "string"
            },
            {
              "id": "01710423-6391-4a34-81e1-06d4779caf4d",
              "name": "msg.timestamp",
              "value": "={{ $json.body.data.messageTimestamp.toDateTime('s').toLocal().toISO()}}",
              "type": "string"
            },
            {
              "id": "ca81718f-74eb-4960-ac3a-5b59f39f8710",
              "name": "datos.server_db",
              "value": "https://db.qeva.xyz",
              "type": "string"
            },
            {
              "id": "7f846767-8866-43e5-845a-d1feda60451c",
              "name": "datos.token",
              "value": "B2v6DZyi27qmgYXOnvrYLEJ4l8KgN410",
              "type": "string"
            },
            {
              "id": "b2193a26-668b-423d-9330-d3dd835f5466",
              "name": "msg.from_me",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "string"
            },
            {
              "id": "6fedaf9c-efe8-46e5-bb61-b42525ddafa1",
              "name": "msg.grupo",
              "value": "={{ $json.body.data.isGroup }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "10dd5a40-19ef-46f0-aa94-3fbbc27c0119",
      "name": "V1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        1264
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "turnos",
        "options": {}
      },
      "id": "a9e215d9-ce11-4d74-aae6-f8078a8f238d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1472,
        1264
      ],
      "webhookId": "57b1b1ea-8cfe-4255-838f-096906f45b1a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us.api-wa.me/2522xaf8359c21b/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            },
            {
              "name": "text",
              "value": "=🎉 Bienvenido a tu Asistente de Turnos odontologicos\n✅ Tu prueba gratuita de 1 hora está activa\n\n¿Qué puedo hacer por ti?\n\n📅 Agendar - Reserva tu turno en segundos\n🔄 Reprogramar - Cambia fecha y hora cuando lo necesites\n❌ Cancelar - Libera tu turno fácilmente\n⏰ Recordatorios - Te avisaré 1 hora antes de tu cita\n💬 ¿Cómo empezar?\n\nSimplemente escríbeme qué necesitas. Por ejemplo:\n\n\"Quiero agendar un turno\"\n\"Necesito cambiar mi cita\"\n\"Ver mis turnos programados\"\n\n⚡ Para comenzar a utilizar el servicio luego de este mensaje hablame."
            },
            {
              "name": "status",
              "value": "recording"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        976
      ],
      "id": "e9c1e143-121a-48bc-ab69-73e075c2fc13",
      "name": "Confirmacion de turno2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('V1').first().json.msg.content }}",
              "rightValue": "#inicio",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "7f40e6df-dd87-470d-a108-679cd9e14fd6"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        1040
      ],
      "id": "a9ec7fbe-cd72-4960-b5f9-8b8c92a4ac4b",
      "name": "Es Primera Vez y #inicio?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us.api-wa.me/2522xaf8359c21b/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            },
            {
              "name": "text",
              "value": "=⚠️ Para activar el bot de prueba, envía #inicio"
            },
            {
              "name": "status",
              "value": "recording"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        1184
      ],
      "id": "8314b72c-5ca1-4215-a08b-1ef05f45d267",
      "name": "inicio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c476129-c2ca-4e67-bdda-dbf5708d6c4e",
              "leftValue": "={{ $json.user_state }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        1264
      ],
      "id": "1dd8637f-2e5a-45e6-96f9-40fce7086006",
      "name": "If1"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p95q7ph2qlpkvjj",
        "table": "m9m2veegnrfeeza",
        "returnAll": true,
        "options": {
          "where": "=(TELEFONO,eq,{{ $('Variables globales').first().json.msg.telefono }})"
        }
      },
      "type": "n8n-nodes-base.nocoDbTool",
      "typeVersion": 3,
      "position": [
        4656,
        1680
      ],
      "id": "9e3e0fd3-1d7c-4fb9-bee7-0f60993b5aa3",
      "name": "get_turnos_agendados",
      "credentials": {
        "nocoDbApiToken": {
          "id": "KRVylWU1iQ1qxa6v",
          "name": "Qeva BD"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p95q7ph2qlpkvjj",
        "table": "m9m2veegnrfeeza",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDbTool",
      "typeVersion": 3,
      "position": [
        4800,
        1632
      ],
      "id": "194245a6-4e8b-4f09-a4c4-888ee077c254",
      "name": "get_turnos_disponibles",
      "credentials": {
        "nocoDbApiToken": {
          "id": "KRVylWU1iQ1qxa6v",
          "name": "Qeva BD"
        }
      }
    },
    {
      "parameters": {
        "channels": "=__keyevent@0__:expired",
        "options": {
          "jsonParseBody": true,
          "onlyMessage": false
        }
      },
      "type": "n8n-nodes-base.redisTrigger",
      "typeVersion": 1,
      "position": [
        -1296,
        464
      ],
      "id": "2817fcba-4240-44b7-aa0d-f99c2baaf887",
      "name": "Redis Trigger",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "65531767-f68e-4d48-bac5-9838136619b9",
              "leftValue": "={{ $json.message.match(/user:\\d+:state/) !== null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        464
      ],
      "id": "b9adb059-6dd2-4316-8211-7777385cf6a2",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=usuario:{{ $json.msg.telefono }}:ultimomsg",
        "value": "esperando",
        "expire": true,
        "ttl": 600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -224,
        1232
      ],
      "id": "56a76a3a-25eb-41bf-8a85-7814a92ab9df",
      "name": "ultimoMsg",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c34ea9fc-ce79-478f-9c07-e4e6a6eed15d",
              "name": "usuario",
              "value": "={{ ($json.message.match(/user:(\\d+):state/) || [])[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        432
      ],
      "id": "1b318e50-b2be-45ca-aa6f-99fb84cb3ce0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "groupMessages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -480,
        432
      ],
      "id": "69016782-9759-4097-a111-262b367cb733",
      "name": "Chat Memory Manager1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e325c5b3-b99c-43da-a5c8-a478c9048312",
              "name": "msg",
              "value": "={{ $json.messages.slice(-2) }}",
              "type": "string"
            },
            {
              "id": "98f4cd87-7d6e-4b0a-a2b3-190095da6110",
              "name": "telefono",
              "value": "={{ $('Edit Fields').item.json.usuario }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        432
      ],
      "id": "c1723cba-a0f8-4019-b4d3-63a4503488ce",
      "name": "limpiamos msg"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Conversacion previa: {{ $json.msg }}",
        "options": {
          "systemMessage": "debes analizar la conversacion previa y determinar si el usuario dejo de hablar o la conversacion ya termino, en caso de que el usuario no haya respondido mas porque se olvido debes recordarle el mensaje que dejo pendiente con un mensaje de "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        80,
        432
      ],
      "id": "a364b498-52dd-41af-bced-9505aaa08cef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.usuario }}",
        "sessionTTL": 1800
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -16,
        720
      ],
      "id": "75fbb77e-f9f4-457c-a54f-c8b755760262",
      "name": "memory",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -304,
        720
      ],
      "id": "d2a22e72-8cb6-4713-ade3-b2c6411eb12f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ADdm45cFSIFSG59w",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us.api-wa.me/2522xaf8359c21b/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "=5492254596618"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "status",
              "value": "recording"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7184,
        1824
      ],
      "id": "abf7b4ad-1749-4f75-860a-3b0c3159c240",
      "name": "send msg"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {
          "reset": false
        }
      },
      "id": "d80012f4-214f-4718-a52c-845f91fea2d7",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        480
      ],
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "77216100-29a4-4080-bff1-3fbc338196d6",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "// --- Funciones de procesamiento de texto ---\n\n// Función para dividir texto en fragmentos con tiempo de lectura\nfunction splitTextIntoChunks(text, maxChars = 200) {\n  // Si el texto es muy corto, devolvemos un solo fragmento\n  if (!text || text.length <= maxChars) {\n    return [{\n      parte: 1,\n      texto: text || '',\n      time: calculateReadingTime(text || '')\n    }];\n  }\n\n  const chunks = [];\n  let currentChunk = '';\n  let partNumber = 1;\n  \n  // Dividimos por palabras para no cortar palabras a la mitad\n  const words = text.split(' ');\n  \n  for (let i = 0; i < words.length; i++) {\n    const word = words[i];\n    const potentialChunk = currentChunk ? currentChunk + ' ' + word : word;\n    \n    // Si agregar la siguiente palabra excede el límite\n    if (potentialChunk.length > maxChars) {\n      // Si la palabra sola es más larga que maxChars, la cortamos\n      if (word.length > maxChars) {\n        // Guardamos el chunk actual si tiene contenido\n        if (currentChunk) {\n          chunks.push({\n            parte: partNumber++,\n            texto: currentChunk.trim(),\n            time: calculateReadingTime(currentChunk.trim())\n          });\n        }\n        \n        // Cortamos la palabra larga en pedazos\n        let remainingWord = word;\n        while (remainingWord.length > maxChars) {\n          chunks.push({\n            parte: partNumber++,\n            texto: remainingWord.substring(0, maxChars),\n            time: calculateReadingTime(remainingWord.substring(0, maxChars))\n          });\n          remainingWord = remainingWord.substring(maxChars);\n        }\n        \n        // El resto de la palabra se convierte en el nuevo currentChunk\n        currentChunk = remainingWord;\n      } else {\n        // Guardamos el chunk actual y empezamos uno nuevo con esta palabra\n        chunks.push({\n          parte: partNumber++,\n          texto: currentChunk.trim(),\n          time: calculateReadingTime(currentChunk.trim())\n        });\n        currentChunk = word;\n      }\n    } else {\n      // Si cabe, agregamos la palabra al chunk actual\n      currentChunk = potentialChunk;\n    }\n  }\n  \n  // Agregar el último chunk si queda algo\n  if (currentChunk.trim()) {\n    chunks.push({\n      parte: partNumber,\n      texto: currentChunk.trim(),\n      time: calculateReadingTime(currentChunk.trim())\n    });\n  }\n  \n  return chunks;\n}\n\n// Función para calcular el tiempo de lectura basado en la longitud del texto\nfunction calculateReadingTime(text) {\n  const length = text.length;\n  \n  if (length > 150) {\n    return 4; // segundos\n  } else if (length >= 50) {\n    return 3; // segundos\n  } else {\n    return 1; // segundo\n  }\n}\n\n// Función para determinar si un texto necesita ser dividido\nfunction needsSplitting(text) {\n  if (!text || typeof text !== 'string') return false;\n  \n  // Criterios: más de 500 caracteres o más de 100 palabras\n  const charCount = text.length;\n  const wordCount = text.split(/\\s+/).filter(word => word.length > 0).length;\n  \n  return charCount > 500 || wordCount > 100;\n}\n\n// Función para procesar el texto y dividirlo inteligentemente (función original mejorada)\nfunction processAndSplitText(textInput) {\n  // Asegúrate de que textInput sea un string o pueda ser convertido\n  let text = textInput;\n\n  // Si la entrada no es un string\n  if (typeof text !== 'string') {\n    // Si es null o undefined, simplemente devolvemos un array vacío\n    if (text === null || text === undefined) {\n      return [];\n    }\n\n    // Si es un objeto, intentamos encontrar campos comunes que contengan texto\n    if (typeof text === 'object') {\n      if (text.text) {\n        text = text.text;\n      } else if (text.message) {\n        text = text.message;\n      } else if (text.type === 'text' && text.text) {\n        text = text.text;\n      } else if (text.output) {\n        // Si output es un string, lo usamos\n        if (typeof text.output === 'string') {\n          text = text.output;\n        } else {\n          // Si output es un objeto o array, intentamos extraer de ahí\n          const extracted = extractTextContent(text.output);\n          if (extracted) {\n            text = extracted;\n          } else {\n            // Si no pudimos extraer, intentamos convertir todo el objeto a string\n            try {\n              text = JSON.stringify(text);\n            } catch (e) {\n              console.error(\"No se pudo serializar el objeto a string:\", e);\n              return [];\n            }\n          }\n        }\n      } else {\n        // Si no encontramos campos de texto comunes ni 'output', intentamos convertir a string\n        try {\n          text = JSON.stringify(text);\n        } catch (e) {\n          console.error(\"No se pudo serializar el objeto a string:\", e);\n          return [];\n        }\n      }\n    } else {\n      // Si no es string, objeto, null o undefined, devolvemos vacío\n      console.warn(\"Entrada a processAndSplitText no es string, objeto, null o undefined:\", typeof text);\n      return [];\n    }\n  }\n\n  // Si después de los intentos no tenemos un string válido, devolvemos vacío\n  if (typeof text !== 'string' || text.trim() === '') {\n    return [];\n  }\n\n  // Ahora que tenemos un string, procesamos el formato\n  const processedText = text\n    .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*') // **texto** -> *texto*\n    .replace(/###\\s*/g, '')         // Elimina encabezados ###\n    .replace(/[¡¿!]/g, '');         // Elimina signos de exclamación e interrogación iniciales y finales\n\n  // Divide en líneas para análisis\n  const lines = processedText.split('\\n');\n\n  // Grupos para almacenar los mensajes\n  const messages = [];\n  let currentMessage = [];\n  let inNumberedSection = false;\n  let currentSectionNumber = null;\n\n  // Detectar secciones numeradas y agrupables\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    // Detecta si la línea es un encabezado numerado (ej: \"1. Tipo de propiedad:\")\n    const numberedHeaderMatch = line.match(/^\\s*(\\d+)\\.\\s+([^:]+):/);\n\n    if (numberedHeaderMatch) {\n      const sectionNumber = parseInt(numberedHeaderMatch[1]);\n\n      // Si estamos empezando una nueva sección numerada O si el número no es el siguiente esperado\n      if (!inNumberedSection || (inNumberedSection && sectionNumber !== currentSectionNumber + 1)) {\n        // Si tenemos contenido previo, guardamos como mensaje separado\n        if (currentMessage.length > 0) {\n          messages.push(currentMessage.join('\\n').trim());\n          currentMessage = [];\n        }\n        inNumberedSection = true;\n      }\n      currentSectionNumber = sectionNumber;\n      currentMessage.push(line);\n\n    } else if (line.trim() === '') {\n      // Una línea vacía puede terminar una sección si hay contenido previo\n      if (currentMessage.length > 0) {\n        // Si no estamos en una sección numerada, una línea vacía termina el mensaje actual\n        if (!inNumberedSection) {\n          messages.push(currentMessage.join('\\n').trim());\n          currentMessage = [];\n        } else {\n          // Si estamos en una sección numerada, una línea vacía se agrega al mensaje actual\n          currentMessage.push(line);\n        }\n      }\n\n    } else {\n      // Línea con contenido que no es un encabezado numerado\n      currentMessage.push(line);\n      inNumberedSection = false;\n    }\n  }\n\n  // Agregar el último mensaje si queda algo\n  if (currentMessage.length > 0) {\n    messages.push(currentMessage.join('\\n').trim());\n  }\n\n  // Filtrar mensajes vacíos y limpiar líneas vacías extra\n  return messages\n    .filter(msg => msg.length > 0)\n    .map(msg => {\n      // Eliminar líneas vacías múltiples dentro del mensaje\n      return msg.replace(/\\n{2,}/g, '\\n\\n');\n    });\n}\n\n// Función para extraer texto de diferentes estructuras de datos\nfunction extractTextContent(data) {\n  // Si la data es null o undefined, retornamos null inmediatamente\n  if (data === null || data === undefined) {\n    return null;\n  }\n\n  // Si es un string, lo retornamos directamente\n  if (typeof data === 'string') {\n    return data;\n  }\n\n  // Si es un array\n  if (Array.isArray(data)) {\n    // Iteramos sobre el array e intentamos extraer texto de cada elemento\n    for (const item of data) {\n      const extracted = extractTextContent(item);\n      if (extracted) {\n        return extracted;\n      }\n    }\n    return null;\n  }\n\n  // Si es un objeto\n  if (typeof data === 'object') {\n    // Priorizamos campos comunes que suelen contener texto\n    if (data.text) {\n      return data.text;\n    }\n    if (data.message) {\n      return data.message;\n    }\n    // Si tiene un campo 'output', intentamos extraer texto de él\n    if (data.output !== undefined && data.output !== null) {\n      const extracted = extractTextContent(data.output);\n      if (extracted) {\n        return extracted;\n      }\n    }\n    // Si tiene un campo 'response', intentamos extraer texto de él\n    if (data.response !== undefined && data.response !== null) {\n      const extracted = extractTextContent(data.response);\n      if (extracted) {\n        return extracted;\n      }\n    }\n    // Si tiene un campo 'json', intentamos extraer texto de él\n    if (data.json !== undefined && data.json !== null) {\n      const extracted = extractTextContent(data.json);\n      if (extracted) {\n        return extracted;\n      }\n    }\n    // Si no encontramos campos de texto comunes ni estructuras anidadas esperadas,\n    // intentamos convertir el objeto completo a string como último recurso\n    try {\n      return JSON.stringify(data);\n    } catch (e) {\n      console.error(\"No se pudo serializar el objeto a string en extractTextContent:\", e);\n      return null;\n    }\n  }\n\n  // Si el tipo de dato no es manejado, retornamos null\n  console.warn(\"Tipo de dato no manejado en extractTextContent:\", typeof data);\n  return null;\n}\n\n// --- Lógica Principal con manejo seguro de nodos ---\nlet textToProcess = null;\n\ntry {\n  // Verificar si el nodo \"Cancelar evento\" existe y tiene datos\n  let cancelarEventoData = null;\n  try {\n    // Usamos try-catch para capturar errores si el nodo no existe\n    cancelarEventoData = $('Cancelar evento');\n    if (cancelarEventoData && cancelarEventoData.first() && cancelarEventoData.first().json) {\n      if (cancelarEventoData.first().json.response !== undefined) {\n        textToProcess = extractTextContent(cancelarEventoData.first().json.response);\n      } else {\n        textToProcess = extractTextContent(cancelarEventoData.first().json);\n      }\n    }\n  } catch (e) {\n    // Silenciosamente ignoramos errores si el nodo no existe\n    console.log(\"Nodo 'Cancelar evento' no disponible o sin datos válidos\");\n  }\n  \n  // Solo intentamos acceder a AGE3 si aún no hemos encontrado texto para procesar\n  if (!textToProcess) {\n    try {\n      // Usamos try-catch para capturar errores si el nodo no existe\n      const age3Data = $('AGE3');\n      if (age3Data && age3Data.first() && age3Data.first().json) {\n        if (age3Data.first().json.output !== undefined) {\n          textToProcess = extractTextContent(age3Data.first().json.output);\n        } else {\n          textToProcess = extractTextContent(age3Data.first().json);\n        }\n      }\n    } catch (e) {\n      // Silenciosamente ignoramos errores si el nodo no existe\n      console.log(\"Nodo 'AGE3' no disponible o sin datos válidos\");\n    }\n  }\n  \n  // Si no hemos encontrado datos en los nodos específicos, intentamos con $input directamente\n  if (!textToProcess) {\n    try {\n      const inputItems = $input.all();\n      if (inputItems && inputItems.length > 0 && inputItems[0].json) {\n        textToProcess = extractTextContent(inputItems[0].json);\n      }\n    } catch (e) {\n      console.log(\"No se pudo acceder a los datos de entrada directamente:\", e.message);\n    }\n  }\n  \n  // Procesar y retornar el resultado\n  if (textToProcess) {\n    const textArray = processAndSplitText(textToProcess);\n    \n    // Procesar cada mensaje y dividirlo en chunks si es necesario\n    const processedMessages = [];\n    \n    for (const message of textArray) {\n      if (needsSplitting(message)) {\n        // Si el mensaje es largo, lo dividimos en chunks\n        const chunks = splitTextIntoChunks(message);\n        processedMessages.push(...chunks);\n      } else {\n        // Si el mensaje es corto, lo agregamos tal cual con tiempo de lectura\n        processedMessages.push({\n          parte: processedMessages.length + 1,\n          texto: message,\n          time: calculateReadingTime(message)\n        });\n      }\n    }\n    \n    // Re-numerar las partes para que sean consecutivas\n    processedMessages.forEach((msg, index) => {\n      msg.parte = index + 1;\n    });\n    \n    // Devolvemos la estructura con los mensajes procesados\n    return [{json: {messages: processedMessages, totalParts: processedMessages.length}}];\n  } else {\n    // Si no se pudo obtener ni procesar texto, devolvemos un array vacío\n    return [{json: {messages: [], totalParts: 0}}];\n  }\n} catch (error) {\n  // Capturamos cualquier error no manejado y devolvemos un objeto con información del error\n  console.error(\"Error general en el nodo:\", error.message);\n  return [{json: {messages: [], totalParts: 0, error: error.message}}];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        432
      ],
      "id": "d1fa8d84-add1-4694-89c2-62f016d7d62d",
      "name": "Separa datos1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us.api-wa.me/2522xaf8359c21b/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('limpiamos msg').item.json.telefono }}"
            },
            {
              "name": "text",
              "value": "={{ $('Loop Over Items1').item.json.texto }}"
            },
            {
              "name": "status",
              "value": "recording"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1744,
        576
      ],
      "id": "ea43389a-5bbf-4f03-9851-61c2d14064dd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1552,
        448
      ],
      "id": "e36b6b08-94be-4ecd-b949-ab52fa7ac3f7",
      "name": "Wait1",
      "webhookId": "92d16c1c-444a-424b-ab29-9fde09415c74"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us.api-wa.me/2522xaf8359c21b/message/presence",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            },
            {
              "name": "status",
              "value": "composing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        512
      ],
      "id": "1f777a90-94c7-469e-86e3-0f9e1f144262",
      "name": "escribiendo...1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "send msg": [
      {
        "json": {
          "status": 200,
          "data": {
            "key": {
              "remoteJid": "5492254596618@s.whatsapp.net",
              "fromMe": true,
              "id": "3EB08D773BB92FED68E171"
            },
            "message": {
              "extendedTextMessage": {
                "text": "⏰ *Tu período de prueba ha finalizado*\n\nGracias por probar nuestro servicio! 🙏\n\nEsperamos que hayas disfrutado de la experiencia. Si deseas continuar utilizando todas las funcionalidades, estaremos encantados de ayudarte.\n\n📧 *Cómo continuar?*\n- Contáctanos por WhatsApp: +5492254423359\n- Envíanos un email: qeva.ai.solutionse@gmail.com\n- Visita nuestra web: www.web.qeva.xyz\n\nEsperamos verte pronto de vuelta! 🚀"
              }
            },
            "messageTimestamp": "1754956315",
            "status": "PENDING"
          }
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8nw.qeva.xyz",
            "user-agent": "axios/1.11.0",
            "content-length": "31154",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "instance-key": "2522xaf8359c21b",
            "x-forwarded-for": "144.126.133.227",
            "x-forwarded-host": "n8nw.qeva.xyz",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7697b68d06c2",
            "x-real-ip": "144.126.133.227"
          },
          "params": {},
          "query": {},
          "body": {
            "instance": "2522xaf8359c21b",
            "type": "message",
            "data": {
              "messageId": "4166C452334DC1F8E0D57965033CB1B2",
              "jid": "5492254423359:2@s.whatsapp.net",
              "me": false,
              "isGroup": false,
              "remoteJid": "5492254596618",
              "pushName": "Automátizaciones AI",
              "key": {
                "remoteJid": "5492254596618@s.whatsapp.net",
                "fromMe": false,
                "id": "4166C452334DC1F8E0D57965033CB1B2"
              },
              "messageType": "audioMessage",
              "msgContent": {
                "audioMessage": {
                  "url": "https://mmg.whatsapp.net/v/t62.7117-24/531055921_545359705266854_1262929159437110426_n.enc?ccb=11-4&oh=01_Q5Aa2QG1w5QJMEYGNTNjrSFOIeyI-OYej_W0J7xWhjaOAfF8_A&oe=68C1FB9E&_nc_sid=5e03e0&mms3=true",
                  "mimetype": "audio/ogg; codecs=opus",
                  "fileSha256": "QlSCtcmKfI9KQAGbFY8P7S5cTac0V5co/PezKdBW7o8=",
                  "fileLength": "22063",
                  "seconds": 9,
                  "ptt": true,
                  "mediaKey": "8ZsZEEyKdjysW7QTQyJSr6WBG/wOaMxP9t6hrq5Qa+I=",
                  "fileEncSha256": "hh0f+cBMOrxKHFIv3dJiOol0hkj9RQcC4ovoiR7LKzQ=",
                  "directPath": "/v/t62.7117-24/531055921_545359705266854_1262929159437110426_n.enc?ccb=11-4&oh=01_Q5Aa2QG1w5QJMEYGNTNjrSFOIeyI-OYej_W0J7xWhjaOAfF8_A&oe=68C1FB9E&_nc_sid=5e03e0",
                  "mediaKeyTimestamp": "1754960831",
                  "waveform": "AAAAAAALAAAKP0E6OUU7Kj8nSgwAACc5NTI1LzwoABA5GxgyKUMtIgAAAAAeJzo5MkI0AAAJPzY0NSY7MTcvAA=="
                },
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "F1tkbDhHhKbugw==",
                    "senderTimestamp": "1754099422",
                    "recipientKeyHash": "mdrt64lZPf3MFg==",
                    "recipientTimestamp": "1754931188"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "3YT8GBlU2p4fOw3gx7R/wbIKkLHAxvkKb5mYeie3Idg="
                }
              },
              "messageTimestamp": 1754960840,
              "source": "android",
              "broadcast": false,
              "isMedia": true,
              "urlMedia": "https://usc1.contabostorage.com/7a37d2f461814e758eedb3979de65af7:api-wa.me/2522xaf8359c21b/audio/ogg; codecs=opus/cbfb67c4f0c6c3985e3a.opus",
              "fileBase64": "data:audio/ogg; codecs=opus;base64,T2dnUwACAAAAAAAAAAAAAAAAAAAAACqCBoIBE09wdXNIZWFkAQFoAIA+AAAAAABPZ2dTAAAAAAAAAAAAAAAAAAABAAAAjzLsvAEYT3B1c1RhZ3MIAAAAV2hhdHNBcHAAAAAAT2dnUwAAaGgBAAAAAAAAAAAAAgAAAMKaEcYaMv8D/xP/ENn8/xH62uP/T/89/0r/J/9W/zJLhgcIBwcHC+TBNuzFgAfJcifhROpQB8l5yMlXwAfJecjJV8AHyXnIyVfAB8l5yMlXwEuGFSoxLTKAArIX9kkz4OGFxitIEqmOofgx5dCHi0h/gpqKlj9IHOYdp5q9Pcm0LfzwZ2hBJgjZ9jPEjtdcou9YUZoCo2iHleBTYOevxO9Q6f0PgpG0Zr+0OC4/rhVWSl7lh1CVqllM7zlCY4zL2zOvlyFj4bnkiGEBdP8OKAVMmbXzJ3hwsKDBGp2mRSMEjAEcbIgOcMiGN6wAe6Nv3HSzbQy7iFhhxjR6mGcPhb7lcIvXeu+NMu5nw2IAWw1Zv5Mmd0Bj7Xk6o3yHova95gmRORyteICIyLeS3rApGD6ia/4YQzedmeM5GN4+aKHrYEJ6zlZG98i09mJmXKSieGSl6kuGLisrKzOIyPRgEtZVj2tQ6sY7IXWN7siLyVsH9I9DMSKzmk6ZfWmHayfY3r/EpHcgRcWAiTDIvXsnFkBq/JlVR502Ma4ySV+YvCllGswn28VrxedlI+WOxjRT9bWhS4k2F4ZkjzHJNy5c83GBcauby/+qk7vShWRb9MH4bTbhnALpSJWkbi+wlMeJmTvoVxYbY2s1gOG+KI4wOAV9cHqar09L0w9aEMi4HZAJpnQfUzZJfRDoibmbd8vBsXZNBCfsdMY6BZYfjl/AvlmCJGiNLP9uUGQ7qlD4IXCgKCgZuLmgIYIrlSnZiuHml72FcaYE8ZOEm93OcYf5nwXBFxylEaQpY5z2ePlrmwDbsEqea/tLhisrLS0ti2wnmg0M6eCW6cr83v3Cjow4t8rw3sxvQQBxx9W/6I/1PYWWC+x+djUFdIs7tUKis4QuqVH99rajX0uM+58IkLtYI4T+0YUr4iQ4a6DfO5McFArQPyyKa8e7MQ4QI65mQdkCDckJ4314o/W8bj1Bnifa7tjBH28Y7gei5TGfZ1HUxhqBkEQ9Y1XtaPusYom7RwxefQ/VY3YdgomqKPimWDrSOnIihvDfEgGQNRmSZcCKaPWAxK+CSLVYCcIancya8wp0HyHNeJNXbFHP4vHM9R09abSoGaN+dBNgfPyKZ7WmrMpDmpA1DeDl8ICW5IPxSqKSyHcBJsW01YUnG46q4LKoGgqe8KQyS4YtJiMiIYpRBNQ4aC/r8TFFqGnCGJeP1GEcJtTHj2PXSNayA9r4eoOIZEuVNSzW61f/YDCm7HPtERggrbFvEggFGdpGU/Hzmde6iZK/0RY8QUwxTsNvEIjALwLzbH9zxVUp3jlLlubXJPXDwyaBeuKzdPseyoPGB1VunpgqyU2fBmqZ5GKuHvJHITDXbOpBL1UR0zYg0+HYHyddKzdDJ1sG5PX4eyu97161xRSfmFri5qHtGwh56euuKcIpd0J8A34rlJ28iiEafF39OPBmW5wug2NhgGZza0uGKiQsLSuBWGxKrGm15MTXoQFEK4wAdTxUtVrRcr+pr4rAbmjwK/zj2JryVZY6gGAtSaa+vsqGs0GPabJNQymIKEG7y4ioiffsQPGqyIlC0Mr3Q2CI17ZpOOAMTtJ/lDVzgRbLHBvoBG00cSGa1NXKGoEthhP+WI6oA7dM1ut1YIHO1Xney/Ncam1UqBjU9GTfA+C8x5N8CY9412At9RtJkfd4IT8Ari4okRP/gIIRD8abuEuX1WF6feAFx1f0nkYmtQct0FXHnQy9ezWFAYhAjnENENGrU340Z4MP50CvJ2ahAu/EDLFBpfpP3/fIrSkDHYzgJYFtZpXWcEuGKyoxLCuBLVK0ZWnRNWYvvnOD14+HE+UMwOVSp7Omn4qNpBU+povR1VRKs5+7QhyjjVqo24qBweuA082etXHbA4l94iDtY0ByCCv+cmX0dS3dn4NyztC9DwLejPMpOK+UnZG9wL+6G6Opd0Iryjzzig7F2zWlKcMm8yeC55B7plZzsT1kpyHgnjbOwIx5RCJpF2ZoPPPZBxe0zn82ZzzBIQ+5DVfiGZuGLJJb+gIZfFhoRvqjpQJXjGWmMFUikS5jXETdBIiYCpMSm48r5ceUcJ8YtMIgV9dWyqGr0shwhMwX2ItwX686bKUrXE75XHM6RhP23GEKd1hYvYuPQUEGojb1pqFDpi2L4QHOdh+AS4YsKiYrK4rPcSdtZCURz+vqTAtUAOChGFpnINB/LrKxIjSMNkrY6I2YMvhQsjL+CMGYimCqEUrOSF4fnhYqIigPFwuwmDEnrPmNSVI7OVpToLizOiO+h2SsnxpAid1my3VXstYF/+x6SqnkO3FCXnp15pdCRKEPMTIrRhiRo72/TCqJk30OEBIHm7r8E9QOQ6k/6lWrq1uiEX6SOR6uje2qKJJlzJ/TTxjExMAwiZBB4EtXv+M56gFOFsib/a1O3sQNszDkAsz4W3sNXQcESQppEUMhiXF0zzEi/RtbNrhRNrNymB9S/rrC6SP3dHd5NQRjLs1N1aEhqkuGJyUeKCYxXLW6HIOnKiPlsBSlR951NxwHcmouJixHOb9ChSXNQWh3UsdTOvg0358MOCX9ne6DHEmpvlZiqxdHkCUC4e4ne5lTm3D5sP1ZlYNgBPhpOiJSNwFJ1lSpObmKjuuwLBDvgdGjsnf0r+WAIiv2o14E2S5jSr+7N5XvhnbbQpjYFJ8kqthdWTIAF9hc9mZUxIJWoCTGDwT+NlwXqh6HLI6H78J4KMfy8MT5Zl/d6VHhiwrhyNn4YhGAIZ4iAa1EeWPBpMqxImoKnUqK4P5R6IVC/D9AS4YiKh4fIBuH6vPRV9HtkdFmNVzE5W0C2DHWtKX+wkV9NCJmjUemT4AbzoqyAsMb94vt9N5Wb/iXA18zKg3sa+fBjfCMA1BL3xTk0iw42rs/NYAbgdFc8BOSe2w4ciOMWEUirRJCNKX0N9DY3CHDvyAYXN3JoNz/tFceDBK3rLIHBY+XjlxIT7vd9VdkzUwgholb1g6I6/drofuWo30W4cjhpeFM0vrSTQMbm4uxFT2B6JPr0eeJ3707kGya52EcMNyyPNR357gWklsmsJJWfM+nmVIOrdaArPF6NLwuEZKTju9Lhi0zND04ijp88ohdDQ1K2Gwd+FEriuzhQfyCoW9hdPD2Qtz2J0GBV9/jmQl0IhdfiF6cgTgdddukx95GyRWDEPIsjpj4bdjzUkTyobpVe68aufzWv2kgSbTBKpRDeFwAq9FG3h6Ap0M6Kxohv2/B9duw+uvchYUKUHmK8H+6h3gnV5ItCjL4yLSlaaWGbMtzNKy88wpg95rEmKMHgMFQSXA+T1dYsQEV126MXNwAp6xPsykB3Vp8+QfYUdB6xY4X4E8zq7ehbFyGD+nl7NAm8zpK8oj1D4CmbX+zRlZUPCWh9Lx9SzdzDMeNdhbPwooEpBswwziCSC9hA8KfUxZ2brguXLdoSdDGpC4yLUBXUKZamG/WXvzf4aPCSt/8NxiW8MpzEAKm2oC3OyeOkAuskYbzkzsln17W5feq81m40CDOdsZBLt3b5F9kahaAS4YwNjU2NaZDZimDbHP8ntKLmwUs+XDEtyDCwOTB/EVRD6lj4q4kauCrW4OeWo5O+kCJoDgEsKVPTdxvG20SCDrRKc7KPaVlB1OeOispgSf7gCsNj+OR/W4aBlmM41q1G/TKbvmE/fnZEoE5bqV44oM0C1npOpoWrgNXwwS76RM1xgYXVC6cFyXjXTbZ2AtPkJDqdMI6UWp0wvGrZxDvoC/QqjrSc8jPnOBmyyeBDDTz3g0/7yn648s3J070Vj4Fl0cM4JNTbRsTr5aU2ztnMPpkDU81xfWArh0mboHsoxbtp9Q4yDN1bmIwm9sku0rg4x5BNGgDn5RDm6/uLzsMwvkAEw1n0vRl6FFfuYCsr/OOleAZPJGPA52L3nb8I+sk6ly6dV2t+ilYOsihWX9inKF1Wu8sd3odYAHLwEuGMTE0ODmqkhJ2pwc78Zpj1wqYXKIrY8MDWzBx/VV+MafITGLwUeJ4iidchnIi1C0IfhfuiGLXoh7GLAhDD9FVw6wWsKviNd6BUrSIaN5osCJY3lzl6m9JGxNjo9pWRsJHoaydVlhBcJ+1HlYdMfwaTloExKgloFlYtOSqS4Vxuj+wOEHUKpBM61wsdcNfuea+2xTU17deCuM9RBCdpjWcq90/d9OiQpWNJPnBvA63Xkn75b8GczEa7KAGNEa1hhMyOt+1uFNkT0R/qtPa8LZcdR5hgKLBTsyYSh14T6TodIi2kKy0FTl4yqS9eULdeQT9i76FxncBxvwQ5grIqU/iuBw4SyfMz1/6CxcHcKfIEUcRJf25PdSKpxJs1pMmYpNtcHR4CkVB4rxqRbpKJ1JgKXM0Hh9gdckChB22ugS3ZuCshhwHuy3ES4YxMDcvLaeuNl//LKwbV9V9nNlFBhHQg1bfknuBahEbaPckNaGQSCFEPK25jnJzBC6xDzncqdKl70iqAPdnhVRa94v728rk4ACJnrongP75J/a/qThblvzL9D059PMRGrLcnMPGgDii8FGTuv5x2CfKsGXY3OpKDM8//8XyiD++GemD8e1azdpw5lG9lKpgF4LYJMEAiy/+J7XvuolSpX5So+8WbDu3dEvTiVEDBKFJCrzdXJpueES1V/aAkeTSa4JqICBd5K+jsaU4gaioaEE0qJEujEByUq9dhu4jlF19e2e9CJbxdTt0A+6qsj3X0pzdAo9jYFin6CqtCVYs7hxFhUCOFQ2gR4ZUGGv0OoYRGDUJnoxcFb3BRUGwd4wVxYpS/w2AS4Y6Pzg0NKqqDWTlDRgh6mG6BRuFhbJQ4/iGa/skBsow/etaQZJdNtyHBjuIrM1bKZeLUeBR5KqZBV//5j/dyeCmVFWtjcreLF++mD+zWzAotcM+UHyv2BqudrWPIKCEtYGJw/H80N1wUtzhTjFfChSZmTb2j8klcJxPll0r7O6lK0Q6CabAa25zsQ2moIsjV5vSeMrCG57gEgeWfa90fTcpGtjdgZo6qfteakyhntucIM4QBxbnCKUMemQlFOh36gsq8ZJqtrJ7bZ44ltfZ3dEEu+ktbrjhgcg+rPzW4XjpmNg7A/lbifx3Ptqk1SQfMtbre9x17hQgjAgfnfKWh7sJDrGf5QqUL03C+aoWyEPvJB8ELEyfWPwrhbBJBfUgovvY1/Y/1cNWwsyYIzuV4d4gIV28UpFyW68Lrhs5f68sYlej8CdNso01CFaDCMVR+C+pyOBLhjcyKDI3rXedm6DTDLdV+HSfSoH0BSKRuvbNJ/vzKtpWqdjv6f2AWZbfW7r1gYIO6w52BhNeHiNcTGjgSK8qXcPTeNyPCMBfmR+TGzQRl/6+z9rWl8U7G2eOWACJ+xTwlMatXICXNOhZFkPIDIiQsBarnM3iq6XcY1zMidxAEmh2Ju0FqbD7J11CpcN35YcM+/8WoUD6gKzHDktvYzGOUVbBQfXOOeN6O660sCSBevlatA25OqJRwQgd9mBfS8lz1IwpfGcYpUaeqynRX772YDHbljgRg4CGXeRLaw76DLLxq1rFKhvc4raMvXzAJFgtl63B2VC6PyRiVNC4U+Sf8qsp0WHdwEjDpE5mvcUseQ2p8ZGzhKhfEuf0Q3exNk+g9WnShsrxWJWY20ULXAzbQE9nZ1MAAGjQAgAAAAAAAAAAAAMAAAABB5T8HP8X/xP/F/8c/xb/B/8O4dTO+P86/zv/OP8v/z5Lhi8uLyM1qxQuUt9d1f/0GHcyrFoskoEdugwPVSBrLjdUIZv/XypWyN0WCdZ2DUQQSGs6KGKnS7QwxvpTFPfby+nC1Fec+ZFhOimYwk3W+/aY9hnkUijXwGmbu2cyQtCE9+Xgo1/B5s62N2FLXuMaB2891GdNzytHZeQofd2Up0LXhT6/M4RcMrZChAyBCmYUW0CB1FZEKYzU8nPiFacx09y/LNtPEmylaeuz4PImIs9uuo82gKVd9fwrzcuR+NrS2FfNJE+H56XvKdCIKNzwgRMb/XKbkmdfAK57LH4op6dbIJ9pG3GHbLjArNCKJwSn1gWryvGU/vzJRn8DeC9JsOhlquAc8s5WThUDSQYwetheISjSQEuGKiwvKyurgBiIjehCzDTneHPZlrkTXRk/lPRK3Igh6lOdeYMokTAvaMyHyURwbF6tOdG7JalzAdDorePhGh3UkLs8QTJMvxUD73yePs187/Mancb4wZCt5nbbIK7B98U/aPzAUWovAjw9/deTagMj6fxeldTvzYnxamYkFQQuv2+HFBUil+dsHZYwsFAzjwFVxtTvBR1v3hhLOzyzdeZycCGesOT+M0L06POgXqTQGBp/j7L5YKxeolI4UkWVqx+JF3f4G8eBOERp7OpP/LM/aRY3+Ddvhofbt9SLZ3dBgRyqGuEMKpUbrW/w/WIjgfbJM1gjkeKYYJsMPzwKURv/Ftgd/5GsWsffhU50jTjfiYBLhjEuKTQtkqmc++JwnbBwCNS9rD+kuRzSASckfcxMqOWUFhcF9QROBkx4Ux3VsW2dBmjxgYx3QJOktrEvi73yHnlqURUV5wf2GfNsYZY6D/r+N1zZFaGFRgske9B4iXCfkPXwBNCTpLXHRvHoOuudwBqnRzui/YOJ9imFhXuxSO/e374gEjSDsqPxwBJeaJOjLnb6Cwf8THBwlEI8PrRzngSndRnLjxeACDwTu5Ona1IcwUnSa1WSDJDd6dUZcBKIc/aS7523eQVOrQUrqD6MATc1aD/l7bLPk64gcx5aIUgk2NxMGXpog+ENXmMx84CQqpUhTAa0u0O3PqpBKPgAXKV05HwtVQt0BPMplH8p73AHrpQkcEuGLDQvLC2C38MeK9uSSsyfHsPHn0GAR2UdeaU3dvU9Zc6I2xbOme0BZbg6GeK8+I8o1Kdl2V5e0+GxJT+2nz1GqdoL4TEKExR2kxxE4xduroRmFNFcHk0m9nqmGSz9bBs4GcRxQ+Cnx68jpb8PKMJ4uWt0p+XJN9IloqcnOM4vfCS39dApxtaD2lCGdMPGyQyHkMrDfKeO4GEk7F83I1GFtPDqARNfq8n74y0lfFEECyHN8u/kbhzP3OAinOMAFHyIpl3+1Jsy1wwFa/dGACKZrde8Y6wkdrBTcNpCJHv2GCkhXHILFD5QAqHpqL6ApiYJ/AqXvB9P2FqeZvvN2TD5fbeKw1ZKZraJD13dkY6Tt5ozoxBwcunAt3BLhjAqLSgvoNxRsN57iK/XPwviywGxRNRvUNgnXd181kFtrsYKxTJ9u+NKigQPvJEJRjaPYGbgnpEpVGuZ8YPT4Mq1J/rCt/C9wvbuBIdvTzcXROj0l37yXO3P9SQZJDZovdRUrlSKNF8Ci7xpdUDQqXbaLTrD7Rr5WDP06uCc6gD48dtSDrjywHHY851AnUauvTQsgL8+aY6zOc1WLaA51IAtJkf3t0kGqtMMSi6jrq5eNnguyL3HWbu60HhNrRZwNrbRS7WC9QUfb+R3NRhIZauvwKfQygD0c6n5Y+9hVT8AVHRAg8irUHz9gAVHks73XCgpmat/bn8VcNOGmHBq5z7d0Z4t9VL8SSew4CUgapoKT6q/S4YuIyUvLZV8OFcEQvrYKdqnawPNdULCEsZlfCca0kl4bCrEvd65V+8puB2V7/+XsNPQzL6Ezv8NLhGqt+KwrXHDhkaFw7Yhtnwczyg3TjFhCgUisWgsgIQvwoW9WBGeNAE58qEg+frjAWQRoic1LeuU25p4Zz/yHn3iBuCyDdtoCV0S6WhpJ+PuigFXUcSqxUwVcdEYbf2GDkn/a87TF4YWUislmQjMd96UlLHkTaSoc1T1zWCXlAm8I+gqOGtdYHeuKsbUDYV34ViLWQT+GLiBrgQ3owbCBLIagmFPujkZSZ3uSrmmET2B6vG7gVE937PEDVXJzuNyTD/J6/YjSWthIznqo0uGNTAsKyWwZo/2jg2NZdUbsnC+xvxoSKJmrKP2EIJKgGyebgmmdP4blJSvLaSl2O7fSyF5mPTvMCZ/1q/B1I1bdPow+ATWY1vqTGN6G8fhvf2h9YjPePLXG3kWqQJFDOit7fwSzNPkGbCfhKj2y8PXrGNZpTD3U8xvipAfAEdrQXV6kvJzjAxAEq1/bF72FUTwaScWPrcoo2KW0YzwYBFEoc5KttUH4evbS6fwZMYN21+BsXvKQe+bPJx58Nj9zOaMSovJG7YXz6BwISQwyjk7VSbfefaxs2cB8vMYXkwwtgx48gO2H+CLORsBBWunD4JfRrpdmL850hyOtsgx6Ux06dxTzSAqNbFLYX9QS4YoJiIlI4FBRQO5Pf832w7l8wqcj1RSTDZWxjRNkNRpHGu6uPleSkmAlDKMhOAxD+gden50etBJo6Aclq/b/Ss9N1aPkyGg/Sw+lTgcSgVT/AFzDC9PotuvDpJaAJwFh2QWpHCYOO/Qw3nv+AbGTSxKF8Ca0R0tVih6aDwMHNfVPhmOxyH4O9wQ2EBhyA1I7BnPx+2SvbO1s3vALVB9eDeyxryCQxYyaqyNBch/IQRSVmYzdjtdza+agCjh1rAtWxyLUKg88kMW5qswym6yN/qMIaTvmmhlMJajasaw4P5gS4YkHyAlIC1cI8gm0HLLySJmKSei4hmrVfMGZirkhjaSOc1CZMzry6cyRCtnrZorDO22rcLx4+M0QUcWbNGEBLbKWg0wBQdnduArL0z3dTW0rIqlJrUGk8vUswj9uKN2MsB+2kVGIE2E8ClPPmj7XerfmSDXuxgxJLA/PBfpn8B6WdtVPc9zBrV2fP+s/wgnxUmsLA4Y68rii6VftSXhLYMlBn5v6QufutO2NLIq8yfFCCSUZ8iY5KyZrxsIdM3WAcUp+A2ERMAFqJjXqhpcZP8/N+ZLhiEkIyMdJ2aeWQhXVvTd8c9q0k2WlfvUNwT8pWKN+OZ+varM/gtCJTnT7aqu7j0kSvlkwe6hnf5cb+K1GTCe4s3RhSEdEXqNPVagJTpHwfusaEn7ox0i7HT3NhBRfB3Nb8TqdRSKV/69rNyODuAk61LlKF2NnL7Esk9IPStCJ47m8VlZR2sD2OwZI2dqy3PjECSIFEtYwOh5jm4XJ3SelMi0oCZBYT3nXsnjjL9OIbwUhC4iOHzhYI3DcrTpyVGBqMaLm72CxXBOT8g32EuGIDAoKCgDFB02YlCQnHss01fDr3yw4OHNrUo+W+xrGHyEMH73NoBjUjMGUJKec4SqjNQ64v6weo2tSafbn7/xdElF71ATkf1hGNtdRRAB38hpMIxp0ikBiUCnI5LhJqNUTwQB74MkIldLFs8z4UjyQBHcedY4tRVI9RGzBEgm9bPR2womEKDtpdR658pxN7llZEaoUCvZcFVvIx1BJOBmDfn3N9TgIbwUpMvYjAx0Qsycc9Oy27pd8F0ZpVazUKOj4fl+LJ41bOwyrqVloCJ6QW4sZCIbmZlbNOlc1ignDlJ6K0UpPDQ2D8hLwHJOGUy9Y9gzGhbkS4YwNC01NICv0Rfym5IgA/iDvLsQ2r/IpnL+MFNyt7nwMuB63RNPrkx04FzlEMBP/RyxEV8CIYMPTWTJ65uyXwuR/NA7iKzoPWqWskgXbayNt1I88phYvCrvANzlmkrHiG4ITtMBGFuxrWCsaezUEjTtR189duzDE96cYmnOOULeX1LSsgptPLqwAZJacsOtB6rKQ5EGmkCnLgvftPdMPB27lPG1LJTxB09DDtl13DGm0zhG4J3H+jHawy/NdYtVD7tx4AEGOdte65UAkKKLdxNls72oBS4VoJiybR+fWvwUuEq4mf1k3ci8F4MITIMHuCgkHkOAwYmEse6Mh0c++XyiwDHupVyw9QVe/3nVcNOKIvW6qL0Hn3nW2HeTRDuPbVxcNmt+ro5w89ZjgS61aohHkFbeka+JlEuGODMxODCqOtXYvKN6VVD0a1tG557RMQBuBSGIOoViIgMHsiilpQA/vMB/tsHgAU1T1gqYp2uGxcBpOX3ocK6ce5XQ3IZwB7DH5Htb75flor+R3Zc7pSUhi/IT4aJO93uAIc3g4NjP2NdxXP6lb7YMwK4Qd6vtMt+8BS/sHL1b+ysfbf04Aze3MHIvhhXbAymUaEZlLZAZ4EBxiZsSMI68rDioWOE5Xre9I2icjs18wmtsKhx1H0POGrbnVZ/Vgvu142KtIFqfvlTHyVpL4M7OUVoe22pUPtwyIKevOW5HhDxPIevFtu0tNrxIFkaUkWR4WJctBz1etY0Juagb7WOeo/qZstpQ8IppLqX2SsNdWphRMINgqguTj07IS4nP8uxD1shZ/JrjT5cxPTiexvCUvybuWBy/tvx4S4YtMzU4L4zb4tt1Fb9gfC+YnG0Ybxu2IBzE5Y/LDxOJ3iS7BF1OZg8FPQhZpdtajCLNgIJXa3MiINb6t+auoU+Ytl5bxAiHPpA+mWQ7rFggpAkAGtP8DqQuolMelHt/r1ntnSKUgKhkrdzA/EB9mKYfny4y3Bmi34ETc+gD7hYDeRa4wM9IXpYzwmM+eE8QOSXkU8K5AG5xS8W2qc1X79pUr1SUdBkjVYrs4oD1zrDYbYm2Vy2zEW7NAcgz39uwW5zNyGdkWd8KynyjxHBQvOisGWCpDqiu9G3TWFRhCbZDkfIgVxoj6y9xue/RTHt2SHb4zBH34n0U3CNy1Vz9uEGw4Kf3SoluH80ymPr40njoeJ/9Mbh1W5jwwlKUvXr7UVlukgeeVeyqKppkdLla/jW7opU6JvhLhjYuLjMyqiCtNjNMkAMRWwVOyTLxrRhC2zQ+rv3OxYBzWJr8+DS4WjvI9itrAr2nnnXop9TqNSsdE3EqrKGrQ/5L4zWSV+u2ziK/tgcEkM0jMSz9ShPRAaF6yJVjPjLuU9c6V4maQE8+gKkEQfpXjAm0VOiLJ/ZPaIouOi9y7QzlAjYyGB4Slyk+jQpBu8PFurVUkiT9PCil8Q8YN6Ga2eA3dO3asBFbk5hph3gm/Rbc+2toTWFbHA2R1MvdR8Ey3yMuD8b8AxWuaEWimiLkIWhtf98RwSRc9yeapwdlUWx6bpMG8uiy5rDWp2zk4HE/jd6wLdnwLjSMQgeKoKKlWDxKmWOudJjBvqjnqAwZe0rMvHcF7mnoIiSKRYswRZKY19b5D9snohRgFHJ0REuGMDI3ODWli32uCW+ZU291HRe7GEa8neMBPUkzyANRLyAjohJwjsF8IFJntculoLkNfncYonqo8mX6GT+gngy0oekMng1vlrNyKKPQDwZVlxiFkQUNGsyhWYuJc1sClusoQaZVdpJbgJ+idDgxkI7dTXfOBUQTj6CghYN+FW5xznM8ygiGGZoNqdWdh6T/AWUoqrpg+lVWUmyjXIxzW9SkWo7sqkApnePC5wh3gecxG1Ye0ptZ1zfZGOqZLyIBlN7rGuG64MnT6JVkVVGKhX0AgIdBC4e6gLF0aS+xYuo08J8M/36XuFFXTa2G/axk2wSniA5GCqGZGYjIPr+aR/zYYE1C59WTU41eil3GrEW2/itWVXuKsxNvek4QHFAJLV8Eq2CdiQ9y4DdnH7rM7pzfAM+O+Zhx6V9UNIBAT2dnUwAA6CEEAAAAAAAAAAAABAAAAL4z+IQa/y3/I/8i/xLa+fH/Mf8n4/80/0H/If8f/zRLhjEvMDEzo1NYbSSG+g85MxF1nfEyoOthqGG46IqSO9PsJEt8MhXuWTF/1C3ZIuOoIUGZnJWWtKDWR8x75kZFnngK1jeGwcPSVwsGIlPlRUQJPBMnh/AMTHAIwruESD0ItN4PeaugnqKs9w7BPwwsoZezShBK/iun6hLDGUv8e/WWUOiI96SZByF8P0xp8m+6pTGe04ZYny69FaSR89hB3NCr8pHagjGGcBMwRSEx2fbx0sIyAAWXLkLdI67KWF5qSP5wyseroKhuRl1xthL1dD/NnGFIqhJsJBO9/SOUcil+KFs7jkuTRryVddQkOYhMdc9iFCHfq/ausKsQrCe56FV56Hyz/6E9mKdPM+MjqOLJkYxfHuFJR2DF1zCjeM4w/Imfd536NAkxSYBLhisvLjIzph1dkN6OrqY42EDD9XIweVse3J8DnPNJQ4Ivv8i0mmuol39KydHKxz51dKDgsnRIA6yIq4Gf8BhEzeiPcLtSWxYtEPP0C0kH+SzJT/fykOUmiWHWF5LQwWlsnqL6OEQ76i7zCq8hZVGKHvJx1CgA/SfMtp0Sf9oR5858NvCEkIXgLyYR+2w0wKGzSIeHoNUB+Wd5mVKi5JcMygZG4T9FOpOzeJMa11Z1JMWood4iGkHOJAfytONa2y5BqInupi3K+9avZ9MRXXeIjgw1bjrBDmqwqjizaosljbkY+bHcNvdQDBbOnZVezx5b0LlOrsZAr7D1oUobcv95s3jE/kcIVAYOe6iYmnABUxEMRjQHJwCR1/4556ePZTv0gEuGNSsrMSywnOlVJ7q0NfuCfGOAYpmihpaeFb0EFFhbWMGbbJJ3I+U4+RE3S7rqgUTmHHolY7YvZVUjgLG6bU+/rn2lCr/HfOpiJBCkFLxoVq5x/jAsCDkY3av9yduh/izPk3nxWMCuC+9WSzeAtV6QXMSuxPOf3wsRFmx5MWlHpMTtus9s7w804neeqxTKeniAp4vF/FcYjxO6K0rsbwnLK2XsdqVuiruInm1sVy/mc//peoIPYfnqLDiWT6z835tLq6KgrrPRdSDSKHvdY8/K/3FDA+CuRPSKf+ckGySf/GdZzGg9gbjpXGrFLFLAp9LMOB7YRFT8C5M0TfsaFeVm4NWPO9T60NINTC0ox/2Z2E0cXJkKcpDn+xX7GF5ue/pLhiIsMi8rp9Lhln63VVYDyeQGTUkRHkZDBzzg/Zmu4IbPRE+i1l/I9ahtezwv1PKeVloW3tNlo7zsTFne4pWYF66dg4JsHU6udH7PXvruepS/ARfHp07JmKuiTWvz2QbvVLpdxnWKFQTTLkP287vb4pwbdJmz+asF/ZpcbNnB25i6XCmC5gmjZZWhU7uSKESzZYtiwy28aE1FrDp2r5JMnapvRxBiWECv9y2nNFuO80JeIT23UJ+T9oFweQislKZ3SwwLzcvTp7JJhr85FuQJ6O8UCrCcySH2Wa7ZyFwc5MC9xx+2FawhI5P1kSSnJkDLkmLNImeyZwSObZR4L7hdiwHP8U0jolNGsP4wWMiu86BLhiQmIR4ngYVs029cYSKYBiGchaB+5XyQGh2Dm/PTUnvv3oPCeJdeUlYOiXPMM/9vAmkRZftkeQz80b9eSWJYxk3Rsu55LbGx47gyFMDjXkCAgSLIyT0ZYbJPFCvPxtVIeeXk1H+95nmfwV1EW9Nv54CAff4LEWRb2R04u6utdEVwOpL16kAQGr7lgSbbvB2HSZjrgTXw7YfBrbY86b4WpFGyPj8jOQ7v6QpTVjCvMPloX4TRo9yAampluE/1mfj+uI/EIquXmoskXPtCJqaSc13GCJvtX09O4EuGISInLCwnYMO3nltp6LqTnGcSXv67AtqFki1MMGnTtXiVomRd+HIhDOZFD+9kyAve5l9KBiRpqVgpOU6m4ZOGxl0W8YA7ATk4hy9ta2nm0w25OMONGzIceis933oTP/TaMZfGCTdur+wNEFmQoPzUgt+D7WMlBuOeGw3V4v8wgwGUn5wQlXnN/F1rf8YpCTBvRqT/oCIJ+ezYkUCLULgWU9BmeriVXN/BsDZT2Y1LBmX9J7flz/EemvkI2iOF4VuR2XvrIQDO5IIBHK/5CNX7kzUBjWOiCnP1lw4mQTgL8IM/P0qLd5P7hvwSetBJdW5TdputecgGyEuGLyYqKCGDF6LqwUM4qCflAh9BmNsUx4RwA8OaHdeL9B/luKMKyLpCCwOVCFbGBqzuZHyQwIqtfSv51QNbcpjtQ1TvfSywWE0BZGrXK4kF3YRSRCTGhVLhTNlgiE4VfK6maK3s0En0fF3AZFvUjR7cje/vhjd9Sw0K4sSSC7RR9CFbCbjAh9P6Q2H925634gLcm0PVCTOmseamACjCggBSuU9GCZ9uVdIu6sopwCGnAQG/UExIR/KpRmMnDhC0ORCipI+8f6lLSjUGRxrqCBsgbAvW5lco5mB5GiTpBvcm4/gR9agigLeNaVrrbiqbWaJLhiM3OTEyAjGD7VsRmT6iHcjiLOOhBAIkmNY1Av2d4n6ruyGUAzJ7yRqA0ZedRIurr5TiW1XAHB+Fi/UaKLEpA2/dm3C4SnUtKcPAW7C5utsBiEwVDbB5D2y8JHOi/IrgpgSJBYqgeIDOzoP3aKrtsp8ErbOHKOa1JGSNR2TSSbirjI5ppnYBlIpVWuJCkMpBOIGaTWWtb0C/pfIJQljc/IyhV/ZYPvxpYvRwezYalUy9Lpe8e0Sy/yjjgWAY+SDQPX4jWoiczQ3FgKOqUVxuUAgvM5Prmj7O+saa85b+26OS5XY6zhP+QhPmGBYb5oMKvZrHflTOrnKL3wlynqCmtazvUPHJ0Q7QEBVoiCtAl1/IjeTnAApC0feSSyQBL3VMK4FFjbDp7IcW0UfYBn/oS4Y2MTUyKaAqtOB3k8WOsmp1WPtWylOBP/Tcgolw2K7SCHzFDqX3M5ndaWAZZEut7Jc8E6YvQJfT19XU7p/Ybpor+HNSPZBlwnOn8zGrciO008Zvp6E8MlgZnO0bT1J2UpmFHuepoF+g16GbSoeeuOBXrDaltrUe8lJPR/NQ7kbpS1dlHExB9iXXoHrmoglxmiMPJDfs3sg3K8SDYl25x6LK7J6iq2IRJn3zF6Uj38iVbUdYHzgOH32nm7sFI3qJdqbII07+yxeST7jh8dp40YXu2xRHizeHRN/1SE2U2Ib6yI2ZTkiutjCIpKuMdsDe1ivNP2MogGDegn4PKkOJbJG/3/KyPMZRHlJ6MYQOV7CGqEO1SaeAv/cT6dIKYyuYy9L6QBpMS4YnLSQhIICaGSdFB9uCIfeDX6l6DIRf+aHTbJz5tL2VOQ67pjODBt8/buWNkIC6UIVhgZD//9FdkigQHE4S8ShgiYw3XN0OQOq+FTVpHtnDlZWklXrdQeNgoId6chN+PlEqnpIH0fWPHJxZaVycVgxfubENPlt8wNYVDi98UCDhsNcsQFFitiM8KbfcM6PpHjOBeGnIrZJrzusIfqOacRsmifQRh+3/c5jWZkm+2qJBZiXo2m0MNFLwa4nOj6++GIKsWsqgxSzWBZji2pGQ+x6ZzqLDkqihvdD1lrr4xmVUu4JLhiUxNDU4Aij1xqDA7lNSlDYctIH6Pr4OIDjvbmoVc1Qn8UWx1z4g/GdRwIDTienzlZS2AlxlqNS+RVuJ3WHurYFMUgPBBXdO4ITwoXzqzvCkTOg1Sc7BEBsIoqCpnNpJhwK60Xli8PxQNhWcXeS7+Ll2o5eiNSL/udMpFvUvheUNh8rfVAUqg+bteGZizEnYqTsQi1TO1Wih0kjSzVPniD4M4ilBQBYKRen9lcPHL5cSIy+WwuSX3aEckvJVFAwe+fjIciCiyB+dCZpE7e9M2Rs2sv7I1ub5HepZHxispcM4cj9W75FFR/qI2GqiSmYBpIagrujGNPC2Frg5QKmvWtLzVvLiGmXVHVxf03R5R5CAyZVi7fx7KfsK/3j+xXpr6U+9NWLw5siz9K54/PeWCp0gS4YyNDUyOqq+sRphDRMzCxssY0LGfHQcgqAXq2p/VkgNMnCM92ITJfHWfOXRLFCdeomnJXW7PfBAqQU/Jyunid32rS4iueEYewjz0G7oueD+Nt9kds5ad+BlJx8rRjfC9Ft/CdsJszfwbaasIKcuC9yijcG4B8/yqULFKO4wjGotlIVXN9zh5DWSMX36B4bhAPzuyxXGy6ydBqBRfSi5Utiwo5tp9CVWbRorlI/rk/M/maFsD9twkwy305zLoiQzlmN/Md27CzOZrJHCJ2T3ZmWO0oCjBldnHPQ71C+y9e9pjHlkV5opGSLZzylCQEQOorUF+kBzJLtdt4QHcjUmFwU19fJ2VNHPRDs5wUTYqXrXX5C+ZhbPFZG6XDv+0bUZfmHBvdq7JGorosTksHRpkWav3okkaCCknw6bmQuzv+BLhi4zNiswqOeOnAjIgKfCfzT2akldOkhEKr0aqjhQoGd8+D+LLltkO+cnYRfI8EU7FceXgKSosBsNHYlpFpucZEhZmyjDjoL2X1UB3I5cXJ07z2WUHG0P+vjzHbOrqum1nmnKgM3NGJ/rFcVJt1Hbkptz8k+PYtZrkCvvfU8CX0pVazCuqPE2bZiJgh8vltWYjqBkf/oAa/8kHac9MJ+OnIOPAPtk+XH5BYZoo2aO7yNIKUDj4COxOexlG/d8u5vL1m/A1JvPtvmdIpU6SoiGvF0kq17lo1Z8zgQSU5rT1OLV+9jpgcjArA4FAB3d6NMpA9yQ49GdjfqBHdpUl32Exq8pVNzhqQc9pFT3rGUfnvx+Df6m+o0Jamt9XmzkUyBLhiUwMCwyh9JW4nY5PUko/l1k3I+tV98wZ0XAvv3QTMvAks/jmyYXXu0H0oDssqMg0VYA8NNfK4bNr5DyAnBoEgiVtvbcVtaRcKdNHlPA5wyOTE/oNAOPkiiga4IuJz05TOPNHlVcSh4LeEU4Whyc9MZCadtmJRHCDPH0J1GxPAQnLesshzJ3AHwfuLF4VtWEbI/MKRUs+rDeCUMcGpZDYU2YcekAO8haQ+7Syk7/Gag5EPR4Vjh0tLoa+EglU4eB2flkq10/eCB2isQ93SHSm/IxDO/esbBq/WdtspvIaWoFSjUvAydt/Eux3VWdPBfgY6S/4e5AKb3Lr34GatJvaRFvr/jgoE9gJYJqf8U0oEowlhQRK59dknyUAAGAS4Y4OS8vL6/Cj5LsFFKR4GG+VJWkpX/zrrZTE6hGlq4ZGswkOsM8Nb+3amhCZfPkUMNsRdkstWotDJD9nZ24kaqWHzHSyZw0TvuSAUEniHKfyXS9xlfrAtdKs6vv29LFR7Ae8gMbBDKBfSdNU0oISbzZhrQE3W0olBFnLp8kET3hLqrUxegecuoiJZI0oHAoXG6U2ZKMhexAL3Q6hZ8VCAxgLaIZAFyTnXM1yizkuHCHVq3GPW5lleIK0h93mxFj8YJHNMOHxrGe0fQ0xaUu8pQC/znf0ZOX9XPdJfiAh+SAM3By6Nd/lon6fFWlBbv9OrZTwiiiZ88QI0Bpa7BwqW2gksItg9KYIjI7Q8uFkEfFPDaeyDqOlXZ30soYcVgMe3Rh5tdSZc+t5vy9QiHkf387iE9nZ1MAAGhzBQAAAAAAAAAAAAUAAABTpiLHG/8t/xb/EP8D/wXVsP3/OP80/zf/Iv8j/zf/IEuGKzMwNDGC15tqiNA/CPxSbYZ+6u8TBU05o75GmEJxrjSfDdnHaGfqmtPlFdlbDXWQs7llk+TXO8oPuekLF1TgCejOO8WhFfIxsX5T8PnNFSMjLk+iEZnJDD4NpVOv5fvhsqfasX0DN3sSQHj+wabJpIOYwzG5M+MZYzWw+f8ODmzsiw2AETQYMamG1dh2heLQ0Mi9roGl9D99Z50VvEd4fc/Wp1Yeg3+t/x5MHl71gfWGItI2rl0AS/MJrPP5g6p72s/WxzAYOKxE1tniFlbFGgML5ERK2sQ7f5q+79opbedj2ZqmWk1hTc3gYHOq6nixF5sIFEPkwFCjrcjqNpNlX4In/tTSG3ATvGqPqdbkri8R3hkcurin+MnzDrXdhCTnUzFQq//Q9jCCgEuGMy8oMSufuuTHKXtEdr2g6c1MFNtjNKyBwCrI4/rWSKi+tIK9VGKPuyUfCrhaLHs19ChQR0cSA2a9vLovF4Tr665nC0tP5zZh54CQcaEQkOMA5CRCqI10tfxEMX3ibdR361E1GrbXToD9EMRx69XIUiV+eGA4ZNDbSAQpmtDAGSynvXwXnwcgHlIE7DF8TGCAzyukdpCpqoEsP5mRrUKbYVOfCxpCHWFjM60MKmilg/kxZeb5ZRXcxt9/V7hIQY6AiMXunnuCNg52yuBSHNNkoxm0eYpbZYHZKyRFJua8O1EqreijTOMeX0cyIIjE9oZEoFzTBc3hT5HNltKj5mUNj3UoR+dtVTuMVFJh608rBDNq82tLhiosLiotiOgIPeuIRaHNlJms/+k3KhxrDATGLIl2eSfsLURRUHE2B+vIEQ1rmvSAgTTOyB1s+sHjN5mMTW7gpkkYHaIjWKFN3WBHSBUF6QGZ7Cu0Ui7aUW4JUuiKavCVsEfU29uxjUYLGDGN46WRwSiKBB6R4kLOyp6tsChBQ9DAcxHFc9qTgBmQikaf6WR0P3UVNg2km5skammajsxSDp/oqxo0JH4On2BxAhIEYxKE7R0/if5GiIUnZkwC60Ew/iEUDd2/RjwIfC1OROhXv/T4klzlX27AxvX1qPN2K5uAif46ReA5qkhcsPTcgKwDnf4D7xNO6A+OJ9l2vPZI/vToaN3URIBQcuRAykYQS4YpLy8pI4n48SxMY1LaR0EjWs6nfd0MjWUqMh9ThISTs9rOSJbfO7x63O7aeA8CifoBTKZFuX87iRBD8yQSDG8nHkH7lPQRlfHr1hheyCShUvLf4savHh5UnSr+wXaJ/wkQb9EUlNetRc3LoXddVuRFtwGXqj7pipnAm7VIK0vx0l2NF0uPVymDOBgL0InssfVvnzMxbqf3ghuP7jSaYSixrXctUq9J0Ia5Bscn/CQA4vXRUWzAiZDhLGlX4sCD6eCRSO+l75SLj97ua/bUrwNGP/o8BTHwmAKJLukR+NaLkz3d4tCjWdSKLnhuzDHt7Bkhafe3twGmXqP22yzBnEj0S4YkJykvMC873nSTowwGagjii7tKKbWdypuhyQYsYm27j9T9defePA2ggIkkHHsTe8QYuAzYvxpjgla3NQW2ti1UxNq52H7ymb7jsmeyHm1YkC2Lhg6UaPIts8DqO6/MLJtVvNCeBANBJX9ZAtTzIanbj7kQOCaqA9idiTGPlfm1+JDKd3A0emg1x7G5xjtVWAlvMQ98efZmGtp7cYKxxNzIYIW2HYsD0aqJKoLJj61kEzEfbF1MgQD0m9C8ynerdqJpfILbGBuzhsBPMRPdsOAgKcnKGXtWAgwuvdLk/ERsiVJLLwopRZ7iLZnz45o2P6iCIv2l5Bd/xKpmWuHgr4NeHCBLhiIlISMiLWEVKAronI5+oo8/N2kgNaayhEUVe1YSBwBMSW6uSEFH0y1AdVUeTUZsq4mW0zfCCqKZnZpEZYwhWKX7JdDpmxe7PkmwZKIpceCdbrszQTLMhKlR0nbwwkSOHM09zSG+hBhFzNmNuGAnXB/a2WTF5km4GnuFEOIZdyGv70Tc3FRvhK2+9Lt0sic5DSHx5yk93Rn40eoF04rM1jvoOOxzn06CvRooTKa4sf7pZdgd0ZyNb3DUeiQTViqDgmfyrToWHPOOZXwPY3JIYA0MXYBLhh0ZGxkdGq4WFQaSNmOxGtGvk+dzfmlEXVkTqEuQjeGxAmAUZB0UEbj4W+RkTlLaZ2ekhQCWhmxuRhhYEhjqHMTr9/Vqx3QkQJmH+MzxyIGx4ugUwY+AEhjn3KM0GD5iCHTcJ8yK2+ceLXDBoGQd5BE/KaIVyowHaKulyIdRf/NRFXSHsenR6VVBY13QEA7fYrMPYNRmqcCuFBHQAq7OjCHqB/Ww/8JE6Uao7jjnYEuGGwA3OzMSDYJvWZYJahkniQtOfZoJXWEIS2kboywPyFyAYxj86Krvk2DpLjvcgQa+W6L084uJ51EAXYUjk7Ar2Uu9lhxZQa96HynC/RlFLHhrpZsbmwEsm1Rks3XMLfwRpgXWQAviNR5vmkZCAGx67rR+2gNDOE4dbz9VxBW+xY3TQFApQNtUxeJaxGe2akdVuzGlTdc/F9z2D4f8JELssQLxAALSkMJTR80tkafujBBCRop6yocFHE7sbS4kWl6UXVgn3pCl/73JVWGBjian5jX5fUSbkc/ldKgOIQVOtgBg+xKgIPHdBbln1t8831lPi2Dr/eyX1jloYKBLhjIvNjMypiWUfZnD73q47rcK273NnwDhji4a/ca5n6SYy6AK/DoshwZ0RuBHyhlTlhNhLbjIw/+jR9yWg55KSUf/6ja3feOnkcjXhQ9GsR0YE0qjZ42Q3ewpgx5XMa6UK0k+yK1uRpt5YoHRfoPe3NT30jUIeExOZTJRhbXPQoHlhhBvmiIc7Id9UdrQvkfyy2IEOncMZKqKcqDBr5qYqRcCZABEwIw3pHUr3tPiIqg99TuNtPnbvUPRnVtd9yfwa2T1NKq8Tu18+xHvnYH3toCIIiBWA6ERPRRiRjfiNHH03nJCpvUgAfNIx/ZJh7N+oVxZV1HkweoQUPFJ1Iz5PmDAgxrWBqeAVHsZ1PclaIrk3v39T4B+PYSnCnOxxaxEUmQPGr2VsPrRvv7GQjp7iCVesrit/EuGLy02MzGDDHyd6UTUigLHxBkGQqEHcKLReHHNZMSIad9T9Xtd7KxZsHVRoGxVQNENLZjaEqeJasxNCU3hk2zPBGkUPGH0Byb/LThat0KurLLScUl2h9pHu8I9/QPfS6S3gKWRv3IFzRX234XJOOFbFjlbDFgw1mVcnhBbXNsqjre6Wjp5wxJ/+DI5+mwS7kNBbFoSJr0yJ6aWMPuwoLOd718kbwRhGrwoq3F4NTumwaLsvFwnwzR3JC84WpHOtIjNSE5OdmDWKkgbwKfRUD6Xr5ZUGD7WJPXmJ0NQqG5lPMIauulvJrNNWIlGe8wNOAIjeTCEci8PA/z2qUanrgRoE9OFjEImRNGNG/gGu1u0Av9Ft6Jzljf3Izikx8V1HIepulriGvWbidWEJarUWqbM2TRLhjEzMDQ2pJCKA2UaJvw9s3p9FUn4PvaB0Qx+KnMg1wklL/q8xIftGoj9EhtGCILv5vteyysNIJvzrdX2BVZ38gxvGm1If8cRr2kaQnL2URWf0irNNj+MQQcZGIBu86oRd/EWpioOYFr6WJsT6CENuEnGImEmdzcnAY6Tl7INN851VBgr/D2+qNBoOxIJJSk2A/6HSEi0XH/zUJ9DN2uKfdjjPlmAaZsk6vOxyqccVry9+5QUAjbtgoyDTurdueXSFtyl5rrpcP8t/MDJQnGocDZ9iEPjJySNuy4PX/abGW9BR6ReoWBIi8CjmFP1FCpF1dh59lnccEZdf7X2j9lTDvBf61Csz97o/HKlf7Avk0hXML4uwiL6S+zuZ4NKBGuy7HcZkKVYp0HT9YS5uldDmdLnqwhAS4YxLy8vL61xKS85DQB0mPsqXTn96wr2C769JTzx0bru31Xpfl1mQKJqPhPP04as0X9AR4idSASsXboCXJTrExC7bl3Qwera8HuNqOibTO5udOF3xh7XM0/ICRb7K+46jHSdns7086X2VW2Y56kzF/c6vCTEmf+Y2Dj7D6/XI59CJXoSTTc7V+wBlkVklgWX0uoBErI2oh7Gb2XrjBuLMsMLPI3UU4m8eAxT0hlfn3Y4WitGlu1P5DATPAxvjKnuiU/qCqyeeatjEFed+WDpkETj28FP0S/dABwHkZrLRZinQtNRHBfkHBx/dywSw+YHloxvoJxtX2Q4oBYld07Z6TsJqOhB/ine7e0C8GGvUZxXlgyHU255YZO0z+0CaMrJ4EuGLS4sNTCcBMHESfJNVHl9GWvMQ2MBUAF7l+malO61BNb8tbJVDiAQIxcOzmtpv7tfr3KbBJ5gekGdS62Hq8MXiM6N2EAble1sYd0+NtRh5yOrZUOOhI9jzxh8wslkUeRdmhbFLp76TLMUmeCNcCtroRw771Yag/7pzZx8vZjDCxwpWQiqMQ+wSDJ3UVCa5WI1Q0eiTVtQYdDDyJ3+DG+IoX46Z0zP+bJ45JqRi7Cz/HQEj2sH3OSg0nCiFHCR8YXFpKh+dtAwfOspImoUxs2htbemZj/SZi4hPW5mv5Wx1kTDZoZ6Ip9ZhiKfZyXIIzfjQKuIOaAwSRlguL27oNc3NY2Eo2HnfnzBcxi949QjwzQiMgvQrH5i65d+DUSYFsRAS4YzMDMzNq6cWrUEWqpD7w+cp1d6wB00QsemSc3uF2gBuD+jojRTKl7aV3PAn5dGLD2FodKSqop2SLBzwOp8nx6hFQPfDAWsx32Ra2rKB7vS/gIxWWYO9IG9X2tdHWu+XtO3grDXSZWoYLOtGXCczug9I0PAE1Qt5mqKEqNDqksdbxB6TslwPueTKg6spgu/BsSXrqlpjoW1F1JSUrHnQrWvll8SV23EuclvFv+X5cp14m27FVGk2FeINkmjAiVwOcDjnrFmmUXA72IW7TiDwK6L4cHQ7KyDksLpt1h6YzLeWML9Gf+dZdx4vxR0beMwEB4nDtBvOyUjFSLQy+Kz8P0WTYBOiK6ByUiIJuX9XQRe5FDDZf5SY4Q4iAWAWWimtZypUJiVz0Un1coTYiUhOCaHPXhsgEuGLS00Ky6soC5kpi0bvTewP6gNvWB4TQnGghs/9WUvfb5BE+xujx79RxKoDUXIZAznUpKk2KH5fQ6v2W4uecNbtIqNZ9Z02Zz6MxooOorL8acU6ZzmAZP5Ukqm58FhwuCmef5oqPgaEcFnQxYxvEWZ8N4ZKtw6U5L9a2mck0/LnbDg/rJ1Bym5CtSaeUh0zGh6pg4Ip6jHBoRlxeATFmgfIjkB4k1bOVlzWgP1exm2AkcK+j4jxIjbiwGLas13PKIVqdcbvq2Kl0QCjayIutWC+2C1zSF4KaiIifuZ/a/jhSbVoSZFpRto8GnZG5CcZFprGvM3rgjnjXIrxNTB4TF3EG/tTbCu71zVzWqh0K8KB/X1FSpI8UJCIuGxyHAmT2dnUwAA6MQGAAAAAAAAAAAABgAAADOh894a8s3NwP9F/y3/Mv81/xj/L/8V/yn/Lv8g/yNLhiooKSYmmp/FNNET92aoHB/+8ooaTw7rvkkM3dQBwE1Wf63ixGuJOIMrpgmBh8PAgL5OGuGLrnVlAJVuPBR47L62p85dddCTSUOlEGMXPkEmB+CQCs3rP4CCNaBFtvpTsvhBM12HtpCMHx6jUZOWMUcrSdT6g2p4Dz3nTnQfXUuKgHYTaUrR6Z64bCVDD4n3VKOmyzKxbXJD0U/gmlAenHjNCP1ePiCG+whWdnJh6QMhOI2RHKkvcu1L4j7f3S3YnE9+sGdFCrEp7hHJGIBRZWLFrVH8QDWA58CZYuGGYhZYAIRZc6pj/TwBO30pQTZzwEuGISEhIB+G0Y1UnSO2Ok6JClIB8QgkrmIVIdoDnaHW//4LmMaivmAattFxAPw1fdCPq77AwK5R0Z5cpVjJFf21/vxKW8YN+TYYYT+XoEgXKe6/+RH/0LMyUJU+v9EdIBTxNzMJkfflRCsVcI5wY/WLExNh9VchIyEHCcDTh46lJspZk+GhBOkqZxVwaegxBYhjdmnm0FyOb92ZRKDdD1OMf+MGLK775ZwVWDdKF8h3myLKD6+Gv6sUP0gmqdJsD6mLdfOyomZ+KZsHK0BLhhogIyEkAZ7zo9qEdYc9CVB9TekWWeWoWhtL/X4BFXgSFzhwKNWQDhgbxYFHzemp68ywmsLZ+MZf2ta6BYNcYBIOQzSgUUyTuHZa6n7hhuFDlR+QwQCpcAWsOTcL3EHeY936EhdtTweUAWLJ/mvP6CdfU2TqO5CaMaQMiecQTN9R69jwElu//m3MYKLJfZZy936gZNeKeitpz1c+KcdyApC8EVk2CYw4EiFkPs3FK3CsMKEKGfDj/tzdLBBDXhj1Pkq7FTN5XkQSmaxrS4YiHiMbHhIY7ggt2BUEk2IrGRcp0bnG32VSHInno49NgHQSAMSPqoARr4w3GHKVBBhti1ktQwsjxd2fw9pbQ/77DucYMEAPAFA0iwsbx2K3VG3CYbeEbYaprtFQ3ISlSeXtaOj7mephcA7olMU0N4YRZvacFL60Zq4aojdcG2ko4pCuDA8AUHesy7F98Eo/9kM6XTfsF/RelgU4FspaGRvoAg9nc1Gm50ut7Y5b11unBZbFfrwpihaa3jYYl+HQS4YvMDs1NoIter41pFp92ZgENzoJ3MEnWzllbm4/DJdJtmMxpB2v8VAiihofrtqMZKeNGQF8g2kUoUYURd1Nd/qzdLGrMJrGkzjOke0rqhRATWxTjZYa9+GIKVdhWWX0HUD0D36IshVXe80uE2j3xJmsg/loHF+SEKi6FH9B4Uwdz3UIOvxP1w+f+XOr8O+ddvhnvzrCyKBS8ekEB5lhbQWxfiCKmcMmQYG7zCJPbkH1V+oDems8lVpATKTS/tnP1GejgoDpYRV9vYKm3ylC5KRv2EtEgK58CwfUzgXDbrMj0OSQc9tgvKpt4uOPe2+8N9AnJoVHOM6VDccY1I2tNJv2SD5ZiGWoMMKpQKys9rKg5dI04+jfAicRDyO8vWK8oRTWb3d7iwrls9dlsxopdTki/waDStOKoiru0fhSSjnIloOgS4Y3NjUoLqeAl8rHV9g0h7jtEaRmsSRE+KlCVTpYUnlhf5uECPc6RVfuzJfDUqc0YS8n9UflvluSw02WWrCoeSoX0D8hw8Kcds6pYz+pTK1U1RXew88pUNNJU6MZo/Y8rfDtZklou+aPpvcLVBQiiVBqpiSqGT8cnfr/Cryq6BhX5I5copecrGYMcOOLvqcg7LlFKtvx8Er92Bra3gCz/iTu6kKPv9iH8KmQ+yS+ii2wVLp+zIvqn7ppEwxfs75LZIfKI39aharbGx1pR4T/HsapfO0l70UmMky1JMxIJi92M6xZG9spcZg1A1OTQCLK0BHapvB82OXVQ2yfL4m4q0P3NC7KRahWLVIYuvkeTacSUkhyncyo8FokwBz3CC8y+3UZrzTxYERHOrpIS4YvMTUvN6rktdZOkpQq14yVKVVhBtRr8mJuVZ9XMs9nPjiY2L8cBWUuqFxnKE2THWXVdFRAp5cGeLyuus9kUcu6DhhzlshCCl0xCMCPrUyv36qXr4V4OWo94/2A+8XWFEhmZx2UuKZ8Ebbbq3KSmEGkSlBOvirtvGtVD01gjJtJcDBaWgQI/xM7CxcT//7cKkcm0oz7T0ju4q7VqQVgSsViiVt1knLGVm6q5NwdgwGPwLGdj7I3n51Z3yYCbGL+EJY3hCDZWZkG8RitNu22zCZY1isFdQ8FZ86obX5OrI6Wwz50eZvZf/XxZ86mbpPTsgPWH/pdz07yBPRwY0fHlheAs3pmM0dnCLP99webiVtRN6GzW1WNjqA1milZL5S9B7fSOiZ6TA2JO1KQeVfTdlZLhjE4MjMxsoiByKtc22u/t05sJMZaDGlGyGMsuiq0NQzHD8WnqqYgKTggKIhCACtgMU1fGaLGgLFZN+M1UtkRkdylEneN1FwJNljHdsDC8BxZx1IBG1tdMhRuvwIfQDiJdjxMr1sZxtygxu7mb7SAsV15csQEdNbVAL2NNc9oqQFveG/hmP/K0mk62ad8Mq0AC7OH8zPsHN/0YvNcUBoJAOC+pIEc2mPDKUDT1oye97wy6Kwjz5gVIEalcxPk3QhFbvKSKEiya7bx0mBJyiZCVonP+DC+gAALoHQx+FWxse9Wt50VdJ7Ue1lBhCsOEEzhRUEpTZ/zia0OXbKXQj2KtCyI5qOLgqlExhiYgQUWTVModzp6fw8vSSJHL+oH3KsOVfi28V3q0HxTtSq4MVw86j4diEuGKCkuNyyCkqNXWayf+gpIoOMRBLtDIwbcwTDRm8AxZxE2W25sI9Pnz+AEZMowgkZjE3Sz74xWgLOgeeRPgv4XBmZuA/VA1sl8Mq8aduj+mchwLYZTUkCCTsNWYy81nSyaEMH0Tmklqnqj0VV+vY0shrixpt2uIHuv7LO+8r9HLSGNKC3ApppGBqRfwRzuryh+uwuLsTBtYdz0adXoFoyny+j3xOl+BYWsi3ZKMpfadTGiu7CwKO2ej73cYKuBLJtfYFOVew6bbjax3b2pDU0xrpvwXdaiFBjdheOxBAk/mNIQAUuoDdJQrP9+PqUCHW4dzX2awhMRTEDqG47oSrMS8LDH2u5Dc0URGneawMywqdL+w9odgEuGMj03KyiuDl1K6CBAYZchI2YanUcKgMTmiPx26fRGkID8mEXSwT8cvX5BCXvX8ZOSxTQOPPZPVqngB8p8YGw4SkFSeFUOFbY7sXtPMtK+ps1J2TO4skKf4NsMK1CN4dRMSCWPCksEAkiXJKyw2BRK1NMYWMCTUk/xJ8MV4568YU+z+Md6GrckG2Lp4DF0huyZYoN2zqk2gAfpHSZPTN+nokVJXtZgBBFE/0UolBFr7Mo4q8f4xrbp+USAFGQ7t6FtID0ZKNInt4dpkP3bLqsg8Px29RWTwJORmX8FtVBhIfSmoNUoGCyEfEkhiAWqxIbXncavD1M6OOqsOBN8pWKTxDGtEMbVWKOKnGieJRsdy1mguLkRi1U3TfcJtByhbdv26brYdoDaybHAd4bqS4YpJyssNJP2yBimiDXlcZgFxnmtkcVY/Sc91cTqmlj5HTd2W+IpIY6FIbzjqxm4kLKzJhg0gE0BMZRCLtCC4VWDCAJhWvewNDGnVf4Hh0SDpqrLvNtEg5qokp21YZbHDpLdYzAZ/Rn1H0x2/C52ry+p/9sVJBh4ILa6EvUvZaZ0gK6K/pVgMh5VN1bjtKYLSA8GBRRb9QQEtS4zt20+r8QwchnbXmYCMhCb8MyAruTZBBwWdpK/tfciu4NH477G5uj8UC2rLOLYBcWsBxDx0p7KN51hoElz5HaULYLMRGxRUrA7O0nn/UiXmSFRKAdASqwupnVXH9Qf7kwcQQ5SQKawgee1GrMLaerR9KE7sLugx3D4S4YrLzA0Ma/NNq/93KsAtK1FdkTP+MZb+h7tnLhHauabjrpye1unF06pHHUw+E9LLaCsXNDVdzesn8hUclWLpf4iNVKe/OVNTwjOP9oJMfVUukGeSHcLBIVEZI2L5q0KTKXxwyqFJapqywVfidOoSHi5gQGBor1zIk75mlqciS3ySKtcEZrP3KqeNZxATuDfkKIZElFqbVPYf44Qnv+dGmRuqgzH16yae3yL51O6nYXW1Bc/EEXlV8S2TnOxGMkHFqFylnCf/dJhqlJUmmWI6wzg5rK4/LWmmjSjrlHWxUb3g2dD6DFwrYCKkLcH8PyhHww4283woSfb7pqPNav6OCbVnqiEuepKgnzmU86p3hViKcXAxRMzq1ampLPEqjniDaC4ZijouvxLhjA0MjQpoQpqI0sECoGMV0hYIlVODh1Nz6BZQU7CjppRyYr2Fe0EmB/fk3pLX4BWj+GndwWAoDDKde6au3jqtk/k7H9SCb9BCOcNcIvupDDG5ML9gtw5w8Iz2WVq5vADR0qTf0JTEhbNcKgkDAENYC3haHQMw4hO4JQLjBwVVksOhGMCxyqOKhwcR8uTITSpDn82ijaYCdosZu6ArFARpiIUdkIK5tePvWgxllTn70s7ilnA6gHDjVsUX494LzvQ2L7pEQe9XQQRsXgkbMM/gK4iOvBxVnSUma/VgPLm6Tts3dc/VK/WA4cZ4KKJWuRxPARliKOgoEBSriMvkzsC1l/HEFJw68OtTAMCmKaJyNlLjmIn3LVDu08bGt5H19anOWmY2IeZzNl9/An4S4YwMigwL637q5WfeLLm6jOVfS0khrWFa0gpr5NxmZ28R78RTUy+se1geeqbMtJUUQEo50VIGal7Rgr33g1jBpzDeKsg1Ys/CgO1X2zGGap+9BnJ6tHiaXCgeOulP0q3Ov9WJwW1ROIIqu74PhjKpnExxDNWxqhwWiuM3hoei4RaRayIc+WSRPcKCiPEdT0Dkqly1G3nakpXTWwozqXU47CCd0Eqi5LKVhtJ+5zX7HZ5DrGfUg3EMcZPwcniG7x7CKothYuQdSXYm+07VuE/yUxI2FppgqvGQSdr6y+V3bme/syoke/blGdFCtHaQ4dAq3vGs6PYA6fzgaJzK02R+Mzc1NEUCUFHhNK7meNCq90SW25g34c4ndKW3jwo6IBLhiooNDA0qG1LkSnMfyILjbdTMRnEO5eUnmfAEI5qqxLypUFgNLNjuXeYI6bEp8lsqaPWcRJ897PoxdyMi+OycVNYBsXYNxDZfHhaMbF1X9l90ilQ8IuC9Ksg28Xf+fxDjtej0/Qvm0IufTkvCl3oRBO6lyPw0cJlY5EDKLrAqXM84EoxzAvpUN8C8MCpcoUk2DtMCGeNq+vvWWReC9idq+5LGR6m6lpdMKrf4Ikm4PGk5ez+eKEEEaNsoeyqyzIP2Ed0lBx8ddxcAsSg4Xhvz54vHs2G2sgEjbbXI9p61f7thc4x5SrInyaxAMhdxV5eq2dEbYTWcOJZ+Qk9gRLk02n18Qsa939wWZrMGVRizs3bKp9n8gKiz0h48/uixWptwE9nZ1MAAKgEBwAAAAAAAAAAAAcAAADk0KMZBP8X6KFLhiksMDAtrib0NA2sH3N6hi2H+3kiFOsi9m3oIT2v5sX9FQSQq5Yx0fWeWex3JeCsZHZr4rPqhcPaWcW/rMVrTklGo9Q8XttHkoJgsDjUdAz5Vu/M66pZKbmxEKhxHULZs0CG8o5zaQqyO7moSSSHU/0YcaN98KLcp1kBRrzfNFBOaFsNB0Mm1yfqkK6oZyMkVJ3+NAhvmgFfhZebskOU0IToAHiJViShORNcImRnEHw5IUR6n/Lq2i/AhK5Ev/PPcQ0CDGrdu/kB6HRj1HBlmcHziu3Y8HknrUhzOVtGqelJXr3kUEAJfKd+ZQnlAVTauq1Y+c9yNzPBe4QUdNSrx1E1Mlz4+b/pCgOmQeYIt+q6EeZUgEuGKiUpJCOM27yHnQaUhnwOA3QcRFuQExclWqmnCuNe9/w69BQ6lkcghqWR8W55W7OLwyNI1kjl79asuBpGaxPRQ04NZGzTqHkfFKErMnORAxTUcXG8idVssfgJ2MrTVjMfNIJQFAIO+Jfvf/Gpx21E1aiB9jFrgIMGW+P7vqCIOeG2riNTzu7Ie3oVZjMNk5Ci9Gbtqs7NPNoZQvVsM1e0LRyAZvzj0bfNX3bQavg+/8/4Bqm9ffC4+ZSJPF2Mg1pD62iaQCD/kY93/ZhDxK8kWN8ej5rGeANq1TuMtyAcD4M1mllZINhLhR0dHiMbWPViGy7PZj4RnYX5unBCuTckDoL95ovaJV8x2xhmpuatjvCiVAPvI6QwZ4t2IfoltSsHmOMRIfKTGIgXwBOEq9aQW6ECZz+08BbDLf26wDMeQbEyXVTAF4jCzroQJB66fZ/swqKkHFRSB8EKtIBrDlMs2UikElks4oAVM0M0E44N4Z2xFTV30qFNnBjviwW7J3WTbV2gzwHfoA=="
            }
          },
          "webhookUrl": "https://n8nw.qeva.xyz/webhook/turnos",
          "executionMode": "production"
        }
      }
    ],
    "Redis Trigger": [
      {
        "json": {
          "channel": "__keyevent@0__:expired",
          "message": "usuario:5492254596618:ultimomsg"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "EBMwLGTBawYqkZM1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-08-12T01:32:41.342Z",
  "versionId": "a122aeb0-bde0-4971-b4dd-2787d0d48fab"
}