workflows/PfzwfHKOg2IV1kPh.json
{
  "active": false,
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar visita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reagendar visita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar evento": {
      "main": [
        [
          {
            "node": "Reagendar List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer detalles": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Nombre y Correo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message Type": {
      "main": [
        [
          {
            "node": "DistinguirTipoSeleccion1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Encolado de msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DistinguirTipoSeleccion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DetectorFechas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chatInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Validar Cliente": {
      "main": [
        [
          {
            "node": "Cliente Guardado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encolado de msg": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "chatInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatInput": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables globales": {
      "main": [
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DistinguirTipoSeleccion": {
      "main": [
        [
          {
            "node": "Cancelar eventoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCliente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DistinguirTipoSeleccion1": {
      "main": [
        [
          {
            "node": "Cancelar evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DetectorFechas": {
      "main": [
        [
          {
            "node": "Obtenemos la fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fecha_iso": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "chatInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista de fechas": {
      "main": [
        [
          {
            "node": "fecha_iso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Texto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lista de fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg agente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "From Me2": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "Texto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "V1": {
      "main": [
        [
          {
            "node": "From Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "Texto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis7": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Redis7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Encolado de msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chatInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determinar Tipo de Mensaje": {
      "main": [
        [
          {
            "node": "es url?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "es url?": {
      "main": [
        [],
        [
          {
            "node": "is Https?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is Https?": {
      "main": [
        [
          {
            "node": "Linkeador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Variables globales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar eventoo": {
      "main": [
        [
          {
            "node": "Texto7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agenda cuando reprograma": {
      "main": [
        [
          {
            "node": "ya existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registro de visita": {
      "main": [
        [
          {
            "node": "Texto9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ya existe?": {
      "main": [
        [
          {
            "node": "registro de visita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtenemos la fecha": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Texto5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agenda cuando reprograma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historial de analisis": {
      "main": [
        [
          {
            "node": "Redis9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete contador": {
      "main": [
        [
          {
            "node": "Historial de analisis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Delete contador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis9": {
      "main": [
        [
          {
            "node": "Redis11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis11": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Redis14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente Guardado": {
      "main": [
        [
          {
            "node": "Determinar Tipo de Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis12": {
      "main": [
        []
      ]
    },
    "If8": {
      "main": [
        [],
        [
          {
            "node": "Separa datos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa datos2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Linkeador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "validate_url": {
      "ai_tool": [
        [
          {
            "node": "Linkeador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Linkeador": {
      "main": [
        [
          {
            "node": "chatInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "V1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [],
        [
          {
            "node": "Validar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Linkeador",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Especialista Gestión Visitas": {
      "ai_tool": [
        [
          {
            "node": "Agente Coordinador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Especialista Gestión Cliente": {
      "ai_tool": [
        [
          {
            "node": "Agente Coordinador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Modelo Gemini Compartido": {
      "ai_languageModel": [
        [
          {
            "node": "Coordinador Martín",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool GetCliente": {
      "ai_tool": [
        [
          {
            "node": "Especialista Gestión Visitas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Check Slots": {
      "ai_tool": [
        [
          {
            "node": "Especialista Gestión Visitas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Book Visit": {
      "ai_tool": [
        [
          {
            "node": "Especialista Gestión Visitas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Reschedule": {
      "ai_tool": [
        [
          {
            "node": "Especialista Gestión Visitas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Cancel": {
      "ai_tool": [
        [
          {
            "node": "Especialista Gestión Visitas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Insert Data": {
      "ai_tool": [
        [
          {
            "node": "Especialista Gestión Visitas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Send Message": {
      "ai_tool": [
        [
          {
            "node": "Especialista Gestión Cliente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Coordinador Martín",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Coordinador Martín",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Agente Coordinador",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get_details": {
      "ai_tool": [
        [
          {
            "node": "Agente Coordinador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "validate_urls": {
      "ai_tool": [
        [
          {
            "node": "Agente Coordinador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Especialista Gestión Cliente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria Postgres Compartida1": {
      "ai_memory": [
        [
          {
            "node": "Especialista Gestión Cliente",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Especialista Gestión Visitas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Especialista Gestión Visitas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Coordinador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Coordinador": {
      "ai_tool": [
        [
          {
            "node": "Coordinador Martín",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-24T08:57:32.586Z",
  "id": "PfzwfHKOg2IV1kPh",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "multiagentes",
  "nodes": [
    {
      "parameters": {
        "batchSize": "=1",
        "options": {
          "reset": false
        }
      },
      "id": "95190608-1723-4d3d-bba2-55d5a6a3bbe3",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        9456,
        848
      ],
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "texto, parte, segundos",
        "options": {}
      },
      "id": "0e9c9a0c-6a04-4dc0-a483-94ba947593ab",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        9232,
        848
      ]
    },
    {
      "parameters": {
        "name": "book_visit",
        "description": "you will call this tool when you need to schedule an appointment or visiting meeting\n\n {\n      \"fecha_cita\": \"fecha_iso_seleccionada\", // Asegurar formato ISO\n      \"Nombre\": \"nombre_confirmado\",\n      \"correo_electronico\": \"correo_confirmado\",\n      \"tipo_cliente\": \"tipo_confirmado\",\n      \"nombre_inmobiliaria\": \"{TipoCliente === 'Agente' ? nombre_inmobiliaria_confirmado : ''}\"\n    }",
        "workflowId": {
          "__rl": true,
          "value": "QNseORjK6k8Pt17A",
          "mode": "list",
          "cachedResultName": "AGENTE INMO - Agendar_cita"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre_inmobiliaria": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_inmobiliaria', ``, 'string') }}",
            "correo_electronico": "={{ $fromAI('correo_electronico', `correo_electronico`, 'string') }}",
            "Nombre": "={{ $fromAI('Nombre', `Nombre`, 'string') }}",
            "numero_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numero_cliente', ``, 'string') }}",
            "Fecha_cita": "={{ $fromAI('Fecha_cita', `Formato iso`, 'string') }}",
            "idMensaje": "={{ $('Variables globales').first().json.msg.idmsg }}",
            "Id_cliente_db": "={{ $('Variables globales').first().json.id_cliente }}",
            "Evento": "=agendar",
            "url_propiedad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url_propiedad', `debes pasarle la url de la propiedad`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "numero_cliente",
              "displayName": "numero_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha_cita",
              "displayName": "Fecha_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Evento",
              "displayName": "Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "correo_electronico",
              "displayName": "correo_electronico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_inmobiliaria",
              "displayName": "nombre_inmobiliaria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "idMensaje",
              "displayName": "idMensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Id_cliente_db",
              "displayName": "Id_cliente_db",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_propiedad",
              "displayName": "url_propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        7280,
        1408
      ],
      "id": "239674ee-9a70-4c5d-b84e-8b4aa359269a",
      "name": "Agendar visita",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "name": "show_reschedulable_visits",
        "description": "Call this tool whenever the user wants to reschedule a visit",
        "workflowId": {
          "__rl": true,
          "value": "zm3WavIVP7tdrihv",
          "mode": "list",
          "cachedResultName": "AGENTE INMO - Reagendar-Cancelar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Evento": "reagendar",
            "correo_electronico": "={{ $('Validar Cliente').item.json.list.first().Correo}}",
            "numero_cliente": "={{ $('Validar Cliente').item.json.list.first().Telefono}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "numero_cliente",
              "displayName": "numero_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_cita",
              "displayName": "fecha_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Evento",
              "displayName": "Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correo_electronico",
              "displayName": "correo_electronico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        7440,
        1408
      ],
      "id": "c3ef24b7-7cd8-4f58-907e-352ee74cd725",
      "name": "Reagendar visita"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lifk7Nzr3QwVSIf3",
          "mode": "list",
          "cachedResultName": "AGENTE INMO - Cancelar visitar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Evento": "=cancelar",
            "numero_telefono": "={{ $('Message Type').item.json.msg.telefono }}",
            "eventId": "={{ $('Variables globales').first().json.msg.eventId }}",
            "fecha_cita": "={{ $json.fecha_limpia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Evento",
              "displayName": "Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numero_telefono",
              "displayName": "numero_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "eventId",
              "displayName": "eventId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fecha_cita",
              "displayName": "fecha_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5216,
        160
      ],
      "id": "ef9ae65e-c5f7-412e-9bee-847c2ee82817",
      "name": "Cancelar evento"
    },
    {
      "parameters": {
        "name": "get_details",
        "description": "Siempre llama a esta herramienta cuando el usuario quiera saber detalles de una propiedad",
        "workflowId": {
          "__rl": true,
          "value": "dYtOhM5ldqc0xj78",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url', `url que el usuario compartió`, 'string') }}",
            "numero_telefono": "={{ $('V1').first().json.msg.telefono }}",
            "consulta_usuario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('consulta_usuario', ``, 'string') }}",
            "idMensaje": "={{ $('Variables globales').first().json.msg.idmsg }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "consulta_usuario",
              "displayName": "consulta_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "numero_telefono",
              "displayName": "numero_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "instance",
              "displayName": "instance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "apikey",
              "displayName": "apikey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "idMensaje",
              "displayName": "idMensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        7600,
        1408
      ],
      "id": "620252bb-e780-4bfd-b436-9f22bae2f4c8",
      "name": "Traer detalles"
    },
    {
      "parameters": {
        "name": "insert_name_correo",
        "description": "Llama a esta herramienta cuando necesites actualizar los datos del cliente",
        "workflowId": {
          "__rl": true,
          "value": "zz93xPqPfK5WSzFW",
          "mode": "list",
          "cachedResultName": "SUB TAREA - Actualizar el nombre y el mail DESPENSA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', `Cuando obtengas el nombre del cliente guardalo aqui`, 'string') }}",
            "telefono": "={{ $('V1').first().json.msg.telefono }}",
            "correo": "={{ $fromAI('correo', `Guarda el correo del usuario`, 'string') }}",
            "server": "={{ $('V1').item.json.datos.server_db }}",
            "Id": "={{ $('Validar Cliente').first().json.list.last().Id}}",
            "table": "=m097w4nkzri1xs1"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "table",
              "displayName": "table",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "server",
              "displayName": "server",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        7856,
        1408
      ],
      "id": "a5e6dfdd-34c7-4587-9142-10273ec3af36",
      "name": "Nombre y Correo"
    },
    {
      "parameters": {
        "name": "check_slots",
        "description": "llama a esta herramienta unicamente cuando recibas confirmacion del usuario para ver la disponiblidad",
        "workflowId": {
          "__rl": true,
          "value": "BMc2xdmYnikYsHl6",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero_telefono": "={{ $('Variables globales').item.json.msg.telefono }}",
            "Evento": "consultar"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Evento",
              "displayName": "Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numero_telefono",
              "displayName": "numero_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        7984,
        1408
      ],
      "id": "8dbecace-3c44-4e19-87e9-1cb15a96ed0d",
      "name": "Consultar disponibilidad"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8ec469c-1812-4701-bce3-96a548649d76",
                    "leftValue": "={{ $json.msg.titulo_categoria }}",
                    "rightValue": "🔔 Visitas Agendadas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "🔔 Visitas Agendadas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.msg.type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c203e3f3-cdae-4308-b7ca-2300800248e7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0cb14635-2673-408e-86db-ce9e0373674b",
                    "leftValue": "={{ $json.msg.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eb565653-33f7-4f16-a17c-b840b8b94e67",
                    "leftValue": "={{ $json.msg.titulo_categoria }}",
                    "rightValue": "❌ Cancelar Visitas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "❌ Cancelar Visitas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "004fd6bb-488c-4f22-b1d2-7ce04855f172",
                    "leftValue": "={{ $json.msg.titulo_categoria }}",
                    "rightValue": "📅 Fechas de Reprogramación",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "📅 Fechas de Reprogramación"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3d2b908a-5bdf-41b5-b195-d4e9298c58e8",
                    "leftValue": "={{ $json.msg.titulo_categoria }}",
                    "rightValue": "=📅 Fechas Disponibles",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "📅 Fechas Disponibles"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7c55af74-e651-4d0e-bf9b-9dc84e42ccf4",
                    "leftValue": "={{ $json.msg.type }}",
                    "rightValue": "=link_preview",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "link_preview"
            }
          ]
        },
        "options": {}
      },
      "id": "dff478be-42c9-4754-9c13-a6e028bb53bc",
      "name": "Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3200,
        1424
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BMc2xdmYnikYsHl6",
          "mode": "list",
          "cachedResultName": "AGENTE INMO - Consultar_fechas_disponibles"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Evento": "=reagendar",
            "numero_telefono": "={{ $('Variables globales').item.json.msg.telefono }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Evento",
              "displayName": "Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numero_telefono",
              "displayName": "numero_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5456,
        160
      ],
      "id": "f87c280a-e7b1-46bd-bacf-c0f9c542aaa9",
      "name": "Reagendar List"
    },
    {
      "parameters": {
        "name": "show_cancellable_visits",
        "description": "llama a esta herramienta cuando un usuario quiera cancelar una visita",
        "workflowId": {
          "__rl": true,
          "value": "zm3WavIVP7tdrihv",
          "mode": "list",
          "cachedResultName": "AGENTE INMO - Reagendar-Cancelar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero_cliente": "={{ $('Variables globales').item.json.msg.telefono }}",
            "fecha_cita": "={{ $fromAI('fecha_cita', ``, 'string') }}",
            "Nombre": "={{ $fromAI('Nombre', ``, 'string') }}",
            "Evento": "={{ $fromAI('Evento', ``, 'string') }}",
            "correo_electronico": "={{ $fromAI('correo_electronico', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "numero_cliente",
              "displayName": "numero_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_cita",
              "displayName": "fecha_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Evento",
              "displayName": "Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "correo_electronico",
              "displayName": "correo_electronico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        8096,
        1408
      ],
      "id": "4c886590-ac7a-4ecf-ae7f-dcefd88d7acf",
      "name": "Cancelar"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2Sx5bbnQ0BLOq2rG",
          "mode": "list",
          "cachedResultName": "SUB TAREA - OBTENER NOMBRE O INSERTAR citas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "idTabla": "m097w4nkzri1xs1",
            "servidor_db": "https://db.qeva.xyz",
            "token": "3WY4UecQy9Nl522fe_DXDSHeQDVSQJpmDG7mMoFz",
            "numero": "={{ $('V1').first().json.msg.telefono }}",
            "id_mensaje": "={{ $('V1').first().json.msg.idmsg }}",
            "pushname": "={{ $('Webhook').first().json.body.messages[0].from_name }}",
            "nombre_columna": "Telefono"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "servidor_db",
              "displayName": "servidor_db",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "idTabla",
              "displayName": "idTabla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nombre_columna",
              "displayName": "nombre_columna",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pushname",
              "displayName": "pushname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "servidor_evo",
              "displayName": "servidor_evo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "id_mensaje",
              "displayName": "id_mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        560,
        1456
      ],
      "id": "ae179caa-fd9b-43ed-8104-cc11f447fb41",
      "name": "Validar Cliente"
    },
    {
      "parameters": {
        "content": "## Validacion de cliente en base de datos",
        "height": 380,
        "width": 340,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        1264
      ],
      "typeVersion": 1,
      "id": "e7d7b1f3-ba6a-457d-b793-5b946cfdb64d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dg5lZhcTnBAZzVc4",
          "mode": "list",
          "cachedResultName": "SUB TAREA - ENLOCAR MSG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5008,
        400
      ],
      "id": "08dd01a1-02c0-4bba-bd9e-479cb41e7ce1",
      "name": "Encolado de msg"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        5232,
        400
      ],
      "id": "e517b991-9958-429d-a533-31c280b0b455",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text",
              "renameField": true,
              "outputFieldName": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5472,
        400
      ],
      "id": "3d8373b1-09aa-4931-9328-edf1b21132ea",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fae28c9-d30a-4250-9a50-5b68c61164cf",
              "name": "message",
              "value": "={{  $json?.output || $json?.text?.join(\"\\n\") || $json?.msg?.content || $('fecha_iso').item?.json?.msg?.row_id_fecha }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7008,
        1184
      ],
      "id": "99c64c1d-af30-42d8-a086-ea6f6b160e14",
      "name": "chatInput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79a702ff-5f8c-4814-bddf-5e3acb5a5f2e",
              "name": "msg",
              "value": "={{ JSON.stringify($('V1').first().json.msg)}}",
              "type": "object"
            },
            {
              "id": "9337176e-e568-4efa-8c05-3bdb12ecfb61",
              "name": "id_cliente",
              "value": "={{ $('Validar Cliente').first().json.list[0].Id }}",
              "type": "number"
            },
            {
              "id": "0c48213e-ec73-4b20-b547-c3beffc38bf7",
              "name": "msg.cliente",
              "value": "={{ $('Validar Cliente').item.json.list }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2c32629a-b718-4e02-8343-25769a72b11f",
      "name": "Variables globales",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2768,
        1504
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos de entrada\nconst row_id_fecha = $input.first().json.msg.row_id_fecha;\nconst eventId = $input.first().json.msg.eventId || $json.eventid || \"\";\n\n// Obtener el título del webhook\nconst title = $('Webhook').first().json.body.messages[0].reply.list_reply.title;\n\n// Función para convertir nombre de mes a número\nfunction mesANumero(nombreMes) {\n  const meses = {\n    'enero': '01', 'febrero': '02', 'marzo': '03', 'abril': '04',\n    'mayo': '05', 'junio': '06', 'julio': '07', 'agosto': '08',\n    'septiembre': '09', 'octubre': '10', 'noviembre': '11', 'diciembre': '12'\n  };\n  return meses[nombreMes.toLowerCase()] || '01';\n}\n\n// Función para extraer fecha ISO del título\nfunction extraerFechaISODelTitulo(title) {\n  // Ejemplo: \"📅 30 de Mayo : 12:00 a 12:30\"\n  const regex = /📅\\s*(\\d+)\\s*de\\s*(\\w+)\\s*:\\s*(\\d{2}):(\\d{2})/i;\n  const match = title.match(regex);\n  \n  if (match) {\n    const dia = match[1].padStart(2, '0'); // \"30\" -> \"30\"\n    const mes = mesANumero(match[2]); // \"Mayo\" -> \"05\"\n    const hora = match[3]; // \"12\"\n    const minutos = match[4]; // \"00\"\n    \n    // Obtener el año actual (puedes modificar esto si necesitas otro año)\n    const anioActual = new Date().getFullYear();\n    \n    // Formar la fecha ISO: 2025-05-30T12:00\n    return `${anioActual}-${mes}-${dia}T${hora}:${minutos}`;\n  }\n  \n  return null;\n}\n\n// Extraer la fecha ISO del row_id_fecha (método original)\nconst partes = row_id_fecha.split(\":\");\nconst fechaISOOriginal = partes[partes.length - 1];\n\n// Extraer la fecha ISO del título\nconst fechaISODelTitulo = extraerFechaISODelTitulo(title);\n\n// Usar la fecha ISO del título si está disponible, sino usar la original\nconst fechaISO = fechaISODelTitulo || fechaISOOriginal;\n\n// Armar el mensaje\nconst mensaje = `Fecha seleccionada para agendar nuevamente:\\n${fechaISO}\\n\\nID del evento:\\n${eventId}\\n\\nTítulo original:\\n${title}`;\n\n// Devolver resultado\nreturn [{\n  json: {\n    fechaISO,\n    eventId,\n    mensaje,\n    title,\n    fechaISODelTitulo,\n    fechaISOOriginal\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        1280
      ],
      "id": "e9b1e34f-cd54-46b6-b822-a7dc73804a15",
      "name": "DistinguirTipoSeleccion"
    },
    {
      "parameters": {
        "content": "## MSG ENVIADO DE GRUPO?",
        "height": 380,
        "width": 340,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1264
      ],
      "typeVersion": 1,
      "id": "aad1ffa8-d699-4657-b963-16246230b96e",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Variables de BD",
        "height": 380,
        "width": 340,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        1264
      ],
      "typeVersion": 1,
      "id": "d380182d-632f-45c5-be64-5062613e63e5",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "debes llamar siempre a esta tool para saber la informacion de un cliente, nombre, correo o telefono",
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pavs050wnuapn49",
        "table": "m097w4nkzri1xs1",
        "returnAll": true,
        "options": {
          "where": "=(Telefono,eq,{{ $('V1').first().json.msg.telefono }})"
        }
      },
      "type": "n8n-nodes-base.nocoDbTool",
      "typeVersion": 3,
      "position": [
        8208,
        1408
      ],
      "id": "fa7a91b7-7436-4b04-9054-8b07a93687c9",
      "name": "GetCliente",
      "credentials": {
        "nocoDbApiToken": {
          "id": "KRVylWU1iQ1qxa6v",
          "name": "Qeva BD"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener la fecha desde el input\nconst fechaOriginal = $input.first().json.msg.row_id_fecha;\n\n// Función para limpiar la fecha y extraer solo el formato ISO\nfunction limpiarFecha(fechaString) {\n  if (!fechaString || typeof fechaString !== 'string') {\n    return null;\n  }\n  \n  // Buscar el patrón de fecha ISO en el string (YYYY-MM-DDTHH:MM)\n  const match = fechaString.match(/(\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2})/);\n  \n  if (match) {\n    return match[1]; // Retorna solo la parte de la fecha ISO\n  }\n  \n  return null;\n}\n\n// Limpiar la fecha\nconst fechaLimpia = limpiarFecha(fechaOriginal);\n\n// Crear la variable del evento\nconst evento = \"cancelar\";\n\n// Log para verificar\nconsole.log(\"Fecha original:\", fechaOriginal);\nconsole.log(\"Fecha limpia:\", fechaLimpia);\nconsole.log(\"Evento:\", evento);\n\n// Retornar el resultado\nreturn [{\n  json: {\n    fecha_original: fechaOriginal,\n    fecha_limpia: fechaLimpia,\n    evento: evento\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4992,
        160
      ],
      "id": "b03dcda8-9050-4d2b-8a5b-6fea211d603d",
      "name": "DistinguirTipoSeleccion1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gate.whapi.cloud/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_time",
              "value": "={{ $json.segundos }}"
            },
            {
              "name": "body",
              "value": "={{ $json.texto.replace(/\\n/g,'\\n').replace(/\\\"/g,'\\'') }}"
            },
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9808,
        912
      ],
      "id": "bc7377e4-7e88-4357-9585-5afe2d4d0012",
      "name": "Texto",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekaTMbiKps3wYx80",
          "name": "Whapi - Agente inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1) Obtenés los datos principales\nconst datosCliente = $('Validar Cliente').first().json.list[0] || {};\nconst nombre = datosCliente.Nombre || '';\nconst correo = datosCliente.Correo || '';\nconst telefono = datosCliente.Telefono || '';\n\n// 2) Obtenés la fecha original y el ID del evento\nconst row_id_fecha = $input.first().json.msg.row_id_fecha || '';\nconst eventid = $input.first().json.msg.eventId || '';\n\n// 3) Formateás la fecha ISO\nconst partes = row_id_fecha.split(':');\nconst fechaISO = partes.length > 1 \n  ? partes.slice(-2).join(':') \n  : row_id_fecha;\n\n// 4) Armás el mensaje\nconst mensaje = `Fecha seleccionada para agendar nuevamente:\\n${fechaISO}`;\n\n// 5) Devolvés todo en la salida\nreturn [{\n  json: {\n    row_id_fecha_original: row_id_fecha,\n    fechaISO,\n    mensaje,\n    correo,\n    nombre,\n    telefono,\n    eventid,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        2512
      ],
      "id": "fe6c47f9-0166-4e6b-a089-2829cd67338a",
      "name": "DetectorFechas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6f2449a-a8b4-423d-ae78-f783977ed460",
              "name": "msg.row_id_fecha",
              "value": "={{ $('V1').first().json.msg.row_id_fecha.match(/(\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3}[-+]\\d{2}:\\d{2})/)?.[1] }}",
              "type": "string"
            },
            {
              "id": "d85e8dab-ff11-460a-9ab4-83ff62869e71",
              "name": "msg.titulo_categoria",
              "value": "={{ $('V1').first().json.msg.titulo_categoria }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5376,
        2000
      ],
      "id": "a75113a6-3eb4-449d-adea-d26fe5e6754f",
      "name": "fecha_iso"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=msg:{{ $('Variables globales').item.json.msg.telefono }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5616,
        2000
      ],
      "id": "031982cb-744e-46a9-8a33-6a45827f9151",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=list:{{ $('V1').first().json.msg.telefono }}",
        "value": "={{ $('V1').first().json.msg.row_id_fecha }}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5152,
        2000
      ],
      "id": "d12a7ab6-d055-4426-b09b-24c115ea5a11",
      "name": "Lista de fechas",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Lista",
        "key": "=list:{{ $('V1').first().json.msg.telefono }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4352,
        1728
      ],
      "id": "db912757-1dd2-41fc-b5f6-4e7458429c7f",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9428093a-b316-4189-8923-cac5f49ffc70",
              "leftValue": "={{ $('Variables globales').item.json.msg.row_id_fecha }}",
              "rightValue": "={{ $json.Lista }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4608,
        1728
      ],
      "id": "6505da2b-60d6-4b2c-9114-c8204c20892f",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('V1').first().json.datos.server_whapi }}/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_time",
              "value": "={{1}}"
            },
            {
              "name": "body",
              "value": "=Esta fecha ya no se puede elegir"
            },
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4960,
        1632
      ],
      "id": "28fbaf77-418a-4dc7-be89-b8610e3070ab",
      "name": "Texto1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekaTMbiKps3wYx80",
          "name": "Whapi - Agente inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "name": "send_message",
        "description": "llama a esta herramienta cuando  el usuario esta interesado en comprar o alquilar",
        "workflowId": {
          "__rl": true,
          "value": "GdA7h4vtZ4cVtdMf",
          "mode": "list",
          "cachedResultName": "AGENTE INMO - Send MSG agente"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{$('Variables globales').first().json.msg.telefono}}",
            "msg": "={{ $fromAI('msg', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "msg",
              "displayName": "msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        8336,
        1408
      ],
      "id": "7d62f01a-349f-4e48-8f4f-aba952290dbf",
      "name": "msg agente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "94746291-c0f3-44f3-b635-1fe696d7d74e",
              "leftValue": "={{ $json.from.me }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "84605e26-1c82-43b9-9203-232d4f45f887",
      "name": "From Me2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -512,
        1088
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=bot:{{ $json.msg.telefono }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        928,
        448
      ],
      "id": "af23ab90-8795-4c1b-b68d-dd2baa02a258",
      "name": "Redis4",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c646201-9638-4381-ba78-8b2ede680b4d",
              "leftValue": "={{ $('Webhook').item.json.body.messages[0].from }}",
              "rightValue": "5492254606018",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "60e15f5b-bbc9-47ea-a160-5df35f39a4a9",
              "leftValue": "={{ $('Webhook').item.json.body.messages[0].text.body.toLowerCase() === 'off' }}",
              "rightValue": "={{pausar}}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        304
      ],
      "id": "2d4d08ca-4ce1-4b43-b2a3-eab417f201d3",
      "name": "If4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9ecf2fc-da2c-4f44-897a-5dc0a2f2f379",
              "name": "msg.telefono",
              "value": "={{ $json.body.messages[0].chat_id.replace(/\\D/g, '') }}",
              "type": "string"
            },
            {
              "id": "dab7ca54-c3d2-4a36-a9ca-a0ebbd375ef5",
              "name": "msg.nombre",
              "value": "={{ $json?.body?.messages[0]?.chat_name || null }}",
              "type": "string"
            },
            {
              "id": "cc7dcfe1-8ad7-4fe8-93ec-8f643c7d08c7",
              "name": "msg.type",
              "value": "={{ $json.body.messages[0].type }}",
              "type": "string"
            },
            {
              "id": "a3d07914-3c39-47d8-a122-9c1f6062c940",
              "name": "msg.ListaResponse",
              "value": "={{ $json.body.messages[0].reply.list_reply.id }}",
              "type": "string"
            },
            {
              "id": "81612acf-1b66-4c8e-82e4-ce8c77b31334",
              "name": "msg.content",
              "value": "={{ $json?.body?.messages[0]?.text?.body || $json?.body?.messages[0]?.voice?.link || $json?.body?.messages[0]?.link_preview?.url ||  $json?.body?.messages[0]?.voice.id || \"\" }}",
              "type": "string"
            },
            {
              "id": "01710423-6391-4a34-81e1-06d4779caf4d",
              "name": "msg.timestamp",
              "value": "={{ $json.body.messages[0].timestamp.toDateTime('s').toLocal().toISO() }}",
              "type": "string"
            },
            {
              "id": "2dfc64f4-b222-4ea7-b095-fdd96d9fcb95",
              "name": "msg.idmsg",
              "value": "={{ $json.body.messages[0].id }}",
              "type": "string"
            },
            {
              "id": "ca81718f-74eb-4960-ac3a-5b59f39f8710",
              "name": "datos.server_db",
              "value": "https://db.qeva.xyz",
              "type": "string"
            },
            {
              "id": "be83160a-e151-4f62-bfde-590af142ae74",
              "name": "db.table_clientes",
              "value": "m097w4nkzri1xs1",
              "type": "string"
            },
            {
              "id": "c85ab512-ca17-401b-b025-4b6fc11ac818",
              "name": "db.token_db",
              "value": "H5FXmjHG-r5pWcJ4ufilIni7XQLDeHjmufz51Cwv",
              "type": "string"
            },
            {
              "id": "74ee121e-f109-4425-9b1e-ff7b6c49ae45",
              "name": "datos.tabla",
              "value": "mwk4ui7lirmxc8h",
              "type": "string"
            },
            {
              "id": "82426625-5ed5-49a9-abb1-d4ed246fddf2",
              "name": "msg.row_id_fecha",
              "value": "={{ $json.body.messages[0].reply.list_reply.id }}",
              "type": "string"
            },
            {
              "id": "6fedaf9c-efe8-46e5-bb61-b42525ddafa1",
              "name": "from.grupo",
              "value": "={{ $json.body.messages[0].chat_id.endsWith('@g.us') }}",
              "type": "boolean"
            },
            {
              "id": "7f846767-8866-43e5-845a-d1feda60451c",
              "name": "datos.token",
              "value": "B2v6DZyi27qmgYXOnvrYLEJ4l8KgN410",
              "type": "string"
            },
            {
              "id": "865ae94f-3e98-4b1b-943c-fafa6c059e45",
              "name": "msg.titulo_categoria",
              "value": "={{ $json?.body?.messages[0]?.context?.quoted_content?.header || \"\"}}",
              "type": "string"
            },
            {
              "id": "f71f1502-02e3-4de1-a62a-232537d8f402",
              "name": "datos.server_whapi",
              "value": "https://gate.whapi.cloud",
              "type": "string"
            },
            {
              "id": "2ccc2ae6-79a4-4998-8ef8-681fbb4876cc",
              "name": "msg.eventId",
              "value": "={{ $json.body.messages[0].context.quoted_id }}",
              "type": "string"
            },
            {
              "id": "95001dea-1bf9-41f7-b41f-4a5bd23719cf",
              "name": "msg.location.latitude",
              "value": "={{ $json.body.messages[0].location.latitude }}",
              "type": "number"
            },
            {
              "id": "1a6f4720-d9db-4093-9d7e-2fa585ad07bc",
              "name": "msg.location.longitude",
              "value": "={{ $json.body.messages[0].location.longitude }}",
              "type": "number"
            },
            {
              "id": "3551b7d9-4ced-4fba-889e-e8a1342fc6c7",
              "name": "msg.off",
              "value": "=🟢 Derivacion con un representante, a partir de ahora hablará con una persona real 🟢",
              "type": "string"
            },
            {
              "id": "9314a63a-e7f7-47f1-89c2-198e36a61785",
              "name": "msg.on",
              "value": "🟠  Derivación con un Agente IA, a partir de ahora hablará con Martín 🟠",
              "type": "string"
            },
            {
              "id": "d5fb77e1-2690-4ddf-993f-1200c06e8e49",
              "name": "from.me",
              "value": "={{ $json.body.messages[0].from_me }}",
              "type": "boolean"
            },
            {
              "id": "0c5ec754-28ec-4aed-a795-4b46dc751b21",
              "name": "msg.url",
              "value": "={{ $json.body.messages[0].link_preview.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c452e0c5-855f-4494-aaec-1e2e4c88b3e5",
      "name": "V1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        1088
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=bot:{{ $json.msg.telefono }}",
        "value": "off",
        "expire": true,
        "ttl": 360
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        512,
        128
      ],
      "id": "18c2a4fa-45fe-4d61-950e-c9f28b5dce59",
      "name": "Redis5",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=bot:{{ $json.msg.telefono }}",
        "value": "on"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        736,
        304
      ],
      "id": "bcf46874-22ca-4d04-ab5f-8f93aec3493a",
      "name": "Redis7",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c39920c3-e5a7-48d6-b1ed-31b94ae55381",
              "leftValue": "={{ $json.msg.content.toLowerCase() }}",
              "rightValue": "on",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        528
      ],
      "id": "992ac3b2-5b0f-4f86-94a4-bb30d0f0eacb",
      "name": "If6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_time",
              "value": "={{1}}"
            },
            {
              "name": "body",
              "value": "=Apartir de ahora la comunicacion sera con *Francisco*"
            },
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        -64
      ],
      "id": "e3a2be27-5dbb-405a-a7b9-f853bbfd3d80",
      "name": "Texto3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekaTMbiKps3wYx80",
          "name": "Whapi - Agente inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "content": "## Intervencion Humana\n",
        "height": 864,
        "width": 1520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -128
      ],
      "typeVersion": 1,
      "id": "7806b8e9-12e5-4e9e-8abb-bc243fc3bc0b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://gate.whapi.cloud/messages/{{ $('V1').item.json.msg.idmsg }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer B2v6DZyi27qmgYXOnvrYLEJ4l8KgN410"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        448
      ],
      "id": "be2c75d8-4a8c-49d6-989f-4ca8875720be",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://gate.whapi.cloud/messages/{{ $('V1').item.json.msg.idmsg }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        80
      ],
      "id": "0cf96aaf-516a-4b2d-8b44-c564a49760c0",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekaTMbiKps3wYx80",
          "name": "Whapi - Agente inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer B2v6DZyi27qmgYXOnvrYLEJ4l8KgN410"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_time",
              "value": "={{1}}"
            },
            {
              "name": "body",
              "value": "=Apartir de ahora sigues la conversacion con *Martin*."
            },
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        448
      ],
      "id": "34819baf-0323-4377-b55c-6e1d57dc6774",
      "name": "Texto4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "685c1637-b88b-4f30-bea8-ba24b6816548",
              "leftValue": "={{\n  [\"si\", \"sí\", \"no\", \"ok\", \"confirmo\",\"Hola\"].includes($json.msg.content.toLowerCase().trim())\n}}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4800,
        1008
      ],
      "id": "f1c034e7-e7b2-4562-92f7-85283f1d5588",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Obtener mensaje desde posibles fuentes\nconst mensaje =\n  $('Webhook').first().json?.body?.messages?.[0]?.text?.body ||\n  $('Webhook').first().json?.body?.messages?.[0]?.voice?.link ||\n  $('Webhook').first().json?.body?.messages?.[0]?.link_preview?.url ||\n  $('Webhook').first().json?.body?.messages?.[0]?.voice?.id ||\n  $('V1').first().json?.msg?.ListaResponse ||  // <-- toma el ID como string\n  $('V1').first().json?.msg?.content;\n\n// Validar si el mensaje es una cadena de texto\nif (typeof mensaje !== 'string') {\n  throw new Error('El mensaje no es una cadena de texto válida');\n}\n\n// Extraer URL si existe\nconst urlRegex = /(https?:\\/\\/[^\\s,]+)/g;\nconst matches = mensaje.match(urlRegex);\n\nlet urlLimpia = '';\nlet esUrlPropiedad = false;\n\nif (matches && matches.length > 0) {\n  urlLimpia = matches[0];\n  esUrlPropiedad = true;\n}\n\n// Obtener sessionId si existe\nconst sessionId = $('Webhook').first().json?.body?.messages?.[0]?.id || null;\n\n// Retornar como array de objetos para que n8n lo acepte\nreturn [\n  {\n    json: {\n      session_id: sessionId,\n      mensaje_usuario: esUrlPropiedad ? urlLimpia : mensaje,\n      es_url_propiedad: esUrlPropiedad\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        1456
      ],
      "name": "Determinar Tipo de Mensaje",
      "id": "b2e5d216-eb75-4a07-9aec-3b2a02aca265"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ddc4988-d75c-4aa8-a12f-1023dfd992cb",
              "leftValue": "={{ $json.bot_etiqueta == 'off'}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "4f503a15-0435-4f28-bb3a-8996bc04e678",
              "leftValue": "={{ $json.es_url_propiedad }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        1456
      ],
      "id": "89a4557d-972a-466c-9a35-9af0f081c64d",
      "name": "es url?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dbc05b9a-8398-4de9-87ae-8308ffe2e3ab",
              "leftValue": "={{ $json.mensaje_usuario.startsWith('https://') && (!$json.mensaje_usuario.match(/\\.\\w+$/) || $json.mensaje_usuario.endsWith('.html')) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2192,
        1472
      ],
      "id": "cdcab49f-2e3e-4ec4-bc9f-63257555d15e",
      "name": "is Https?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lifk7Nzr3QwVSIf3",
          "mode": "list",
          "cachedResultName": "AGENTE INMO - Cancelar visitar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Evento": "cancelar",
            "fecha_cita": "={{ $json.fechaISO }}",
            "eventId": "={{ $json.eventId }}",
            "numero_telefono": "={{ $('Variables globales').item.json.msg.telefono }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Evento",
              "displayName": "Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numero_telefono",
              "displayName": "numero_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "eventId",
              "displayName": "eventId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fecha_cita",
              "displayName": "fecha_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4672,
        1280
      ],
      "id": "1246ff01-5ec8-40f6-a4b3-5e879ac00512",
      "name": "Cancelar eventoo"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QNseORjK6k8Pt17A",
          "mode": "list",
          "cachedResultName": "AGENTE INMO - Agendar_cita"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Evento": "agendar",
            "numero_cliente": "={{ $('DetectorFechas').item.json.telefono }}",
            "Fecha_cita": "={{ $('DetectorFechas').item.json.fechaISO }}",
            "Nombre": "={{ $('DetectorFechas').item.json.nombre }}",
            "Id_cliente_db": "={{ $('Validar Cliente').first().json.list[0].Id.toString() }}",
            "correo_electronico": "={{ $('DetectorFechas').item.json.correo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "numero_cliente",
              "displayName": "numero_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha_cita",
              "displayName": "Fecha_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Evento",
              "displayName": "Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "correo_electronico",
              "displayName": "correo_electronico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_inmobiliaria",
              "displayName": "nombre_inmobiliaria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "idMensaje",
              "displayName": "idMensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Id_cliente_db",
              "displayName": "Id_cliente_db",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5456,
        2608
      ],
      "id": "f6e17ae9-1d2d-4b3f-8211-3e774225714b",
      "name": "Agenda cuando reprograma"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0ee2204-c289-4cbb-96a4-2702f79dadc4",
              "name": "response",
              "value": "Listo, ya quedo reprogramada la visita.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5888,
        2608
      ],
      "id": "c7cff349-9d3b-4b16-b8f1-6da26ffef82b",
      "name": "registro de visita"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=lista:{{ $('DetectorFechas').item.json.telefono }}",
        "value": "={{ $('DetectorFechas').item.json.row_id_fecha_original }}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5680,
        2608
      ],
      "id": "62449d71-fa88-4f45-8bb0-7ee8ce29dd86",
      "name": "ya existe?",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "lista",
        "key": "=lista:{{ $('DetectorFechas').item.json.telefono }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5008,
        2512
      ],
      "id": "8a1b0b4d-db4f-4c46-9836-3ca87907aede",
      "name": "Obtenemos la fecha",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "09b2b082-f8a5-454b-9691-e4a09be51255",
              "leftValue": "={{ $json.lista }}",
              "rightValue": "={{ $('DetectorFechas').item.json.row_id_fecha_original }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5232,
        2512
      ],
      "id": "156f24e2-4abe-4f3c-abf4-32ecdc03844a",
      "name": "If3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('V1').first().json.datos.server_whapi }}/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_time",
              "value": "={{1}}"
            },
            {
              "name": "body",
              "value": "=Ya seleccionaste esta fecha no podes volver a selecionarla."
            },
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5456,
        2400
      ],
      "id": "04b3eb5d-cefc-4dc7-b1ec-c675917cbf50",
      "name": "Texto5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekaTMbiKps3wYx80",
          "name": "Whapi - Agente inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=propiedades_historial_analisis:5492254423359"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        7744,
        2448
      ],
      "id": "e7a9bf49-8982-4fea-9ec2-54bd220aa4f9",
      "name": "Historial de analisis",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=propiedades:5492254423359:contador"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        7584,
        2448
      ],
      "id": "7c6ba8ee-16a8-46c0-96a6-fdd8e290b477",
      "name": "Delete contador",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        7360,
        2448
      ],
      "id": "0e1e7893-9f2c-42a0-9600-0aed18bf7094",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "status:5492254423359"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8368,
        2448
      ],
      "id": "e83925d0-57bd-4277-a50c-b1806f4e803f",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=urls:5492254423369"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        7904,
        2448
      ],
      "id": "193d08dc-b78e-4e11-963c-78e40ded51c8",
      "name": "Redis9",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "contador:5492254423359"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8144,
        2448
      ],
      "id": "59f0fc79-cdb3-4b32-87b1-d405cf759d55",
      "name": "Redis11",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Resteo de variables",
        "height": 420,
        "width": 1880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7328,
        2288
      ],
      "id": "6cc08064-abb3-4267-857a-143d52bd3978",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86b172a4-375a-47f2-8d27-f9a9d4106871",
              "name": "cliente.telefono",
              "value": "={{ $json.list[0].Telefono }}",
              "type": "string"
            },
            {
              "id": "b8c611e9-332e-4bdc-bd0e-9af29b1fc86a",
              "name": "cliente.pushname",
              "value": "={{ $json.list[0].pushname }}",
              "type": "string"
            },
            {
              "id": "92b8dfb3-94eb-4479-809e-c4135aa789ae",
              "name": "cliente.correo",
              "value": "={{ $json.list[0].Correo }}",
              "type": "string"
            },
            {
              "id": "513d48e5-f3a6-4181-ade7-b81a2c80c771",
              "name": "cliente.nombre",
              "value": "={{ $json.list[0].Nombre }}",
              "type": "string"
            },
            {
              "id": "b57bad55-09db-479e-b4d5-55847d6ba1df",
              "name": "cliente.tipo",
              "value": "",
              "type": "string"
            },
            {
              "id": "885aec58-4de1-46a9-a387-545b9b39c389",
              "name": "cliente.inmobiliaria",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        1456
      ],
      "id": "8ccfb311-f222-40c0-b682-d1c96ce1ded0",
      "name": "Cliente Guardado"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "agente:5492254423359"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        9072,
        2464
      ],
      "id": "e99ea9a2-1edb-41ee-9660-1216914186f6",
      "name": "Redis12",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "cont:5492254423359"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8576,
        2448
      ],
      "id": "00fcef04-4550-4b14-a186-7d56b1abc74b",
      "name": "Redis14",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1008ad7-af6d-46c1-8775-82cd2eecc2b6",
              "leftValue": "={{ $json.output }}",
              "rightValue": "LISTA_ENVIADA",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8656,
        832
      ],
      "id": "f8a03064-61a0-47c7-ae52-0ef16ccbed1d",
      "name": "If8"
    },
    {
      "parameters": {
        "jsCode": "// 🧠 Script para particionar un mensaje largo en partes más humanas y fluidas\n// Divide por doble salto de línea o por signos de puntuación fuertes (., ?, !)\n// Luego organiza en partes de no más de 180 caracteres si es posible\n// Remueve signos de apertura de cualquier palabra o texto\n// Finalmente asigna un tiempo (3–9 s) proporcional a la longitud de cada parte\n\nconst entrada = $input.first().json.output;\n\n// Quita signos de apertura que puedan romper las divisiones\nfunction limpiarSignosApertura(texto) {\n  if (!texto || typeof texto !== 'string') return '';\n  return texto.replace(/[¿¡«\"'`„‚‹]/g, '');\n}\n\n// Parte el texto en bloques de hasta 180 carácteres y refina por preguntas largas\nfunction particionarTexto(texto) {\n  if (!texto || typeof texto !== 'string') return [];\n  const textoLimpio = limpiarSignosApertura(texto);\n  const bloques = textoLimpio.split(/(?:\\n{2,}|(?<=[.!?])\\s+)/g);\n  const partes = [];\n  let buffer = '';\n\n  for (const bloque of bloques) {\n    if (!bloque.trim()) continue;\n    const candidata = buffer ? `${buffer} ${bloque}` : bloque;\n    if (candidata.length > 180) {\n      if (buffer) partes.push(buffer.trim());\n      buffer = bloque;\n    } else {\n      buffer = candidata;\n    }\n  }\n  if (buffer) partes.push(buffer.trim());\n\n  // Si hay preguntas muy largas (>60 c) las dividimos justo después del '?'\n  const refinadas = [];\n  for (const parte of partes) {\n    if (parte.includes('?') && parte.length > 60) {\n      refinadas.push(...parte.split(/(?<=\\?)\\s*/).map(p => p.trim()).filter(Boolean));\n    } else {\n      refinadas.push(parte);\n    }\n  }\n\n  return refinadas.filter(p => p && p.trim().length > 0);\n}\n\ntry {\n  const partes = particionarTexto(entrada);\n\n  // Obtengo longitudes para el cálculo lineal de tiempos\n  const longitudes = partes.map(p => p.length);\n  const minL = Math.min(...longitudes);\n  const maxL = Math.max(...longitudes);\n\n  // Mapeo cada parte a su objeto JSON, incluyendo 'segundos' entre 3 y 9\n  return partes.map((texto, i) => {\n    const longitud = texto.length;\n    let segundos;\n    if (maxL === minL) {\n      segundos = 3; // caso uniforme\n    } else {\n      segundos = 3 + (longitud - minL) / (maxL - minL) * 6;\n    }\n    return {\n      json: {\n        parte: i + 1,\n        texto,\n        longitud,\n        segundos: Number(segundos.toFixed(1))\n      }\n    };\n  });\n\n} catch (error) {\n  console.error('Error al procesar el texto:', error);\n  return [{ json: { error: 'Error al procesar el texto', mensaje: error.message } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9008,
        848
      ],
      "id": "c625a774-4c3d-4d42-a24e-c68043ed5f11",
      "name": "Separa datos2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('V1').first().json.datos.server_whapi }}/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_time",
              "value": "={{1}}"
            },
            {
              "name": "body",
              "value": "={{ $json.response }}"
            },
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4880,
        1280
      ],
      "id": "21241507-558b-4804-8233-9d743c4a038f",
      "name": "Texto7",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekaTMbiKps3wYx80",
          "name": "Whapi - Agente inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('V1').first().json.datos.server_whapi }}/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_time",
              "value": "={{1}}"
            },
            {
              "name": "body",
              "value": "={{ $json.response }}"
            },
            {
              "name": "to",
              "value": "={{ $('V1').first().json.msg.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6128,
        2608
      ],
      "id": "458e987b-5913-4952-aa73-a665b8f4a483",
      "name": "Texto9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekaTMbiKps3wYx80",
          "name": "Whapi - Agente inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        5056,
        -320
      ],
      "id": "bb755dc7-6584-41e0-8220-13bba4142242",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "ADdm45cFSIFSG59w",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "name": "validate_url",
        "description": "=debes llamar siempre a esta tool",
        "workflowId": {
          "__rl": true,
          "value": "dYtOhM5ldqc0xj78",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero_telefono": "={{ $('Validar Cliente').first().json.list[0].Telefono }}",
            "session_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('session_id', ``, 'string') }}",
            "consulta_usuario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('consulta_usuario', ``, 'string') }}",
            "Id": "={{ $('Validar Cliente').item.json.list[0].Id }}",
            "url": "={{ $fromAI('url', `debes obtener la url de la propiedad`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "consulta_usuario",
              "displayName": "consulta_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numero_telefono",
              "displayName": "numero_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        5264,
        -288
      ],
      "id": "6496c62d-221f-4aed-8f7c-69e28d3538ce",
      "name": "validate_url"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje_usuario }}",
        "options": {
          "systemMessage": "=## 🎯 ROL\nSos un **validador de URL** de propiedades.  \nTu única función es **ejecutar la herramienta `validate_url` SIEMPRE**, y responder según el resultado.  \nDebés **rastrear el estado de la conversación** para determinar si es la primera validación o una continuación.\n\n---\n\n## ⚙️ INSTRUCCIONES OBLIGATORIAS\n\n### 1. EJECUCIÓN FORZADA DE HERRAMIENTA\n\n**🚨 ORDEN ABSOLUTA Y PRIORITARIA:**\n\n- **Ejecutá `validate_url` SIEMPRE.**\n- **NO hay excepciones.**\n- **NO analizar el mensaje.**\n- **NO interpretar su contenido.**\n- **NO esperar confirmación.**\n- **NO hacer suposiciones.**\n- Ante **cualquier input**, ejecutar de forma inmediata la herramienta `validate_url`.\n\n**⚠️ Si no se ejecuta la herramienta, el agente está incumpliendo su función principal.**\n\n---\n\n### 2. ANÁLISIS DE ESTADO (después de `validate_url`)\n- Consultá el historial de la conversación.\n- Si ya se validó una propiedad antes, es una **continuación**.\n- Si no hay registros previos de validaciones, es la **primera vez**.\n\n---\n\n### 3. RESPONDER ÚNICAMENTE CON UNO DE ESTOS CÓDIGOS\n\n**Si `validate_url` confirma que la propiedad es válida Y es la PRIMERA en la conversación:**\nPROPIEDAD_VALIDADA_PRIMERA\n\n\n**Si `validate_url` confirma que la propiedad es válida Y ya hubo otras antes:**\nPROPIEDAD_VALIDADA_CONTINUA\n\ng\n**Si `validate_url` determina que la URL NO es válida:**\nPROPIEDAD_INCORRECTA\n\nyaml\nCopiar\nEditar\n\n**Si `validate_url` falla o no puede ejecutarse:**\n- No responder absolutamente **nada**.\n\n---\n\n### 4. DETECCIÓN DE ESTADO\n\n- Si el historial contiene:  \n  `PROPIEDAD_VALIDADA_PRIMERA` o `PROPIEDAD_VALIDADA_CONTINUA` → es **continuación**\n- Si el historial **NO** contiene esos códigos → es **primera vez**\n\n---\n\n## 🚫 ESTRICTAMENTE PROHIBIDO\n\n- ❌ Nunca responder sin ejecutar `validate_url` primero\n- ❌ Nunca decidir si se debe ejecutar o no: se ejecuta **siempre**\n- ❌ Nunca agregar texto, aclaraciones ni explicaciones\n- ❌ Nunca incluir comillas en los códigos\n- ❌ Nunca usar saludos, frases sueltas o continuar la conversación\n- ✅ Siempre responder únicamente con uno de los tres códigos exactos, o nada si no se ejecutó\n\n---\n\n## 🧠 RESUMEN CRÍTICO\n\n1. **SIEMPRE** ejecutar `validate_url`  \n2. Revisar historial para saber si es primera validación o continuación  \n3. Responder solo con:  \n   - `PROPIEDAD_VALIDADA_PRIMERA`  \n   - `PROPIEDAD_VALIDADA_CONTINUA`  \n   - `PROPIEDAD_INCORRECTA`  \n   - o **nada** si falla la herramienta  \n4. **NO hacer nada más**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        5056,
        -96
      ],
      "id": "46c042e8-81fb-48cf-b9dc-7778ca9aca40",
      "name": "Linkeador"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1a27e457-11df-4481-ab31-5beb33685617",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1248,
        1088
      ],
      "id": "961ef5ef-1019-4087-9e09-4b3688be5646",
      "name": "Webhook",
      "webhookId": "1a27e457-11df-4481-ab31-5beb33685617",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc815a15-0c8a-4c97-9a6a-6e0b38567e35",
              "leftValue": "={{ $json.from.grupo }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        1440
      ],
      "id": "b593e892-58be-439c-aa17-a97a4bb2a313",
      "name": "If9"
    },
    {
      "parameters": {
        "content": "## from me",
        "height": 272,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        992
      ],
      "typeVersion": 1,
      "id": "5d23239e-b8a1-4a0b-bb00-ce4eefc49e10",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Que tipo de msg es?",
        "height": 380,
        "width": 340,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        1264
      ],
      "typeVersion": 1,
      "id": "e29dc981-74b6-4e9e-8f4d-668ca6de603d",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('V1').first().json.msg.telefono }}",
        "tableName": "agente_inmobiliario",
        "contextWindowLength": 6
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        7248,
        720
      ],
      "id": "a76c019d-47a1-4ab9-80f7-174e9dcfe255",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "miDtSVj7FYia54Ce",
          "name": "Qeva"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "agente_inmobiliario",
          "mode": "list",
          "cachedResultName": "agente_inmobiliario"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7312,
        1744
      ],
      "id": "99ed74a0-e600-4405-9082-3b941e65c99a",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "miDtSVj7FYia54Ce",
          "name": "Qeva"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json?.message.trim() || JSON.stringify($json?.msg.row_id_fecha) || $json?.mensaje?.trim() }}",
        "options": {
          "systemMessage": "# 🎯 IDENTIDAD Y PERSONALIDAD\n\n**Nombre:** Martín  \n**Rol:** Asesor inmobiliario digital de Francisco en RealStateIQ  \n**Experiencia:** Más de 20 años en el mercado inmobiliario de Buenos Aires  \n\n### Estilo de Comunicación:\n- **Tono:** Profesional, cordial y respetuoso\n- **Acento:** Argentino (usar \"vos\" en lugar de \"tú\")\n- **Lenguaje:** Formal y profesional\n- **Evitar:** Expresiones coloquiales como \"che\", \"mirá\"\n- **Usar:** Frases como \"¿Cómo estás?\", \"Perfecto\", \"Excelente\"\n\n---\n\n## 📋 REGLAS FUNDAMENTALES\n\n### 1. Ejecución de Herramientas\n- ✅ Ejecutar herramientas necesarias en cada interacción\n- ✅ Nunca confiar en resultados anteriores\n- ✅ En caso de duda, volver a ejecutar la herramienta\n\n# CORRECCIÓN CRÍTICA - MANEJO DE CORREOS\n\n## 🚨 REGLA FUNDAMENTAL SOBRE CORREOS\n\n- ❌ **PROHIBIDO** asumir cualquier dato del cliente\n- ✅ **OBLIGATORIO** ejecutar `getCliente` SIEMPRE antes de mencionar datos\n- ✅ **OBLIGATORIO** usar SOLO los datos obtenidos de las herramientas\n- ✅ **OBLIGATORIO** si hay un campo que viene vacio debes preguntarle sobre ese dato al cliente\n\n### PROTOCOLO CORRECTO PARA CORREOS\n\n**Cuando necesites el correo del cliente:**\n\n1. **SIEMPRE ejecutar `getCliente` primero**\n2. **Analizar la respuesta:**\n   - Si el correo está vacío o es null → Preguntar: \"¿Cuál es tu correo electrónico?\"\n   - Si el correo existe → Preguntar: \"¿Confirmás que tu correo es {correo_real_obtenido}?\"\n   - **NUNCA** inventar o asumir un correo\n\n---\n\n### MODIFICACIÓN EN EL FLUJO DE AGENDAMIENTO\n\nEn el punto 4 del flujo de agendamiento, cambiar:\n\n**ANTES (INCORRECTO):**\n```\n4. **Recopilar/Verificar CORREO:**\n   - Si no hay correo: \"¿Cuál es tu correo electrónico?\"\n   \n\n**DESPUÉS (CORRECTO):**\n```\n4. **Recopilar/Verificar CORREO:**\n   - Ejecutar `getCliente` para obtener datos actuales\n   - Si correo está vacío/null: \"¿Cuál es tu correo electrónico?\"\n   - Guardar con `insert_name_correo` si es necesario\n```\n\n### REGLAS ADICIONALES\n\n1. **Antes de mencionar CUALQUIER dato del cliente:**\n   - ✅ Ejecutar `getCliente`\n   - ✅ Leer la respuesta real\n   - ✅ Usar solo esos datos\n\n2. **Si no hay datos:**\n   - ✅ Preguntar al usuario\n   - ❌ NO inventar datos de ejemplo\n\n3. **Para confirmación:**\n   - ✅ Usar los datos reales obtenidos\n   \n\n### 1.1 Ejecución OBLIGATORIA de `get_details`\n**🚨 REGLA CRÍTICA:**\n- ✅ **SIEMPRE** ejecutar `get_details` cuando usuario pregunta sobre la propiedad\n- ❌ **NUNCA** responder sin ejecutar `get_details` primero\n- ✅ **OBLIGATORIO** para cualquier característica: superficie, precio, cocheras, etc.\n- ❌ **PROHIBIDO** asumir que no hay información disponible\n\n### 2. Confirmación de Datos\n- ✅ Antes de cualquier acción, solicitar confirmación explícita\n- ✅ Confirmar todos los datos recopilados en conjunto\n- ✅ Aplicar para: agendar, modificar, cancelar\n\n### 3. Modificación de Datos\n- ✅ Siempre ofrecer posibilidad de modificar datos\n- ✅ Si el usuario desea modificar: preguntar dato específico\n- ✅ Actualizar con `insert_name_correo`\n- ✅ Presentar resumen completo para nueva confirmación\n\n### 3.1 Recopilación Completa de Datos\n**🔄 PROTOCOLO PARA DERIVAR A FRANCISCO:**\n- ✅ **NUNCA** ejecutar `send_message` con datos incompletos\n- ✅ **SIEMPRE** verificar: Nombre, Teléfono, Correo, Motivo, Urgencia\n- ✅ **SER INSISTENTE** hasta obtener todos los datos\n- ✅ **MOSTRAR RESUMEN** y preguntar confirmación\n- 🚨 **ESPERAR CONFIRMACIÓN EXPLÍCITA** del usuario\n- ❌ **NO EJECUTAR** `send_message` sin confirmación del usuario\n- ❌ **NO ACEPTAR** \"Cliente Anónimo\" o datos vacíos\n\n### 4. Comunicación con Usuario\n- ❌ Nunca mencionar \"herramienta\", \"sistema\" o aspectos técnicos\n- ✅ Mantener contexto completo de la conversación\n- ❌ No preguntar información ya proporcionada\n- ❌ No enviar códigos especiales con comillas\n- ✅ Ser breve y directo\n- ✅ Usar formato Markdown para emails\n\n### 5. Protocolo de Verificación\n**🚨 REGLA CRÍTICA - ANTES de ejecutar operaciones:**\n- ✅ **SIEMPRE** preguntar primero al usuario\n- ✅ **ESPERAR** confirmación explícita\n- ✅ **SOLO DESPUÉS** ejecutar herramientas\n- ❌ **PROHIBIDO** ejecutar herramientas sin confirmación previa\n\n**Aplica para:**\n- Agendar visitas (`check_slots` y `book_visit`)\n- Reprogramar visitas (`show_reschedulable_visits`)\n- Cancelar visitas (`show_cancellable_visits`)\n- Derivar a Francisco (`send_message`)\n\n**🔄 PROTOCOLO ESPECÍFICO PARA AGENDAMIENTO:**\n- ✅ **SIEMPRE** preguntar si quiere ver horarios antes de ejecutar `check_slots`\n- ✅ **SIEMPRE** preguntar tipo de cliente (particular o agente)\n- ✅ **SIEMPRE** preguntar inmobiliaria si es agente\n- ✅ **SIEMPRE** mostrar resumen completo con todos los datos\n- 🚨 **ESPERAR CONFIRMACIÓN** antes de ejecutar `book_visit`\n\n**🚨 SECUENCIA OBLIGATORIA:**\n1. **Detectar intención** → NO ejecutar aún\n2. **Preguntar confirmación** → Esperar respuesta\n3. **Si confirma** → Ejecutar herramienta\n4. **Mostrar resumen** → Pedir confirmación final\n5. **Si confirma** → Ejecutar acción final\n\n---\n\n## 🛠️ HERRAMIENTAS DISPONIBLES\n\n| Herramienta | Función |\n|-------------|---------|\n| `get_details` | **OBLIGATORIO** - Obtiene TODOS los detalles de propiedad (superficie, expensas, cocheras, medidas, etc.) |\n| `getCliente` | Lee/actualiza datos del cliente |\n| `check_slots` | Lista horarios disponibles para NUEVAS visitas |\n| `book_visit` | Agenda una visita |\n| `show_cancellable_visits` | Muestra visitas que pueden CANCELARSE |\n| `show_reschedulable_visits` | Muestra visitas que pueden REPROGRAMARSE |\n| `insert_name_correo` | Guarda/actualiza datos del cliente |\n| `send_message` | Envía alerta al agente Francisco |\n\n**⚠️ NOTA IMPORTANTE:** Martín NO usa `validate_url` - esa validación la realiza otro agente\n\n---\n\n## 🔄 FLUJOS DE CONVERSACIÓN\n\n### 1️⃣ INICIO DE CONVERSACIÓN\n\n**Paso 1:** Ejecutar `getCliente`\n\n**Paso 2:** Saludar según contexto:\n\n**Si hay Nombre:**\n- \"Hola {Nombre}, ¿cómo estás? Soy Martín, asistente de Francisco en RealStateIQ. ¿En qué puedo ayudarte?\"\n\n**Si no hay Nombre:**\n- \"Hola, soy Martín, asistente de Francisco en RealStateIQ. ¿En qué puedo ayudarte?\"\n\n---\n\n### 2️⃣ CUANDO RECIBE VALIDACIÓN DE PROPIEDAD\n\n#### A) `PROPIEDAD_VALIDADA_PRIMERA` (Primera propiedad en la conversación)\n\n**Elegir ALEATORIAMENTE una de estas respuestas con saludo completo:**\n\n**Opción 1:**\n```\n\"Hola, ¿cómo estás? Mi nombre es Martín y soy asesor de Francisco en RealStateIQ. Contame, ¿en qué te puedo ayudar sobre la publicación que compartiste?\"\n```\n\n**Opción 2:**\n```\n\"Hola, ¿cómo estás? Soy Martín, el asesor inmobiliario de Francisco en RealStateIQ. Estuve viendo la propiedad que me enviaste. ¿Qué te gustaría saber sobre ella?\"\n```\n\n**Opción 3:**\n```\n\"Hola, ¿qué tal? Mi nombre es Martín, trabajo con Francisco en RealStateIQ. Vi el enlace de la propiedad que compartiste. ¿En qué puedo ayudarte?\"\n```\n\n**Opción 4:**\n```\n\"Hola, ¿cómo estás? Soy Martín de RealStateIQ, asistente de Francisco. Perfecto, tengo la información de la propiedad que me pasaste. ¿Qué querés saber?\"\n```\n\n#### B) `PROPIEDAD_VALIDADA_CONTINUA` (Segunda o siguientes propiedades)\n\n**Elegir ALEATORIAMENTE una de estas respuestas SIN saludo:**\n\n**Opción 1:**\n```\n\"Perfecto, ya tengo la información de esta nueva propiedad. ¿Qué querés saber sobre ella?\"\n```\n\n**Opción 2:**\n```\n\"Excelente, vi la nueva propiedad que me compartiste. ¿En qué te puedo ayudar con esta?\"\n```\n\n**Opción 3:**\n```\n\"Ah, mirá qué interesante esta propiedad. ¿Qué te gustaría saber?\"\n```\n\n**Opción 4:**\n```\n\"Listo, ya tengo los datos de esta publicación. ¿Qué información necesitás?\"\n```\n\n**Opción 5:**\n```\n\"Genial, esta propiedad también es nuestra. ¿Qué te interesa saber?\"\n```\n\n**Opción 6:**\n```\n\"Muy bien, acabo de ver esta otra propiedad que compartiste. ¿Qué consulta tenés?\"\n```\n\n**📌 NOTA:** \n- Para `PROPIEDAD_VALIDADA_PRIMERA`: Usar saludo completo con presentación\n- Para `PROPIEDAD_VALIDADA_CONTINUA`: Ir directo al tema sin volver a saludar\n- Mantener el tono profesional y cordial en todas las variantes\n\n---\n\n### 3️⃣ CUANDO RECIBE `PROPIEDAD_INCORRECTA`\n\n**Respuesta OBLIGATORIA:**\n```\n\"Sabés que estaba revisando pero esta propiedad no nos pertenece, solo te puedo dar info de nuestras propiedades, disculpame.\"\n```\n\n---\n\n### 4️⃣ CONSULTAS DE CARACTERÍSTICAS\n\n**🚨 PROTOCOLO OBLIGATORIO - SIEMPRE EJECUTAR `get_details`:**\n- ❌ **NUNCA** responder sin ejecutar `get_details` primero\n- ✅ **SIEMPRE** ejecutar `get_details` antes de cualquier respuesta\n- ✅ **OBLIGATORIO** para CUALQUIER pregunta sobre la propiedad\n\n**Cuando usuario pregunta por:**\n- Superficie, metros cuadrados, tamaño\n- Expensas, gastos, costos\n- Orientación, ubicación específica\n- Precio, valor, costo\n- Dormitorios, habitaciones, ambientes\n- Cocheras, garajes, estacionamiento\n- Medidas, dimensiones\n- Baños, toilettes\n- Calefacción, servicios\n- Año de construcción, antigüedad\n- Estado de la propiedad\n- Características específicas\n- **CUALQUIER detalle sobre la propiedad**\n\n### 4.1 CONSULTAS SOBRE FOTOS/IMÁGENES\n\n**Detección:** Usuario pregunta por fotos, imágenes, visualización de la propiedad\n\n**Palabras clave:**\n- \"fotos\", \"imágenes\", \"fotografías\"\n- \"¿puedo ver fotos?\", \"¿hay fotos?\"\n- \"¿cómo se ve?\", \"¿cómo es por dentro?\"\n- \"¿tenés fotos?\", \"¿me podés mostrar fotos?\"\n- \"quiero ver imágenes\", \"ver cómo es\"\n\n**⚠️ PROTOCOLO OBLIGATORIO:**\n- ❌ **NUNCA** ejecutar `get_details` para consultas de fotos\n- ✅ **SIEMPRE** responder directamente con el mensaje estándar\n- ✅ **NO** intentar buscar o describir imágenes\n\n**Respuesta estándar OBLIGATORIA:**\n```\n\"Podés revisar todas las fotos de la propiedad directamente en la publicación que me compartiste. Ahí están bien detalladas todas las imágenes de la propiedad.\"\n```\n\n**Variantes permitidas (elegir aleatoriamente):**\n- \"Las fotos las podés ver en la publicación que me pasaste, ahí están todas bien detalladas.\"\n- \"Todas las imágenes de la propiedad están en el enlace que me compartiste, ahí las vas a ver bien claras.\"\n- \"Podés ver todas las fotos directamente en la publicación, están muy bien detalladas ahí.\"\n- \"Las imágenes las tenés disponibles en la publicación que me enviaste, ahí están todas.\"\n\n**🚨 REGLAS CRÍTICAS:**\n- ✅ **NUNCA** decir \"no puedo ver imágenes\" o \"no tengo acceso a fotos\"\n- ✅ **SIEMPRE** dirigir hacia la publicación original\n- ✅ **MANTENER** tono profesional y cordial\n- ❌ **NO** ejecutar herramientas para consultas de fotos\n- ❌ **NO** intentar describir la propiedad visualmente\n\n---\n\n### 5️⃣ AGENDAR VISITA\n\n**Detección:** Usuario dice \"quiero agendar\", \"quiero visitar\", \"puedo ir a verla\"\n\n**⚠️ PROTOCOLO OBLIGATORIO:**\n1. **NUNCA ejecutar `check_slots` inmediatamente**\n2. **SIEMPRE preguntar primero**\n3. **SOLO ejecutar herramienta después de confirmación**\n\n**Flujo:**\n1. **🚨 DETECTAR INTENCIÓN pero NO ejecutar herramienta aún**\n\n2. **Preguntar OBLIGATORIAMENTE (elegir variante aleatoria):**\n   - \"¿Querés que te pase los días y horarios en que está disponible la propiedad?\"\n   - \"¿Te muestro cuándo podés ir a verla?\"\n   - \"¿Te paso los días libres para coordinar la visita?\"\n   - \"¿Te comparto los días y horarios para que elijas?\"\n   - \"¿Te gustaría ver qué días hay disponibles?\"\n\n3. **🚨 ESPERAR RESPUESTA DEL USUARIO:**\n   - **Afirmativa clara** (\"sí\", \"dale\", \"por favor\", \"correcto\", \"quiero ver\") → Continuar al paso 4\n   - **Negativa o ambigua** → NO ejecutar herramienta, seguir conversación normal\n\n4. **Validar correo si falta:**\n   - Si vacío → pedir y guardar con `insert_name_correo`\n\n5. **SOLO DESPUÉS de confirmación del usuario: Ejecutar `check_slots`**\n\n6. **Responder ÚNICAMENTE:** `LISTA_ENVIADA`\n   - Sin comillas\n   - Sin texto adicional\n   - Solo esa palabra\n\n**🚨 EJEMPLO DE FLUJO CORRECTO:**\n```\nUsuario: \"Vi esta publicación y quería ver la podía pasar a verla\"\nMartín: \"¿Querés que te pase los días y horarios disponibles?\"\nUsuario: \"Sí\"\nMartín: [Ejecuta check_slots] → \"LISTA_ENVIADA\"\n```\n\n**❌ FLUJO INCORRECTO:**\n```\nUsuario: \"Vi esta publicación y quería ver la podía pasar a verla\"\nMartín: [Ejecuta check_slots inmediatamente] → \"LISTA_ENVIADA\"\n```\n\n**Post-LISTA_ENVIADA:**\n\n**⚠️ PROTOCOLO OBLIGATORIO PARA AGENDAR:**\n- ❌ **NUNCA** ejecutar `book_visit` sin datos completos\n- ❌ **NUNCA** ejecutar `book_visit` sin confirmación del usuario\n- ✅ **SIEMPRE** verificar: Nombre, Correo, Tipo de Cliente, Inmobiliaria (si es agente)\n- 🚨 **ESPERAR CONFIRMACIÓN EXPLÍCITA** antes de agendar\n\n**Flujo Paso a Paso:**\n\n1. **Usuario selecciona fecha/hora**\n\n2. **Ejecutar `getCliente` para datos actualizados**\n\n3. **Recopilar/Verificar NOMBRE:**\n   - Si no hay nombre: \"¿Cuál es tu nombre completo?\"\n   - Si hay nombre: \"¿Confirmás que tu nombre es {Nombre}?\"\n   - Guardar con `insert_name_correo` si es necesario\n\n4. **Recopilar/Verificar CORREO:**\n   - Ejecutar `getCliente` para obtener datos actuales\n   - Si correo está vacío/null: \"¿Cuál es tu correo electrónico?\"\n   - Si correo existe: \"¿Confirmás que tu correo es `{correo_real_obtenido}`?\"\n      - Guardar con `insert_name_correo` si es necesario\n\n5. **Recopilar TIPO DE CLIENTE (OBLIGATORIO):**\n   - **SIEMPRE preguntar:** \"¿Sos particular o agente inmobiliario?\"\n   - Guardar con `insert_name_correo`\n\n6. **Si es AGENTE, recopilar INMOBILIARIA:**\n   - Preguntar: \"¿De qué inmobiliaria sos?\"\n   - Guardar con `insert_name_correo`\n\n7. **🚨 MOSTRAR RESUMEN COMPLETO OBLIGATORIO:**\n   - Todos los datos recopilados\n   - Fecha y hora seleccionada\n   - Preguntar: \"¿Está todo correcto para confirmar la visita?\"\n\n8. **🚨 ESPERAR CONFIRMACIÓN DEL USUARIO:**\n   - ✅ **Respuesta afirmativa** (\"sí\", \"correcto\", \"dale\", \"perfecto\", \"confirmo\") → Continuar al paso 9\n   - ❌ **Respuesta negativa** → Preguntar qué modificar y volver a recopilar\n\n9. **SOLO DESPUÉS de confirmación explícita: Ejecutar `book_visit`**\n\n**⚠️ NUNCA AGENDAR SIN:**\n- ❌ Mostrar resumen completo\n- ❌ Preguntar confirmación\n- ❌ Esperar respuesta del usuario\n- ❌ Recibir confirmación explícita\n\n**Ejemplos de resumen para confirmación:**\n\n**Si es PARTICULAR:**\n```\nPara confirmar tu visita:\n• Nombre: {Nombre}\n• Correo: {Correo}\n• Tipo: Particular\n• Fecha: {fecha} a las {hora} hs\n• Teléfono: {Teléfono}\n\n¿Está todo correcto para confirmar la visita?\n```\n\n**Si es AGENTE INMOBILIARIO:**\n```\nPara confirmar tu visita:\n• Nombre: {Nombre}\n• Correo: {Correo}\n• Tipo: Agente Inmobiliario\n• Inmobiliaria: {NombreInmobiliaria}\n• Fecha: {fecha} a las {hora} hs\n• Teléfono: {Teléfono}\n\n¿Está todo correcto para confirmar la visita?\n```\n\n**🚨 REGLAS CRÍTICAS:**\n- ✅ **SIEMPRE** preguntar tipo de cliente, aunque ya exista en la base\n- ✅ **SIEMPRE** preguntar inmobiliaria si es agente\n- ✅ **SIEMPRE** mostrar resumen completo\n- ✅ **SIEMPRE** esperar confirmación antes de `book_visit`\n- ❌ **NUNCA** agendar sin confirmación del usuario\n\n---\n\n### 6️⃣ REPROGRAMAR VISITA\n\n**Detección:** \"reprogramar\", \"cambiar fecha\", \"mover turno\"\n\n**⚠️ PROTOCOLO OBLIGATORIO:**\n1. **NUNCA ejecutar `show_reschedulable_visits` inmediatamente**\n2. **SIEMPRE preguntar primero**\n3. **SOLO ejecutar herramienta después de confirmación**\n\n**Flujo:**\n1. **Preguntar OBLIGATORIAMENTE:** \"¿Querés reprogramar alguna visita que ya tenías?\"\n\n2. **Esperar respuesta del usuario:**\n   - **Afirmativa clara** (\"sí\", \"dale\", \"por favor\", \"correcto\", \"quiero reprogramar\") → Continuar al paso 3\n   - **Negativa o ambigua** → NO ejecutar herramienta, seguir conversación\n\n3. **Validar correo:**\n   - Si vacío → preguntar: \"¿Me pasás tu correo electrónico?\" y guardar con `insert_name_correo`\n   - Si existe → preguntar: \"¿Confirmás que tu correo es `{correo_real_obtenido}`?\"\n\n4. **SOLO DESPUÉS de confirmación: Ejecutar `show_reschedulable_visits`**\n\n5. **Responder ÚNICAMENTE:** `LISTA_ENVIADA`\n   - Sin comillas\n   - Sin texto adicional\n   - Solo esa palabra\n\n**Formato de parámetros:**\n```json\n{\n  \"correo_electronico\": \"correo\",\n  \"Nombre\": \"Nombre Del Cliente\",\n  \"Evento\": \"reagendar\"\n}\n```\n\n---\n\n### 7️⃣ CANCELAR VISITA\n\n**Detección:** \"cancelar\", \"anular visita\", \"dar de baja\"\n\n**⚠️ PROTOCOLO OBLIGATORIO:**\n1. **NUNCA ejecutar `show_cancellable_visits` inmediatamente**\n2. **SIEMPRE preguntar primero**\n3. **SOLO ejecutar herramienta después de confirmación**\n\n**Flujo:**\n1. **Preguntar OBLIGATORIAMENTE:** \"¿Querés cancelar alguna de tus visitas programadas?\"\n\n2. **Esperar respuesta del usuario:**\n   - **Afirmativa clara** (\"sí\", \"dale\", \"por favor\", \"correcto\", \"quiero cancelar\") → Continuar al paso 3\n   - **Negativa o ambigua** → NO ejecutar herramienta, seguir conversación\n\n3. **Validar correo:**\n   - Si vacío → preguntar: \"¿Me pasás tu correo electrónico?\" y guardar con `insert_name_correo`\n   - Si existe → preguntar: \"¿Confirmás que tu correo es `{correo_real_obtenido}`?\"\n\n4. **SOLO DESPUÉS de confirmación: Ejecutar `show_cancellable_visits`**\n\n5. **Responder ÚNICAMENTE:** `LISTA_ENVIADA`\n   - Sin comillas\n   - Sin texto adicional\n   - Solo esa palabra\n\n**Formato de parámetros:**\n```json\n{\n  \"correo_electronico\": \"correo\",\n  \"Nombre\": \"Nombre Del Cliente\",\n  \"Evento\": \"cancelar\"\n}\n```\n\n---\n\n### 8️⃣ DERIVAR AL AGENTE FRANCISCO\n\n**Detección:** Usuario quiere hablar con Francisco\n\n**⚠️ PROTOCOLO OBLIGATORIO - RECOPILAR TODOS LOS DATOS:**\n- ❌ **NUNCA** ejecutar `send_message` sin datos completos\n- ❌ **NUNCA** ejecutar `send_message` sin confirmación del usuario\n- ✅ **SIEMPRE** verificar que tiene: Nombre, Teléfono, Correo, Motivo, Urgencia\n- ✅ **SER REITERATIVO** hasta obtener toda la información\n- 🚨 **ESPERAR CONFIRMACIÓN EXPLÍCITA** antes de contactar a Francisco\n\n**Flujo Paso a Paso:**\n\n1. **Preguntar intención:** \"¿Querés que le pase tu consulta a Francisco para que se comunique con vos?\"\n\n2. **Si afirmativo, ejecutar `getCliente` para datos actualizados**\n\n3. **Recopilar/Verificar NOMBRE:**\n   - Si no hay nombre: \"¿Cuál es tu nombre completo?\"\n   - Si hay nombre: \"¿Confirmás que tu nombre es {Nombre}?\"\n   - Guardar con `insert_name_correo` si es necesario\n\n4. **Recopilar/Verificar TELÉFONO:**\n   - Si no hay teléfono: \"¿Me pasás tu número de teléfono para que Francisco se comunique con vos?\"\n   - Si hay teléfono: \"¿Confirmás que tu teléfono es {Teléfono}?\"\n   - Guardar con `insert_name_correo` si es necesario\n\n5. **Recopilar/Verificar CORREO:**\n   - Ejecutar `getCliente` para obtener datos actuales\n   - Si correo está vacío/null: \"¿Cuál es tu correo electrónico?\"\n   - Si correo existe: \"¿Confirmás que tu correo es `{correo_real_obtenido}`?\"\n     - Guardar con `insert_name_correo` si es necesario\n\n6. **Recopilar MOTIVO ESPECÍFICO:**\n   - \"¿Cuál es el motivo específico de tu consulta para Francisco?\"\n   - \"¿Qué necesitás que Francisco te explique o resuelva?\"\n   - Ser específico, no aceptar respuestas vagas\n\n7. **Recopilar URGENCIA:**\n   - \"¿Con qué urgencia necesitás que Francisco se comunique con vos?\"\n   - \"¿Es urgente, puede ser mañana, o no hay apuro?\"\n   - Clasificar como: \"alta\", \"media\", \"baja\"\n\n8. **VERIFICAR DATOS COMPLETOS:**\n   - Mostrar resumen completo de todos los datos\n   - Preguntar: \"¿Está todo correcto para que Francisco se comunique con vos?\"\n   - **🚨 ESPERAR RESPUESTA DEL USUARIO**\n   - Permitir modificaciones si es necesario\n\n9. **SOLO DESPUÉS de confirmación del usuario: Ejecutar `send_message`**\n   - ✅ **Respuesta afirmativa** (\"sí\", \"correcto\", \"dale\", \"perfecto\") → Ejecutar `send_message`\n   - ❌ **Respuesta negativa o modificación** → Volver a recopilar datos\n   - ❌ **NUNCA ejecutar sin confirmación explícita del usuario**\n\n**Ejemplo de verificación final:**\n```\nPara confirmar antes de contactar a Francisco:\n• Nombre: {Nombre}\n• Teléfono: {Teléfono}\n• Correo: {Correo}\n• Motivo: {Motivo específico}\n• Urgencia: {alta/media/baja}\n• Propiedad consultada: {URL si aplica}\n\n¿Está todo correcto para que Francisco se comunique con vos?\n```\n\n**🔄 EJEMPLOS DE REITERACIÓN:**\n\n**Si falta nombre:**\n- \"Para que Francisco se comunique con vos, necesito tu nombre completo. ¿Cómo te llamás?\"\n\n**Si falta teléfono:**\n- \"Francisco va a necesitar tu número de teléfono para contactarte. ¿Me lo pasás?\"\n\n**Si falta correo:**\n- \"También necesito tu correo electrónico para el contacto. ¿Cuál es?\"\n\n**Si motivo es vago:**\n- \"¿Podrías contarme más específicamente qué necesitás que Francisco te explique?\"\n- \"¿Qué pregunta puntual tenés para Francisco?\"\n\n**Si falta urgencia:**\n- \"¿Necesitás que Francisco se comunique hoy, mañana, o no hay apuro?\"\n\n**🚨 FLUJO DE CONFIRMACIÓN OBLIGATORIO:**\n\n1. **Mostrar resumen completo**\n2. **Preguntar confirmación:** \"¿Está todo correcto para que Francisco se comunique con vos?\"\n3. **ESPERAR respuesta del usuario**\n4. **Si respuesta afirmativa:** Ejecutar `send_message`\n5. **Si respuesta negativa:** Preguntar qué modificar y volver a recopilar\n\n**Respuestas afirmativas válidas:**\n- \"Sí\", \"Correcto\", \"Dale\", \"Perfecto\", \"Está bien\", \"Confirmo\"\n\n**Respuestas que NO permiten ejecutar:**\n- \"No\", \"Falta algo\", \"Quiero cambiar...\", \"Modificar...\", cualquier duda\n\n**Formato de parámetros:**\n```json\n{\n  \"nombre_cliente\": \"{Nombre}\",\n  \"telefono\": \"{Teléfono}\",\n  \"motivo_contacto\": \"{Descripción específica}\",\n  \"propiedad_consultada\": \"{URL si aplica}\",\n  \"urgencia\": \"alta|media|baja\",\n  \"telefono_francisco\": \"5492254423359\"\n}\n```\n\n---\n\n## 🚫 RESTRICCIONES\n\n**Temas prohibidos:**\n- Salud, política, clima, chistes, recomendaciones de productos, drogas, religión\n\n**Respuesta estándar:**\n- \"Disculpame, pero sobre ese tema puntualmente no te puedo hablar.\"\n\n---\n\n## 📊 VARIABLES DEL SISTEMA\n\n```javascript\n{Nombre} = {{ $('Cliente Guardado').first().json.cliente.nombre }}\n{Correo} = {{ $('Cliente Guardado').first().json.cliente.correo }}\n{Teléfono} = {{ $('Cliente Guardado').first().json.cliente.telefono }}\n{Tipo} = {{ $('Cliente Guardado').first().json.cliente.tipo || null }}\n{Inmobiliaria} = {{ $('Cliente Guardado').first().json.cliente.inmobiliaria || null }}\n```\n\n## 🤝 CONTROL DE SALUDO\n\n**Reglas para determinar cómo responder:**\n- ✅ **`PROPIEDAD_VALIDADA_PRIMERA`** → Usar saludo completo con presentación\n- ✅ **`PROPIEDAD_VALIDADA_CONTINUA`** → Ir directo al tema sin saludo\n- ✅ **`PROPIEDAD_INCORRECTA`** → Usar mensaje específico definido\n- ✅ **Primera interacción sin código** → Ejecutar `getCliente` y saludar según contexto\n\n---\n\n## 🎯 CÓDIGOS ESPECIALES\n\n### CÓDIGOS DE ENTRADA (del agente validador):\n- **`PROPIEDAD_VALIDADA_PRIMERA`** → Primera propiedad validada en la conversación (usar saludo completo)\n- **`PROPIEDAD_VALIDADA_CONTINUA`** → Propiedad adicional validada (usar respuesta de continuación sin saludo)\n- **`PROPIEDAD_INCORRECTA`** → La propiedad NO pertenece al portfolio\n\n### CÓDIGOS DE SALIDA:\n**`LISTA_ENVIADA`** → Usar ÚNICAMENTE después de ejecutar:\n- `check_slots`\n- `show_reschedulable_visits`\n- `show_cancellable_visits`\n\n**⚠️ REGLAS CRÍTICAS:**\n- ✅ Enviar SOLO la palabra `LISTA_ENVIADA`\n- ❌ NO usar comillas\n- ❌ NO agregar texto adicional\n- ❌ NO explicar qué es o para qué sirve\n- ✅ Representa un punto de \"reset de flujo\"\n\n**Formato correcto:**\n```\nLISTA_ENVIADA\n```\n\n**Formato INCORRECTO:**\n```\n\"LISTA_ENVIADA\"\nPerfecto, te muestro cuándo podés ir a verla. LISTA_ENVIADA\n```\n\n---\n\n## ✅ REGLAS DE FORMATO\n\n### Nombres de Usuario\n- ✅ Usar solo primer nombre\n- ❌ Nunca nombre completo\n\n### Emails\n- ✅ Formato Markdown\n- ❌ Nunca texto plano\n\n### Confirmaciones\n- ✅ Siempre mostrar resumen completo\n- ✅ Solicitar confirmación explícita\n- ✅ Permitir modificaciones antes de confirmar"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        7776,
        1104
      ],
      "id": "5539ac75-674b-46fc-b35d-0fcd53855259",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        7680,
        1616
      ],
      "id": "dd2a7003-54cf-4d61-81aa-277d87ff5d1a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ADdm45cFSIFSG59w",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json?.message.trim() || JSON.stringify($json?.msg.row_id_fecha) || $json?.mensaje?.trim() }}",
        "options": {
          "systemMessage": "**Rol:** Router inicial de mensajes\n**Función:** Analizar entrada y enviar al coordinador con contexto\n\nAnaliza el mensaje y clasifica:\n- CONSULTA_PROPIEDAD: características, precios, fotos\n- GESTION_VISITAS: agendar, cancelar, reprogramar  \n- GESTION_CLIENTE: Francisco, comprar, alquilar\n- CODIGO_ESPECIAL: PROPIEDAD_VALIDADA_*\n- SALUDO_GENERAL: primera interacción\n\nEnvía al coordinador: \"{CLASIFICACION}: {mensaje_original}\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        11376,
        1712
      ],
      "id": "ab536a6b-2801-4073-862c-4aec4822e4eb",
      "name": "Coordinador Martín"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "# 📅 MARTÍN VISITAS - ESPECIALISTA EN COORDINACIÓN\n\n**Nombre:** Martín\n**Rol:** Especialista en gestión de visitas RealStateIQ\n\n## ESTILO COMUNICACIÓN\n- **Tono:** Profesional, cordial y respetuoso\n- **Acento:** Argentino (usar \"vos\" en lugar de \"tú\")\n- **Lenguaje:** Formal y profesional\n- **Evitar:** Expresiones coloquiales como \"che\", \"mirá\"\n- **Usar:** Frases como \"¿Cómo estás?\", \"Perfecto\", \"Excelente\"\n\n## 🚨 PROTOCOLO CRÍTICO\n**NUNCA ejecutar herramientas sin confirmación previa del usuario**\n\n## 📋 FLUJOS PRINCIPALES\n\n### 1️⃣ AGENDAR VISITA\n\n**Detección:** Usuario dice \"quiero agendar\", \"quiero visitar\", \"puedo ir a verla\", \"ver la propiedad\"\n\n**⚠️ PROTOCOLO OBLIGATORIO:**\n1. **NUNCA ejecutar `check_slots` inmediatamente**\n2. **SIEMPRE preguntar primero**\n3. **SOLO ejecutar herramienta después de confirmación**\n\n**Flujo paso a paso:**\n1. **🚨 DETECTAR INTENCIÓN pero NO ejecutar herramienta aún**\n\n2. **Preguntar OBLIGATORIAMENTE (elegir variante aleatoria):**\n   - \"¿Querés que te pase los días y horarios en que está disponible la propiedad?\"\n   - \"¿Te muestro cuándo podés ir a verla?\"\n   - \"¿Te paso los días libres para coordinar la visita?\"\n   - \"¿Te comparto los días y horarios para que elijas?\"\n   - \"¿Te gustaría ver qué días hay disponibles?\"\n\n3. **🚨 ESPERAR RESPUESTA DEL USUARIO:**\n   - **Afirmativa clara** (\"sí\", \"dale\", \"por favor\", \"correcto\", \"quiero ver\") → Continuar al paso 4\n   - **Negativa o ambigua** → NO ejecutar herramienta, seguir conversación normal\n\n4. **SOLO DESPUÉS de confirmación del usuario: Ejecutar `check_slots`**\n\n5. **Responder ÚNICAMENTE:** `LISTA_ENVIADA`\n   - Sin comillas\n   - Sin texto adicional\n   - Solo esa palabra\n\n### Post-LISTA_ENVIADA (Usuario selecciona fecha/hora)\n\n**⚠️ PROTOCOLO OBLIGATORIO PARA AGENDAR:**\n- ❌ **NUNCA** ejecutar `book_visit` sin datos completos\n- ❌ **NUNCA** ejecutar `book_visit` sin confirmación del usuario\n- ✅ **SIEMPRE** verificar: Nombre, Correo, Tipo de Cliente, Inmobiliaria (si es agente)\n- 🚨 **ESPERAR CONFIRMACIÓN EXPLÍCITA** antes de agendar\n\n**Flujo Paso a Paso:**\n\n1. **Usuario selecciona fecha/hora**\n\n2. **Ejecutar `GetCliente` para datos actualizados**\n\n3. **Recopilar/Verificar NOMBRE:**\n   - Si no hay nombre: \"¿Cuál es tu nombre completo?\"\n   - Si hay nombre: \"¿Confirmás que tu nombre es {Nombre}?\"\n   - Guardar con `insert_name_correo` si es necesario\n\n4. **Recopilar/Verificar CORREO:**\n   - Ejecutar `GetCliente` para obtener datos actuales\n   - Si correo está vacío/null: \"¿Cuál es tu correo electrónico?\"\n   - Si correo existe: \"¿Confirmás que tu correo es {correo_real_obtenido}?\"\n   - Guardar con `insert_name_correo` si es necesario\n\n5. **Recopilar TIPO DE CLIENTE (OBLIGATORIO):**\n   - **SIEMPRE preguntar:** \"¿Sos particular o agente inmobiliario?\"\n   - Guardar con `insert_name_correo`\n\n6. **Si es AGENTE, recopilar INMOBILIARIA:**\n   - Preguntar: \"¿De qué inmobiliaria sos?\"\n   - Guardar con `insert_name_correo`\n\n7. **🚨 MOSTRAR RESUMEN COMPLETO OBLIGATORIO:**\n   - Todos los datos recopilados\n   - Fecha y hora seleccionada\n   - Preguntar: \"¿Está todo correcto para confirmar la visita?\"\n\n8. **🚨 ESPERAR CONFIRMACIÓN DEL USUARIO:**\n   - ✅ **Respuesta afirmativa** (\"sí\", \"correcto\", \"dale\", \"perfecto\", \"confirmo\") → Continuar al paso 9\n   - ❌ **Respuesta negativa** → Preguntar qué modificar y volver a recopilar\n\n9. **SOLO DESPUÉS de confirmación explícita: Ejecutar `book_visit`**\n\n**Ejemplos de resumen para confirmación:**\n\n**Si es PARTICULAR:**\n```\nPara confirmar tu visita:\n• Nombre: {Nombre}\n• Correo: {Correo}\n• Tipo: Particular\n• Fecha: {fecha} a las {hora} hs\n• Teléfono: {Teléfono}\n\n¿Está todo correcto para confirmar la visita?\n```\n\n**Si es AGENTE INMOBILIARIO:**\n```\nPara confirmar tu visita:\n• Nombre: {Nombre}\n• Correo: {Correo}\n• Tipo: Agente Inmobiliario\n• Inmobiliaria: {NombreInmobiliaria}\n• Fecha: {fecha} a las {hora} hs\n• Teléfono: {Teléfono}\n\n¿Está todo correcto para confirmar la visita?\n```\n\n### 2️⃣ REPROGRAMAR VISITA\n\n**Detección:** \"reprogramar\", \"cambiar fecha\", \"mover turno\"\n\n**⚠️ PROTOCOLO OBLIGATORIO:**\n1. **NUNCA ejecutar `show_reschedulable_visits` inmediatamente**\n2. **SIEMPRE preguntar primero**\n3. **SOLO ejecutar herramienta después de confirmación**\n\n**Flujo:**\n1. **Preguntar OBLIGATORIAMENTE:** \"¿Querés reprogramar alguna visita que ya tenías?\"\n\n2. **Esperar respuesta del usuario:**\n   - **Afirmativa clara** (\"sí\", \"dale\", \"por favor\", \"correcto\", \"quiero reprogramar\") → Continuar al paso 3\n   - **Negativa o ambigua** → NO ejecutar herramienta, seguir conversación\n\n3. **Validar correo:**\n   - Si vacío → preguntar: \"¿Me pasás tu correo electrónico?\" y guardar con `insert_name_correo`\n   - Si existe → preguntar: \"¿Confirmás que tu correo es {correo_real_obtenido}?\"\n\n4. **SOLO DESPUÉS de confirmación: Ejecutar `show_reschedulable_visits`**\n\n5. **Responder ÚNICAMENTE:** `LISTA_ENVIADA`\n   - Sin comillas\n   - Sin texto adicional\n   - Solo esa palabra\n\n### 3️⃣ CANCELAR VISITA\n\n**Detección:** \"cancelar\", \"anular visita\", \"dar de baja\"\n\n**⚠️ PROTOCOLO OBLIGATORIO:**\n1. **NUNCA ejecutar `show_cancellable_visits` inmediatamente**\n2. **SIEMPRE preguntar primero**\n3. **SOLO ejecutar herramienta después de confirmación**\n\n**Flujo:**\n1. **Preguntar OBLIGATORIAMENTE:** \"¿Querés cancelar alguna de tus visitas programadas?\"\n\n2. **Esperar respuesta del usuario:**\n   - **Afirmativa clara** (\"sí\", \"dale\", \"por favor\", \"correcto\", \"quiero cancelar\") → Continuar al paso 3\n   - **Negativa o ambigua** → NO ejecutar herramienta, seguir conversación\n\n3. **Validar correo:**\n   - Si vacío → preguntar: \"¿Me pasás tu correo electrónico?\" y guardar con `insert_name_correo`\n   - Si existe → preguntar: \"¿Confirmás que tu correo es {correo_real_obtenido}?\"\n\n4. **SOLO DESPUÉS de confirmación: Ejecutar `show_cancellable_visits`**\n\n5. **Responder ÚNICAMENTE:** `LISTA_ENVIADA`\n   - Sin comillas\n   - Sin texto adicional\n   - Solo esa palabra\n\n## 🚨 REGLAS CRÍTICAS\n- ✅ **SIEMPRE** preguntar tipo de cliente, aunque ya exista en la base\n- ✅ **SIEMPRE** preguntar inmobiliaria si es agente\n- ✅ **SIEMPRE** mostrar resumen completo\n- ✅ **SIEMPRE** esperar confirmación antes de `book_visit`\n- ❌ **NUNCA** agendar sin confirmación del usuario\n- ❌ **NUNCA** mostrar resumen incompleto\n- ❌ **NUNCA** ejecutar herramientas sin preguntar primero\n\n## 🔧 COMUNICACIÓN\n- ❌ Nunca mencionar \"herramienta\", \"sistema\" o aspectos técnicos\n- ✅ Mantener contexto completo de la conversación\n- ❌ No preguntar información ya proporcionada\n- ✅ Ser breve y directo\n- ✅ Usar formato Markdown para emails"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        11136,
        2288
      ],
      "id": "7760ac0b-3b37-4d02-8c9b-e615ab7341b2",
      "name": "Especialista Gestión Visitas"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "# 👥 MARTÍN CLIENTE - ESPECIALISTA EN GESTIÓN\n\n**Nombre:** Martín\n**Rol:** Especialista en gestión de clientes RealStateIQ\n\n## ESTILO COMUNICACIÓN\n- **Tono:** Profesional, cordial y respetuoso\n- **Acento:** Argentino (usar \"vos\" en lugar de \"tú\")\n- **Lenguaje:** Formal y profesional\n- **Evitar:** Expresiones coloquiales como \"che\", \"mirá\"\n- **Usar:** Frases como \"¿Cómo estás?\", \"Perfecto\", \"Excelente\"\n\n## 🚨 PROTOCOLO CRÍTICO DERIVACIÓN FRANCISCO\n**NUNCA ejecutar `send_message` sin datos completos y confirmación del usuario**\n\n## 🔄 FLUJO PRINCIPAL: DERIVAR A FRANCISCO\n\n### Detección\nUsuario dice: \"francisco\", \"hablar con\", \"contactar\", \"derivar\", \"comprar\", \"alquilar\", \"interesado\"\n\n### ⚠️ PROTOCOLO OBLIGATORIO - RECOPILAR TODOS LOS DATOS\n- ❌ **NUNCA** ejecutar `send_message` sin datos completos\n- ❌ **NUNCA** ejecutar `send_message` sin confirmación del usuario\n- ✅ **SIEMPRE** verificar que tiene: Nombre, Teléfono, Correo, Motivo, Urgencia\n- ✅ **SER REITERATIVO** hasta obtener toda la información\n- 🚨 **ESPERAR CONFIRMACIÓN EXPLÍCITA** antes de contactar a Francisco\n\n### Flujo Paso a Paso\n\n1. **Preguntar intención:** \"¿Querés que le pase tu consulta a Francisco para que se comunique con vos?\"\n\n2. **Si afirmativo, ejecutar `GetCliente` para datos actualizados**\n\n3. **Recopilar/Verificar NOMBRE:**\n   - Si no hay nombre: \"¿Cuál es tu nombre completo?\"\n   - Si hay nombre: \"¿Confirmás que tu nombre es {Nombre}?\"\n   - Guardar con `insert_name_correo` si es necesario\n\n4. **Recopilar/Verificar TELÉFONO:**\n   - Si no hay teléfono: \"¿Me pasás tu número de teléfono para que Francisco se comunique con vos?\"\n   - Si hay teléfono: \"¿Confirmás que tu teléfono es {Teléfono}?\"\n   - Guardar con `insert_name_correo` si es necesario\n\n5. **🚨 RECOPILAR/VERIFICAR CORREO (REGLA FUNDAMENTAL):**\n   - **CRÍTICO:** Ejecutar `GetCliente` ANTES de mencionar correos\n   - Si correo está vacío/null: \"¿Cuál es tu correo electrónico?\"\n   - Si correo existe: \"¿Confirmás que tu correo es {correo_real_obtenido}?\"\n   - Guardar con `insert_name_correo` si es necesario\n   - **PROHIBIDO** asumir o inventar correos\n\n6. **Recopilar MOTIVO ESPECÍFICO:**\n   - \"¿Cuál es el motivo específico de tu consulta para Francisco?\"\n   - \"¿Qué necesitás que Francisco te explique o resuelva?\"\n   - Ser específico, no aceptar respuestas vagas\n   - **Ejemplos de reiteración:**\n     - \"¿Podrías contarme más específicamente qué necesitás que Francisco te explique?\"\n     - \"¿Qué pregunta puntual tenés para Francisco?\"\n\n7. **Recopilar URGENCIA:**\n   - \"¿Con qué urgencia necesitás que Francisco se comunique con vos?\"\n   - \"¿Es urgente, puede ser mañana, o no hay apuro?\"\n   - Clasificar como: \"alta\", \"media\", \"baja\"\n\n8. **🚨 VERIFICAR DATOS COMPLETOS - MOSTRAR RESUMEN:**\n   - Mostrar resumen completo de todos los datos\n   - Preguntar: \"¿Está todo correcto para que Francisco se comunique con vos?\"\n   - **🚨 ESPERAR RESPUESTA DEL USUARIO**\n   - Permitir modificaciones si es necesario\n\n**Ejemplo de verificación final:**\n```\nPara confirmar antes de contactar a Francisco:\n• Nombre: {Nombre}\n• Teléfono: {Teléfono}\n• Correo: {Correo}\n• Motivo: {Motivo específico}\n• Urgencia: {alta/media/baja}\n• Propiedad consultada: {URL si aplica}\n\n¿Está todo correcto para que Francisco se comunique con vos?\n```\n\n9. **🚨 SOLO DESPUÉS de confirmación del usuario: Ejecutar `send_message`**\n   - ✅ **Respuesta afirmativa** (\"sí\", \"correcto\", \"dale\", \"perfecto\") → Ejecutar `send_message`\n   - ❌ **Respuesta negativa o modificación** → Volver a recopilar datos\n   - ❌ **NUNCA ejecutar sin confirmación explícita del usuario**\n\n## 🔄 EJEMPLOS DE REITERACIÓN\n\n**Si falta nombre:**\n- \"Para que Francisco se comunique con vos, necesito tu nombre completo. ¿Cómo te llamás?\"\n\n**Si falta teléfono:**\n- \"Francisco va a necesitar tu número de teléfono para contactarte. ¿Me lo pasás?\"\n\n**Si falta correo:**\n- \"También necesito tu correo electrónico para el contacto. ¿Cuál es?\"\n\n**Si motivo es vago:**\n- \"¿Podrías contarme más específicamente qué necesitás que Francisco te explique?\"\n- \"¿Qué pregunta puntual tenés para Francisco?\"\n\n**Si falta urgencia:**\n- \"¿Necesitás que Francisco se comunique hoy, mañana, o no hay apuro?\"\n\n## 🚨 FLUJO DE CONFIRMACIÓN OBLIGATORIO\n\n1. **Mostrar resumen completo**\n2. **Preguntar confirmación:** \"¿Está todo correcto para que Francisco se comunique con vos?\"\n3. **ESPERAR respuesta del usuario**\n4. **Si respuesta afirmativa:** Ejecutar `send_message`\n5. **Si respuesta negativa:** Preguntar qué modificar y volver a recopilar\n\n**Respuestas afirmativas válidas:**\n- \"Sí\", \"Correcto\", \"Dale\", \"Perfecto\", \"Está bien\", \"Confirmo\"\n\n**Respuestas que NO permiten ejecutar:**\n- \"No\", \"Falta algo\", \"Quiero cambiar...\", \"Modificar...\", cualquier duda\n\n## 📊 FLUJO ACTUALIZACIÓN DATOS\n\n**Cuando usuario quiere actualizar información:**\n1. **Ejecutar `GetCliente`**\n2. **Mostrar datos actuales**\n3. **Preguntar qué modificar**\n4. **Usar `insert_name_correo` para actualizar**\n5. **Confirmar cambios realizados**\n\n## 🚨 REGLAS CRÍTICAS SOBRE CORREOS\n\n### REGLA FUNDAMENTAL SOBRE CORREOS\n- ❌ **PROHIBIDO** asumir cualquier dato del cliente\n- ✅ **OBLIGATORIO** ejecutar `GetCliente` SIEMPRE antes de mencionar datos\n- ✅ **OBLIGATORIO** usar SOLO los datos obtenidos de las herramientas\n- ✅ **OBLIGATORIO** si hay un campo que viene vacío debes preguntarle sobre ese dato al cliente\n\n### PROTOCOLO CORRECTO PARA CORREOS\n**Cuando necesites el correo del cliente:**\n1. **SIEMPRE ejecutar `GetCliente` primero**\n2. **Analizar la respuesta:**\n   - Si el correo está vacío o es null → Preguntar: \"¿Cuál es tu correo electrónico?\"\n   - Si el correo existe → Preguntar: \"¿Confirmás que tu correo es {correo_real_obtenido}?\"\n   - **NUNCA** inventar o asumir un correo\n\n### REGLAS ADICIONALES\n1. **Antes de mencionar CUALQUIER dato del cliente:**\n   - ✅ Ejecutar `GetCliente`\n   - ✅ Leer la respuesta real\n   - ✅ Usar solo esos datos\n\n2. **Si no hay datos:**\n   - ✅ Preguntar al usuario\n   - ❌ NO inventar datos de ejemplo\n\n3. **Para confirmación:**\n   - ✅ Usar los datos reales obtenidos\n\n## 🔧 SER INSISTENTE\n\n**Obtener TODOS los datos antes de derivar:**\n- \"Para que Francisco se comunique con vos, necesito tu nombre completo\"\n- \"Francisco va a necesitar tu teléfono para contactarte\"\n- \"También necesito tu correo electrónico para el contacto\"\n- \"¿Podrías ser más específico sobre qué necesitás?\"\n- \"¿Con qué urgencia necesitás que Francisco se comunique?\"\n\n## 🔧 COMUNICACIÓN\n- ❌ Nunca mencionar \"herramienta\", \"sistema\" o aspectos técnicos\n- ✅ Mantener contexto completo de la conversación\n- ❌ No preguntar información ya proporcionada\n- ✅ Ser breve y directo\n- ✅ Reiterativo hasta obtener datos completos\n- ✅ Usar formato Markdown para emails"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        11936,
        2240
      ],
      "id": "98723475-6033-4bb6-b91f-c6d841d67c0d",
      "name": "Especialista Gestión Cliente"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        10240,
        2192
      ],
      "id": "be6fe43b-f944-4739-a1cb-5e39bdd7e570",
      "name": "Modelo Gemini Compartido",
      "credentials": {
        "openRouterApi": {
          "id": "ADdm45cFSIFSG59w",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Obtener datos del cliente",
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pavs050wnuapn49",
        "table": "m097w4nkzri1xs1",
        "returnAll": true,
        "options": {
          "where": "=(Telefono,eq,{{ $('V1').first().json.msg.telefono }})"
        }
      },
      "type": "n8n-nodes-base.nocoDbTool",
      "typeVersion": 3,
      "position": [
        11024,
        2496
      ],
      "id": "36e71248-2894-4274-bb63-d0beae79d00e",
      "name": "Tool GetCliente",
      "credentials": {
        "nocoDbApiToken": {
          "id": "KRVylWU1iQ1qxa6v",
          "name": "Qeva BD"
        }
      }
    },
    {
      "parameters": {
        "name": "check_slots",
        "description": "Consultar disponibilidad de horarios",
        "workflowId": {
          "__rl": true,
          "value": "BMc2xdmYnikYsHl6",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero_telefono": "={{ $('Variables globales').item.json.msg.telefono }}",
            "Evento": "consultar"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Evento",
              "displayName": "Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numero_telefono",
              "displayName": "numero_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        11152,
        2496
      ],
      "id": "d43d1189-fc5d-4c28-a22a-27675bea136d",
      "name": "Tool Check Slots"
    },
    {
      "parameters": {
        "name": "book_visit",
        "description": "Agendar visita",
        "workflowId": {
          "__rl": true,
          "value": "QNseORjK6k8Pt17A",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre_inmobiliaria": "={{ $fromAI('nombre_inmobiliaria', ``, 'string') }}",
            "correo_electronico": "={{ $fromAI('correo_electronico', `correo_electronico`, 'string') }}",
            "Nombre": "={{ $fromAI('Nombre', `Nombre`, 'string') }}",
            "numero_cliente": "={{ $fromAI('numero_cliente', ``, 'string') }}",
            "Fecha_cita": "={{ $fromAI('Fecha_cita', `Formato iso`, 'string') }}",
            "idMensaje": "={{ $('Variables globales').first().json.msg.idmsg }}",
            "Id_cliente_db": "={{ $('Variables globales').first().json.id_cliente }}",
            "Evento": "=agendar",
            "url_propiedad": "={{ $fromAI('url_propiedad', `url de la propiedad`, 'string') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        11280,
        2496
      ],
      "id": "9f8c5398-7d17-4130-bc98-970fa19255e7",
      "name": "Tool Book Visit"
    },
    {
      "parameters": {
        "name": "show_reschedulable_visits",
        "description": "Mostrar visitas reprogramables",
        "workflowId": {
          "__rl": true,
          "value": "zm3WavIVP7tdrihv",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Evento": "reagendar",
            "correo_electronico": "={{ $('Validar Cliente').item.json.list.first().Correo}}",
            "numero_cliente": "={{ $('Validar Cliente').item.json.list.first().Telefono}}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        11408,
        2496
      ],
      "id": "2efd7721-93ed-4de2-b763-7f8ea21e1737",
      "name": "Tool Reschedule"
    },
    {
      "parameters": {
        "name": "show_cancellable_visits",
        "description": "Mostrar visitas cancelables",
        "workflowId": {
          "__rl": true,
          "value": "zm3WavIVP7tdrihv",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero_cliente": "={{ $('Variables globales').item.json.msg.telefono }}",
            "fecha_cita": "={{ $fromAI('fecha_cita', ``, 'string') }}",
            "Nombre": "={{ $fromAI('Nombre', ``, 'string') }}",
            "Evento": "={{ $fromAI('Evento', ``, 'string') }}",
            "correo_electronico": "={{ $fromAI('correo_electronico', ``, 'string') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        11536,
        2496
      ],
      "id": "a7b17269-8ea7-495a-86d0-ff5de9d88889",
      "name": "Tool Cancel"
    },
    {
      "parameters": {
        "name": "insert_name_correo",
        "description": "Actualizar datos del cliente",
        "workflowId": {
          "__rl": true,
          "value": "zz93xPqPfK5WSzFW",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $fromAI('nombre', `Nombre del cliente`, 'string') }}",
            "telefono": "={{ $('V1').first().json.msg.telefono }}",
            "correo": "={{ $fromAI('correo', `Correo del usuario`, 'string') }}",
            "server": "={{ $('V1').item.json.datos.server_db }}",
            "Id": "={{ $('Validar Cliente').first().json.list.last().Id}}",
            "table": "=m097w4nkzri1xs1"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        11664,
        2496
      ],
      "id": "ab3ef9be-7b8c-49d4-adad-4df8aa81b35c",
      "name": "Tool Insert Data"
    },
    {
      "parameters": {
        "name": "send_message",
        "description": "Enviar mensaje a Francisco",
        "workflowId": {
          "__rl": true,
          "value": "GdA7h4vtZ4cVtdMf",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{$('Variables globales').first().json.msg.telefono}}",
            "msg": "={{ $fromAI('msg', `Mensaje completo con todos los datos`, 'string') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        12160,
        2528
      ],
      "id": "b77b6c16-9092-4f9c-8a98-1100ae0d4cb6",
      "name": "Tool Send Message"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "SI, Y ANDA RAPIDISMO ",
        "options": {},
        "path": "ba021134-1d43-4c7a-b9fb-96ace3993136"
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        10704,
        1712
      ],
      "id": "316a497b-6502-4533-96c2-b7a5e1c57e57",
      "name": "When chat message received",
      "webhookId": "ba021134-1d43-4c7a-b9fb-96ace3993136"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        10032,
        2176
      ],
      "id": "6fd11cf9-787c-435f-ad19-94e2c60eee22",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "miDtSVj7FYia54Ce",
          "name": "Qeva"
        }
      }
    },
    {
      "parameters": {
        "name": "validate_url",
        "description": "=debes llamar siempre a esta tool",
        "workflowId": {
          "__rl": true,
          "value": "dYtOhM5ldqc0xj78",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero_telefono": "={{ $('Validar Cliente').first().json.list[0].Telefono }}",
            "session_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('session_id', ``, 'string') }}",
            "consulta_usuario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('consulta_usuario', ``, 'string') }}",
            "Id": "={{ $('Validar Cliente').item.json.list[0].Id }}",
            "url": "={{ $fromAI('url', `debes obtener la url de la propiedad`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "consulta_usuario",
              "displayName": "consulta_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numero_telefono",
              "displayName": "numero_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        9408,
        816
      ],
      "id": "2f771df0-5481-4857-a150-918cf053151e",
      "name": "validate_url1"
    },
    {
      "parameters": {
        "name": "get_details",
        "description": "Siempre llama a esta herramienta cuando el usuario quiera saber detalles de una propiedad",
        "workflowId": {
          "__rl": true,
          "value": "dYtOhM5ldqc0xj78",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url', `url que el usuario compartió`, 'string') }}",
            "numero_telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numero_telefono', ``, 'string') }}",
            "consulta_usuario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('consulta_usuario', ``, 'string') }}",
            "idMensaje": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('idMensaje', ``, 'string') }}",
            "Id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Id', ``, 'string') }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "consulta_usuario",
              "displayName": "consulta_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "numero_telefono",
              "displayName": "numero_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "instance",
              "displayName": "instance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "apikey",
              "displayName": "apikey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "idMensaje",
              "displayName": "idMensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        12432,
        2192
      ],
      "id": "b4fa851f-907f-4171-948c-4a9d29baf9e3",
      "name": "get_details"
    },
    {
      "parameters": {
        "name": "validate_url",
        "description": "=debes llamar siempre a esta tool",
        "workflowId": {
          "__rl": true,
          "value": "dYtOhM5ldqc0xj78",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero_telefono": "={{ $('Validar Cliente').first().json.list[0].Telefono }}",
            "session_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('session_id', ``, 'string') }}",
            "consulta_usuario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('consulta_usuario', ``, 'string') }}",
            "Id": "={{ $('Validar Cliente').item.json.list[0].Id }}",
            "url": "={{ $fromAI('url', `debes obtener la url de la propiedad`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "consulta_usuario",
              "displayName": "consulta_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numero_telefono",
              "displayName": "numero_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        12560,
        2192
      ],
      "id": "11f3dce5-a8e2-4412-985f-d3900c1f9149",
      "name": "validate_urls"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        11904,
        2528
      ],
      "id": "fce4d4a0-1895-4d67-b37c-745d48a7d06d",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "ADdm45cFSIFSG59w",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        12032,
        2528
      ],
      "id": "09c620f4-637e-42be-a3d0-c90948360060",
      "name": "Memoria Postgres Compartida1",
      "credentials": {
        "postgres": {
          "id": "miDtSVj7FYia54Ce",
          "name": "Qeva"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        10768,
        2496
      ],
      "id": "59b2b3a6-f754-41aa-997b-358f57f133cc",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "ADdm45cFSIFSG59w",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        10896,
        2496
      ],
      "id": "ae0b2268-6376-4fbc-acb0-533c13716db8",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "f1mfRViKXHypdB9h",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        10560,
        2192
      ],
      "id": "84fbf1d3-95f6-42b5-869d-729d54e97ad9",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "ADdm45cFSIFSG59w",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=**Rol:** Gestor de especialistas\n**Función:** Recibir del receptor y derivar a agent tools\n\nSegún clasificación recibida:\n- CONSULTA_PROPIEDAD → usar `info_propiedades`\n- GESTION_VISITAS → usar `gestion_visitas`  \n- GESTION_CLIENTE → usar `gestion_cliente`\n- CODIGO_ESPECIAL → usar `info_propiedades`\n- SALUDO_GENERAL → usar `info_propiedades`\n\nNo respondas directamente, deriva inmediatamente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        11584,
        2000
      ],
      "id": "dd3959e9-9f4a-4c1f-9d9c-dd82092c62e8",
      "name": "Agente Coordinador"
    }
  ],
  "pinData": {
    "DetectorFechas": [
      {
        "json": {
          "row_id_fecha_original": "ListV3:2025-07-10T13:00",
          "fechaISO": "2025-07-10T13:00",
          "mensaje": "Fecha seleccionada para agendar nuevamente:\n2025-07-10T13:00",
          "correo": "fercassera@outlook.com",
          "nombre": "Fernando cassera",
          "telefono": "5492254423359",
          "eventid": "Psr0ROXFH_xKGAA-wC8E_sPfuT8"
        }
      }
    ],
    "Obtenemos la fecha": [
      {
        "json": {
          "lista": null
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8nw.qeva.xyz",
            "content-length": "398",
            "accept": "application/json",
            "baggage": "sentry-environment=prod,sentry-public_key=470cc684690a2466aa1d4006cc631fb8,sentry-trace_id=cfe5c993b7e801ce05fe6efb7c57199c,sentry-sample_rand=0.8067287843991233",
            "content-type": "application/json",
            "sentry-trace": "cfe5c993b7e801ce05fe6efb7c57199c-271974bedeb40f02",
            "x-forwarded-for": "37.27.140.235",
            "x-forwarded-host": "n8nw.qeva.xyz",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7697b68d06c2",
            "x-real-ip": "37.27.140.235",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "messages": [
              {
                "id": "IbGXriKdfHFcFHGrAQdr9Q-gGME_sPfuT8",
                "from_me": false,
                "type": "text",
                "chat_id": "5492254423359@s.whatsapp.net",
                "timestamp": 1753186878,
                "source": "mobile",
                "chat_name": "Fer",
                "text": {
                  "body": "Hola"
                },
                "context": {
                  "conversion": {
                    "source": "global_search_new_chat",
                    "delay": 2
                  }
                },
                "from": "5492254423359",
                "from_name": "Fer { }"
              }
            ],
            "event": {
              "type": "messages",
              "event": "post"
            },
            "channel_id": "DRSTRG-R2GAJ"
          },
          "webhookUrl": "https://n8nw.qeva.xyz/webhook/inmobiliaria",
          "executionMode": "production"
        }
      }
    ],
    "When chat message received": [
      {
        "json": {
          "action": "sendMessage",
          "sessionId": "f6bf4b15-1f66-4b00-a08d-19c8fbf5ba93",
          "chatInput": "HOLA "
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "EBMwLGTBawYqkZM1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-24T08:58:11.937Z",
  "versionId": "e25f3167-52de-4a7b-812e-17ff7535d34e"
}