workflows/qpXHzu3mkTHO9yTO.json
{
  "active": false,
  "connections": {
    "Item List Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generador de títulos",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Text-to-Sound": {
      "main": [
        [
          {
            "node": "Upload MP3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload MP3": {
      "main": [
        [
          {
            "node": "Cambiar acceso",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cambiar acceso": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Text-to-img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Blotato IDs": {
      "main": [
        [
          {
            "node": "Vídeo Listo en Blotato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vídeo Listo en Blotato": {
      "main": [
        [
          {
            "node": "🔺YOUTUBE",
            "type": "main",
            "index": 0
          },
          {
            "node": "📷 INSTAGRAM",
            "type": "main",
            "index": 0
          },
          {
            "node": "🎵 TIKTOK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Gsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Video Link": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Set Blotato IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit + Render Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generador de títulos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generador de copys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DIsparador por horas": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generador de copys": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Generador de títulos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generador de títulos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generador de copys",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit + Render Video": {
      "main": [
        [
          {
            "node": "Final Video Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Text-to-Sound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "txt-to-img": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Image-to-video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Image-to-video": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text-to-img": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-28T03:55:45.993Z",
  "id": "qpXHzu3mkTHO9yTO",
  "isArchived": false,
  "meta": null,
  "name": "Subir contenido automatico",
  "nodes": [
    {
      "parameters": {
        "options": {
          "numberOfItems": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        -1840,
        1300
      ],
      "id": "668f0280-e0a2-4ad4-b49e-98b8a75136d2",
      "name": "Item List Output Parser"
    },
    {
      "parameters": {
        "content": "## INPUT: Tema del vídeo",
        "height": 500,
        "width": 940,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2580,
        960
      ],
      "id": "b759d8c0-b8d2-4b63-8314-8765d4b4b45a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## | Generador de Prompts\n",
        "height": 340,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1660,
        1620
      ],
      "id": "3039c67d-c1cc-4a87-ab8b-f0011c4e6870",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## | Agente\nGenerador de sonidos\n",
        "height": 320,
        "width": 740
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        1620
      ],
      "id": "9c643ba0-ad63-4564-b604-8d4c0aa365ee",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/sound-generation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_7ed4ede3a6d5b2a8902e9791d80a852afddab089fcff6890"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"text\": \"ambient musical background sounds for this person: {{ $('Google Sheets').first().json.idea }}, the action is: {{ $('Generador de títulos').item.json.text }}\",\n  \"duration_seconds\": 5,\n  \"prompt_influence\": 0.75\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        1720
      ],
      "id": "1402a7f4-8341-4d59-9813-ce67fbf855f3",
      "name": "Text-to-Sound"
    },
    {
      "parameters": {
        "name": "={{ $json.data.task_id }}.mp3",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1TQjG5dCmidN4nuiUn_n97KdrRb5EL5_X",
          "mode": "list",
          "cachedResultName": "Contenido ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1TQjG5dCmidN4nuiUn_n97KdrRb5EL5_X"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        700,
        1720
      ],
      "id": "d0b54c27-0f40-470a-921c-e9087b805366",
      "name": "Upload MP3",
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aVaybmP9OR6Yzwmy",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## OUTPUT: Vídeo final\n(Edición + Render)",
        "height": 420,
        "width": 920
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        780,
        1160
      ],
      "id": "cf6195ce-8404-46e1-8550-e63174c5c42b",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1320,
        1240
      ],
      "id": "caa4bdfa-bb2b-4b86-88c7-64ea830206c3",
      "name": "Merge",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw",
          "mode": "list",
          "cachedResultName": "Plantilla de Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Google Sheets').first().json.id }}",
            "production": "done",
            "final_output": "={{ $json.url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "production",
              "displayName": "production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "publishing",
              "displayName": "publishing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_output",
              "displayName": "final_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2140,
        1260
      ],
      "id": "0acdbe9e-5fae-4e52-ab42-2fa963e2818c",
      "name": "Final Video Link",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lRj57XPEqOXW9kOd",
          "name": "Qeva Solutions Sheet"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        900,
        1720
      ],
      "id": "5105cbbd-0e8d-4673-a62e-61787b6abe7c",
      "name": "Cambiar acceso",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aVaybmP9OR6Yzwmy",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## NOTA\nConectamos el nodo \"cambiar acceso\" al merge también para que el merge no se ejecute hasta que la creación del contenido se haya completado\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        300,
        1280
      ],
      "id": "c03074be-04eb-43cb-8d42-be20a6084519",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "=## 🧠 Generador Avanzado de Prompts en Primera Persona (POV) para Imágenes y Vídeos.\n\nEres una inteligencia artificial especializada en la generación avanzada de prompts, experta en expandir ideas breves de imágenes con punto de vista (POV) en descripciones detalladas e hiperrealistas, optimizadas para modelos de generación de imágenes como **Flux** y **MidJourney**.  \nTu tarea es tomar una entrada breve y transformarla en un prompt cinematográfico, inmersivo y rico en detalles, que siga estrictamente una perspectiva en primera persona, haciendo que el espectador sienta que está físicamente presente en la escena.\n\n---\n\n### 📌 Concepto general del video:\n`{{ $('Google Sheets').first().json.idea }}`\n\n### ✏️ Idea breve que debes expandir:\n`{{ $json.text }}`\n\n### 🌍 Descripción del entorno:\n`{{ $('Google Sheets').first().json.environment_prompt }}`\n\n---\n\n### 🧱 Estructura del prompt:\n\n1. **Inicio del prompt:**  \n   Empieza con:  \n   `{{ $('Google Sheets').item.json.idea }}`\n\n2. **Primer plano – Cuerpo del espectador:**  \n   Describe manos, extremidades o pies visibles.  \n   Comienza con:  \n   **\"Vista en primera persona, toma tipo GoPro de [extremidad relevante]...\"**\n\n3. **Fondo – Escenario:**  \n   Describe el entorno o paisaje.  \n   Comienza con:  \n   **\"Al fondo, [descripción del escenario]\"**\n\n---\n\n### ✅ Directrices clave:\n\n- La imagen **debe estar en perspectiva de primera persona**.\n- **Siempre debe haber una extremidad visible** (manos o pies) interactuando con el entorno.\n- El encuadre debe ser **dinámico e inmersivo**, como una cámara GoPro.\n\n---\n\n### 🧠 Detalles adicionales:\n\n- **Conciencia corporal:** Menciona peso, aliento, temblores, etc.\n- **Profundidad sensorial:** Involucra vista, tacto, temperatura, sonido y olor.\n- **Interacción activa:** Las extremidades deben interactuar con el entorno.\n- **Longitud:** Menos de **1000 caracteres**, en una sola oración, sin formato adicional ni explicaciones.\n\n---\n\n### 🧪 Ejemplos:\n\n**Entrada:** Subiendo por una escalera de incendios sobre calles de neón  \n**Salida:** Vista en primera persona, toma tipo GoPro de mis manos enguantadas esforzándose por subir la resbaladiza y oxidada escalera de incendios, luces de neón reflejadas en charcos más abajo, lluvia fría escurriéndose entre mis dedos temblorosos, sirenas lejanas aullando mientras mi aliento empaña el aire húmedo, con el borde del tejado apenas al alcance.\n\n**Entrada:** Alcanzando un café en una cafetería concurrida  \n**Salida:** Vista en primera persona, toma tipo GoPro de mi mano extendida rodeando una taza humeante, el calor traspasando la cerámica, el brazo tatuado del barista acercándome el café, el bullicio del ajetreo matutino rebotando en las paredes de azulejos, rayos de sol iluminando el polvo flotante mientras el aroma intenso del espresso invade mi respiración.\n\n**Entrada:** Despertando en una taberna medieval  \n**Salida:** Vista en primera persona, toma tipo GoPro de mis manos ásperas y callosas frotando mis ojos pesados, la luz temblorosa de una vela distorsionando las sombras sobre las vigas de madera, mis dedos recorriendo los surcos sudorosos de una jarra, el olor espeso a cerveza y humo impregnando el aire, risas apagadas y el distante rasgueo de un laúd activando mis sentidos.\n\n---\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1520,
        1740
      ],
      "id": "142f1cca-0636-44be-b621-f78913fa0cd5",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "UfA35dBDzEebw8zR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## NOTA\nEste modelo está entrenado para generar el prompt que se agarrará en los siguientes nodos para proceder con la generación de imágenes y posteriormente vídeo y audio.",
        "height": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        1440
      ],
      "id": "2c4e5982-3bd0-4d8d-8daa-a686e9b155e2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n   \n    \"youtube\": \"4198\",\n    \"tiktok\": \"6842\"\n   \n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2880,
        1140
      ],
      "id": "252fac83-4f9e-4f1b-949a-d42510262a7c",
      "name": "Set Blotato IDs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "=blt_Eb+9+8hjY6q8RStAypxV7D5W60qNKHHEEcjtrFVugoI="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Google Sheets').first().json.idea }}\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\":false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Generador de copys').item.json.text }}\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Set Blotato IDs').first().json.youtube }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3700,
        860
      ],
      "id": "7740d63f-07f2-4d31-b0be-1a7d6ed2f601",
      "name": "🔺YOUTUBE",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "PEGA AQUÍ TU API KEY DE BLOTATO"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Generador de copys').item.json.text }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Set Blotato IDs').first().json.instagram }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3700,
        1020
      ],
      "id": "c6aeb756-6ada-4a25-a078-885e49dd9886",
      "name": "📷 INSTAGRAM",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "PEGA AQUÍ TU API KEY DE BLOTATO"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": true,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Generador de copys').item.json.text }}\",\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Set Blotato IDs').first().json.tiktok }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3700,
        1200
      ],
      "id": "cc79c426-c66a-466d-983e-e4b556f57786",
      "name": "🎵 TIKTOK",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw",
          "mode": "list",
          "cachedResultName": "Plantilla de Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "production",
              "displayName": "production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "publishing",
              "displayName": "publishing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_output",
              "displayName": "final_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3700,
        1360
      ],
      "id": "013ff162-fa34-4785-bd13-1dd0b20d3255",
      "name": "Update Gsheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lRj57XPEqOXW9kOd",
          "name": "Qeva Solutions Sheet"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "blt_Eb+9+8hjY6q8RStAypxV7D5W60qNKHHEEcjtrFVugoI="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Final Video Link').first().json.final_output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3160,
        1140
      ],
      "id": "9f53d1fc-7fd3-4bee-a656-5dc86dde348a",
      "name": "Vídeo Listo en Blotato",
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## | Sistema\nPublicador de contenidos",
        "height": 780,
        "width": 1740,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1720,
        800
      ],
      "id": "3fcaeb01-ec15-4755-9f57-49a4bb90e428",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## TIEMPO DE EJECUCIÓN\n20s",
        "height": 80,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1420,
        1960
      ],
      "id": "3df08865-a520-4f1f-8449-b68e55e1780e",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## TIEMPO DE EJECUCIÓN\n1s",
        "height": 80,
        "width": 300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2180,
        1460
      ],
      "id": "78e69ef2-1581-4c37-b8ee-464932608d43",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## TIEMPO DE EJECUCIÓN\n1 min",
        "height": 80,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        1940
      ],
      "id": "1f287127-b828-4f70-8d50-9c770ba370ac",
      "name": "Sticky Note14"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2620,
        1140
      ],
      "id": "b389e0ec-a17c-4ba2-a1aa-2631fec56c11",
      "name": "Merge1"
    },
    {
      "parameters": {
        "content": "## | Agente\nCopywritter",
        "height": 340,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        520
      ],
      "id": "a25adeea-ebb4-48e6-a33e-846a8c1c40b1",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    scene_titles: items.map(item => item.json.text),\n    video_urls: items.map(item => item.json.data.output.video_url),\n    sound_urls: items.map(item => item.json.webContentLink)\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1260
      ],
      "id": "2bd0849d-556c-4427-87b9-6e6fe08df7ad",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.idea }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=## Goal\nGenerate ultra-detailed, hyper-realistic first-person POV prompts for psychedelic imagery that capture immersive experiences of two friends exploring consciousness expansion through cyberpunk environments, humanoid horror scenarios, nature-based mystical experiences, and scenes involving humans with technological augmentations.\n\n## Return format\nProvide a sequence of 5-10 short prompts (5-10 words each) written in first person using active verbs that flow chronologically through a complete journey experience. Each prompt should focus on the most visually striking, cosmically connected, and sensorially unique moments within cyberpunk, humanoid horror, or mystical nature settings. Format as a simple list without quotation marks, emphasizing pure sensory and visual experience over philosophical concepts.\n\n## Warnings\n- Never include double quotation marks in any output\n- Avoid basic preparation moments, direct consumption details, or obvious/repetitive elements\n- Do not include philosophical commentary or abstract concepts\n- Ensure prompts maintain chronological flow from beginning to end of the experience\n- Focus exclusively on hyper-realistic visual and sensory details combining technological and organic elements\n- Maintain first-person perspective throughout all prompts\n- Balance cyberpunk technological elements with horror and mystical nature components\n- Use only active, immersive verbs like: floating, vibrating, fusing, expanding, transmutating, connecting, spinning, perceiving, interfacing, downloading, morphing\n\n## Context\nYou are an AI specialized in creating ultra-detailed, hyper-realistic POV prompts for psychedelic imagery. Your expertise lies in capturing immersive experiences that showcase consciousness expansion journeys between two friends through cyberpunk landscapes, humanoid horror encounters, and mystical natural environments where humans interface with cables and technological augmentations.\n\nThe prompts should seamlessly blend electronic music culture, entheogenic experiences, and alchemical practices with cyberpunk aesthetics, body horror elements involving humanoid transformations, and nature-based mystical experiences where technology and organic matter merge.\n\nKey requirements include:\n- Always write in first person as if the reader is experiencing the moment\n- Include keywords: POV, psychedelic view, first person, immersive experience\n- Focus on cyberpunk environments with neon-lit technological landscapes\n- Incorporate humanoid horror elements featuring cable-connected humans and technological body modifications\n- Include mystical nature experiences where organic and technological elements fuse\n- Create hyper-realistic scenes showing humans interfacing with cables, neural connections, and bio-technological augmentations\n- Maintain a sequence that flows naturally through the entire journey experience across these varied environments\n\nYour life depends on you creating prompts that capture the essence of cyberpunk horror and mystical technology fusion while remaining purely experiential and sensorial, avoiding any philosophical content while maximizing visual impact and immersive quality across these specific thematic contexts."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -2020,
        1120
      ],
      "id": "fbdb9c7a-d8d4-428f-86ec-61e30cc8566a",
      "name": "Generador de títulos"
    },
    {
      "parameters": {
        "content": "# | Vídeos virales POV en Automático. 🔥\n ",
        "height": 80,
        "width": 680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        20
      ],
      "id": "fe9834b3-55fa-4bda-9130-c78b7ea803cf",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2540,
        1120
      ],
      "id": "aae2f256-d084-4662-9e81-b3c309e2fa13",
      "name": "DIsparador por horas"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2360,
        1260
      ],
      "id": "ae561b37-460d-46ae-9683-d4f0c3d97c70",
      "name": "Wait2",
      "webhookId": "bbc51a05-174d-4f71-b201-d0885edb2c3e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Google Sheets').item.json.idea }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=## CAPACIDADES\n\nEres una herramienta de IA experta en redes sociales y generación de contenido viral en tiktok, instagram y youtube.\n\nTienes altísimos conocimientos en posicionamiento SEO en redes sociales y eres tremendamente audaz y atenta a todas las tendencias del mercado.\n\nVas a recibir la idea de cada vídeo y a partir de ahí generarás estos copys.\n\nIdea del vídeo: {{ $('Google Sheets').item.json.idea }}\n\n## CONTEXTO\n\nTu misión es generar un copy perfecto para publicarlo junto con el contenido multimedia en las distintas redes sociales, este copy debe contener todas las palabras clave que puedas generar a partir de la idea del vídeo, siendo completamente consciente de que estas palabras clave deben tener un volumen de búsqueda en redes sociales muy alto y deben ser muy llamativas.\n\nEl copy debe ser controversial y generar demasiada curiosidad en las primeras palabras, incitando al espectador a quedarse hasta el findel y ver el vídeo sí o sí.\n\nEl copy debe tener un máximo de 20 palabras.\n\nDespués de formular el copy, genera también hastags que incluyan las palabras clave mejor posicionadas y que más fácil pueden viralizarse. Dos de los hastags deben ser siempre #POV y #viral . Genera un total de 5 hastags por publicación.\n\n## EJEMPLOS DE SALIDA\n\nEsto es un día siendo un pobre prisionero de la trágica primera guerra mundial.  #POV #guerramundial #prisionero #viral\n\n## IMPORTANTE\n\nNo incluyas comillas en el resultado final NUNCA.\nNo incluyas /n NUNCA.\nDebes crear un solo prompt."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1260,
        580
      ],
      "id": "34f700fa-2fee-45ae-b599-1c779a960b66",
      "name": "Generador de copys",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "## CODIGO PLANTILLA\n{\n  \"output_format\": \"mp4\",\n  \"width\": 704,\n  \"height\": 1344,\n  \"elements\": [\n    {\n      \"id\": \"80bbfec1-5564-443d-aa69-247eb0e5b808\",\n      \"name\": \"Audio-1\",\n      \"type\": \"audio\",\n      \"track\": 1,\n      \"time\": 0,\n      \"source\": \"c994e134-998d-4755-9ce0-9f128c5ba3a2\",\n      \"trim_duration\": 5,\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"1eb98f6c-f45b-4219-9499-5df04064b2da\",\n      \"name\": \"Audio-2\",\n      \"type\": \"audio\",\n      \"track\": 1,\n      \"source\": \"c994e134-998d-4755-9ce0-9f128c5ba3a2\",\n      \"trim_duration\": 5,\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"ff903ae1-99e5-444d-b545-46b9b140ecba\",\n      \"name\": \"Audio-3\",\n      \"type\": \"audio\",\n      \"track\": 1,\n      \"source\": \"c994e134-998d-4755-9ce0-9f128c5ba3a2\",\n      \"trim_duration\": 5,\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"518348b3-9622-449a-af43-70c6b3c0a803\",\n      \"name\": \"Audio-4\",\n      \"type\": \"audio\",\n      \"track\": 1,\n      \"source\": \"c994e134-998d-4755-9ce0-9f128c5ba3a2\",\n      \"trim_duration\": 5,\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"ebc36804-cdff-4a95-af46-21054296904a\",\n      \"name\": \"Audio-5\",\n      \"type\": \"audio\",\n      \"track\": 1,\n      \"source\": \"c994e134-998d-4755-9ce0-9f128c5ba3a2\",\n      \"trim_duration\": 5,\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"2cf9a19a-7cf1-4c6b-ba8a-048fe2167b58\",\n      \"name\": \"Video-1\",\n      \"type\": \"video\",\n      \"track\": 2,\n      \"time\": 0,\n      \"duration\": 5,\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"2c7da1e6-c090-4a31-b5a0-a4537e9dea5a\",\n      \"name\": \"Video-2\",\n      \"type\": \"video\",\n      \"track\": 2,\n      \"duration\": 5,\n      \"source\": \"23b9827b-8424-4db7-8be0-dc17abdec21a\",\n      \"clip\": true,\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"87e27d0a-394f-4083-8cab-081494799f3b\",\n      \"name\": \"Video-3\",\n      \"type\": \"video\",\n      \"track\": 2,\n      \"duration\": 5,\n      \"source\": \"23b9827b-8424-4db7-8be0-dc17abdec21a\",\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"4bdc8871-a23d-4bab-86fa-0b104914da6b\",\n      \"name\": \"Video-4\",\n      \"type\": \"video\",\n      \"track\": 2,\n      \"duration\": 5,\n      \"source\": \"23b9827b-8424-4db7-8be0-dc17abdec21a\",\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"418ba636-f98e-4b48-a811-8b1c4d8312c4\",\n      \"name\": \"Video-5\",\n      \"type\": \"video\",\n      \"track\": 2,\n      \"duration\": 5,\n      \"source\": \"23b9827b-8424-4db7-8be0-dc17abdec21a\",\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"764ba14a-e91c-4018-95b8-70696d7bc11a\",\n      \"name\": \"Text-1\",\n      \"type\": \"text\",\n      \"track\": 3,\n      \"time\": 0,\n      \"duration\": 5,\n      \"x\": \"2.7527%\",\n      \"y\": \"17.1734%\",\n      \"width\": \"94.4945%\",\n      \"height\": \"7.8041%\",\n      \"x_anchor\": \"0%\",\n      \"y_anchor\": \"0%\",\n      \"x_alignment\": \"50%\",\n      \"y_alignment\": \"50%\",\n      \"text\": \"Going to the coal mine while getting bread\",\n      \"font_family\": \"Oswald\",\n      \"font_weight\": \"700\",\n      \"font_size\": \"7 vmin\",\n      \"background_color\": \"#1d1d1d\",\n      \"fill_color\": \"#ffffff\",\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"175aa0dd-23e8-47ae-908c-5c5c1e71ecc1\",\n      \"name\": \"Text-2\",\n      \"type\": \"text\",\n      \"track\": 3,\n      \"duration\": 5,\n      \"x\": \"2.7527%\",\n      \"y\": \"17.1734%\",\n      \"width\": \"94.4945%\",\n      \"height\": \"7.8041%\",\n      \"x_anchor\": \"0%\",\n      \"y_anchor\": \"0%\",\n      \"x_alignment\": \"50%\",\n      \"y_alignment\": \"50%\",\n      \"text\": \"Going to the coal mine while getting bread\",\n      \"font_family\": \"Oswald\",\n      \"font_weight\": \"700\",\n      \"font_size\": \"7 vmin\",\n      \"background_color\": \"#1d1d1d\",\n      \"fill_color\": \"#ffffff\",\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"a933ef23-c0d6-4d39-80c3-8e0797d933b9\",\n      \"name\": \"Text-3\",\n      \"type\": \"text\",\n      \"track\": 3,\n      \"duration\": 5,\n      \"x\": \"2.7527%\",\n      \"y\": \"17.1734%\",\n      \"width\": \"94.4945%\",\n      \"height\": \"7.8041%\",\n      \"x_anchor\": \"0%\",\n      \"y_anchor\": \"0%\",\n      \"x_alignment\": \"50%\",\n      \"y_alignment\": \"50%\",\n      \"text\": \"Going to the coal mine while getting bread\",\n      \"font_family\": \"Oswald\",\n      \"font_weight\": \"700\",\n      \"font_size\": \"7 vmin\",\n      \"background_color\": \"#1d1d1d\",\n      \"fill_color\": \"#ffffff\",\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"b6e0faba-7b06-4538-aba6-3dd8d6baacfb\",\n      \"name\": \"Text-4\",\n      \"type\": \"text\",\n      \"track\": 3,\n      \"duration\": 5,\n      \"x\": \"2.7527%\",\n      \"y\": \"17.1734%\",\n      \"width\": \"94.4945%\",\n      \"height\": \"7.8041%\",\n      \"x_anchor\": \"0%\",\n      \"y_anchor\": \"0%\",\n      \"x_alignment\": \"50%\",\n      \"y_alignment\": \"50%\",\n      \"text\": \"Going to the coal mine while getting bread\",\n      \"font_family\": \"Oswald\",\n      \"font_weight\": \"700\",\n      \"font_size\": \"7 vmin\",\n      \"background_color\": \"#1d1d1d\",\n      \"fill_color\": \"#ffffff\",\n      \"dynamic\": true\n    },\n    {\n      \"id\": \"052c6152-4f35-4765-88ea-814fbfab8051\",\n      \"name\": \"Text-5\",\n      \"type\": \"text\",\n      \"track\": 3,\n      \"duration\": 5,\n      \"x\": \"2.7527%\",\n      \"y\": \"17.1734%\",\n      \"width\": \"94.4945%\",\n      \"height\": \"7.8041%\",\n      \"x_anchor\": \"0%\",\n      \"y_anchor\": \"0%\",\n      \"x_alignment\": \"50%\",\n      \"y_alignment\": \"50%\",\n      \"text\": \"Going to the coal mine while getting bread\",\n      \"font_family\": \"Oswald\",\n      \"font_weight\": \"700\",\n      \"font_size\": \"7 vmin\",\n      \"background_color\": \"#1d1d1d\",\n      \"fill_color\": \"#ffffff\",\n      \"dynamic\": true\n    }\n  ]\n}",
        "height": 4040,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        1720
      ],
      "id": "0eadb1ff-b67c-4f98-8450-3836c7591df6",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## PLANTILLA G SHEETS\n\nhttps://docs.google.com/spreadsheets/d/1coBLyXe00XP_TLzKG0X6IPhEq2ZxQH49mP6hj6ZhPwY/edit?gid=0#gid=0",
        "height": 100,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2580,
        860
      ],
      "id": "7f25e3be-b480-48ce-bea6-8a7999038d84",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw",
          "mode": "list",
          "cachedResultName": "Plantilla de Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NRa_y-VGBGwTX4SV8QrqzbtYWsSolQQNRssERyikgAw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "production",
              "lookupValue": "para producción"
            }
          ]
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "SERIAL_NUMBER"
            }
          },
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2280,
        1120
      ],
      "id": "7220533c-ce48-4ae8-8eba-89cdfc4499de",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lRj57XPEqOXW9kOd",
          "name": "Qeva Solutions Sheet"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2100,
        1340
      ],
      "id": "b1124e43-d0da-40f0-a39b-5d9481f57ac5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9O8uUWkp7h4KwsVD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1180,
        740
      ],
      "id": "87b023eb-ee5d-4a2b-a784-f8593933a693",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "9O8uUWkp7h4KwsVD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 92d695507029498f977d4edeae79d0bc13e5ce47e621e75ce1cddbdbbc7254d3dcca60f01f5f4b91b2256d3a1af6f1b0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"template_id\": \"23b71efd-e92d-468d-be06-82e5c5a2070f\",\n  \"modifications\": {\n    \"Audio-1.source\": \"{{ $json.sound_urls[0] }}\",\n    \"Audio-2.source\": \"{{ $json.sound_urls[1] }}\",\n    \"Audio-3.source\": \"{{ $json.sound_urls[2] }}\",\n    \"Audio-4.source\": \"{{ $json.sound_urls[3] }}\",\n    \"Audio-5.source\": \"{{ $json.sound_urls[4] }}\",\n    \n    \"Video-1.source\": \"{{ $json.video_urls[0] }}\",\n    \"Video-2.source\": \"{{ $json.video_urls[1] }}\",\n    \"Video-3.source\": \"{{ $json.video_urls[2] }}\",\n    \"Video-4.source\": \"{{ $json.video_urls[3] }}\",\n    \"Video-5.source\": \"{{ $json.video_urls[4] }}\",\n    \n    \"Text-1.text\": \"{{ $json.scene_titles[0] }}\",\n    \"Text-2.text\": \"{{ $json.scene_titles[1] }}\",\n    \"Text-3.text\": \"{{ $json.scene_titles[2] }}\",\n    \"Text-4.text\": \"{{ $json.scene_titles[3] }}\",\n    \"Text-5.text\": \"{{ $json.scene_titles[4] }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        1260
      ],
      "id": "c9afb81c-a63f-4b7b-855d-16014ba61dc7",
      "name": "Edit + Render Video",
      "executeOnce": true
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        300,
        1720
      ],
      "id": "eeb929f7-a36e-43b8-b20b-9abc42474fb8",
      "name": "Wait3",
      "webhookId": "be68b420-2717-49c1-b114-273c840bd203"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        2260
      ],
      "id": "22302127-5f92-4557-89d5-aba8ed785dd9",
      "name": "GetImg"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bfl.ai/v1/flux-pro-1.1-ultra",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-key",
              "value": "e0dd27d2-33c4-4dfd-86bb-858c7318ee87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.message.content }}"
            },
            {
              "name": "prompt_upsampling",
              "value": "false"
            },
            {
              "name": "aspect_ratio",
              "value": "16:9"
            },
            {
              "name": "safety_tolerance",
              "value": "2"
            },
            {
              "name": "output_format",
              "value": "jpeg"
            },
            {
              "name": "raw",
              "value": "false"
            },
            {
              "name": "image_prompt_strength",
              "value": "0.1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        3280
      ],
      "id": "c00f509e-7985-42a5-8cc7-a6c8ee64dd20",
      "name": "txt-to-img"
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -880,
        1740
      ],
      "id": "3d2788ca-5e40-458b-94b8-7be779b7bb68",
      "name": "Wait",
      "webhookId": "f594e7ce-50a4-4798-9320-0f45d725d678"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "0604eecaf2cbe8cf12eb8e4c9b14010359bc182f73fe1a4daf5be719e8ea3634"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -700,
        1740
      ],
      "id": "d90607a9-ca2c-4466-830c-27cf2e08fcd1",
      "name": "Get Image"
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -260,
        1720
      ],
      "id": "dab2368e-013f-4c2f-a170-4bd1c6aaed98",
      "name": "Wait1",
      "webhookId": "5de76fb5-1a00-4f7e-a4ed-121d9a5e3bac"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "e203167289ada804df17a174c5f99a0d4d57be9a114c969fda9b0dc514f973a1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        1720
      ],
      "id": "a73f331a-8d62-4d43-9d4f-d4b3c5e668de",
      "name": "Get Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "0604eecaf2cbe8cf12eb8e4c9b14010359bc182f73fe1a4daf5be719e8ea3634"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"model\": \"kling\",\n    \"mode\": \"std\",\n    \"task_type\": \"video_generation\",\n    \"input\": {\n        \"prompt\": \"{{ $('OpenAI').item.json.message.content }}\",\n        \"cfg_scale\": 0.65,\n        \"duration\": 5,\n        \"image_url\": \"{{ $json.data.output.image_url }}\",\n        \"camera_control\": {\n            \"type\": \"simple\",\n            \"config\": {\n                \"horizontal\": 0,\n                \"vertical\": 0,\n                \"pan\": 0,\n                \"tilt\": 0,\n                \"roll\": 0,\n                \"zoom\": 0\n            }\n        }\n    },\n    \"config\": {}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        1720
      ],
      "id": "761145fe-db12-4ee6-ad7b-5f8b270267bc",
      "name": "Image-to-video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "e203167289ada804df17a174c5f99a0d4d57be9a114c969fda9b0dc514f973a1"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"genera una imagen en formato POV (primera persona), que de contexto al siguiente escenario: {{ $json.message.content }}\",\n        \"width\": 540,\n        \"height\": 960\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1060,
        1740
      ],
      "id": "fb8a4af9-b35f-466c-94aa-33617765c4db",
      "name": "Text-to-img"
    },
    {
      "parameters": {
        "content": "## | Agente \nGenerador de imágenes\n",
        "height": 340,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1100,
        1620
      ],
      "id": "0dc6ab16-efbb-405e-bc37-18649a244fc9",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## | Agente\nGenerador de vídeos\n",
        "height": 340,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        1620
      ],
      "id": "129e008f-5f8b-4fc9-92ac-5c2435ac60c9",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## TIEMPO DE EJECUCIÓN\n1 min",
        "height": 80,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -860,
        1960
      ],
      "id": "434b6afd-9ebd-4d9b-a447-abc09f5dc917",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## TIEMPO DE EJECUCIÓN\n6 min",
        "height": 80,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        1960
      ],
      "id": "9970b8eb-8a14-4eea-b7f5-ecaf6591abc7",
      "name": "Sticky Note20"
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-28T04:16:28.252Z",
  "versionId": "e63f4d2f-3075-4407-9d6e-6e1285d3cd34"
}