workflows/vz4O5qURTGuV4uPh.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clientesChess1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "clientesChess1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-28T03:55:47.899Z",
  "id": "vz4O5qURTGuV4uPh",
  "isArchived": true,
  "meta": null,
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        780,
        460
      ],
      "id": "19a1b59c-e1d0-4f1e-b475-3b23a6390519",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://appserver06.dyndns.org:8091/web/api/chess/v1/auth/login",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"usuario\": \"ronalds\", \"password\": \"z3r0c00l\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        460
      ],
      "id": "950023d0-85e4-4c79-a89a-0ed528f211e1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Articulos.eArticulos",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2040,
        460
      ],
      "id": "08eeaac3-78d7-4eb7-856c-55e204826362",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "http://appserver06.dyndns.org:8091/web/api/chess/v1/articulos/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "nroLote",
              "value": "={{ $json[\"1\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('HTTP Request').item.json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        460
      ],
      "id": "7dbb21d6-62d6-49cb-8866-a4aa2b3c80b4",
      "name": "clientesChess1"
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "={{ $json.cantPagina }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1440,
        460
      ],
      "id": "904ec637-b93b-4297-b724-cdd913cf6f54",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "JMklVOvkU7koL2UG",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7292a239-c754-444c-9879-06f38ae3e899",
              "name": "cantPagina",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e04d5ba7-6699-4d28-ae3b-0993164446e0",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        460
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=1"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3040,
        780
      ],
      "id": "d4ec2126-5095-473f-9fbb-4acd55a1b25f",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "JMklVOvkU7koL2UG",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "828dbb60-2cc6-485c-8dd6-09da9c0687d9",
              "leftValue": "={{ $('Redis').item.json[\"1\"] }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "52077be2-4828-4817-8d40-9fd8b3313d5f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2360,
        460
      ]
    },
    {
      "parameters": {},
      "id": "ad0139cb-c911-4451-866e-8f40c0779ae5",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2700,
        780
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=1"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2020,
        1000
      ],
      "id": "547f9966-d524-4802-acde-f619e1f565c7",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "JMklVOvkU7koL2UG",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "1ea6bad4-8c80-4d27-9dbe-d3e320812b40",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2720,
        380
      ]
    },
    {
      "parameters": {},
      "id": "fae7706a-e9ea-499a-b03a-b6890bd865b5",
      "name": "Limit1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2280,
        680
      ]
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-28T04:06:49.418Z",
  "versionId": "8408b4e0-e5c5-479e-a11f-48f57cd2f026"
}