workflows/yvLiR0lVtZScjnNt.json
{
  "active": false,
  "connections": {
    "Precios btw": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Precios btw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-21T18:04:18.513Z",
  "id": "yvLiR0lVtZScjnNt",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Lista de precios",
  "nodes": [
    {
      "parameters": {},
      "id": "7a046cbe-321c-4861-a5fc-a399beebbda0",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        280,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.server }}/message/sendList/{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $json.cel }}\",\n    \"title\": \"Encuentra el apartamento ideal\",\n    \"description\": \"Selecciona el rango de precios que se ajuste a tu presupuesto 💵\",\n    \"buttonText\": \"Ver precios 👈\",\n    \"footerText\": \"Selecciona el rango que se ajuste a tu presupuesto\",\n    \"sections\": [\n        {\n            \"title\": \"💰 Rango de Precios\",\n            \"rows\": [\n                {\n                    \"title\": \"500 - 1000\",\n                    \"rowId\": \"price_500_1000\"\n                },\n                {\n                    \"title\": \"1000 - 1500\",\n                    \"rowId\": \"price_1000_1500\"\n                },\n                {\n                    \"title\": \"1500 - 2000\",\n                    \"rowId\": \"price_1500_2000\"\n                },\n                {\n                    \"title\": \"2000 - 2500\",\n                    \"rowId\": \"price_2000_2500\"\n                },\n                {\n                    \"title\": \"2500 - 3000\",\n                    \"rowId\": \"price_2500_3000\"\n                },\n                {\n                    \"title\": \"3000 - 3500\",\n                    \"rowId\": \"price_3000_3500\"\n                },\n                {\n                    \"title\": \"3500 - 4000\",\n                    \"rowId\": \"price_3500_4000\"\n                },\n                {\n                    \"title\": \"4000 - 4500\",\n                    \"rowId\": \"price_4000_4500\"\n                },\n                {\n                    \"title\": \"4500 - 5000\",\n                    \"rowId\": \"price_4500_5000\"\n                },\n                {\n                    \"title\": \"5000 - 5500\",\n                    \"rowId\": \"price_5000_5500\"\n                },\n                {\n                    \"title\": \"5500 - 6000\",\n                    \"rowId\": \"price_5500_6000\"\n                },\n                {\n                    \"title\": \"6000 - 6500\",\n                    \"rowId\": \"price_6000_6500\"\n                },\n                {\n                    \"title\": \"6500 - 7000\",\n                    \"rowId\": \"price_6500_7000\"\n                },\n                {\n                    \"title\": \"7000 - 7500\",\n                    \"rowId\": \"price_7000_7500\"\n                },\n                {\n                    \"title\": \"7500 - 8000\",\n                    \"rowId\": \"price_7500_8000\"\n                },\n                {\n                    \"title\": \"8000 - 8500\",\n                    \"rowId\": \"price_8000_8500\"\n                },\n                {\n                    \"title\": \"8500 - 9000\",\n                    \"rowId\": \"price_8500_9000\"\n                }\n            ]\n        }\n    ]\n}\n",
        "options": {}
      },
      "id": "9adebc61-3d38-477f-b1b6-ad88c646f851",
      "name": "Precios btw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        220
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e3904fa-6bc9-4723-920f-c702eda5f8ca",
              "name": "response",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "a5ee26f6-c1ac-4463-bc64-91f928d045d2",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        220
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-22T20:15:27.025Z",
  "versionId": "4c74abb7-30ad-40a6-8aa2-60679e6563e8"
}